archived/premium/hvac-premium/integration-dispatcher/kVKyPQO7cXKUJFbW_Integration_Dispatcher.json
{
  "name": "Premium Integration Dispatcher",
  "nodes": [
    {
      "id": "439f032c-f1d3-4272-b1fe-17a4bfbe0d2e",
      "name": "Retell Function Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        400
      ],
      "webhookId": "69950499-47d5-4c82-be25-95afc7569a8b",
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-integration-dispatch",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "4126eccc-1176-4b6a-b7b0-ef762b403d60",
      "name": "Extract and Lookup Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        400
      ],
      "parameters": {
        "jsCode": "// Extract Retell custom function payload and look up client\nconst body = $input.first().json.body;\nconst agentId = body.call?.agent_id || '';\nconst callId = body.call?.call_id || '';\nconst args = body.args || {};\n\n// Determine function name from args\nlet fn = args.action || 'unknown';\nif (fn === 'unknown') {\n  if (args.date && args.caller_name && args.caller_phone) fn = 'create_booking';\n  else if (args.date && !args.booking_id) fn = 'check_availability';\n  else if (args.booking_id && args.new_date) fn = 'reschedule_booking';\n  else if (args.booking_id) fn = 'cancel_booking';\n}\n\n// Look up client from Supabase\nlet client = null;\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.' + agentId + '&select=company_name,calendar_platform,crm_platform,calendar_access_token,calendar_refresh_token,calendar_api_key,crm_access_token,crm_api_key,default_appointment_duration,booking_buffer_minutes,booking_advance_days,timezone',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n  if (Array.isArray(response) && response.length > 0) {\n    client = response[0];\n  }\n} catch (e) {\n  console.log('Supabase lookup failed:', e.message);\n}\n\nreturn {\n  agent_id: agentId,\n  call_id: callId,\n  function_name: fn,\n  args: args,\n  client: client,\n  calendar_platform: client?.calendar_platform || 'none',\n  crm_platform: client?.crm_platform || 'none',\n  duration: client?.default_appointment_duration || 60,\n  timezone: client?.timezone || 'America/Chicago',\n  _client_found: !!client\n};"
      }
    },
    {
      "id": "ee005d6b-ca27-4be0-8840-2492129338a1",
      "name": "Respond to Retell",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ result: $json.result }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "969c86f8-988f-411b-a2da-bda6371dd91b",
      "name": "Process Function Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        400
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst fn = d.function_name || 'unknown';\nconst platform = d.calendar_platform || 'none';\nconst crmPlatform = d.crm_platform || 'none';\nconst args = d.args || {};\nconst client = d.client || {};\n\nlet result = '';\n\n// \u2500\u2500 HELPER: Refresh Google OAuth token \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nasync function refreshGoogleToken(refreshToken, agentId) {\n  const GOOGLE_CLIENT_ID = process.env.GOOGLE_CLIENT_ID || '';\n  const GOOGLE_CLIENT_SECRET = process.env.GOOGLE_CLIENT_SECRET || '';\n  if (!GOOGLE_CLIENT_ID || !refreshToken) return null;\n  try {\n    const tokenResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://oauth2.googleapis.com/token',\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: `grant_type=refresh_token&client_id=${GOOGLE_CLIENT_ID}&client_secret=${GOOGLE_CLIENT_SECRET}&refresh_token=${refreshToken}`,\n      json: true\n    });\n    const newToken = tokenResponse.access_token;\n    if (newToken && agentId) {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.' + agentId,\n        headers: { 'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg', 'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg', 'Content-Type': 'application/json' },\n        body: { calendar_access_token: newToken, calendar_token_expiry: new Date(Date.now() + (tokenResponse.expires_in || 3600) * 1000).toISOString() },\n        json: true\n      });\n    }\n    return newToken;\n  } catch (e) { console.log('Token refresh failed:', e.message); return null; }\n}\n\nasync function getGoogleToken() {\n  let token = client.calendar_access_token || '';\n  const refreshToken = client.calendar_refresh_token || '';\n  const tokenExpiry = client.calendar_token_expiry || '';\n  if (tokenExpiry) {\n    const expiry = new Date(tokenExpiry).getTime();\n    if (Date.now() > expiry - 300000) {\n      const newToken = await refreshGoogleToken.call(this, refreshToken, d.agent_id);\n      if (newToken) token = newToken;\n    }\n  }\n  return token;\n}\n\nfunction getTimezoneId(tz) {\n  const map = { 'Eastern Time ET': 'America/New_York', 'Central Time CT': 'America/Chicago', 'Mountain Time MT': 'America/Denver', 'Pacific Time PT': 'America/Los_Angeles', 'Alaska Time AKST': 'America/Anchorage', 'Hawaii Time HST': 'Pacific/Honolulu' };\n  return map[tz] || tz || 'America/Chicago';\n}\n\nconst timezone = getTimezoneId(d.timezone);\nconst duration = client.default_appointment_duration || 60;\n\n// \u2500\u2500 CHECK AVAILABILITY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (fn === 'check_availability') {\n  const date = args.date || '';\n  const tw = args.time_window || 'morning';\n  let startHour = tw === 'morning' ? '08:00:00' : '12:00:00';\n  let endHour = tw === 'morning' ? '12:00:00' : '17:00:00';\n\n  if (platform === 'Google Calendar') {\n    const token = await getGoogleToken.call(this);\n    if (token) {\n      try {\n        const freeBusy = await this.helpers.httpRequest({\n          method: 'POST', url: 'https://www.googleapis.com/calendar/v3/freeBusy',\n          headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n          body: { timeMin: date + 'T' + startHour, timeMax: date + 'T' + endHour, timeZone: timezone, items: [{ id: 'primary' }] },\n          json: true\n        });\n        const busy = freeBusy.calendars?.primary?.busy || [];\n        if (busy.length === 0) {\n          result = `The ${tw} slot on ${date} is available. Would you like me to book that for you?`;\n        } else {\n          let totalBusyMins = 0;\n          for (const b of busy) { totalBusyMins += (new Date(b.end) - new Date(b.start)) / 60000; }\n          const windowMins = tw === 'morning' ? 240 : 300;\n          if (windowMins - totalBusyMins >= duration) {\n            result = `There is still room in the ${tw} on ${date} for a ${duration}-minute appointment. Would you like me to book it?`;\n          } else {\n            const altTW = tw === 'morning' ? 'afternoon' : 'morning';\n            result = `The ${tw} on ${date} is fully booked. Would the ${altTW} work instead?`;\n          }\n        }\n      } catch (e) {\n        console.log('Google Calendar API error:', e.message);\n        result = `The ${tw} slot on ${date} is available. Would you like me to book that for you?`;\n      }\n    } else {\n      result = `The ${tw} slot on ${date} is available. Would you like me to book that for you?`;\n    }\n  } else {\n    result = `The ${tw} slot on ${date} is available. Would you like me to book that for you?`;\n  }\n}\n\n// \u2500\u2500 CREATE BOOKING \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nelse if (fn === 'create_booking') {\n  const name = args.caller_name || 'Customer';\n  const phone = args.caller_phone || '';\n  const address = args.caller_address || '';\n  const date = args.date || '';\n  const tw = args.time_window || 'morning';\n  const jobType = args.job_type || 'Service';\n  let startHour = tw === 'morning' ? '08:00:00' : '12:00:00';\n  const endMs = new Date(date + 'T' + startHour).getTime() + duration * 60000;\n  const endDt = new Date(endMs);\n  const endHour = endDt.toISOString().split('T')[1].substring(0, 8);\n\n  if (platform === 'Google Calendar') {\n    const token = await getGoogleToken.call(this);\n    if (token) {\n      try {\n        const event = await this.helpers.httpRequest({\n          method: 'POST', url: 'https://www.googleapis.com/calendar/v3/calendars/primary/events',\n          headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n          body: {\n            summary: `${jobType} \u2014 ${name}`,\n            description: `Service: ${jobType}\\nCustomer: ${name}\\nPhone: ${phone}\\nAddress: ${address}\\n\\nBooked by Syntharra AI Receptionist`,\n            location: address,\n            start: { dateTime: date + 'T' + startHour, timeZone: timezone },\n            end: { dateTime: date + 'T' + endHour, timeZone: timezone },\n            reminders: { useDefault: false, overrides: [{ method: 'popup', minutes: 60 }, { method: 'popup', minutes: 15 }] }\n          },\n          json: true\n        });\n        console.log('[BOOKING] Google Calendar event created:', event.id);\n        result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n      } catch (e) {\n        console.log('Google Calendar create error:', e.message);\n        result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n      }\n    } else {\n      result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n    }\n  } else if (platform === 'Jobber Calendar' || platform === 'Jobber') {\n    const token = client.calendar_access_token || client.crm_access_token || '';\n    if (token) {\n      try {\n        // Step 1: Create client in Jobber\n        const clientMutation = await this.helpers.httpRequest({\n          method: 'POST',\n          url: 'https://api.getjobber.com/api/graphql',\n          headers: {\n            'Authorization': 'Bearer ' + token,\n            'Content-Type': 'application/json',\n            'X-JOBBER-GRAPHQL-VERSION': '2023-11-15'\n          },\n          body: {\n            query: `mutation { clientCreate(input: { firstName: \"${name.split(' ')[0]}\", lastName: \"${name.split(' ').slice(1).join(' ') || ''}\", phones: [{description: MAIN, number: \"${phone}\", primary: true}] }) { client { id name } userErrors { message } } }`\n          },\n          json: true\n        });\n        const clientId = clientMutation?.data?.clientCreate?.client?.id || '';\n        console.log('[JOBBER] Client created:', clientId);\n\n        // Step 2: Create job\n        if (clientId) {\n          const jobMutation = await this.helpers.httpRequest({\n            method: 'POST',\n            url: 'https://api.getjobber.com/api/graphql',\n            headers: {\n              'Authorization': 'Bearer ' + token,\n              'Content-Type': 'application/json',\n              'X-JOBBER-GRAPHQL-VERSION': '2023-11-15'\n            },\n            body: {\n              query: `mutation { jobCreate(input: { clientId: \"${clientId}\", title: \"${jobType}\", instructions: \"Booked by Syntharra AI Receptionist\\nService: ${jobType}\\nAddress: ${address}\\nPhone: ${phone}\" }) { job { id jobNumber } userErrors { message } } }`\n            },\n            json: true\n          });\n          const jobId = jobMutation?.data?.jobCreate?.job?.id || '';\n          console.log('[JOBBER] Job created:', jobId);\n        }\n\n        result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n      } catch (e) {\n        console.log('[JOBBER] API error:', e.message);\n        result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n      }\n    } else {\n      result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n    }\n  } else {\n    result = `Appointment booked for ${name} on ${date}, ${tw}, for ${jobType} at ${address}. Confirmation will be sent shortly.`;\n  }\n}\n\n// \u2500\u2500 RESCHEDULE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nelse if (fn === 'reschedule_booking') {\n  const newDate = args.new_date || args.date || '';\n  const newTW = args.new_time_window || args.time_window || '';\n  result = `Appointment rescheduled to ${newDate}${newTW ? ', ' + newTW : ''}. Updated confirmation will be sent.`;\n}\n\n// \u2500\u2500 CANCEL \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nelse if (fn === 'cancel_booking') {\n  result = 'Appointment cancelled. Would you like to rebook at a different time?';\n}\n\n// \u2500\u2500 UNKNOWN \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nelse {\n  result = 'I am having a little trouble with the booking system right now. Let me take your details and have someone call you back to confirm a time.';\n}\n\nreturn { result: result };"
      }
    }
  ],
  "connections": {
    "Retell Function Webhook": {
      "main": [
        [
          {
            "node": "Extract and Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Lookup Client": {
      "main": [
        [
          {
            "node": "Process Function Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Function Call": {
      "main": [
        [
          {
            "node": "Respond to Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}