archived/premium/hvac-premium/n8n-onboarding-premium.json
{
  "name": "HVAC Premium Onboarding",
  "description": "Premium tier onboarding: Jotform webhook → parse → Supabase insert → prompt builder → Retell create flow + agent → publish",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jotform-hvac-premium-onboarding",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "JotForm Premium Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1440, 512]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================
// Parse JotForm Premium Data v1
// Inherits all standard fields + premium booking/CRM fields
// ============================================================

const rawBody = $input.first().json.body;
const formData = (rawBody && rawBody.body) ? rawBody.body : rawBody;

function normalizeList(val) {
  if (!val) return '';
  if (Array.isArray(val)) return val.filter(Boolean).join(', ');
  return String(val).trim();
}

function clean(val, fallback = '') {
  if (!val) return fallback;
  return String(val).trim() || fallback;
}

const extractedData = {
  stripe_customer_id: clean(formData.stripe_customer_id || formData['stripe_customer_id']),

  // Section 1: Business Information (same as standard)
  company_name:         clean(formData.q4_hvacCompany || formData['q4_hvacCompany']),
  owner_name:           clean(formData.q54_ownerName || formData['q54_ownerName']),
  main_phone:           clean(formData.q6_mainCompany || formData['q6_mainCompany']),
  client_email:         clean(formData.q5_emailAddress || formData['q5_emailAddress']),
  website:              clean(formData.q7_companyWebsite || formData['q7_companyWebsite']),
  years_in_business:    clean(formData.q8_yearsIn || formData['q8_yearsIn']),
  timezone:             clean(formData.q34_timezone || formData['q34_timezone'], 'America/Chicago'),
  services_offered:     normalizeList(formData.q13_servicesOffered || formData['q13_servicesOffered']),
  brands_serviced:      normalizeList(formData.q14_brandsequipmentServiced || formData['q14_brandsequipmentServiced']),
  service_area:         clean(formData.q16_primaryService || formData['q16_primaryService']),
  service_area_radius:  clean(formData.q40_serviceAreaRadius || formData['q40_serviceAreaRadius']),
  certifications:       normalizeList(formData.q29_certifications || formData['q29_certifications']),
  licensed_insured:     clean(formData.q28_licensedAnd || formData['q28_licensedAnd'], 'Yes'),

  // Section 2: AI Receptionist Configuration
  agent_name:           clean(formData.q10_aiAgent10 || formData['q10_aiAgent10']),
  voice_gender:         clean(formData.q11_aiVoice || formData['q11_aiVoice'], 'Female'),
  custom_greeting:      clean(formData.q38_customGreeting || formData['q38_customGreeting']),
  company_tagline:      clean(formData.q39_companyTagline || formData['q39_companyTagline']),
  business_hours:       clean(formData.q17_businessHours || formData['q17_businessHours']),
  response_time:        clean(formData.q18_typicalResponse || formData['q18_typicalResponse']),
  emergency_service:    clean(formData.q20_247Emergency || formData['q20_247Emergency'], 'No'),
  emergency_phone:      clean(formData.q21_emergencyAfterhours || formData['q21_emergencyAfterhours']),
  after_hours_behavior: clean(formData.q22_afterhoursBehavior || formData['q22_afterhoursBehavior']),

  // Section 3: Call Handling & Pricing
  pricing_policy:       clean(formData.q42_pricingPolicy || formData['q42_pricingPolicy'], 'We provide free quotes on-site'),
  diagnostic_fee:       clean(formData.q41_diagnosticFee || formData['q41_diagnosticFee']),
  standard_fees:        clean(formData.q43_standardFees || formData['q43_standardFees']),
  free_estimates:       clean(formData.q24_freeEstimates || formData['q24_freeEstimates'], 'Yes - always free'),
  do_not_service:       clean(formData.q57_doNotServiceList || formData['q57_doNotServiceList']),
  transfer_phone:       clean(formData.q48_transferPhone || formData['q48_transferPhone']),
  transfer_triggers:    normalizeList(formData.q49_transferTriggers || formData['q49_transferTriggers']),
  transfer_behavior:    clean(formData.q50_transferBehavior || formData['q50_transferBehavior'], 'Try once - take message if no answer'),

  // Section 4: Notifications
  lead_contact_method:  clean(formData.q31_leadContact || formData['q31_leadContact'], 'Both'),
  lead_phone:           clean(formData.q32_leadNotification || formData['q32_leadNotification']),
  lead_email:           clean(formData.q33_leadNotification33 || formData['q33_leadNotification33']),
  notification_email_2: clean(formData.q59_notifEmail2 || formData['q59_notifEmail2']),
  notification_email_3: clean(formData.q60_notifEmail3 || formData['q60_notifEmail3']),
  notification_sms_2:   clean(formData.q61_notifSms2 || formData['q61_notifSms2']),
  notification_sms_3:   clean(formData.q62_notifSms3 || formData['q62_notifSms3']),

  // Section 5: Branding & Promotions
  google_review_rating:  clean(formData.q55_googleReviewRating || formData['q55_googleReviewRating']),
  google_review_count:   clean(formData.q56_googleReviewCount || formData['q56_googleReviewCount']),
  unique_selling_points: clean(formData.q51_uniqueSellingPoints || formData['q51_uniqueSellingPoints']),
  current_promotion:     clean(formData.q52_currentPromotion || formData['q52_currentPromotion']),
  seasonal_services:     clean(formData.q53_seasonalServices || formData['q53_seasonalServices']),
  membership_program:    clean(formData.q58_membershipProgramName || formData['q58_membershipProgramName']),
  maintenance_plans:     clean(formData.q46_maintenancePlans || formData['q46_maintenancePlans'], 'No'),
  financing_available:   clean(formData.q25_financingAvailable || formData['q25_financingAvailable'], 'No'),
  financing_details:     clean(formData.q44_financingDetails || formData['q44_financingDetails']),
  warranty:              clean(formData.q26_serviceWarranties || formData['q26_serviceWarranties'], 'Yes'),
  warranty_details:      clean(formData.q27_warrantyDetails || formData['q27_warrantyDetails']),
  payment_methods:       normalizeList(formData.q45_paymentMethods || formData['q45_paymentMethods']),
  additional_info:       clean(formData.q37_additionalInfo || formData['q37_additionalInfo']),

  // ── Section 6: Booking & Integration (PREMIUM ONLY) ───────
  crm_platform:            clean(formData.q70_crmPlatform || formData['q70_crmPlatform']),
  calendar_platform:       clean(formData.q71_calendarPlatform || formData['q71_calendarPlatform']),
  booking_slot_duration:   clean(formData.q72_slotDuration || formData['q72_slotDuration'], '60'),
  booking_lead_time:       clean(formData.q73_bookingLeadTime || formData['q73_bookingLeadTime'], '2'),
  bookable_job_types:      normalizeList(formData.q74_bookableJobTypes || formData['q74_bookableJobTypes']),
  booking_confirm_method:  clean(formData.q75_bookingConfirm || formData['q75_bookingConfirm'], 'email'),
  available_time_slots:    clean(formData.q76_availableTimeSlots || formData['q76_availableTimeSlots'], 'Morning (8am-12pm), Afternoon (12pm-5pm)'),
  booking_buffer_minutes:  clean(formData.q77_bufferMinutes || formData['q77_bufferMinutes'], '30'),
  calendar_api_key:        clean(formData.q78_calendarApiKey || formData['q78_calendarApiKey']),
  crm_api_key:             clean(formData.q79_crmApiKey || formData['q79_crmApiKey']),
  calendar_resource_id:    clean(formData.q80_calendarResourceId || formData['q80_calendarResourceId']),

  // Meta
  industry_type: 'HVAC',
  tier: 'premium',
  after_hours_transfer: clean(formData.q63_afterHoursTransfer || formData['q63_afterHoursTransfer'], 'all')
};

// Build company info block
let companyInfoBlock = `## Company Overview\n`;
companyInfoBlock += `- Company Name: ${extractedData.company_name}\n`;
if (extractedData.main_phone) companyInfoBlock += `- Main Phone: ${extractedData.main_phone}\n`;
if (extractedData.years_in_business) companyInfoBlock += `- Experience: ${extractedData.years_in_business} years in business\n`;
if (extractedData.owner_name) companyInfoBlock += `- Owner/Manager: ${extractedData.owner_name}\n`;
if (extractedData.company_tagline) companyInfoBlock += `- Tagline: ${extractedData.company_tagline}\n`;
if (extractedData.website) companyInfoBlock += `- Website: ${extractedData.website}\n`;
companyInfoBlock += `- Licensed & Insured: ${extractedData.licensed_insured}\n`;
if (extractedData.certifications) companyInfoBlock += `- Certifications: ${extractedData.certifications}\n`;

companyInfoBlock += `\n## Services\n`;
if (extractedData.services_offered) companyInfoBlock += `- Services: ${extractedData.services_offered}\n`;
if (extractedData.brands_serviced) companyInfoBlock += `- Brands Serviced: ${extractedData.brands_serviced}\n`;
if (extractedData.service_area) {
  let areaLine = extractedData.service_area;
  if (extractedData.service_area_radius) areaLine += ` (within ${extractedData.service_area_radius})`;
  companyInfoBlock += `- Service Area: ${areaLine}\n`;
}

companyInfoBlock += `\n## Hours & Availability\n`;
if (extractedData.business_hours) companyInfoBlock += `- Business Hours: ${extractedData.business_hours}\n`;
if (extractedData.response_time) companyInfoBlock += `- Typical Response Time: ${extractedData.response_time}\n`;
companyInfoBlock += `- 24/7 Emergency Service: ${extractedData.emergency_service}\n`;

companyInfoBlock += `\n## Booking\n`;
if (extractedData.calendar_platform) companyInfoBlock += `- Calendar System: ${extractedData.calendar_platform}\n`;
if (extractedData.available_time_slots) companyInfoBlock += `- Available Time Windows: ${extractedData.available_time_slots}\n`;
if (extractedData.bookable_job_types) companyInfoBlock += `- Bookable Services: ${extractedData.bookable_job_types}\n`;
if (extractedData.booking_confirm_method) companyInfoBlock += `- Booking Confirmations sent via: ${extractedData.booking_confirm_method}\n`;

extractedData.companyInfoBlock = companyInfoBlock;
return extractedData;"
      },
      "id": "node-parse-jotform",
      "name": "Parse JotForm Premium Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, 512]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": { "value": "public" },
        "table": { "value": "hvac_premium_agent" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "conflictColumns": "stripe_customer_id",
        "options": {}
      },
      "id": "node-supabase-insert",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-800, 512],
      "credentials": { "supabaseApi": { "id": "supabase-credential", "name": "Supabase" } }
    },
    {
      "parameters": {
        "jsCode": "// Premium Prompt Builder — pass-through
// The actual prompt-builder-premium.js logic runs here (copy from GitHub file)
// This node reads from Parse JotForm Premium Data and outputs conversationFlow + agentConfig
// IMPORTANT: Paste full contents of hvac-premium/prompt-builder-premium.js into this node

// Placeholder — replace this comment block with the full prompt-builder-premium.js content
const data = $input.first().json;
return { ...data, _note: 'Replace this node body with prompt-builder-premium.js contents' };"
      },
      "id": "node-prompt-builder",
      "name": "Build Premium Prompt + Flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 512]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-retell-llm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.conversationFlow) }}",
        "options": {}
      },
      "id": "node-create-flow",
      "name": "Create Retell Conversation Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, 512],
      "credentials": { "httpHeaderAuth": { "id": "retell-api-auth", "name": "Retell API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const flowResponse = $input.first().json;
const builderData = $('Build Premium Prompt + Flow').first().json;

const llmId = flowResponse.llm_id;
if (!llmId) throw new Error('No llm_id returned from Retell flow creation: ' + JSON.stringify(flowResponse));

const agentConfig = builderData.agentConfig;

return {
  ...builderData,
  llm_id: llmId,
  agentPayload: {
    ...agentConfig,
    response_engine: { type: 'retell-llm', llm_id: llmId }
  }
};"
      },
      "id": "node-build-agent-payload",
      "name": "Build Agent Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 512]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.agentPayload) }}",
        "options": {}
      },
      "id": "node-create-agent",
      "name": "Create Retell Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 512],
      "credentials": { "httpHeaderAuth": { "id": "retell-api-auth", "name": "Retell API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $input.first().json;
const previousData = $('Build Agent Payload').first().json;

const agentId = agentResponse.agent_id;
if (!agentId) throw new Error('No agent_id returned from Retell agent creation: ' + JSON.stringify(agentResponse));

return {
  ...previousData,
  agent_id: agentId,
  llm_id: previousData.llm_id,
  company_name: previousData.companyName,
  agent_name: previousData.agentName
};"
      },
      "id": "node-extract-agent-id",
      "name": "Extract Agent ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 512]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.retellai.com/publish-agent/{{ $json.agent_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-publish-agent",
      "name": "Publish Retell Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 512],
      "credentials": { "httpHeaderAuth": { "id": "retell-api-auth", "name": "Retell API Key" } }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": { "value": "public" },
        "table": { "value": "hvac_premium_agent" },
        "filters": {
          "conditions": [{ "keyName": "stripe_customer_id", "condition": "eq", "keyValue": "={{ $('Extract Agent ID').first().json.extractedData.stripe_customer_id }}" }]
        },
        "fieldsToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "agent_id", "fieldValue": "={{ $('Extract Agent ID').first().json.agent_id }}" },
            { "fieldId": "retell_flow_id", "fieldValue": "={{ $('Extract Agent ID').first().json.llm_id }}" },
            { "fieldId": "onboarding_complete", "fieldValue": true }
          ]
        }
      },
      "id": "node-update-supabase-agent-id",
      "name": "Update Supabase with Agent ID",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1440, 512],
      "credentials": { "supabaseApi": { "id": "supabase-credential", "name": "Supabase" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailgun.net/v3/your-domain/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "to", "value": "={{ $('Extract Agent ID').first().json.extractedData.client_email }}" },
            { "name": "subject", "value": "Your AI Receptionist is Ready — {{ $('Extract Agent ID').first().json.company_name }}" },
            { "name": "html", "value": "=<h2>Welcome to Syntharra Premium!</h2><p>Your AI Receptionist for <strong>{{ $('Extract Agent ID').first().json.company_name }}</strong> is now live and ready to take calls.</p><p>Your agent has full booking capability and will book appointments directly into your {{ $('Extract Agent ID').first().json.extractedData.calendar_platform || 'calendar' }}.</p><p>If you have any questions, reply to this email.</p><p>— Syntharra AI Solutions</p>" }
          ]
        },
        "options": {}
      },
      "id": "node-send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 512],
      "notes": "Replace with SES node once email migration is complete. Uses same pattern as standard onboarding welcome email."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailgun.net/v3/your-domain/messages",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "to", "value": "support@syntharra.com" },
            { "name": "subject", "value": "🎉 New Premium Client Onboarded — {{ $('Extract Agent ID').first().json.company_name }}" },
            { "name": "html", "value": "=<h3>New Premium Onboarding Complete</h3><ul><li><strong>Company:</strong> {{ $('Extract Agent ID').first().json.company_name }}</li><li><strong>Agent ID:</strong> {{ $('Extract Agent ID').first().json.agent_id }}</li><li><strong>LLM/Flow ID:</strong> {{ $('Extract Agent ID').first().json.llm_id }}</li><li><strong>Calendar:</strong> {{ $('Extract Agent ID').first().json.extractedData.calendar_platform }}</li><li><strong>CRM:</strong> {{ $('Extract Agent ID').first().json.extractedData.crm_platform }}</li><li><strong>Client Email:</strong> {{ $('Extract Agent ID').first().json.extractedData.client_email }}</li></ul>" }
          ]
        },
        "options": {}
      },
      "id": "node-internal-notification",
      "name": "Send Internal Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 720],
      "notes": "Update 'to' address to support@syntharra.com at go-live."
    }
  ],
  "connections": {
    "JotForm Premium Webhook Trigger": {
      "main": [[{ "node": "Parse JotForm Premium Data", "type": "main", "index": 0 }]]
    },
    "Parse JotForm Premium Data": {
      "main": [[{ "node": "Save to Supabase", "type": "main", "index": 0 }]]
    },
    "Save to Supabase": {
      "main": [[{ "node": "Build Premium Prompt + Flow", "type": "main", "index": 0 }]]
    },
    "Build Premium Prompt + Flow": {
      "main": [[{ "node": "Create Retell Conversation Flow", "type": "main", "index": 0 }]]
    },
    "Create Retell Conversation Flow": {
      "main": [[{ "node": "Build Agent Payload", "type": "main", "index": 0 }]]
    },
    "Build Agent Payload": {
      "main": [[{ "node": "Create Retell Agent", "type": "main", "index": 0 }]]
    },
    "Create Retell Agent": {
      "main": [[{ "node": "Extract Agent ID", "type": "main", "index": 0 }]]
    },
    "Extract Agent ID": {
      "main": [[{ "node": "Publish Retell Agent", "type": "main", "index": 0 }]]
    },
    "Publish Retell Agent": {
      "main": [[{ "node": "Update Supabase with Agent ID", "type": "main", "index": 0 }]]
    },
    "Update Supabase with Agent ID": {
      "main": [
        [
          { "node": "Send Welcome Email", "type": "main", "index": 0 },
          { "node": "Send Internal Notification", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["premium", "onboarding", "hvac"]
}
