hvac-premium/n8n-workflows/UhxfrDaEeYUk4jAD_Premium_Call_Processor.json
{"updatedAt":"2026-03-27T15:32:44.606Z","createdAt":"2026-03-27T15:13:01.651Z","id":"UhxfrDaEeYUk4jAD","name":"HVAC Premium Call Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"retell-hvac-premium-webhook","options":{}},"id":"node-retell-webhook","name":"Retell Premium Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1440,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"call_analyzed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"node-filter-analyzed","name":"Filter: call_analyzed Only","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-1120,512]},{"parameters":{"jsCode":"const body = $input.first().json;\nconst call = body.call || body;\n\nconst agentId = call.agent_id || '';\nconst callId = call.call_id || '';\nconst transcript = call.transcript || '';\nconst durationMs = call.duration_ms || 0;\nconst callStatus = call.call_status || '';\n\n// Post-call analysis fields\nconst analysis = call.call_analysis || {};\nconst callSummary = analysis.call_summary || '';\nconst callSuccessful = analysis.call_successful || false;\nconst userSentiment = analysis.user_sentiment || '';\n\n// Premium custom analysis fields\nconst bookingAttempted = analysis.booking_attempted || false;\nconst bookingSuccess = analysis.booking_success || false;\nconst appointmentDate = analysis.appointment_date || null;\nconst appointmentTimeWindow = analysis.appointment_time_window || null;\nconst jobTypeBooked = analysis.job_type_booked || null;\nconst rescheduleOrCancel = analysis.reschedule_or_cancel || 'neither';\n\nreturn {\n  agent_id: agentId,\n  call_id: callId,\n  transcript: transcript,\n  duration_seconds: Math.round(durationMs / 1000),\n  call_status: callStatus,\n  call_summary: callSummary,\n  call_successful: callSuccessful,\n  caller_sentiment: userSentiment,\n  booking_attempted: bookingAttempted,\n  booking_success: bookingSuccess,\n  appointment_date: appointmentDate,\n  appointment_time_window: appointmentTimeWindow,\n  job_type_booked: jobTypeBooked,\n  reschedule_or_cancel: rescheduleOrCancel\n};"},"id":"node-extract-call-data","name":"Extract Call Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,512]},{"id":"node-lookup-client","name":"Look Up Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,512],"parameters":{"method":"GET","url":"https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.={{ $json.agent_id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{}}},{"parameters":{"jsCode":"const callData = $('Extract Call Data').first().json;\nconst supabaseRows = $input.first().json;\n\n// Supabase returns array via httpRequest\nconst rows = Array.isArray(supabaseRows) ? supabaseRows : [supabaseRows];\nif (!rows || rows.length === 0) {\n  throw new Error('No client found for agent_id: ' + callData.agent_id);\n}\nconst client = rows[0];\n\nreturn {\n  ...callData,\n  company_name: client.company_name || '',\n  client_email: client.client_email || '',\n  lead_email: client.lead_email || '',\n  lead_phone: client.lead_phone || '',\n  lead_contact_method: client.lead_contact_method || 'Both',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  timezone: client.timezone || 'America/Chicago',\n  calendar_platform: client.calendar_platform || '',\n  crm_platform: client.crm_platform || ''\n};"},"id":"node-parse-client-data","name":"Parse Client Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,512]},{"id":"node-gpt-analyze","name":"GPT: Analyze Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,512],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"You are analyzing a call transcript for an HVAC Premium AI Receptionist. The premium agent has booking capability.\\n\\nReturn ONLY valid JSON:\\n{\\n  \\\"lead_score\\\": <1-10>,\\n  \\\"is_hot_lead\\\": <true/false>,\\n  \\\"caller_name\\\": \\\"<string or null>\\\",\\n  \\\"caller_phone\\\": \\\"<string or null>\\\",\\n  \\\"caller_address\\\": \\\"<string or null>\\\",\\n  \\\"service_requested\\\": \\\"<string>\\\",\\n  \\\"job_type\\\": \\\"<short label>\\\",\\n  \\\"summary\\\": \\\"<2-3 sentences>\\\",\\n  \\\"urgency\\\": \\\"<low/medium/high>\\\",\\n  \\\"vulnerable_occupant\\\": <true/false>,\\n  \\\"notes\\\": \\\"<any important details>\\\",\\n  \\\"booking_attempted\\\": <true/false>,\\n  \\\"booking_success\\\": <true/false>,\\n  \\\"appointment_date\\\": \\\"<YYYY-MM-DD or null>\\\",\\n  \\\"appointment_time_window\\\": \\\"<morning/afternoon/null>\\\",\\n  \\\"job_type_booked\\\": \\\"<string or null>\\\",\\n  \\\"reschedule_or_cancel\\\": \\\"<reschedule/cancel/neither>\\\"\\n}\"}, {\"role\": \"user\", \"content\": \"=Transcript:\\n---\\n{{ $json.transcript }}\\n---\"}]}","options":{}}},{"parameters":{"jsCode":"const gptResponse = $input.first().json;\nconst clientData = $('Parse Client Data').first().json;\n\nlet callData = {};\ntry {\n  // Handle both native OpenAI node response and httpRequest response\n  const choices = gptResponse.choices || gptResponse.message?.content;\n  let text;\n  if (gptResponse.choices) {\n    text = gptResponse.choices[0]?.message?.content || '';\n  } else {\n    text = gptResponse.message?.content || gptResponse.text || JSON.stringify(gptResponse);\n  }\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  callData = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  callData = { lead_score: 0, summary: 'Parse error', is_hot_lead: false, booking_attempted: false, booking_success: false };\n}\n\nconst bookingAttempted = callData.booking_attempted || clientData.booking_attempted || false;\nconst bookingSuccess = callData.booking_success || clientData.booking_success || false;\nconst appointmentDate = callData.appointment_date || clientData.appointment_date || null;\nconst appointmentTimeWindow = callData.appointment_time_window || clientData.appointment_time_window || null;\nconst jobTypeBooked = callData.job_type_booked || clientData.job_type_booked || null;\nconst rescheduleOrCancel = callData.reschedule_or_cancel || clientData.reschedule_or_cancel || 'neither';\nconst leadScore = callData.lead_score || 0;\nconst isLead = bookingSuccess ? false : (leadScore >= 6);\n\nreturn {\n  ...clientData,\n  ...callData,\n  call_tier: 'premium',\n  lead_score: leadScore,\n  is_lead: isLead,\n  booking_attempted: bookingAttempted,\n  booking_success: bookingSuccess,\n  appointment_date: appointmentDate,\n  appointment_time_window: appointmentTimeWindow,\n  job_type_booked: jobTypeBooked,\n  reschedule_or_cancel: rescheduleOrCancel\n};"},"id":"node-parse-call-data","name":"Parse Call Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,512]},{"id":"node-log-to-supabase","name":"Log Call to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,512],"parameters":{"method":"POST","url":"https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation,resolution=merge-duplicates"},{"name":"on_conflict","value":"call_id"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"agent_id\": \"={{ $json.agent_id }}\", \"call_id\": \"={{ $json.call_id }}\", \"company_name\": \"={{ $json.company_name }}\", \"call_tier\": \"premium\", \"call_duration_seconds\": \"={{ $json.duration_seconds }}\", \"call_status\": \"={{ $json.call_status }}\", \"call_successful\": \"={{ $json.call_successful }}\", \"call_summary\": \"={{ $json.call_summary }}\", \"caller_name\": \"={{ $json.caller_name }}\", \"caller_phone\": \"={{ $json.caller_phone }}\", \"caller_address\": \"={{ $json.caller_address }}\", \"caller_sentiment\": \"={{ $json.caller_sentiment }}\", \"lead_score\": \"={{ $json.lead_score }}\", \"is_lead\": \"={{ $json.is_lead }}\", \"is_hot_lead\": \"={{ $json.is_hot_lead }}\", \"job_type\": \"={{ $json.job_type }}\", \"urgency\": \"={{ $json.urgency }}\", \"vulnerable_occupant\": \"={{ $json.vulnerable_occupant }}\", \"notes\": \"={{ $json.notes }}\", \"service_requested\": \"={{ $json.service_requested }}\", \"booking_attempted\": \"={{ $json.booking_attempted }}\", \"booking_success\": \"={{ $json.booking_success }}\", \"appointment_date\": \"={{ $json.appointment_date }}\", \"appointment_time_window\": \"={{ $json.appointment_time_window }}\", \"job_type_booked\": \"={{ $json.job_type_booked }}\", \"reschedule_or_cancel\": \"={{ $json.reschedule_or_cancel }}\"}","options":{}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Parse Call Data').first().json.booking_success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"or"}},"id":"node-is-booking","name":"Booking Made?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Parse Call Data').first().json.is_lead }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"or"}},"id":"node-is-lead","name":"Hot Lead? (no booking)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,760]},{"parameters":{"jsCode":"// Build booking confirmation notification\nconst d = $('Parse Call Data').first().json;\n\nconst emailHtml = `\n<h3>📅 New Booking — ${d.company_name}</h3>\n<table style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;\">\n  <tr><td style=\"padding:6px 12px;\"><strong>Caller</strong></td><td style=\"padding:6px 12px;\">${d.caller_name || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Phone</strong></td><td style=\"padding:6px 12px;\">${d.caller_phone || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Address</strong></td><td style=\"padding:6px 12px;\">${d.caller_address || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Service</strong></td><td style=\"padding:6px 12px;\">${d.job_type_booked || d.service_requested || 'Not specified'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Date</strong></td><td style=\"padding:6px 12px;\">${d.appointment_date || 'TBC'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Time</strong></td><td style=\"padding:6px 12px;\">${d.appointment_time_window || 'TBC'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Summary</strong></td><td style=\"padding:6px 12px;\">${d.call_summary || ''}</td></tr>\n</table>\n`;\n\nreturn { ...d, emailHtml, notificationType: 'booking' };"},"id":"node-build-booking-notification","name":"Build Booking Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,400]},{"parameters":{"jsCode":"// Build lead notification (fallback — booking not made)\nconst d = $('Parse Call Data').first().json;\n\nconst emailHtml = `\n<h3>🔥 New Lead — ${d.company_name}</h3>\n<table style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;\">\n  <tr><td style=\"padding:6px 12px;\"><strong>Caller</strong></td><td style=\"padding:6px 12px;\">${d.caller_name || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Phone</strong></td><td style=\"padding:6px 12px;\">${d.caller_phone || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Address</strong></td><td style=\"padding:6px 12px;\">${d.caller_address || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Service</strong></td><td style=\"padding:6px 12px;\">${d.service_requested || 'Not specified'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Lead Score</strong></td><td style=\"padding:6px 12px;\">${d.lead_score}/10</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Urgency</strong></td><td style=\"padding:6px 12px;\">${d.urgency || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Booking Attempted</strong></td><td style=\"padding:6px 12px;\">${d.booking_attempted ? 'Yes — calendar unavailable' : 'No'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Summary</strong></td><td style=\"padding:6px 12px;\">${d.call_summary || ''}</td></tr>\n</table>\n`;\n\nreturn { ...d, emailHtml, notificationType: 'lead' };"},"id":"node-build-lead-notification","name":"Build Lead Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,760]}],"connections":{"Retell Premium Webhook":{"main":[[{"node":"Filter: call_analyzed Only","type":"main","index":0}]]},"Filter: call_analyzed Only":{"main":[[{"node":"Extract Call Data","type":"main","index":0}]]},"Extract Call Data":{"main":[[{"node":"Look Up Client","type":"main","index":0}]]},"Look Up Client":{"main":[[{"node":"Parse Client Data","type":"main","index":0}]]},"Parse Client Data":{"main":[[{"node":"GPT: Analyze Call","type":"main","index":0}]]},"GPT: Analyze Call":{"main":[[{"node":"Parse Call Data","type":"main","index":0}]]},"Parse Call Data":{"main":[[{"node":"Log Call to Supabase","type":"main","index":0}]]},"Log Call to Supabase":{"main":[[{"node":"Booking Made?","type":"main","index":0},{"node":"Hot Lead? (no booking)","type":"main","index":0}]]},"Booking Made?":{"main":[[{"node":"Build Booking Notification","type":"main","index":0}]]},"Hot Lead? (no booking)":{"main":[[{"node":"Build Lead Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"e74d5248-6211-4b2c-b57d-0e9ac83179df","activeVersionId":"e74d5248-6211-4b2c-b57d-0e9ac83179df","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-03-27T15:13:01.653Z","createdAt":"2026-03-27T15:13:01.653Z","role":"workflow:owner","workflowId":"UhxfrDaEeYUk4jAD","projectId":"fHNxQE9IeGCcfUfO","project":{"updatedAt":"2026-03-17T23:00:52.768Z","createdAt":"2026-03-17T23:00:46.569Z","id":"fHNxQE9IeGCcfUfO","name":"Daniel Blackmore <daniel@syntharra.com>","type":"personal","icon":null,"description":null,"creatorId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T15:32:44.607Z","createdAt":"2026-03-27T15:32:44.607Z","versionId":"e74d5248-6211-4b2c-b57d-0e9ac83179df","workflowId":"UhxfrDaEeYUk4jAD","nodes":[{"parameters":{"httpMethod":"POST","path":"retell-hvac-premium-webhook","options":{}},"id":"node-retell-webhook","name":"Retell Premium Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1440,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.event }}","rightValue":"call_analyzed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"node-filter-analyzed","name":"Filter: call_analyzed Only","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-1120,512]},{"parameters":{"jsCode":"const body = $input.first().json;\nconst call = body.call || body;\n\nconst agentId = call.agent_id || '';\nconst callId = call.call_id || '';\nconst transcript = call.transcript || '';\nconst durationMs = call.duration_ms || 0;\nconst callStatus = call.call_status || '';\n\n// Post-call analysis fields\nconst analysis = call.call_analysis || {};\nconst callSummary = analysis.call_summary || '';\nconst callSuccessful = analysis.call_successful || false;\nconst userSentiment = analysis.user_sentiment || '';\n\n// Premium custom analysis fields\nconst bookingAttempted = analysis.booking_attempted || false;\nconst bookingSuccess = analysis.booking_success || false;\nconst appointmentDate = analysis.appointment_date || null;\nconst appointmentTimeWindow = analysis.appointment_time_window || null;\nconst jobTypeBooked = analysis.job_type_booked || null;\nconst rescheduleOrCancel = analysis.reschedule_or_cancel || 'neither';\n\nreturn {\n  agent_id: agentId,\n  call_id: callId,\n  transcript: transcript,\n  duration_seconds: Math.round(durationMs / 1000),\n  call_status: callStatus,\n  call_summary: callSummary,\n  call_successful: callSuccessful,\n  caller_sentiment: userSentiment,\n  booking_attempted: bookingAttempted,\n  booking_success: bookingSuccess,\n  appointment_date: appointmentDate,\n  appointment_time_window: appointmentTimeWindow,\n  job_type_booked: jobTypeBooked,\n  reschedule_or_cancel: rescheduleOrCancel\n};"},"id":"node-extract-call-data","name":"Extract Call Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,512]},{"id":"node-lookup-client","name":"Look Up Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-480,512],"parameters":{"method":"GET","url":"https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.={{ $json.agent_id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"options":{}}},{"parameters":{"jsCode":"const callData = $('Extract Call Data').first().json;\nconst supabaseRows = $input.first().json;\n\n// Supabase returns array via httpRequest\nconst rows = Array.isArray(supabaseRows) ? supabaseRows : [supabaseRows];\nif (!rows || rows.length === 0) {\n  throw new Error('No client found for agent_id: ' + callData.agent_id);\n}\nconst client = rows[0];\n\nreturn {\n  ...callData,\n  company_name: client.company_name || '',\n  client_email: client.client_email || '',\n  lead_email: client.lead_email || '',\n  lead_phone: client.lead_phone || '',\n  lead_contact_method: client.lead_contact_method || 'Both',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  timezone: client.timezone || 'America/Chicago',\n  calendar_platform: client.calendar_platform || '',\n  crm_platform: client.crm_platform || ''\n};"},"id":"node-parse-client-data","name":"Parse Client Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,512]},{"id":"node-gpt-analyze","name":"GPT: Analyze Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,512],"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.OPENAI_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"You are analyzing a call transcript for an HVAC Premium AI Receptionist. The premium agent has booking capability.\\n\\nReturn ONLY valid JSON:\\n{\\n  \\\"lead_score\\\": <1-10>,\\n  \\\"is_hot_lead\\\": <true/false>,\\n  \\\"caller_name\\\": \\\"<string or null>\\\",\\n  \\\"caller_phone\\\": \\\"<string or null>\\\",\\n  \\\"caller_address\\\": \\\"<string or null>\\\",\\n  \\\"service_requested\\\": \\\"<string>\\\",\\n  \\\"job_type\\\": \\\"<short label>\\\",\\n  \\\"summary\\\": \\\"<2-3 sentences>\\\",\\n  \\\"urgency\\\": \\\"<low/medium/high>\\\",\\n  \\\"vulnerable_occupant\\\": <true/false>,\\n  \\\"notes\\\": \\\"<any important details>\\\",\\n  \\\"booking_attempted\\\": <true/false>,\\n  \\\"booking_success\\\": <true/false>,\\n  \\\"appointment_date\\\": \\\"<YYYY-MM-DD or null>\\\",\\n  \\\"appointment_time_window\\\": \\\"<morning/afternoon/null>\\\",\\n  \\\"job_type_booked\\\": \\\"<string or null>\\\",\\n  \\\"reschedule_or_cancel\\\": \\\"<reschedule/cancel/neither>\\\"\\n}\"}, {\"role\": \"user\", \"content\": \"=Transcript:\\n---\\n{{ $json.transcript }}\\n---\"}]}","options":{}}},{"parameters":{"jsCode":"const gptResponse = $input.first().json;\nconst clientData = $('Parse Client Data').first().json;\n\nlet callData = {};\ntry {\n  // Handle both native OpenAI node response and httpRequest response\n  const choices = gptResponse.choices || gptResponse.message?.content;\n  let text;\n  if (gptResponse.choices) {\n    text = gptResponse.choices[0]?.message?.content || '';\n  } else {\n    text = gptResponse.message?.content || gptResponse.text || JSON.stringify(gptResponse);\n  }\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  callData = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n} catch (e) {\n  callData = { lead_score: 0, summary: 'Parse error', is_hot_lead: false, booking_attempted: false, booking_success: false };\n}\n\nconst bookingAttempted = callData.booking_attempted || clientData.booking_attempted || false;\nconst bookingSuccess = callData.booking_success || clientData.booking_success || false;\nconst appointmentDate = callData.appointment_date || clientData.appointment_date || null;\nconst appointmentTimeWindow = callData.appointment_time_window || clientData.appointment_time_window || null;\nconst jobTypeBooked = callData.job_type_booked || clientData.job_type_booked || null;\nconst rescheduleOrCancel = callData.reschedule_or_cancel || clientData.reschedule_or_cancel || 'neither';\nconst leadScore = callData.lead_score || 0;\nconst isLead = bookingSuccess ? false : (leadScore >= 6);\n\nreturn {\n  ...clientData,\n  ...callData,\n  call_tier: 'premium',\n  lead_score: leadScore,\n  is_lead: isLead,\n  booking_attempted: bookingAttempted,\n  booking_success: bookingSuccess,\n  appointment_date: appointmentDate,\n  appointment_time_window: appointmentTimeWindow,\n  job_type_booked: jobTypeBooked,\n  reschedule_or_cancel: rescheduleOrCancel\n};"},"id":"node-parse-call-data","name":"Parse Call Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,512]},{"id":"node-log-to-supabase","name":"Log Call to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,512],"parameters":{"method":"POST","url":"https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation,resolution=merge-duplicates"},{"name":"on_conflict","value":"call_id"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"agent_id\": \"={{ $json.agent_id }}\", \"call_id\": \"={{ $json.call_id }}\", \"company_name\": \"={{ $json.company_name }}\", \"call_tier\": \"premium\", \"call_duration_seconds\": \"={{ $json.duration_seconds }}\", \"call_status\": \"={{ $json.call_status }}\", \"call_successful\": \"={{ $json.call_successful }}\", \"call_summary\": \"={{ $json.call_summary }}\", \"caller_name\": \"={{ $json.caller_name }}\", \"caller_phone\": \"={{ $json.caller_phone }}\", \"caller_address\": \"={{ $json.caller_address }}\", \"caller_sentiment\": \"={{ $json.caller_sentiment }}\", \"lead_score\": \"={{ $json.lead_score }}\", \"is_lead\": \"={{ $json.is_lead }}\", \"is_hot_lead\": \"={{ $json.is_hot_lead }}\", \"job_type\": \"={{ $json.job_type }}\", \"urgency\": \"={{ $json.urgency }}\", \"vulnerable_occupant\": \"={{ $json.vulnerable_occupant }}\", \"notes\": \"={{ $json.notes }}\", \"service_requested\": \"={{ $json.service_requested }}\", \"booking_attempted\": \"={{ $json.booking_attempted }}\", \"booking_success\": \"={{ $json.booking_success }}\", \"appointment_date\": \"={{ $json.appointment_date }}\", \"appointment_time_window\": \"={{ $json.appointment_time_window }}\", \"job_type_booked\": \"={{ $json.job_type_booked }}\", \"reschedule_or_cancel\": \"={{ $json.reschedule_or_cancel }}\"}","options":{}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Parse Call Data').first().json.booking_success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"or"}},"id":"node-is-booking","name":"Booking Made?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Parse Call Data').first().json.is_lead }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"or"}},"id":"node-is-lead","name":"Hot Lead? (no booking)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,760]},{"parameters":{"jsCode":"// Build booking confirmation notification\nconst d = $('Parse Call Data').first().json;\n\nconst emailHtml = `\n<h3>📅 New Booking — ${d.company_name}</h3>\n<table style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;\">\n  <tr><td style=\"padding:6px 12px;\"><strong>Caller</strong></td><td style=\"padding:6px 12px;\">${d.caller_name || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Phone</strong></td><td style=\"padding:6px 12px;\">${d.caller_phone || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Address</strong></td><td style=\"padding:6px 12px;\">${d.caller_address || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Service</strong></td><td style=\"padding:6px 12px;\">${d.job_type_booked || d.service_requested || 'Not specified'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Date</strong></td><td style=\"padding:6px 12px;\">${d.appointment_date || 'TBC'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Time</strong></td><td style=\"padding:6px 12px;\">${d.appointment_time_window || 'TBC'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Summary</strong></td><td style=\"padding:6px 12px;\">${d.call_summary || ''}</td></tr>\n</table>\n`;\n\nreturn { ...d, emailHtml, notificationType: 'booking' };"},"id":"node-build-booking-notification","name":"Build Booking Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,400]},{"parameters":{"jsCode":"// Build lead notification (fallback — booking not made)\nconst d = $('Parse Call Data').first().json;\n\nconst emailHtml = `\n<h3>🔥 New Lead — ${d.company_name}</h3>\n<table style=\"border-collapse:collapse;font-family:sans-serif;font-size:14px;\">\n  <tr><td style=\"padding:6px 12px;\"><strong>Caller</strong></td><td style=\"padding:6px 12px;\">${d.caller_name || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Phone</strong></td><td style=\"padding:6px 12px;\">${d.caller_phone || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Address</strong></td><td style=\"padding:6px 12px;\">${d.caller_address || 'Not captured'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Service</strong></td><td style=\"padding:6px 12px;\">${d.service_requested || 'Not specified'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Lead Score</strong></td><td style=\"padding:6px 12px;\">${d.lead_score}/10</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Urgency</strong></td><td style=\"padding:6px 12px;\">${d.urgency || 'Unknown'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Booking Attempted</strong></td><td style=\"padding:6px 12px;\">${d.booking_attempted ? 'Yes — calendar unavailable' : 'No'}</td></tr>\n  <tr><td style=\"padding:6px 12px;\"><strong>Summary</strong></td><td style=\"padding:6px 12px;\">${d.call_summary || ''}</td></tr>\n</table>\n`;\n\nreturn { ...d, emailHtml, notificationType: 'lead' };"},"id":"node-build-lead-notification","name":"Build Lead Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,760]}],"connections":{"Retell Premium Webhook":{"main":[[{"node":"Filter: call_analyzed Only","type":"main","index":0}]]},"Filter: call_analyzed Only":{"main":[[{"node":"Extract Call Data","type":"main","index":0}]]},"Extract Call Data":{"main":[[{"node":"Look Up Client","type":"main","index":0}]]},"Look Up Client":{"main":[[{"node":"Parse Client Data","type":"main","index":0}]]},"Parse Client Data":{"main":[[{"node":"GPT: Analyze Call","type":"main","index":0}]]},"GPT: Analyze Call":{"main":[[{"node":"Parse Call Data","type":"main","index":0}]]},"Parse Call Data":{"main":[[{"node":"Log Call to Supabase","type":"main","index":0}]]},"Log Call to Supabase":{"main":[[{"node":"Booking Made?","type":"main","index":0},{"node":"Hot Lead? (no booking)","type":"main","index":0}]]},"Booking Made?":{"main":[[{"node":"Build Booking Notification","type":"main","index":0}]]},"Hot Lead? (no booking)":{"main":[[{"node":"Build Lead Notification","type":"main","index":0}]]}},"authors":"Daniel Blackmore","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-27T15:32:59.866Z","id":611,"workflowId":"UhxfrDaEeYUk4jAD","versionId":"e74d5248-6211-4b2c-b57d-0e9ac83179df","event":"activated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}]}}