n8n-workflows/hvac-weekly-lead-report-supabase.json
{
  "name": "HVAC Weekly Lead Report (Supabase)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Hourly Trigger (Sundays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Check if it's Sunday and determine which timezones are at 6pm\n// Runs every hour — only proceeds if it's Sunday AND a timezone\n// group is hitting 6pm right now.\n// ============================================================\n\nconst now = new Date();\nconst utcDay = now.getUTCDay(); // 0 = Sunday\nconst utcHour = now.getUTCHours();\n\n// Only run on Sundays\nif (utcDay !== 0) {\n  return []; // Empty = stops workflow\n}\n\n// Map: UTC hour → which IANA timezones are at 6pm (18:00)\n// We check both standard and daylight offsets\n// This handles DST automatically by checking the actual local time\nconst timezoneGroups = [\n  'America/New_York',\n  'America/Chicago', \n  'America/Denver',\n  'America/Los_Angeles',\n  'America/Anchorage',\n  'Pacific/Honolulu',\n  'America/Phoenix'\n];\n\n// Find which timezones are currently at 6pm\nconst targetTimezones = [];\nfor (const tz of timezoneGroups) {\n  try {\n    const localTime = new Date(now.toLocaleString('en-US', { timeZone: tz }));\n    if (localTime.getHours() === 18) {\n      targetTimezones.push(tz);\n    }\n  } catch (e) {\n    // Skip invalid timezone\n  }\n}\n\nif (targetTimezones.length === 0) {\n  return []; // No timezone is at 6pm right now\n}\n\n// Also build a list of common timezone aliases that map to the same offset\nconst timezoneAliases = {\n  'America/New_York': ['America/New_York', 'US/Eastern', 'Eastern', 'EST', 'EDT', 'ET', 'America/Detroit', 'America/Indiana/Indianapolis'],\n  'America/Chicago': ['America/Chicago', 'US/Central', 'Central', 'CST', 'CDT', 'CT', 'America/Indiana/Knox', 'America/Menominee'],\n  'America/Denver': ['America/Denver', 'US/Mountain', 'Mountain', 'MST', 'MDT', 'MT', 'America/Boise'],\n  'America/Los_Angeles': ['America/Los_Angeles', 'US/Pacific', 'Pacific', 'PST', 'PDT', 'PT'],\n  'America/Anchorage': ['America/Anchorage', 'US/Alaska', 'Alaska', 'AKST', 'AKDT', 'AKT'],\n  'Pacific/Honolulu': ['Pacific/Honolulu', 'US/Hawaii', 'Hawaii', 'HST', 'HT'],\n  'America/Phoenix': ['America/Phoenix', 'US/Arizona', 'Arizona', 'MST']\n};\n\n// Build the full list of timezone strings to match against\nlet allMatchingTimezones = [];\nfor (const tz of targetTimezones) {\n  if (timezoneAliases[tz]) {\n    allMatchingTimezones = allMatchingTimezones.concat(timezoneAliases[tz]);\n  } else {\n    allMatchingTimezones.push(tz);\n  }\n}\n\nreturn {\n  targetTimezones,\n  allMatchingTimezones,\n  utcHour,\n  runTime: now.toISOString()\n};"
      },
      "id": "check_sunday_6pm",
      "name": "Check Sunday 6pm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?select=agent_id,company_name,agent_name,lead_email,lead_phone,timezone,services_offered&lead_email=neq.",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_clients",
      "name": "Supabase: Fetch All Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        736,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-anon",
          "name": "Supabase Anon Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Filter clients whose timezone matches the current 6pm group\nconst clients = $input.first().json;\nconst checkData = $('Check Sunday 6pm').first().json;\nconst matchingTimezones = checkData.allMatchingTimezones || [];\n\nif (!Array.isArray(clients) || clients.length === 0) {\n  return [];\n}\n\n// Filter clients by timezone match (case-insensitive)\nconst filtered = clients.filter(c => {\n  const clientTz = (c.timezone || 'America/Chicago').trim();\n  return matchingTimezones.some(tz => \n    tz.toLowerCase() === clientTz.toLowerCase()\n  );\n});\n\nif (filtered.length === 0) {\n  return [];\n}\n\n// Return each client as a separate item for the loop\nreturn filtered.map(c => ({ json: c }));"
      },
      "id": "filter_by_timezone",
      "name": "Filter Clients by Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split_batches",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?agent_id=eq.{{ $json.agent_id }}&call_timestamp=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&select=*&order=call_timestamp.desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch_call_logs",
      "name": "Supabase: Fetch Call Logs (7 Days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-anon",
          "name": "Supabase Anon Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Calculate Weekly Lead Stats from Supabase call_log\n// ============================================================\n\nconst callLogs = $input.first().json;\nconst client = $('Split Into Batches').first().json;\n\nconst logs = Array.isArray(callLogs) ? callLogs : [];\n\n// Total calls\nconst totalCalls = logs.length;\n\n// Leads (is_lead = true OR lead_score >= 6)\nconst leads = logs.filter(l => l.is_lead === true || (l.lead_score && l.lead_score >= 6));\nconst totalLeads = leads.length;\n\n// Hot leads (lead_score >= 8)\nconst hotLeads = logs.filter(l => l.lead_score && l.lead_score >= 8);\nconst totalHotLeads = hotLeads.length;\n\n// Warm leads (score 6-7)\nconst warmLeads = logs.filter(l => l.lead_score && l.lead_score >= 6 && l.lead_score < 8);\nconst totalWarmLeads = warmLeads.length;\n\n// Non-leads / spam (is_lead = false AND score < 3, or no transcript)\nconst spam = logs.filter(l => !l.is_lead && l.lead_score !== null && l.lead_score < 3);\nconst totalSpam = spam.length;\n\n// General inquiries (not a lead, score 3-5)\nconst generalInquiries = logs.filter(l => !l.is_lead && l.lead_score >= 3 && l.lead_score < 6);\nconst totalGeneral = generalInquiries.length;\n\n// Average lead score\nconst avgScore = logs.length > 0\n  ? (logs.reduce((sum, l) => sum + (l.lead_score || 0), 0) / logs.length).toFixed(1)\n  : '0';\n\n// Total call duration\nconst totalDuration = logs.reduce((sum, l) => sum + (l.duration_seconds || 0), 0);\nconst avgDuration = logs.length > 0 ? Math.round(totalDuration / logs.length) : 0;\n\n// Service breakdown\nconst serviceBreakdown = {};\nlogs.forEach(l => {\n  const svc = l.service_requested || 'Other';\n  serviceBreakdown[svc] = (serviceBreakdown[svc] || 0) + 1;\n});\n\n// Urgency breakdown\nconst urgencyBreakdown = {};\nlogs.forEach(l => {\n  const urg = l.urgency || 'Unknown';\n  urgencyBreakdown[urg] = (urgencyBreakdown[urg] || 0) + 1;\n});\n\n// Week range\nconst weekEnd = new Date();\nconst weekStart = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nconst formatDate = (d) => d.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n\nreturn {\n  // Client info\n  company_name: client.company_name || 'Client',\n  agent_name: client.agent_name || 'AI Receptionist',\n  lead_email: client.lead_email || '',\n  agent_id: client.agent_id || '',\n  \n  // Stats\n  totalCalls,\n  totalLeads,\n  totalHotLeads,\n  totalWarmLeads,\n  totalSpam,\n  totalGeneral,\n  avgScore,\n  totalDuration,\n  avgDuration,\n  serviceBreakdown,\n  urgencyBreakdown,\n  \n  // Date range\n  weekStart: formatDate(weekStart),\n  weekEnd: formatDate(weekEnd),\n  \n  // Top leads for highlight section\n  topLeads: leads.slice(0, 5).map(l => ({\n    name: l.caller_name || 'Unknown',\n    phone: l.caller_phone || '',\n    service: l.service_requested || '',\n    score: l.lead_score || 0,\n    urgency: l.urgency || ''\n  }))\n};"
      },
      "id": "calculate_stats",
      "name": "Calculate Lead Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Build Weekly Report Email HTML — Syntharra Branded\n// ============================================================\n\nconst d = $input.first().json;\n\n// Format duration\nconst fmtDuration = (s) => {\n  if (s < 60) return `${s}s`;\n  const m = Math.floor(s / 60);\n  const sec = s % 60;\n  return sec > 0 ? `${m}m ${sec}s` : `${m}m`;\n};\n\n// Service breakdown rows\nlet serviceRows = '';\nif (d.serviceBreakdown && Object.keys(d.serviceBreakdown).length > 0) {\n  Object.entries(d.serviceBreakdown)\n    .sort((a, b) => b[1] - a[1])\n    .forEach(([svc, count]) => {\n      serviceRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${svc}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center;font-weight:bold'>${count}</td></tr>`;\n    });\n}\n\n// Top leads rows\nlet leadRows = '';\nif (d.topLeads && d.topLeads.length > 0) {\n  d.topLeads.forEach(l => {\n    const scoreColor = l.score >= 8 ? '#e53e3e' : l.score >= 6 ? '#dd6b20' : '#718096';\n    leadRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.name}</td><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.service || 'General'}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center'><span style='background:${scoreColor};color:white;padding:2px 8px;border-radius:12px;font-size:12px'>${l.score}/10</span></td></tr>`;\n  });\n}\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset='utf-8'><meta name='viewport' content='width=device-width,initial-scale=1'></head>\n<body style='margin:0;padding:0;background:#F7F7FB;font-family:Arial,Helvetica,sans-serif'>\n<table width='100%' cellpadding='0' cellspacing='0' style='background:#F7F7FB;padding:24px 16px'>\n<tr><td align='center'>\n<table width='600' cellpadding='0' cellspacing='0' style='background:white;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)'>\n\n<!-- Header -->\n<tr><td style='background:linear-gradient(135deg,#6C63FF,#8B85FF);padding:28px 32px'><table cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse;margin-bottom:18px'><tr><td style='vertical-align:middle;padding-right:10px'><img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEA0lEQVR4nO2bPWwcRRTHfzPrs/HZJv5IghJHQhBZWBApBisFIONAgUSBlCJBIKooDUUqOtp0kahQCpqIKlKEFKUgUhoiBSoQCFlAJIMTRakiZHCEfeZy5nZeivXmNps7337Neu/jX93Ozb55//+8eTM7s6vICWfPiMSpf+GiUrZ8CcJaI3EJt4MtQTI3mjXxMLIWIjNjtomHkZUQqY3kTTyMtEIkvnm3iYeRVAid5KaikYfkPsUWoIjkfSTxLXLYFJl4M0QdEpEioNPIQ3Sf2wrQieR9RPE9URLsJuwoQCf3vo92HFoK0A3kfezEpakA3UTeRytOPZ8Dnpori9r7Y8+yevIjbk/tYw+C1GpsXbtK6e4djsSxE14fDGTrpj0svM2t145xPFj2wccsnz+Xzu4TQ6CovQ9QLqOMwa3XqRlD3RjcoSGeiWsnzLFjIsAY0BoHEKXQSqFFSN1hjyOgyL3fEirZ43yQa8/PAhqK0fujo6zNzLI08xJLh2f41XZ7PudC5IDxCe5/+hkyMcmcX7ayzNIXnzeubaEQQ+D5F7g3MclB1+V/Y3BFMDOzzB2Y5rbttgsRAYASwfjZXSnvWiuM7YZ1EcY/gFJPRmP42gbOnhEpxBDYTfS8ALnkgNmX+eX1BWpaewuXOyvUbn7LYh5tt4N1AYaHWT/9CS+Wy4z7ZXPzsPoXP936jWO2228H+wKU2SiVmDKGOoDrUnccSlP7qNpuOwqsCyCyPaVpBkQQx/EealzX3tF8HOSSBFWTjRel0j/JZYH+LJCFkfEJ7g8O8RBgs8KezQqTWdjNA6kFWDjO9ydOMT9QYr9SqEqFta++ZGnlD/sPMlkg9RB4Y5HnBocYARDBjI2x981F/kvvWj7Qad+wcF3c4NZUFttUeeHCRaVSR4ACpQJbUyrhNtVuoedngb4AkN9bmUWCzzl1BAjtk16zOiKNXJF4SybLc4HEr5kptL+PJwZjDG4oKYrCO9UR8f43BtfRDee1Rrbvf1xHBAkul7X2bATtJE24Qa6pF0LVKtXtExsnUFb3fz+sMmIMbsmr45/usLnZaLuywbBSaGeAwZDtsv97YwOjNY5/P0C93mgnKVKfDh88xMqJU6yPjnrOPnjA+pXLTK/9zSG/ztw8P7zzLiOO45G+d5fVry/xVtDOe+9z85Wj7AcQg/z8I/98d6NRZ7jMvyc/5PcD00yKwFaNrevfYP5c5tU4/oYjvWOOx7NCWICnkmA3zwjNuPXXAc0KuzEKWnFqGQHdJMJOXHYcAt0gQjsO/RzQrkInR0EU3yNFQCeKENXn2MSKvlCK21mxc0CRoyGJb4mSYBFFSOpT/7O5rBzp2Q8nw+jZT2fD6NmPp1uhqJ/PPwJ0VJJMh1QmBQAAAABJRU5ErkJggg==' width='36' height='36' alt='Syntharra' style='display:block;border:0;'/></td><td style='vertical-align:middle'><div style='font-family:Georgia,serif;font-size:20px;font-weight:normal;color:#ffffff;letter-spacing:0.5px;line-height:1.1'>Syntharra</div><div style='font-family:Arial,Helvetica,sans-serif;font-size:8px;font-weight:bold;color:rgba(255,255,255,0.7);letter-spacing:3.5px;text-transform:uppercase;margin-top:3px'>Global AI Solutions</div></td></tr></table><h1 style='font-family:Georgia,serif;font-size:22px;font-weight:normal;color:#ffffff;margin:0'>Weekly AI Receptionist Report</h1><p style='font-family:Arial,Helvetica,sans-serif;font-size:13px;color:rgba(255,255,255,0.75);margin:4px 0 0'>${d.weekStart} — ${d.weekEnd} · ${d.company_name}</p></td></tr>\n\n<!-- Company -->\n<tr><td style='padding:24px 24px 0'>\n  <p style='margin:0;color:#4a5568;font-size:16px'>Hi <strong>${d.company_name}</strong> team,</p>\n  <p style='margin:12px 0 0;color:#718096;font-size:14px'>Here's what <strong>${d.agent_name}</strong> accomplished this week:</p>\n</td></tr>\n\n<!-- Stats Grid -->\n<tr><td style='padding:24px'>\n  <table width='100%' cellpadding='0' cellspacing='0'>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f0fff4;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#2f855a'>${d.totalCalls}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Total Calls</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fffff0;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#d69e2e'>${d.totalLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Qualified Leads</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fff5f5;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Hot Leads</div>\n        </div>\n      </td>\n    </tr>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#ebf8ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#3182ce'>${fmtDuration(d.avgDuration)}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Call Time</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#faf5ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#805ad5'>${d.avgScore}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Lead Score</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#a0aec0'>${d.totalSpam}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Spam/Junk</div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</td></tr>\n\n<!-- Call Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Call Breakdown</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Hot Leads (score 8-10)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Warm Leads (score 6-7)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#dd6b20'>${d.totalWarmLeads}</td>\n    </tr>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>General Inquiries</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#3182ce'>${d.totalGeneral}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Spam / Junk Calls</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#a0aec0'>${d.totalSpam}</td>\n    </tr>\n  </table>\n</td></tr>\n\n${serviceRows ? `\n<!-- Service Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Services Requested</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Service Type</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Count</td>\n    </tr>\n    ${serviceRows}\n  </table>\n</td></tr>` : ''}\n\n${leadRows ? `\n<!-- Top Leads -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Top Leads This Week</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Name</td>\n      <td style='padding:8px 12px;font-size:13px'>Service</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Score</td>\n    </tr>\n    ${leadRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- Total Duration -->\n<tr><td style='padding:0 24px 24px'>\n  <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n    <p style='margin:0;color:#718096;font-size:13px'>Total time ${d.agent_name} spent on the phone this week</p>\n    <p style='margin:8px 0 0;font-size:24px;font-weight:bold;color:#2d3748'>${fmtDuration(d.totalDuration)}</p>\n  </div>\n</td></tr>\n\n<!-- Footer -->\n<tr><td style='border-top:1px solid #E5E7EB;padding:16px 32px;background:#F7F7FB;text-align:center'><p style='font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#8A8AA0;margin:0'>Powered by <strong style='color:#6C63FF'>Syntharra</strong> AI Receptionist &nbsp;·&nbsp; <a href='mailto:support@syntharra.com' style='color:#6C63FF;text-decoration:none'>support@syntharra.com</a></p><p style='font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#8A8AA0;letter-spacing:1px;text-transform:uppercase;margin:6px 0 0'>AI Solutions for the Trade Industry</p></td></tr>\n\n</table>\n</td></tr></table>\n</body></html>`;\n\nreturn {\n  emailHtml,\n  lead_email: d.lead_email,\n  company_name: d.company_name,\n  agent_name: d.agent_name,\n  totalCalls: d.totalCalls,\n  totalLeads: d.totalLeads,\n  weekStart: d.weekStart,\n  weekEnd: d.weekEnd\n};"
      },
      "id": "build_email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        400
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead_email }}",
        "subject": "=Weekly Report: {{ $json.agent_name }} handled {{ $json.totalCalls }} calls & captured {{ $json.totalLeads }} leads | {{ $json.company_name }}",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "send_email",
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2176,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Hourly Trigger (Sundays)": {
      "main": [
        [
          {
            "node": "Check Sunday 6pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sunday 6pm": {
      "main": [
        [
          {
            "node": "Supabase: Fetch All Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch All Clients": {
      "main": [
        [
          {
            "node": "Filter Clients by Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Clients by Timezone": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Call Logs (7 Days)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase: Fetch Call Logs (7 Days)": {
      "main": [
        [
          {
            "node": "Calculate Lead Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Stats": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly Report Email": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}