workflow-backups/hvac-prem-call-processor.json
{"updatedAt": "2026-03-30T03:26:23.929Z", "createdAt": "2026-03-30T01:08:16.485Z", "id": "STQ4Gt3rH8ptlvMi", "name": "HVAC Premium Call Processor", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "retell-hvac-premium-webhook", "options": {}}, "id": "node-retell-webhook", "name": "Retell Premium Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-1440, 512], "webhookId": "6dddc745-704b-479b-8274-ac49b133d5c5"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.body.event }}", "rightValue": "call_analyzed", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}}, "id": "node-filter-analyzed", "name": "Filter: call_analyzed Only", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [-1120, 512]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nconst agentId = call.agent_id || '';\nconst callId = call.call_id || '';\nconst transcript = call.transcript || '';\nconst durationMs = call.duration_ms || 0;\nconst callStatus = call.call_status || '';\nconst fromNumber = call.from_number || '';\nconst toNumber = call.to_number || '';\nconst disconnectionReason = call.disconnection_reason || '';\nconst analysis = call.call_analysis || {};\n\nreturn {\n  agent_id: agentId,\n  call_id: callId,\n  transcript: transcript,\n  from_number: fromNumber,\n  to_number: toNumber,\n  duration_seconds: Math.round(durationMs / 1000),\n  call_status: callStatus,\n  disconnection_reason: disconnectionReason,\n  call_analysis: analysis,\n  call_timestamp: new Date().toISOString()\n};"}, "id": "node-extract-call-data", "name": "Extract Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-800, 512]}, {"id": "node-lookup-client", "name": "Look Up Client", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-480, 512], "parameters": {"method": "GET", "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.{{ $json.agent_id }}&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"}]}, "options": {}}}, {"parameters": {"jsCode": "const callData = $('Extract Call Data').first().json;\nconst rawInput = $input.first().json;\n\n// n8n httpRequest with Supabase REST: when Supabase returns [{...}], \n// n8n passes the single object as the item json directly.\n// When Supabase returns [], n8n passes nothing (0 items) and this node won't run.\n// But with neverError, it may pass the empty array or an error object.\n\nlet client = rawInput;\n\n// Check if this is a Supabase error or empty response\nif (!client || !client.company_name) {\n  // Could be error object from Supabase\n  if (client && client.code) {\n    console.log('Supabase error:', client.code, client.message);\n  }\n  return {\n    ...callData,\n    company_name: 'Unknown Company',\n    client_email: '',\n    lead_email: '',\n    lead_phone: '',\n    lead_contact_method: 'Both',\n    notification_email_2: '',\n    notification_email_3: '',\n    notification_sms_2: '',\n    notification_sms_3: '',\n    timezone: 'America/Chicago',\n    calendar_platform: '',\n    crm_platform: '',\n    _client_found: false\n  };\n}\n\nreturn {\n  ...callData,\n  company_name: client.company_name || '',\n  client_email: client.client_email || '',\n  lead_email: client.lead_email || '',\n  lead_phone: client.lead_phone || '',\n  lead_contact_method: client.lead_contact_method || 'Both',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  timezone: client.timezone || 'America/Chicago',\n  calendar_platform: client.calendar_platform || '',\n  crm_platform: client.crm_platform || '',\n  _client_found: true\n};"}, "id": "node-parse-client-data", "name": "Parse Client Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-160, 512]}, {"id": "node-gpt-analyze", "name": "GPT: Analyze Call", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [160, 512], "parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a call analysis specialist for a premium HVAC AI receptionist service. Analyze the call transcript and extract ALL relevant data.\n\nReturn a JSON object with these fields:\n\nCALLER INFORMATION:\n- caller_name (string): Full name if provided, empty string if not\n- caller_phone (string): Phone number if stated, empty string if not\n- caller_address (string): Service address if provided, empty string if not\n- caller_sentiment (string): happy, neutral, frustrated, angry, anxious, grateful\n\nCALL CLASSIFICATION:\n- call_type (string): new_booking, reschedule, cancellation, emergency, callback, existing_customer, general_question, spam, transfer_request\n- service_requested (string): Specific service discussed\n- urgency (string): low, medium, high, emergency\n- job_type (string): Repair, Maintenance, Installation, Estimate, Emergency, Inspection, General, Other\n\nBOOKING DATA:\n- booking_attempted (boolean): Did the agent try to book?\n- booking_success (boolean): Was an appointment confirmed?\n- appointment_date (string): YYYY-MM-DD or empty string\n- appointment_time_window (string): morning or afternoon or empty string\n- job_type_booked (string): Service booked or empty string\n- reschedule_or_cancel (string): reschedule, cancel, or neither\n\nLEAD QUALIFICATION:\n- lead_score (integer 0-10): 0=spam, 1-3=low, 4-6=moderate, 7-8=high, 9-10=hot. Booking made=9-10. Booking attempted but failed=7-8.\n- is_hot_lead (boolean): true if lead_score >= 7\n- is_lead (boolean): true if any service need expressed\n\nADDITIONAL:\n- vulnerable_occupant (boolean): elderly, disabled, young children mentioned\n- transfer_attempted (boolean): Was transfer attempted?\n- transfer_success (boolean or null): true/false/null\n- summary (string): 1-3 sentence summary with outcome and action needed\n- notes (string): Important additional details\n\nReturn ONLY valid JSON. No markdown, no backticks.", "role": "system"}, {"content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\n\nRepeat caller context:\n{{ $json._history_context || \"First-time caller\" }}\n\nPost-call analysis:\n{{ JSON.stringify($json.call_analysis || {}) }}"}]}, "options": {"temperature": 0.2}}, "credentials": {"openAiApi": {"id": "1uzBYwyR7Q7bdkZe", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "\n// Merge GPT analysis with original call data from Check Repeat Caller\nconst gptOutput = $input.first().json;\nconst originalData = $('Check Repeat Caller').first().json;\n\n// Parse GPT content - it returns nested JSON object\nlet gptData = {};\ntry {\n  const content = gptOutput.message?.content || gptOutput.content || '';\n  if (typeof content === 'string' && content.trim().startsWith('{')) {\n    const parsed = JSON.parse(content);\n    // Flatten the nested GPT structure\n    gptData = {\n      ...(parsed['CALLER INFORMATION'] || {}),\n      ...(parsed['CALL CLASSIFICATION'] || {}),\n      ...(parsed['BOOKING DATA'] || {}),\n      ...(parsed['LEAD QUALIFICATION'] || {}),\n      ...(parsed['ADDITIONAL'] || {}),\n    };\n  }\n} catch(e) {\n  // GPT parsing failed \u2014 use original call_analysis data\n}\n\n// Merge: original data takes priority for call metadata, GPT data fills analysis fields\nconst merged = {\n  // Core call identifiers from original (never from GPT)\n  call_id: originalData.call_id,\n  agent_id: originalData.agent_id,\n  company_name: originalData.company_name,\n  client_email: originalData.client_email,\n  lead_email: originalData.lead_email,\n  lead_phone: originalData.lead_phone,\n  lead_contact_method: originalData.lead_contact_method,\n  notification_email_2: originalData.notification_email_2,\n  notification_email_3: originalData.notification_email_3,\n  notification_sms_2: originalData.notification_sms_2,\n  notification_sms_3: originalData.notification_sms_3,\n  timezone: originalData.timezone,\n  calendar_platform: originalData.calendar_platform,\n  crm_platform: originalData.crm_platform,\n  from_number: originalData.from_number,\n  to_number: originalData.to_number,\n  transcript: originalData.transcript,\n  duration_seconds: originalData.duration_seconds,\n  disconnection_reason: originalData.disconnection_reason,\n  call_timestamp: originalData.call_timestamp,\n  is_repeat_caller: originalData.is_repeat_caller || false,\n  repeat_call_count: originalData.repeat_call_count || 0,\n  _client_found: originalData._client_found,\n  \n  // Analysis fields from GPT (fall back to call_analysis if GPT failed)\n  caller_name: gptData.caller_name || originalData.call_analysis?.custom_analysis_data?.caller_name || '',\n  caller_phone: gptData.caller_phone || originalData.call_analysis?.custom_analysis_data?.caller_phone || originalData.from_number || '',\n  caller_address: gptData.caller_address || originalData.call_analysis?.custom_analysis_data?.caller_address || '',\n  caller_email: gptData.caller_email || originalData.call_analysis?.custom_analysis_data?.caller_email || '',\n  caller_sentiment: gptData.caller_sentiment || originalData.call_analysis?.user_sentiment || '',\n  call_type: gptData.call_type || originalData.call_analysis?.custom_analysis_data?.call_type || '',\n  service_requested: gptData.service_requested || originalData.call_analysis?.custom_analysis_data?.service_requested || '',\n  urgency: gptData.urgency || originalData.call_analysis?.custom_analysis_data?.urgency || '',\n  job_type: gptData.job_type || originalData.call_analysis?.custom_analysis_data?.service_requested || '',\n  lead_score: gptData.lead_score ?? originalData.call_analysis?.custom_analysis_data?.lead_score ?? 0,\n  is_hot_lead: gptData.is_hot_lead ?? originalData.call_analysis?.custom_analysis_data?.is_hot_lead ?? false,\n  is_lead: gptData.is_lead ?? (gptData.lead_score > 3) ?? false,\n  booking_attempted: gptData.booking_attempted ?? originalData.call_analysis?.custom_analysis_data?.booking_attempted ?? false,\n  booking_success: gptData.booking_success ?? originalData.call_analysis?.custom_analysis_data?.booking_success ?? false,\n  appointment_date: gptData.appointment_date || originalData.call_analysis?.custom_analysis_data?.appointment_date || null,\n  appointment_time_window: gptData.appointment_time_window || originalData.call_analysis?.custom_analysis_data?.appointment_time_window || '',\n  job_type_booked: gptData.job_type_booked || originalData.call_analysis?.custom_analysis_data?.job_type_booked || '',\n  reschedule_or_cancel: gptData.reschedule_or_cancel || 'neither',\n  vulnerable_occupant: gptData.vulnerable_occupant || false,\n  transfer_attempted: gptData.transfer_attempted || false,\n  transfer_success: gptData.transfer_success ?? null,\n  summary: gptData.summary || originalData.call_analysis?.call_summary || '',\n  notes: gptData.notes || '',\n  notification_type: '',\n  notification_priority: gptData.lead_score >= 8 ? 'high' : gptData.lead_score >= 5 ? 'normal' : 'low',\n};\n\nreturn [{ json: merged }];\n"}, "id": "node-parse-call-data", "name": "Parse Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480, 512]}, {"id": "node-log-to-supabase", "name": "Log Call to Supabase", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, 512], "parameters": {"jsCode": "const d = $input.first().json;\n\nconst body = {\n  agent_id: d.agent_id || '',\n  call_id: d.call_id || '',\n  company_name: d.company_name || '',\n  call_tier: 'premium',\n  duration_seconds: d.duration_seconds || 0,\n  call_status: d.disconnection_reason || 'completed',\n  call_successful: d.booking_success || d.is_lead || false,\n  summary: d.summary || '',\n  caller_name: d.caller_name || '',\n  caller_phone: d.caller_phone || '',\n  caller_address: d.caller_address || '',\n  caller_sentiment: d.caller_sentiment || '',\n  lead_score: d.lead_score || 0,\n  is_lead: d.is_lead || false,\n  is_hot_lead: d.is_hot_lead || false,\n  job_type: d.job_type || '',\n  urgency: d.urgency || '',\n  vulnerable_occupant: d.vulnerable_occupant || false,\n  notes: d.notes || '',\n  service_requested: d.service_requested || '',\n  booking_attempted: d.booking_attempted || false,\n  booking_success: d.booking_success || false,\n  appointment_date: d.appointment_date || null,\n  appointment_time: d.appointment_time_window || '',\n  job_type_booked: d.job_type_booked || '',\n  reschedule_requested: d.reschedule_or_cancel === 'reschedule',\n  cancellation_requested: d.reschedule_or_cancel === 'cancel',\n  call_type: d.call_type || '',\n  transfer_attempted: d.transfer_attempted || false,\n  transfer_success: d.transfer_success === true ? true : d.transfer_success === false ? false : null,\n  from_number: d.from_number || '',\n  notification_type: d.notification_type || '',\n  notification_priority: d.notification_priority || '',\n  is_repeat_caller: d.is_repeat_caller || false,\n  repeat_call_count: d.repeat_call_count || 0\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log',\n  headers: {\n    'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation,resolution=ignore-duplicates'\n  },\n  body: body,\n  json: true\n});\n\n// Pass through all original data plus the Supabase response\nreturn { ...d, _supabase_logged: true, _supabase_id: Array.isArray(response) && response[0] ? response[0].id : null };", "authentication": "none", "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation,resolution=ignore-duplicates,duplicate=merge"}]}, "sendHeaders": true}}, {"parameters": {"jsCode": "// Should we send notifications?\nconst data = $('Parse Call Data').first().json;\nconst shouldNotify = data.should_notify || false;\nconst notificationType = data.notification_type || 'unknown';\nconst leadEmail = data.lead_email || '';\n\nreturn {\n  should_notify: shouldNotify && leadEmail,\n  notification_type: notificationType,\n  ...data\n};"}, "id": "node-route-notifications", "name": "Route Notifications", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1440, 400]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "should-notify", "leftValue": "={{ $json.should_notify }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}}, "id": "node-should-notify", "name": "Should Notify?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1680, 400]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'New Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) {\n  console.log('[EMAIL] No email or HTML \u2014 skipping');\n  return { ...d, _email_sent: false, _reason: 'No email address or HTML' };\n}\n\n// Build recipient list\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\nconst SMTP2GO_KEY = 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E';\n\nif (!SMTP2GO_KEY) {\n  console.log('[EMAIL] SMTP2GO_API_KEY not set \u2014 logging only');\n  console.log(`[EMAIL] Would send to: ${recipients.join(', ')}`);\n  console.log(`[EMAIL] Subject: ${emailSubject}`);\n  return { ...d, _email_sent: false, _reason: 'SMTP2GO_API_KEY not configured' };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  \n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}: ${emailSubject}`);\n  return { ...d, _email_sent: true, _email_recipients: recipients };\n} catch (e) {\n  console.log('[EMAIL] Send failed:', e.message);\n  return { ...d, _email_sent: false, _reason: e.message };\n}"}, "id": "node-placeholder-email", "name": "Send Client Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 300]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) {\n  console.log('[SMS] No phone or text \u2014 skipping');\n  return { ...d, _sms_sent: false, _reason: 'No phone number or text' };\n}\n\n// Build recipient list\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst TELNYX_KEY = $vars.TELNYX_API_KEY || '';\nconst TELNYX_FROM = $vars.TELNYX_FROM_NUMBER || '';\n\n// \u2500\u2500 SMS DISABLED UNTIL TELNYX IS CONFIGURED \u2500\u2500\n// When ready: set TELNYX_API_KEY and TELNYX_FROM_NUMBER in n8n Variables\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\n\nif (!SMS_ENABLED || !TELNYX_KEY || !TELNYX_FROM) {\n  console.log(`[SMS] Disabled or not configured \u2014 would send to: ${recipients.join(', ')}`);\n  console.log(`[SMS] Text: ${smsText.substring(0, 100)}`);\n  return { ...d, _sms_sent: false, _reason: 'SMS disabled \u2014 awaiting Telnyx configuration' };\n}\n\n// Send to each recipient\nlet sentCount = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telnyx.com/v2/messages',\n      headers: {\n        'Authorization': 'Bearer ' + TELNYX_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        from: TELNYX_FROM,\n        to: phone,\n        text: smsText\n      },\n      json: true\n    });\n    sentCount++;\n  } catch (e) {\n    console.log(`[SMS] Failed to send to ${phone}:`, e.message);\n  }\n}\n\nconsole.log(`[SMS] Sent ${sentCount}/${recipients.length} messages`);\nreturn { ...d, _sms_sent: sentCount > 0, _sms_count: sentCount };"}, "id": "node-placeholder-sms", "name": "Send Client SMS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 500]}, {"parameters": {"jsCode": "const d = $input.first().json;\n\n// \u2500\u2500 Error condition detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst disconnReason = (d.disconnection_reason || '').toLowerCase();\nconst callStatus    = (d.call_status || '').toLowerCase();\nconst transferAttempted = d.transfer_attempted || false;\nconst transferSuccess   = d.transfer_success;  // true | false | null\nconst clientFound   = d._client_found !== false; // false = Supabase lookup failed\nconst geocodeStatus = (d.geocode_status || '').toLowerCase();\nconst gptFailed     = d._gpt_failed || false;\n\n// Retell disconnection reasons that indicate a problem\nconst TRANSFER_FAIL_REASONS = [\n  'dial_failed', 'dial_busy', 'dial_no_answer',\n  'dial_no_answer_voicemail', 'transfer_failed',\n  'transfer_to_human_failed', 'voicemail',\n  'inactivity', 'machine_detected'\n];\n\nconst HARD_ERROR_REASONS = [\n  'error', 'error_inbound_webhook', 'error_llm_websocket',\n  'error_frontend_websocket', 'error_no_answer_human_response',\n  'concurrency_limit_reached', 'server_error',\n  'rate_limit_error', 'webhook_failed'\n];\n\nconst SUSPICIOUS_REASONS = [\n  'abandoned', 'call_ended_early'\n];\n\n// Evaluate all error conditions\nconst errors = [];\n\n// 1. Hard system errors\nif (HARD_ERROR_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'SYSTEM_ERROR', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\nif (callStatus === 'error' || callStatus === 'failed') {\n  errors.push({ type: 'CALL_STATUS_ERROR', detail: `call_status: ${d.call_status}` });\n}\n\n// 2. Transfer failures\nif (TRANSFER_FAIL_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'TRANSFER_FAILED', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\nif (transferAttempted && transferSuccess === false) {\n  errors.push({ type: 'TRANSFER_UNSUCCESSFUL', detail: 'Transfer was attempted but did not succeed' });\n}\n\n// 3. Suspicious / abnormal endings\nif (SUSPICIOUS_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'ABNORMAL_ENDING', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\n\n// 4. Client lookup failure (agent fired but client not in Supabase)\nif (!clientFound) {\n  errors.push({ type: 'CLIENT_NOT_FOUND', detail: `agent_id: ${d.agent_id} not found in Supabase` });\n}\n\n// 5. Very short calls (< 8 seconds, likely system fault not human hangup)\nconst dur = d.duration_seconds || 0;\nif (dur > 0 && dur < 8) {\n  errors.push({ type: 'CALL_TOO_SHORT', detail: `Duration: ${dur}s \u2014 likely failed connection` });\n}\n\n// 6. Geocode error (not blocking but worth knowing)\nif (geocodeStatus === 'error') {\n  errors.push({ type: 'GEOCODE_ERROR', detail: 'Address geocoding failed for this call' });\n}\n\n// 7. GPT analysis failed\nif (gptFailed) {\n  errors.push({ type: 'GPT_ANALYSIS_FAILED', detail: 'AI transcript analysis failed \u2014 call logged with raw data only' });\n}\n\n// \u2500\u2500 If no errors, exit silently \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (errors.length === 0) {\n  return [{ json: { ...d, _alert_sent: false, _alert_reason: 'no_errors' } }];\n}\n\n// \u2500\u2500 Build alert email \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst primaryError = errors[0];\nconst errorCount = errors.length;\nconst isCritical = ['SYSTEM_ERROR','CALL_STATUS_ERROR','CLIENT_NOT_FOUND'].includes(primaryError.type);\nconst accentColour = isCritical ? '#EF4444' : '#F59E0B';\nconst tierLabel = d.company_name ? ` \u2014 ${d.company_name}` : '';\nconst subject = `\ud83d\udea8 [CALL ${primaryError.type}]${tierLabel} | ${d.call_id || 'unknown'}`;\n\nconst errorRows = errors.map(e =>\n  `<tr>\n    <td style=\"padding:10px 16px;border-bottom:1px solid #FEE2E2;background:#FFF5F5\">\n      <span style=\"font-size:11px;font-weight:700;color:${accentColour};letter-spacing:0.05em;text-transform:uppercase\">${e.type.replace(/_/g,' ')}</span>\n      <div style=\"font-size:13px;color:#374151;margin-top:3px\">${e.detail}</div>\n    </td>\n  </tr>`\n).join('');\n\nconst ICON_URL = 'https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png';\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr>\n    <td style=\"vertical-align:middle;padding-right:10px\"><img src=\"${ICON_URL}\" width=\"36\" height=\"36\" style=\"display:block;border:0\" alt=\"\"></td>\n    <td style=\"vertical-align:middle;text-align:left\">\n      <div style=\"font-family:Georgia,serif;font-size:20px;color:#6C63FF;line-height:1.1\">Syntharra</div>\n      <div style=\"font-size:7px;font-weight:700;color:#111;letter-spacing:3px;text-transform:uppercase;margin-top:2px\">AI SOLUTIONS</div>\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden\">\n  <div style=\"height:4px;background:${accentColour}\"></div>\n  <div style=\"padding:28px 32px\">\n    <p style=\"margin:0 0 6px\">\n      <span style=\"font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#fff;background:${accentColour};padding:3px 10px;border-radius:20px\">\n        ${isCritical ? 'CRITICAL' : 'WARNING'} \u00b7 ${errorCount} issue${errorCount > 1 ? 's' : ''} detected\n      </span>\n    </p>\n    <h2 style=\"color:#1A1A2E;font-size:20px;font-weight:700;margin:16px 0 4px\">Call Error Alert</h2>\n    <p style=\"color:#6B7280;font-size:14px;margin:0 0 24px\">A call processed by your AI Receptionist triggered ${errorCount > 1 ? 'multiple error conditions' : 'an error condition'} requiring your attention.</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n      <tr><td colspan=\"2\" style=\"padding:12px 16px;background:#FAFAFA;font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;border-bottom:1px solid #E5E7EB\">Call Details</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px;width:40%\">Call ID</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.call_id || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Client</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.company_name || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Caller</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.caller_name || d.from_number || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Duration</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.duration_seconds || 0}s</td></tr>\n      <tr><td style=\"padding:10px 16px;color:#6B7280;font-size:13px\">Disconnect Reason</td><td style=\"padding:10px 16px;font-weight:600;color:#1A1A2E;font-size:13px\">${d.disconnection_reason || '\u2014'}</td></tr>\n    </table>\n    <p style=\"font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">Error Conditions Detected</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #FEE2E2;border-radius:10px;overflow:hidden;margin-bottom:20px\">\n      ${errorRows}\n    </table>\n    ${d.transcript ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F9F9FC;border-radius:10px;margin-bottom:20px\"><tr><td style=\"padding:14px 18px\">\n      <p style=\"font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">Transcript Snippet</p>\n      <p style=\"font-size:13px;color:#374151;line-height:1.6;margin:0\">${d.transcript.substring(0,400)}${d.transcript.length > 400 ? '...' : ''}</p>\n    </td></tr></table>` : ''}\n    <p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:0\">Syntharra AI Receptionist \u00b7 ${new Date().toUTCString()}</p>\n  </div>\n</td></tr>\n<tr><td style=\"padding:16px;text-align:center\">\n  <a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;font-size:12px;text-decoration:none;font-weight:600\">syntharra.com</a>\n</td></tr>\n</table></td></tr></table>\n</body></html>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra Alerts <noreply@syntharra.com>',\n      to: ['alerts@syntharra.com'],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return [{ json: { ...d, _alert_sent: true, _alert_errors: errors } }];\n} catch (e) {\n  console.log('[ALERT] Send failed:', e.message);\n  return [{ json: { ...d, _alert_sent: false, _alert_errors: errors, _alert_send_error: e.message } }];\n}\n"}, "id": "node-internal-notify", "name": "Internal Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 700]}, {"parameters": {"jsCode": "// Log non-notifiable calls\nconst data = $('Parse Call Data').first().json;\nconsole.log(`[PREMIUM] No notification: type=${data.notification_type}, score=${data.lead_score}, call_id=${data.call_id}`);\nreturn { logged: true, notification_type: data.notification_type, call_id: data.call_id };"}, "id": "node-log-no-notify", "name": "Log: No Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 900]}, {"id": "a2391bc9-0c2f-4917-97b0-b6c91e94064d", "name": "Check Repeat Caller", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 512], "parameters": {"jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\n// Query Supabase for previous calls from this number to this agent's company\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    \n    // Build caller history context for GPT\n    let historyContext = `REPEAT CALLER DETECTED \u2014 ${callCount} previous call(s) from this number.\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.booking_success) historyContext += `Had a booking: Yes (${lastCall.appointment_date || 'date unknown'})\\n`;\n    if (lastCall.summary) historyContext += `Last call summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _last_service: lastCall.service_requested || '',\n      _last_call_date: lastCall.created_at || '',\n      _last_booking: lastCall.booking_success || false,\n      _call_history: response,\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"}}], "connections": {"Retell Premium Webhook": {"main": [[{"node": "Filter: call_analyzed Only", "type": "main", "index": 0}]]}, "Filter: call_analyzed Only": {"main": [[{"node": "Extract Call Data", "type": "main", "index": 0}]]}, "Extract Call Data": {"main": [[{"node": "Look Up Client", "type": "main", "index": 0}]]}, "Look Up Client": {"main": [[{"node": "Parse Client Data", "type": "main", "index": 0}]]}, "Parse Client Data": {"main": [[{"node": "Check Repeat Caller", "type": "main", "index": 0}]]}, "GPT: Analyze Call": {"main": [[{"node": "Parse Call Data", "type": "main", "index": 0}]]}, "Parse Call Data": {"main": [[{"node": "Log Call to Supabase", "type": "main", "index": 0}]]}, "Log Call to Supabase": {"main": [[{"node": "Route Notifications", "type": "main", "index": 0}, {"node": "Internal Notification", "type": "main", "index": 0}]]}, "Route Notifications": {"main": [[{"node": "Should Notify?", "type": "main", "index": 0}]]}, "Should Notify?": {"main": [[{"node": "Send Client Email", "type": "main", "index": 0}, {"node": "Send Client SMS", "type": "main", "index": 0}], [{"node": "Log: No Notification", "type": "main", "index": 0}]]}, "Check Repeat Caller": {"main": [[{"node": "GPT: Analyze Call", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "versionId": "e737c0e5-a1bb-4787-a583-bc7d75eb447a", "activeVersionId": "e737c0e5-a1bb-4787-a583-bc7d75eb447a", "versionCounter": 22, "triggerCount": 1, "shared": [{"updatedAt": "2026-03-30T01:08:16.485Z", "createdAt": "2026-03-30T01:08:16.485Z", "role": "workflow:owner", "workflowId": "STQ4Gt3rH8ptlvMi", "projectId": "PHE9TwI1tz9lKI9q", "project": {"updatedAt": "2026-03-30T01:04:12.384Z", "createdAt": "2026-03-30T00:03:18.522Z", "id": "PHE9TwI1tz9lKI9q", "name": "Daniel Blackmore <daniel@syntharra.com>", "type": "personal", "icon": null, "description": null, "creatorId": "0eceaa4a-6883-4340-8413-32460f7a990b"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-30T03:26:23.932Z", "createdAt": "2026-03-30T03:26:23.932Z", "versionId": "e737c0e5-a1bb-4787-a583-bc7d75eb447a", "workflowId": "STQ4Gt3rH8ptlvMi", "nodes": [{"parameters": {"httpMethod": "POST", "path": "retell-hvac-premium-webhook", "options": {}}, "id": "node-retell-webhook", "name": "Retell Premium Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-1440, 512], "webhookId": "6dddc745-704b-479b-8274-ac49b133d5c5"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"leftValue": "={{ $json.body.event }}", "rightValue": "call_analyzed", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}}, "id": "node-filter-analyzed", "name": "Filter: call_analyzed Only", "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [-1120, 512]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nconst agentId = call.agent_id || '';\nconst callId = call.call_id || '';\nconst transcript = call.transcript || '';\nconst durationMs = call.duration_ms || 0;\nconst callStatus = call.call_status || '';\nconst fromNumber = call.from_number || '';\nconst toNumber = call.to_number || '';\nconst disconnectionReason = call.disconnection_reason || '';\nconst analysis = call.call_analysis || {};\n\nreturn {\n  agent_id: agentId,\n  call_id: callId,\n  transcript: transcript,\n  from_number: fromNumber,\n  to_number: toNumber,\n  duration_seconds: Math.round(durationMs / 1000),\n  call_status: callStatus,\n  disconnection_reason: disconnectionReason,\n  call_analysis: analysis,\n  call_timestamp: new Date().toISOString()\n};"}, "id": "node-extract-call-data", "name": "Extract Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-800, 512]}, {"id": "node-lookup-client", "name": "Look Up Client", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-480, 512], "parameters": {"method": "GET", "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_agent?agent_id=eq.{{ $json.agent_id }}&select=*", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"}]}, "options": {}}}, {"parameters": {"jsCode": "const callData = $('Extract Call Data').first().json;\nconst rawInput = $input.first().json;\n\n// n8n httpRequest with Supabase REST: when Supabase returns [{...}], \n// n8n passes the single object as the item json directly.\n// When Supabase returns [], n8n passes nothing (0 items) and this node won't run.\n// But with neverError, it may pass the empty array or an error object.\n\nlet client = rawInput;\n\n// Check if this is a Supabase error or empty response\nif (!client || !client.company_name) {\n  // Could be error object from Supabase\n  if (client && client.code) {\n    console.log('Supabase error:', client.code, client.message);\n  }\n  return {\n    ...callData,\n    company_name: 'Unknown Company',\n    client_email: '',\n    lead_email: '',\n    lead_phone: '',\n    lead_contact_method: 'Both',\n    notification_email_2: '',\n    notification_email_3: '',\n    notification_sms_2: '',\n    notification_sms_3: '',\n    timezone: 'America/Chicago',\n    calendar_platform: '',\n    crm_platform: '',\n    _client_found: false\n  };\n}\n\nreturn {\n  ...callData,\n  company_name: client.company_name || '',\n  client_email: client.client_email || '',\n  lead_email: client.lead_email || '',\n  lead_phone: client.lead_phone || '',\n  lead_contact_method: client.lead_contact_method || 'Both',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  timezone: client.timezone || 'America/Chicago',\n  calendar_platform: client.calendar_platform || '',\n  crm_platform: client.crm_platform || '',\n  _client_found: true\n};"}, "id": "node-parse-client-data", "name": "Parse Client Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-160, 512]}, {"id": "node-gpt-analyze", "name": "GPT: Analyze Call", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [160, 512], "parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a call analysis specialist for a premium HVAC AI receptionist service. Analyze the call transcript and extract ALL relevant data.\n\nReturn a JSON object with these fields:\n\nCALLER INFORMATION:\n- caller_name (string): Full name if provided, empty string if not\n- caller_phone (string): Phone number if stated, empty string if not\n- caller_address (string): Service address if provided, empty string if not\n- caller_sentiment (string): happy, neutral, frustrated, angry, anxious, grateful\n\nCALL CLASSIFICATION:\n- call_type (string): new_booking, reschedule, cancellation, emergency, callback, existing_customer, general_question, spam, transfer_request\n- service_requested (string): Specific service discussed\n- urgency (string): low, medium, high, emergency\n- job_type (string): Repair, Maintenance, Installation, Estimate, Emergency, Inspection, General, Other\n\nBOOKING DATA:\n- booking_attempted (boolean): Did the agent try to book?\n- booking_success (boolean): Was an appointment confirmed?\n- appointment_date (string): YYYY-MM-DD or empty string\n- appointment_time_window (string): morning or afternoon or empty string\n- job_type_booked (string): Service booked or empty string\n- reschedule_or_cancel (string): reschedule, cancel, or neither\n\nLEAD QUALIFICATION:\n- lead_score (integer 0-10): 0=spam, 1-3=low, 4-6=moderate, 7-8=high, 9-10=hot. Booking made=9-10. Booking attempted but failed=7-8.\n- is_hot_lead (boolean): true if lead_score >= 7\n- is_lead (boolean): true if any service need expressed\n\nADDITIONAL:\n- vulnerable_occupant (boolean): elderly, disabled, young children mentioned\n- transfer_attempted (boolean): Was transfer attempted?\n- transfer_success (boolean or null): true/false/null\n- summary (string): 1-3 sentence summary with outcome and action needed\n- notes (string): Important additional details\n\nReturn ONLY valid JSON. No markdown, no backticks.", "role": "system"}, {"content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\n\nRepeat caller context:\n{{ $json._history_context || \"First-time caller\" }}\n\nPost-call analysis:\n{{ JSON.stringify($json.call_analysis || {}) }}"}]}, "options": {"temperature": 0.2}}, "credentials": {"openAiApi": {"id": "1uzBYwyR7Q7bdkZe", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "\n// Merge GPT analysis with original call data from Check Repeat Caller\nconst gptOutput = $input.first().json;\nconst originalData = $('Check Repeat Caller').first().json;\n\n// Parse GPT content - it returns nested JSON object\nlet gptData = {};\ntry {\n  const content = gptOutput.message?.content || gptOutput.content || '';\n  if (typeof content === 'string' && content.trim().startsWith('{')) {\n    const parsed = JSON.parse(content);\n    // Flatten the nested GPT structure\n    gptData = {\n      ...(parsed['CALLER INFORMATION'] || {}),\n      ...(parsed['CALL CLASSIFICATION'] || {}),\n      ...(parsed['BOOKING DATA'] || {}),\n      ...(parsed['LEAD QUALIFICATION'] || {}),\n      ...(parsed['ADDITIONAL'] || {}),\n    };\n  }\n} catch(e) {\n  // GPT parsing failed \u2014 use original call_analysis data\n}\n\n// Merge: original data takes priority for call metadata, GPT data fills analysis fields\nconst merged = {\n  // Core call identifiers from original (never from GPT)\n  call_id: originalData.call_id,\n  agent_id: originalData.agent_id,\n  company_name: originalData.company_name,\n  client_email: originalData.client_email,\n  lead_email: originalData.lead_email,\n  lead_phone: originalData.lead_phone,\n  lead_contact_method: originalData.lead_contact_method,\n  notification_email_2: originalData.notification_email_2,\n  notification_email_3: originalData.notification_email_3,\n  notification_sms_2: originalData.notification_sms_2,\n  notification_sms_3: originalData.notification_sms_3,\n  timezone: originalData.timezone,\n  calendar_platform: originalData.calendar_platform,\n  crm_platform: originalData.crm_platform,\n  from_number: originalData.from_number,\n  to_number: originalData.to_number,\n  transcript: originalData.transcript,\n  duration_seconds: originalData.duration_seconds,\n  disconnection_reason: originalData.disconnection_reason,\n  call_timestamp: originalData.call_timestamp,\n  is_repeat_caller: originalData.is_repeat_caller || false,\n  repeat_call_count: originalData.repeat_call_count || 0,\n  _client_found: originalData._client_found,\n  \n  // Analysis fields from GPT (fall back to call_analysis if GPT failed)\n  caller_name: gptData.caller_name || originalData.call_analysis?.custom_analysis_data?.caller_name || '',\n  caller_phone: gptData.caller_phone || originalData.call_analysis?.custom_analysis_data?.caller_phone || originalData.from_number || '',\n  caller_address: gptData.caller_address || originalData.call_analysis?.custom_analysis_data?.caller_address || '',\n  caller_email: gptData.caller_email || originalData.call_analysis?.custom_analysis_data?.caller_email || '',\n  caller_sentiment: gptData.caller_sentiment || originalData.call_analysis?.user_sentiment || '',\n  call_type: gptData.call_type || originalData.call_analysis?.custom_analysis_data?.call_type || '',\n  service_requested: gptData.service_requested || originalData.call_analysis?.custom_analysis_data?.service_requested || '',\n  urgency: gptData.urgency || originalData.call_analysis?.custom_analysis_data?.urgency || '',\n  job_type: gptData.job_type || originalData.call_analysis?.custom_analysis_data?.service_requested || '',\n  lead_score: gptData.lead_score ?? originalData.call_analysis?.custom_analysis_data?.lead_score ?? 0,\n  is_hot_lead: gptData.is_hot_lead ?? originalData.call_analysis?.custom_analysis_data?.is_hot_lead ?? false,\n  is_lead: gptData.is_lead ?? (gptData.lead_score > 3) ?? false,\n  booking_attempted: gptData.booking_attempted ?? originalData.call_analysis?.custom_analysis_data?.booking_attempted ?? false,\n  booking_success: gptData.booking_success ?? originalData.call_analysis?.custom_analysis_data?.booking_success ?? false,\n  appointment_date: gptData.appointment_date || originalData.call_analysis?.custom_analysis_data?.appointment_date || null,\n  appointment_time_window: gptData.appointment_time_window || originalData.call_analysis?.custom_analysis_data?.appointment_time_window || '',\n  job_type_booked: gptData.job_type_booked || originalData.call_analysis?.custom_analysis_data?.job_type_booked || '',\n  reschedule_or_cancel: gptData.reschedule_or_cancel || 'neither',\n  vulnerable_occupant: gptData.vulnerable_occupant || false,\n  transfer_attempted: gptData.transfer_attempted || false,\n  transfer_success: gptData.transfer_success ?? null,\n  summary: gptData.summary || originalData.call_analysis?.call_summary || '',\n  notes: gptData.notes || '',\n  notification_type: '',\n  notification_priority: gptData.lead_score >= 8 ? 'high' : gptData.lead_score >= 5 ? 'normal' : 'low',\n};\n\nreturn [{ json: merged }];\n"}, "id": "node-parse-call-data", "name": "Parse Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480, 512]}, {"id": "node-log-to-supabase", "name": "Log Call to Supabase", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, 512], "parameters": {"jsCode": "const d = $input.first().json;\n\nconst body = {\n  agent_id: d.agent_id || '',\n  call_id: d.call_id || '',\n  company_name: d.company_name || '',\n  call_tier: 'premium',\n  duration_seconds: d.duration_seconds || 0,\n  call_status: d.disconnection_reason || 'completed',\n  call_successful: d.booking_success || d.is_lead || false,\n  summary: d.summary || '',\n  caller_name: d.caller_name || '',\n  caller_phone: d.caller_phone || '',\n  caller_address: d.caller_address || '',\n  caller_sentiment: d.caller_sentiment || '',\n  lead_score: d.lead_score || 0,\n  is_lead: d.is_lead || false,\n  is_hot_lead: d.is_hot_lead || false,\n  job_type: d.job_type || '',\n  urgency: d.urgency || '',\n  vulnerable_occupant: d.vulnerable_occupant || false,\n  notes: d.notes || '',\n  service_requested: d.service_requested || '',\n  booking_attempted: d.booking_attempted || false,\n  booking_success: d.booking_success || false,\n  appointment_date: d.appointment_date || null,\n  appointment_time: d.appointment_time_window || '',\n  job_type_booked: d.job_type_booked || '',\n  reschedule_requested: d.reschedule_or_cancel === 'reschedule',\n  cancellation_requested: d.reschedule_or_cancel === 'cancel',\n  call_type: d.call_type || '',\n  transfer_attempted: d.transfer_attempted || false,\n  transfer_success: d.transfer_success === true ? true : d.transfer_success === false ? false : null,\n  from_number: d.from_number || '',\n  notification_type: d.notification_type || '',\n  notification_priority: d.notification_priority || '',\n  is_repeat_caller: d.is_repeat_caller || false,\n  repeat_call_count: d.repeat_call_count || 0\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log',\n  headers: {\n    'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n    'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation,resolution=ignore-duplicates'\n  },\n  body: body,\n  json: true\n});\n\n// Pass through all original data plus the Supabase response\nreturn { ...d, _supabase_logged: true, _supabase_id: Array.isArray(response) && response[0] ? response[0].id : null };", "authentication": "none", "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Content-Type", "value": "application/json"}, {"name": "Prefer", "value": "return=representation,resolution=ignore-duplicates,duplicate=merge"}]}, "sendHeaders": true}}, {"parameters": {"jsCode": "// Should we send notifications?\nconst data = $('Parse Call Data').first().json;\nconst shouldNotify = data.should_notify || false;\nconst notificationType = data.notification_type || 'unknown';\nconst leadEmail = data.lead_email || '';\n\nreturn {\n  should_notify: shouldNotify && leadEmail,\n  notification_type: notificationType,\n  ...data\n};"}, "id": "node-route-notifications", "name": "Route Notifications", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1440, 400]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "should-notify", "leftValue": "={{ $json.should_notify }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}}, "id": "node-should-notify", "name": "Should Notify?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1680, 400]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'New Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) {\n  console.log('[EMAIL] No email or HTML \u2014 skipping');\n  return { ...d, _email_sent: false, _reason: 'No email address or HTML' };\n}\n\n// Build recipient list\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\nconst SMTP2GO_KEY = 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E';\n\nif (!SMTP2GO_KEY) {\n  console.log('[EMAIL] SMTP2GO_API_KEY not set \u2014 logging only');\n  console.log(`[EMAIL] Would send to: ${recipients.join(', ')}`);\n  console.log(`[EMAIL] Subject: ${emailSubject}`);\n  return { ...d, _email_sent: false, _reason: 'SMTP2GO_API_KEY not configured' };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  \n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}: ${emailSubject}`);\n  return { ...d, _email_sent: true, _email_recipients: recipients };\n} catch (e) {\n  console.log('[EMAIL] Send failed:', e.message);\n  return { ...d, _email_sent: false, _reason: e.message };\n}"}, "id": "node-placeholder-email", "name": "Send Client Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 300]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) {\n  console.log('[SMS] No phone or text \u2014 skipping');\n  return { ...d, _sms_sent: false, _reason: 'No phone number or text' };\n}\n\n// Build recipient list\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst TELNYX_KEY = $vars.TELNYX_API_KEY || '';\nconst TELNYX_FROM = $vars.TELNYX_FROM_NUMBER || '';\n\n// \u2500\u2500 SMS DISABLED UNTIL TELNYX IS CONFIGURED \u2500\u2500\n// When ready: set TELNYX_API_KEY and TELNYX_FROM_NUMBER in n8n Variables\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\n\nif (!SMS_ENABLED || !TELNYX_KEY || !TELNYX_FROM) {\n  console.log(`[SMS] Disabled or not configured \u2014 would send to: ${recipients.join(', ')}`);\n  console.log(`[SMS] Text: ${smsText.substring(0, 100)}`);\n  return { ...d, _sms_sent: false, _reason: 'SMS disabled \u2014 awaiting Telnyx configuration' };\n}\n\n// Send to each recipient\nlet sentCount = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.telnyx.com/v2/messages',\n      headers: {\n        'Authorization': 'Bearer ' + TELNYX_KEY,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        from: TELNYX_FROM,\n        to: phone,\n        text: smsText\n      },\n      json: true\n    });\n    sentCount++;\n  } catch (e) {\n    console.log(`[SMS] Failed to send to ${phone}:`, e.message);\n  }\n}\n\nconsole.log(`[SMS] Sent ${sentCount}/${recipients.length} messages`);\nreturn { ...d, _sms_sent: sentCount > 0, _sms_count: sentCount };"}, "id": "node-placeholder-sms", "name": "Send Client SMS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 500]}, {"parameters": {"jsCode": "const d = $input.first().json;\nconst companyName = d.company_name || '';\nconst callerName = d.caller_name || 'Unknown';\nconst notificationType = d.notification_type || 'unknown';\nconst summary = d.summary || '';\nconst callId = d.call_id || '';\n\nconst SMTP2GO_KEY = 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E';\nconst internalEmail = 'admin@syntharra.com'; // Change to support@syntharra.com at go-live\n\nconst subject = `[${notificationType.toUpperCase()}] ${callerName} \u2014 ${companyName} | Call ${callId}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">${notificationType.replace(/_/g,' ').toUpperCase()} \u2014 ${companyName}</h3>\n<p><strong>Caller:</strong> ${callerName}</p>\n<p><strong>Type:</strong> ${notificationType}</p>\n<p><strong>Summary:</strong> ${summary}</p>\n<p><strong>Call ID:</strong> ${callId}</p>\n<p style=\"color:#999;font-size:12px\">Syntharra AI Premium \u2014 Internal Notification</p>\n</div>`;\n\nif (!SMTP2GO_KEY) {\n  console.log(`[INTERNAL] ${subject}`);\n  return { ...d, _internal_sent: false, _reason: 'SMTP2GO_API_KEY not configured' };\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: [internalEmail],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return { ...d, _internal_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Send failed:', e.message);\n  return { ...d, _internal_sent: false, _reason: e.message };\n}"}, "id": "node-internal-notify", "name": "Internal Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 700]}, {"parameters": {"jsCode": "// Log non-notifiable calls\nconst data = $('Parse Call Data').first().json;\nconsole.log(`[PREMIUM] No notification: type=${data.notification_type}, score=${data.lead_score}, call_id=${data.call_id}`);\nreturn { logged: true, notification_type: data.notification_type, call_id: data.call_id };"}, "id": "node-log-no-notify", "name": "Log: No Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 900]}, {"id": "a2391bc9-0c2f-4917-97b0-b6c91e94064d", "name": "Check Repeat Caller", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, 512], "parameters": {"jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\n// Query Supabase for previous calls from this number to this agent's company\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_premium_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    \n    // Build caller history context for GPT\n    let historyContext = `REPEAT CALLER DETECTED \u2014 ${callCount} previous call(s) from this number.\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.booking_success) historyContext += `Had a booking: Yes (${lastCall.appointment_date || 'date unknown'})\\n`;\n    if (lastCall.summary) historyContext += `Last call summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _last_service: lastCall.service_requested || '',\n      _last_call_date: lastCall.created_at || '',\n      _last_booking: lastCall.booking_success || false,\n      _call_history: response,\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"}}], "connections": {"Retell Premium Webhook": {"main": [[{"node": "Filter: call_analyzed Only", "type": "main", "index": 0}]]}, "Filter: call_analyzed Only": {"main": [[{"node": "Extract Call Data", "type": "main", "index": 0}]]}, "Extract Call Data": {"main": [[{"node": "Look Up Client", "type": "main", "index": 0}]]}, "Look Up Client": {"main": [[{"node": "Parse Client Data", "type": "main", "index": 0}]]}, "Parse Client Data": {"main": [[{"node": "Check Repeat Caller", "type": "main", "index": 0}]]}, "GPT: Analyze Call": {"main": [[{"node": "Parse Call Data", "type": "main", "index": 0}]]}, "Parse Call Data": {"main": [[{"node": "Log Call to Supabase", "type": "main", "index": 0}]]}, "Log Call to Supabase": {"main": [[{"node": "Route Notifications", "type": "main", "index": 0}]]}, "Route Notifications": {"main": [[{"node": "Should Notify?", "type": "main", "index": 0}]]}, "Should Notify?": {"main": [[{"node": "Send Client Email", "type": "main", "index": 0}, {"node": "Send Client SMS", "type": "main", "index": 0}, {"node": "Internal Notification", "type": "main", "index": 0}], [{"node": "Log: No Notification", "type": "main", "index": 0}]]}, "Check Repeat Caller": {"main": [[{"node": "GPT: Analyze Call", "type": "main", "index": 0}]]}}, "authors": "Daniel Blackmore", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-30T03:26:24.012Z", "id": 64, "workflowId": "STQ4Gt3rH8ptlvMi", "versionId": "e737c0e5-a1bb-4787-a583-bc7d75eb447a", "event": "deactivated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}, {"createdAt": "2026-03-30T03:26:24.046Z", "id": 65, "workflowId": "STQ4Gt3rH8ptlvMi", "versionId": "e737c0e5-a1bb-4787-a583-bc7d75eb447a", "event": "activated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}]}}