workflow-backups/hvac-std-call-processor.json
{"updatedAt": "2026-03-30T04:17:13.230Z", "createdAt": "2026-03-30T01:08:47.098Z", "id": "Kg576YtPM9yEacKn", "name": "HVAC Standard Call Processor", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "retell-hvac-webhook", "options": {}}, "id": "94b607a1-e9f8-4a75-bbfb-ae7d1a72c351", "name": "Retell Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-1920, 112], "webhookId": "66fdd35b-30b1-4776-9fd7-e0751a45624e"}, {"parameters": {"jsCode": "\n// Retell sends events at different paths depending on event type\n// Check all possible locations for the event field\nconst body = $input.first().json.body || $input.first().json;\nconst event = body.event || $input.first().json.event || '';\n\n// Also require a transcript to exist (blocks call_started which has empty transcript)\nconst call = body.call || body;\nconst transcript = call.transcript || '';\n\nif (event !== 'call_analyzed') {\n  // Not a call_analyzed event - stop processing\n  return [];\n}\n\nif (!transcript || transcript.trim() === '') {\n  // call_analyzed but no transcript yet - stop processing  \n  return [];\n}\n\n// Valid call_analyzed with transcript - pass through\nreturn $input.first().json;\n"}, "id": "4386e044-9ca0-4ab5-96b1-4c31ddf0e900", "name": "Filter: call_analyzed Only", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1680, 112]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nreturn {\n  call_id: call.call_id || '',\n  agent_id: call.agent_id || '',\n  from_number: call.from_number || '',\n  to_number: call.to_number || '',\n  transcript: call.transcript || '',\n  duration_seconds: Math.round((call.end_timestamp - call.start_timestamp) / 1000) || 0,\n  disconnection_reason: call.disconnection_reason || '',\n  call_analysis: call.call_analysis || {},\n  call_timestamp: new Date().toISOString()\n};"}, "id": "e9cd3473-17e9-4d3d-b4d6-02c3bdd84c8e", "name": "Extract Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1440, 112]}, {"parameters": {"url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?agent_id=eq.{{ $json.agent_id }}&select=*", "authentication": "none", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}]}, "options": {}}, "id": "b4ff94eb-c081-4f4b-8fe2-c05ec2da49a5", "name": "Supabase: Lookup Client", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-1200, 112], "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "const clients = $input.first().json;\nconst callData = $('Extract Call Data').first().json;\nconst client = Array.isArray(clients) ? clients[0] : clients;\n\nif (!client || !client.company_name) {\n  return {\n    ...callData,\n    client_found: false,\n    company_name: 'Unknown', agent_name: 'Unknown',\n    lead_phone: '', lead_email: '',\n    notification_email_2: '', notification_email_3: '',\n    notification_sms_2: '', notification_sms_3: '',\n    twilio_from: '', timezone: 'America/Chicago'\n  };\n}\n\nreturn {\n  ...callData,\n  client_found: true,\n  company_name: client.company_name || '',\n  agent_name: client.agent_name || '',\n  lead_phone: client.lead_phone || '',\n  lead_email: client.lead_email || '',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  twilio_from: client.twilio_from || client.twilio_number || '',\n  timezone: client.timezone || 'America/Chicago',\n  lead_contact_method: client.lead_contact_method || 'Both'\n};"}, "id": "e56fdaa7-562f-4e11-b5cb-b0f3a162f859", "name": "Parse Client Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 112]}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a call classifier for an HVAC company AI receptionist. Analyze the transcript and context, then return a JSON classification.\n\nLEAD DEFINITION \u2014 IS a lead (is_lead=true) if the caller wants ANY of the following:\n- Repair or fix for any HVAC system\n- Installation or replacement\n- Maintenance, tune-up, service, or annual check\n- Estimate or quote for any work\n- Emergency service\nWhen in doubt, mark is_lead=true. ANY request for HVAC work of any kind is a lead.\n\nNOT a lead (is_lead=false) ONLY if:\n- Complaint about a previous completed job with no new work requested\n- Existing job status check only (part ordered? tech coming when?)\n- Billing dispute or refund request only\n- Obvious spam, robocall, or telemarketer\n- Wrong number\n- Caller hangs up with zero service request made\n\nSPAM: is_lead=false, call_tier=Standard, lead_score=1 for robocall patterns (\"press 1\", \"lower your rates\", repetitive selling, no HVAC request).\n\nCALL TIER \u2014 must be exactly one of:\n- \"Emergency\": HUMAN safety risk only \u2014 no heat in freezing temps with people present, no AC in extreme heat with vulnerable person (baby, elderly, medical), burning smell, gas smell, active flooding, system failure causing immediate health risk. ALSO Emergency if local_hour is 22-6 AND system is not working. Business/commercial impact alone (restaurant opening, office too hot) is NOT Emergency \u2014 that is Urgent.\n- \"Urgent\": System not working but no immediate safety risk, caller needs service today or ASAP, commercial property affected.\n- \"Standard\": Routine, flexible timing, quote only, maintenance scheduling. Also use for all non-leads.\n\nVULNERABILITY: vulnerable_occupant=true if transcript mentions baby, infant, newborn, toddler, young children, elderly, senior, disabled, medical condition, oxygen, medication needing refrigeration.\n\nJOB TYPE: \"Residential\" (home/apartment), \"Commercial\" (business, office, restaurant, shop), \"Multi-Unit\" (apartment building, complex, multiple units).\n\nCALLER SENTIMENT: 1=very distressed or angry, 2=frustrated, 3=neutral, 4=cooperative, 5=calm and easy.\n\nReturn ONLY valid JSON \u2014 no markdown, no explanation:\n{\n  \"is_lead\": boolean,\n  \"call_tier\": \"Emergency\"|\"Urgent\"|\"Standard\",\n  \"lead_score\": integer 1-10,\n  \"caller_name\": string,\n  \"caller_phone\": string,\n  \"caller_address\": string,\n  \"service_requested\": \"Repair\"|\"Maintenance\"|\"Installation\"|\"Estimate\"|\"Emergency\"|\"Complaint\"|\"Spam\"|\"WrongNumber\"|\"ExistingCustomer\"|\"Other\",\n  \"job_type\": \"Residential\"|\"Commercial\"|\"Multi-Unit\",\n  \"vulnerable_occupant\": boolean,\n  \"caller_sentiment\": integer 1-5,\n  \"summary\": \"1-2 sentence summary\",\n  \"urgency\": \"Low\"|\"Medium\"|\"High\"|\"Emergency\",\n  \"notes\": \"key details: communication issues, partial info, after-hours, transfer attempts\"\n}", "role": "system"}, {"content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\nClient timezone: {{ $json.timezone || 'America/Chicago' }}\nLocal hour (24h): {{ (() => { try { return parseInt(new Date().toLocaleString('en-US', { timeZone: $json.timezone || 'America/Chicago', hour: 'numeric', hour12: false })); } catch(e) { return 12; } })() }}"}]}, "options": {"temperature": 0.2}}, "id": "755bd162-f2b5-46c6-acfc-48df05d57afb", "name": "GPT: Analyze Transcript", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [-720, 112], "credentials": {"openAiApi": {"id": "1uzBYwyR7Q7bdkZe", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "const gptRaw = $input.first().json.message?.content || $input.first().json.text || '{}';\nlet analysis = {};\ntry {\n  const clean = gptRaw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(clean);\n} catch(e) {\n  analysis = { is_lead: false, call_tier: 'Standard', lead_score: 0 };\n}\n\nconst clientData = $('Parse Client Data').item.json;\nconst callData   = $('Extract Call Data').item.json;\n\nconst durationMs = (callData.end_timestamp || 0) - (callData.start_timestamp || 0);\nconst durationSec = Math.round(durationMs / 1000);\n\nreturn {\n  // Call metadata\n  call_id:           callData.call_id,\n  agent_id:          callData.agent_id,\n  from_number:       callData.from_number,\n  to_number:         callData.to_number,\n  transcript:        callData.transcript,\n  duration_seconds:  durationSec,\n  call_timestamp:    new Date().toISOString(),\n\n  // Client config\n  company_name:         clientData.company_name,\n  agent_name:           clientData.agent_name,\n  lead_email:           clientData.lead_email,\n  lead_phone:           clientData.lead_phone,\n  notification_email_2: clientData.notification_email_2,\n  notification_email_3: clientData.notification_email_3,\n  notification_sms_2:   clientData.notification_sms_2,\n  notification_sms_3:   clientData.notification_sms_3,\n  twilio_from:          clientData.twilio_from,\n  timezone:             clientData.timezone,\n\n  // GPT classification \u2014 core\n  is_lead:           analysis.is_lead || false,\n  call_tier:         analysis.call_tier || 'Standard',\n  lead_score:        analysis.lead_score || 0,\n  caller_name:       analysis.caller_name || '',\n  caller_phone:      analysis.caller_phone || '',\n  caller_address:    analysis.caller_address || '',\n  service_requested: analysis.service_requested || 'Other',\n  summary:           analysis.summary || '',\n  urgency:           analysis.urgency || 'Low',\n  notes:             analysis.notes || '',\n\n  // GPT classification \u2014 new intelligence fields\n  job_type:            analysis.job_type || 'Residential',\n  vulnerable_occupant: analysis.vulnerable_occupant || false,\n  caller_sentiment:    analysis.caller_sentiment || 3\n};"}, "id": "e5dcf87c-0034-4530-abbf-c954895a2f9b", "name": "Parse Lead Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 112]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "is-lead-check", "leftValue": "={{ $json.is_lead }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}, "options": {}}, "id": "22a6deb1-22b2-4425-a625-e3253892f553", "name": "Is Lead?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-240, 112]}, {"parameters": {"method": "POST", "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log", "authentication": "none", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Prefer", "value": "return=representation,resolution=merge-duplicates"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { call_id: $json.call_id, agent_id: $json.agent_id, company_name: $json.company_name, caller_name: $json.caller_name || '', caller_phone: $json.caller_phone || $json.from_number || '', caller_address: $json.caller_address || '', service_requested: $json.service_requested || '', lead_score: $json.lead_score || 0, urgency: $json.urgency || '', call_tier: $json.call_tier || 'Standard', job_type: $json.job_type || 'Residential', vulnerable_occupant: $json.vulnerable_occupant || false, caller_sentiment: $json.caller_sentiment || 3, summary: $json.summary || '', notes: $json.notes || '', is_lead: $json.is_lead || false, duration_seconds: $json.duration_seconds || 0, geocode_status: $('Geocode: Parse Result').item.json.geocode_status || '', geocode_formatted: $('Geocode: Parse Result').item.json.geocode_formatted || '' } }}", "options": {}}, "id": "7b3027c9-ee1e-4e9f-98ab-af02ca8ea4a6", "name": "Supabase: Log Call", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [240, 112], "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "return { message: `Non-lead call logged: ${$json.call_id}, score: ${$json.lead_score}` };"}, "id": "d837f73e-190e-47f3-bba4-37dd04c10ddd", "name": "Log Non-Lead", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-240, 400]}, {"id": "geocode-http-001", "name": "Geocode: Maps API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-360, 112], "onError": "continueErrorOutput", "parameters": {"method": "GET", "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{encodeURIComponent($json.caller_address || '')}}&key=AIzaSyDzOcz3ySh4rkynyIyUEwDBu6zYARVkiVE", "options": {}}}, {"id": "geocode-parse-001", "name": "Geocode: Parse Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-120, 112], "parameters": {"jsCode": "\nconst leadData = $('Parse Lead Data').item.json;\nconst geoResponse = $input.first().json;\n\n// \u2500\u2500 GEOCODE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet geocode_status = 'not_provided', geocode_formatted = '', geocode_lat = null,\n    geocode_lng = null, geocode_maps_url = '', geocode_confidence = 'low', address_check_html = '';\n\nif (!leadData.caller_address || leadData.caller_address.trim().length < 5) {\n  geocode_status = 'not_provided';\n  address_check_html = '<span style=\"color:#718096\">\u2014 Not provided</span>';\n} else if (geoResponse.status === 'OK' && geoResponse.results && geoResponse.results.length > 0) {\n  const top = geoResponse.results[0];\n  geocode_formatted = top.formatted_address;\n  geocode_lat = top.geometry.location.lat;\n  geocode_lng = top.geometry.location.lng;\n  geocode_maps_url = 'https://maps.google.com/?q=' + encodeURIComponent(geocode_formatted);\n  const types = top.types || [];\n  if (types.includes('street_address') || types.includes('premise') || types.includes('subpremise')) {\n    geocode_status = 'verified'; geocode_confidence = 'high';\n    address_check_html = '<span style=\"color:#38a169;font-weight:600\">\u2705 Verified</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none;font-weight:600\">\ud83d\udccd View Map</a>';\n  } else if (types.includes('route') || types.includes('intersection')) {\n    geocode_status = 'partial'; geocode_confidence = 'medium';\n    address_check_html = '<span style=\"color:#d69e2e;font-weight:600\">\u26a0\ufe0f Partial match</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none\">\ud83d\udccd View Map</a>';\n  } else {\n    geocode_status = 'unverified'; geocode_confidence = 'low';\n    address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u26a0\ufe0f Unverified</span> \u2014 Closest: ' + geocode_formatted + '. Confirm with caller.';\n  }\n} else if (geoResponse.status === 'ZERO_RESULTS') {\n  geocode_status = 'not_found';\n  address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u274c Not found</span> \u2014 Confirm address with caller before dispatching.';\n} else {\n  geocode_status = 'error';\n  address_check_html = '<span style=\"color:#718096\">\u26a0\ufe0f Could not verify \u2014 confirm with caller</span>';\n}\n\n// \u2500\u2500 SCORE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst score = leadData.lead_score || 0;\nconst scoreColor = score >= 8 ? '#dc2626' : score >= 6 ? '#d97706' : '#718096';\nconst score_badge = '<span style=\"background:' + (score >= 8 ? '#fef2f2' : score >= 6 ? '#fffbeb' : '#f9fafb') + ';color:' + scoreColor + ';border:2px solid ' + scoreColor + ';border-radius:20px;padding:3px 12px;font-weight:700;font-size:15px\">' + score + '/10</span>';\n\n// \u2500\u2500 URGENCY BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst urgency = leadData.urgency || 'Medium';\nconst urgencyColor = urgency === 'Emergency' ? '#dc2626' : urgency === 'High' ? '#d97706' : urgency === 'Medium' ? '#2563eb' : '#718096';\nconst urgency_badge = '<span style=\"color:' + urgencyColor + ';font-weight:600\">' + urgency + '</span>';\n\n// \u2500\u2500 TIER BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst callTier = leadData.call_tier || 'Standard';\nconst tierMap = {\n  'Emergency': { bg: '#dc2626', label: '\ud83d\udea8 EMERGENCY \u2014 Transfer Attempted' },\n  'Urgent':    { bg: '#d97706', label: '\u26a1 URGENT \u2014 Respond Within 1 Hour' },\n  'Standard':  { bg: '#6C63FF', label: '\ud83d\udccb STANDARD \u2014 Business Hours' }\n};\nconst tc = tierMap[callTier] || tierMap['Standard'];\nconst tier_badge = '<span style=\"background:' + tc.bg + ';color:#ffffff;padding:5px 14px;border-radius:20px;font-size:12px;font-weight:700;font-family:Helvetica,Arial,sans-serif\">' + tc.label + '</span>';\n\n// \u2500\u2500 JOB TYPE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst jobType = leadData.job_type || 'Residential';\nconst jobColor = jobType === 'Commercial' ? '#7c3aed' : jobType === 'Multi-Unit' ? '#0369a1' : '#374151';\nconst jobBg    = jobType === 'Commercial' ? '#f5f3ff' : jobType === 'Multi-Unit' ? '#e0f2fe' : '#f9fafb';\nconst job_type_badge = '<span style=\"background:' + jobBg + ';color:' + jobColor + ';padding:2px 10px;border-radius:12px;font-size:12px;font-weight:600;border:1px solid ' + jobColor + '\">' + jobType + '</span>';\n\n// \u2500\u2500 VULNERABILITY FLAG \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst vulnerable = leadData.vulnerable_occupant || false;\nconst vulnerability_flag = vulnerable\n  ? '<span style=\"background:#fef2f2;color:#dc2626;padding:2px 10px;border-radius:12px;font-size:12px;font-weight:700;border:1px solid #dc2626\">\u26a0\ufe0f VULNERABLE OCCUPANT</span>'\n  : '';\n\n// \u2500\u2500 SENTIMENT INDICATOR \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst sentiment = leadData.caller_sentiment || 3;\nconst sentimentLabel = sentiment <= 2 ? '\ud83d\ude1f Distressed' : sentiment === 3 ? '\ud83d\ude10 Neutral' : '\ud83d\ude0a Cooperative';\nconst sentimentColor = sentiment <= 2 ? '#dc2626' : sentiment === 3 ? '#6b7280' : '#16a34a';\n\n// \u2500\u2500 DURATION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst dur = leadData.duration_seconds || 0;\nconst duration_formatted = dur >= 60 ? Math.floor(dur/60) + 'm ' + (dur%60) + 's' : dur + 's';\n\n// \u2500\u2500 SMS TEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Rich SMS with all key flags \u2014 keeps it scannable on a phone\nconst tierEmoji = callTier === 'Emergency' ? '\ud83d\udea8' : callTier === 'Urgent' ? '\u26a1' : '\ud83d\udccb';\nconst vulnFlag  = vulnerable ? ' \u26a0\ufe0fVULNERABLE' : '';\nconst repeatFlag = ''; // populated later by repeat caller check\nconst notifyType = leadData.notify_type || 'lead';\nconst sms_header = notifyType === 'emergency'\n  ? '\ud83d\udea8 EMERGENCY' + vulnFlag\n  : notifyType === 'customer_query'\n  ? '\ud83d\udcde CUSTOMER QUERY'\n  : '\ud83d\udd25 NEW LEAD';\nconst sms_text = sms_header + ' \u2014 ' + leadData.company_name + '\\n'\n  + '\ud83d\udc64 ' + (leadData.caller_name || 'Unknown') + '\\n'\n  + '\ud83d\udcde ' + (leadData.caller_phone || leadData.from_number || 'N/A') + '\\n'\n  + '\ud83d\udccd ' + (geocode_status === 'verified' ? geocode_formatted : leadData.caller_address || 'No address') + '\\n'\n  + '\ud83d\udd27 ' + (leadData.service_requested || 'General') + ' | ' + jobType + '\\n'\n  + '\u2b50 Score: ' + score + '/10\\n'\n  + '\ud83d\udcdd ' + (leadData.summary || '').slice(0, 100);\n\nreturn {\n  ...leadData,\n  geocode_status, geocode_formatted, geocode_lat, geocode_lng,\n  geocode_maps_url, geocode_confidence, address_check_html,\n  score_badge, urgency_badge, tier_badge, job_type_badge,\n  vulnerability_flag, sentimentLabel, sentimentColor,\n  duration_formatted, sms_text, call_tier: callTier\n};\n"}}, {"id": "classify-notification", "name": "Classify Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, -200], "parameters": {"jsCode": "\nconst service  = $json.service_requested || '';\nconst isLead   = $json.is_lead || false;\nconst callTier = $json.call_tier || 'Standard';\n\n// Completely drop \u2014 return [] stops n8n flow entirely\nconst dropTypes = ['Spam', 'WrongNumber'];\nif (dropTypes.includes(service)) {\n  return [];\n}\n\n// Classify notification type\nlet notify_type;\nif (callTier === 'Emergency') {\n  notify_type = 'emergency';          // red email always for emergency\n} else if (service === 'ExistingCustomer' || service === 'Complaint') {\n  notify_type = 'customer_query';     // amber email\n} else if (isLead) {\n  notify_type = 'lead';               // purple email\n} else {\n  notify_type = 'log_only';           // Supabase only, no email\n}\n\nreturn [{ json: { ...($input.first().json), notify_type } }];\n"}}, {"id": "d0e4a99c-1bad-4e60-812e-66be6834034c", "name": "Route Notifications", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1680, 380], "parameters": {"jsCode": "// \u2500\u2500 Call Alert Email \u2014 Standard + Premium \u2500\u2500\n// Input: processed call data from GPT analysis\nconst d = $input.first().json;\nconst companyName = d.company_name || 'your company';\nconst callerName = d.caller_name || 'Unknown Caller';\nconst callerPhone = d.caller_phone || 'Not provided';\nconst serviceType = d.service_type || d.job_type || 'General Enquiry';\nconst urgency = d.urgency || 'Normal';\nconst address = d.caller_address || d.address || 'Not provided';\nconst summary = d.call_summary || d.ai_summary || '';\nconst callDuration = d.call_duration || '';\nconst callTime = d.call_time || new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\nconst isLead = d.is_lead !== false;\n\n// Premium-only fields\nconst appointmentBooked = d.appointment_booked || false;\nconst appointmentTime = d.appointment_time || '';\nconst assignedTech = d.assigned_technician || '';\n\nconst urgencyColor = urgency.toLowerCase().includes('high') || urgency.toLowerCase().includes('emergency') ? '#EF4444' : urgency.toLowerCase().includes('medium') ? '#F59E0B' : '#10B981';\nconst badge = isLead ? 'New Lead' : 'Call Handled';\n\nconst ICON_URL = 'https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png';\nconst LOGO = `<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr><td style=\"vertical-align:middle;padding-right:10px\"><img src=\"${ICON_URL}\" alt=\"\" width=\"36\" height=\"36\" style=\"display:block;border:0\"></td><td style=\"vertical-align:middle;text-align:left\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"text-align:left;padding:0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:16px;font-weight:700;letter-spacing:-0.3px;color:#0f0f1a;line-height:1;text-align:left\">Syntharra</div></td></tr><tr><td style=\"text-align:left;padding:3px 0 0 0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:7.5px;font-weight:600;letter-spacing:1.2px;color:#6C63FF;text-transform:uppercase;line-height:1;text-align:left\">Global AI Solutions</div></td></tr></table></td></tr></table>`;\nconst FOOTER = `<tr><td style=\"padding:20px;text-align:center\"><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none\">syntharra.com</a></td></tr><tr><td style=\"text-align:center;padding:0 0 16px\"><p style=\"color:#9CA3AF;font-size:11px;margin:0\">Syntharra AI Solutions</p></td></tr>`;\n\nconst appointmentBlock = appointmentBooked ? `\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;background-color:#ECFDF5;border-radius:10px;overflow:hidden\"><tr><td style=\"padding:18px 22px\">\n  <p style=\"font-size:12px;font-weight:700;color:#065F46;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">\\ud83d\\udcc5 Appointment Booked</p>\n  <p style=\"font-size:16px;font-weight:700;color:#065F46;margin:0\">${appointmentTime}</p>\n  ${assignedTech ? `<p style=\"font-size:13px;color:#047857;margin:4px 0 0\">Assigned to: ${assignedTech}</p>` : ''}\n</td></tr></table>` : '';\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap\" rel=\"stylesheet\"></head>\n<body style=\"margin:0;padding:0;background-color:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">${LOGO}</td></tr>\n<tr><td style=\"background-color:#ffffff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px\"><tr><td><span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background-color:#F0EEFF;padding:4px 12px;border-radius:20px\">${badge}</span></td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">${isLead ? 'New Lead Captured' : 'Call Handled'}${appointmentBooked ? ' & Booked' : ''}</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 24px\">Your AI Receptionist just handled a call for ${companyName}.</p>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:14px 20px;border-bottom:1px solid #E5E7EB;background-color:#FAFAFA;font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase\" colspan=\"2\">Call Details</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Caller</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${callerName}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Phone</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${callerPhone}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Service</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${serviceType}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Urgency</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:${urgencyColor};font-size:14px\">${urgency}</td></tr>\n<tr><td style=\"padding:12px 20px;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Address</td><td style=\"padding:12px 20px;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${address}</td></tr>\n</table>\n${appointmentBlock}\n${summary ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;background-color:#F9F9FC;border-radius:10px\"><tr><td style=\"padding:16px 20px\">\n  <p style=\"font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">AI Summary</p>\n  <p style=\"font-size:14px;color:#1A1A2E;line-height:1.6;margin:0\">${summary}</p>\n</td></tr></table>` : ''}\n<p style=\"text-align:center;font-size:13px;color:#9CA3AF;margin:0\">Call handled at ${callTime}${callDuration ? ` \\u2014 Duration: ${callDuration}` : ''}</p>\n</div></td></tr>\n${FOOTER}\n</table></td></tr></table></body></html>`;\n\nconst emailSubject = `\\ud83d\\udcde ${isLead ? 'New Lead' : 'Call'}: ${callerName} \\u2014 ${serviceType} | ${companyName}`;\n\nreturn [{ json: { ...d, emailHtml, email_subject: emailSubject } }];\n"}}, {"id": "3ef3997a-ec08-4c2e-8be5-942a57a54335", "name": "Should Notify?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1900, 380], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "b55af1ad-9032-4ab9-87d7-f29dc6a8cf46", "leftValue": "={{ $json._should_notify }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}}}, {"id": "b44f77fd-71a5-4806-a1b9-534778a2c593", "name": "Send Client Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 280], "parameters": {"jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) return { ...d, _email_sent: false };\n\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}`);\n  return { ...d, _email_sent: true };\n} catch (e) {\n  console.log('[EMAIL] Failed:', e.message);\n  return { ...d, _email_sent: false };\n}"}}, {"id": "e2439214-50de-4f09-8db2-f5b939e88d2e", "name": "Send Client SMS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 480], "parameters": {"jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) return { ...d, _sms_sent: false };\n\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\nconst TELNYX_KEY = ''; // \u2190 Add Telnyx API key\nconst TELNYX_FROM = ''; // \u2190 Add Telnyx phone number\n\nif (!SMS_ENABLED || !TELNYX_KEY) {\n  console.log(`[SMS] Disabled \u2014 would send to: ${recipients.join(', ')}`);\n  return { ...d, _sms_sent: false };\n}\n\nlet sent = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.telnyx.com/v2/messages',\n      headers: { 'Authorization': 'Bearer ' + TELNYX_KEY, 'Content-Type': 'application/json' },\n      body: { from: TELNYX_FROM, to: phone, text: smsText },\n      json: true\n    });\n    sent++;\n  } catch (e) { console.log(`[SMS] Failed ${phone}:`, e.message); }\n}\nreturn { ...d, _sms_sent: sent > 0 };"}}, {"id": "24e36e43-5de6-4d86-be99-fe085b6a3a79", "name": "Internal Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 680], "parameters": {"jsCode": "const d = $input.first().json;\n\n// \u2500\u2500 Error condition detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst disconnReason = (d.disconnection_reason || '').toLowerCase();\nconst callStatus    = (d.call_status || '').toLowerCase();\nconst transferAttempted = d.transfer_attempted || false;\nconst transferSuccess   = d.transfer_success;  // true | false | null\nconst clientFound   = d._client_found !== false; // false = Supabase lookup failed\nconst geocodeStatus = (d.geocode_status || '').toLowerCase();\nconst gptFailed     = d._gpt_failed || false;\n\n// Retell disconnection reasons that indicate a problem\nconst TRANSFER_FAIL_REASONS = [\n  'dial_failed', 'dial_busy', 'dial_no_answer',\n  'dial_no_answer_voicemail', 'transfer_failed',\n  'transfer_to_human_failed', 'voicemail',\n  'inactivity', 'machine_detected'\n];\n\nconst HARD_ERROR_REASONS = [\n  'error', 'error_inbound_webhook', 'error_llm_websocket',\n  'error_frontend_websocket', 'error_no_answer_human_response',\n  'concurrency_limit_reached', 'server_error',\n  'rate_limit_error', 'webhook_failed'\n];\n\nconst SUSPICIOUS_REASONS = [\n  'abandoned', 'call_ended_early'\n];\n\n// Evaluate all error conditions\nconst errors = [];\n\n// 1. Hard system errors\nif (HARD_ERROR_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'SYSTEM_ERROR', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\nif (callStatus === 'error' || callStatus === 'failed') {\n  errors.push({ type: 'CALL_STATUS_ERROR', detail: `call_status: ${d.call_status}` });\n}\n\n// 2. Transfer failures\nif (TRANSFER_FAIL_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'TRANSFER_FAILED', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\nif (transferAttempted && transferSuccess === false) {\n  errors.push({ type: 'TRANSFER_UNSUCCESSFUL', detail: 'Transfer was attempted but did not succeed' });\n}\n\n// 3. Suspicious / abnormal endings\nif (SUSPICIOUS_REASONS.some(r => disconnReason.includes(r))) {\n  errors.push({ type: 'ABNORMAL_ENDING', detail: `disconnection_reason: ${d.disconnection_reason}` });\n}\n\n// 4. Client lookup failure (agent fired but client not in Supabase)\nif (!clientFound) {\n  errors.push({ type: 'CLIENT_NOT_FOUND', detail: `agent_id: ${d.agent_id} not found in Supabase` });\n}\n\n// 5. Very short calls (< 8 seconds, likely system fault not human hangup)\nconst dur = d.duration_seconds || 0;\nif (dur > 0 && dur < 8) {\n  errors.push({ type: 'CALL_TOO_SHORT', detail: `Duration: ${dur}s \u2014 likely failed connection` });\n}\n\n// 6. Geocode error (not blocking but worth knowing)\nif (geocodeStatus === 'error') {\n  errors.push({ type: 'GEOCODE_ERROR', detail: 'Address geocoding failed for this call' });\n}\n\n// 7. GPT analysis failed\nif (gptFailed) {\n  errors.push({ type: 'GPT_ANALYSIS_FAILED', detail: 'AI transcript analysis failed \u2014 call logged with raw data only' });\n}\n\n// \u2500\u2500 If no errors, exit silently \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (errors.length === 0) {\n  return [{ json: { ...d, _alert_sent: false, _alert_reason: 'no_errors' } }];\n}\n\n// \u2500\u2500 Build alert email \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst primaryError = errors[0];\nconst errorCount = errors.length;\nconst isCritical = ['SYSTEM_ERROR','CALL_STATUS_ERROR','CLIENT_NOT_FOUND'].includes(primaryError.type);\nconst accentColour = isCritical ? '#EF4444' : '#F59E0B';\nconst tierLabel = d.company_name ? ` \u2014 ${d.company_name}` : '';\nconst subject = `\ud83d\udea8 [CALL ${primaryError.type}]${tierLabel} | ${d.call_id || 'unknown'}`;\n\nconst errorRows = errors.map(e =>\n  `<tr>\n    <td style=\"padding:10px 16px;border-bottom:1px solid #FEE2E2;background:#FFF5F5\">\n      <span style=\"font-size:11px;font-weight:700;color:${accentColour};letter-spacing:0.05em;text-transform:uppercase\">${e.type.replace(/_/g,' ')}</span>\n      <div style=\"font-size:13px;color:#374151;margin-top:3px\">${e.detail}</div>\n    </td>\n  </tr>`\n).join('');\n\nconst ICON_URL = 'https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png';\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr>\n    <td style=\"vertical-align:middle;padding-right:10px\"><img src=\"${ICON_URL}\" width=\"36\" height=\"36\" style=\"display:block;border:0\" alt=\"\"></td>\n    <td style=\"vertical-align:middle;text-align:left\">\n      <div style=\"font-family:Georgia,serif;font-size:20px;color:#6C63FF;line-height:1.1\">Syntharra</div>\n      <div style=\"font-size:7px;font-weight:700;color:#111;letter-spacing:3px;text-transform:uppercase;margin-top:2px\">AI SOLUTIONS</div>\n    </td>\n  </tr></table>\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden\">\n  <div style=\"height:4px;background:${accentColour}\"></div>\n  <div style=\"padding:28px 32px\">\n    <p style=\"margin:0 0 6px\">\n      <span style=\"font-size:11px;font-weight:700;letter-spacing:0.08em;text-transform:uppercase;color:#fff;background:${accentColour};padding:3px 10px;border-radius:20px\">\n        ${isCritical ? 'CRITICAL' : 'WARNING'} \u00b7 ${errorCount} issue${errorCount > 1 ? 's' : ''} detected\n      </span>\n    </p>\n    <h2 style=\"color:#1A1A2E;font-size:20px;font-weight:700;margin:16px 0 4px\">Call Error Alert</h2>\n    <p style=\"color:#6B7280;font-size:14px;margin:0 0 24px\">A call processed by your AI Receptionist triggered ${errorCount > 1 ? 'multiple error conditions' : 'an error condition'} requiring your attention.</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n      <tr><td colspan=\"2\" style=\"padding:12px 16px;background:#FAFAFA;font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;border-bottom:1px solid #E5E7EB\">Call Details</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px;width:40%\">Call ID</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.call_id || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Client</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.company_name || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Caller</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.caller_name || d.from_number || '\u2014'}</td></tr>\n      <tr><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;color:#6B7280;font-size:13px\">Duration</td><td style=\"padding:10px 16px;border-bottom:1px solid #E5E7EB;font-weight:600;color:#1A1A2E;font-size:13px\">${d.duration_seconds || 0}s</td></tr>\n      <tr><td style=\"padding:10px 16px;color:#6B7280;font-size:13px\">Disconnect Reason</td><td style=\"padding:10px 16px;font-weight:600;color:#1A1A2E;font-size:13px\">${d.disconnection_reason || '\u2014'}</td></tr>\n    </table>\n    <p style=\"font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">Error Conditions Detected</p>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #FEE2E2;border-radius:10px;overflow:hidden;margin-bottom:20px\">\n      ${errorRows}\n    </table>\n    ${d.transcript ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F9F9FC;border-radius:10px;margin-bottom:20px\"><tr><td style=\"padding:14px 18px\">\n      <p style=\"font-size:11px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">Transcript Snippet</p>\n      <p style=\"font-size:13px;color:#374151;line-height:1.6;margin:0\">${d.transcript.substring(0,400)}${d.transcript.length > 400 ? '...' : ''}</p>\n    </td></tr></table>` : ''}\n    <p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:0\">Syntharra AI Receptionist \u00b7 ${new Date().toUTCString()}</p>\n  </div>\n</td></tr>\n<tr><td style=\"padding:16px;text-align:center\">\n  <a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;font-size:12px;text-decoration:none;font-weight:600\">syntharra.com</a>\n</td></tr>\n</table></td></tr></table>\n</body></html>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra Alerts <noreply@syntharra.com>',\n      to: ['alerts@syntharra.com'],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return [{ json: { ...d, _alert_sent: true, _alert_errors: errors } }];\n} catch (e) {\n  console.log('[ALERT] Send failed:', e.message);\n  return [{ json: { ...d, _alert_sent: false, _alert_errors: errors, _alert_send_error: e.message } }];\n}\n"}}, {"id": "7556df43-8c52-4dc7-8de8-1bf11cde2b6a", "name": "Check Repeat Caller", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 380], "parameters": {"jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    let historyContext = `REPEAT CALLER \u2014 ${callCount} previous call(s).\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.summary) historyContext += `Last summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"}}], "connections": {"Retell Webhook": {"main": [[{"node": "Filter: call_analyzed Only", "type": "main", "index": 0}]]}, "Filter: call_analyzed Only": {"main": [[{"node": "Extract Call Data", "type": "main", "index": 0}]]}, "Extract Call Data": {"main": [[{"node": "Supabase: Lookup Client", "type": "main", "index": 0}]]}, "Supabase: Lookup Client": {"main": [[{"node": "Parse Client Data", "type": "main", "index": 0}]]}, "Parse Client Data": {"main": [[{"node": "Check Repeat Caller", "type": "main", "index": 0}]]}, "GPT: Analyze Transcript": {"main": [[{"node": "Parse Lead Data", "type": "main", "index": 0}]]}, "Parse Lead Data": {"main": [[{"node": "Geocode: Maps API", "type": "main", "index": 0}]]}, "Geocode: Maps API": {"main": [[{"node": "Geocode: Parse Result", "type": "main", "index": 0}], [{"node": "Geocode: Parse Result", "type": "main", "index": 0}]]}, "Geocode: Parse Result": {"main": [[{"node": "Is Lead?", "type": "main", "index": 0}]]}, "Is Lead?": {"main": [[{"node": "Classify Notification", "type": "main", "index": 0}], [{"node": "Classify Notification", "type": "main", "index": 0}]]}, "Classify Notification": {"main": [[{"node": "Supabase: Log Call", "type": "main", "index": 0}]]}, "Supabase: Log Call": {"main": [[{"node": "Route Notifications", "type": "main", "index": 0}, {"node": "Internal Notification", "type": "main", "index": 0}]]}, "Route Notifications": {"main": [[{"node": "Should Notify?", "type": "main", "index": 0}]]}, "Should Notify?": {"main": [[{"node": "Send Client Email", "type": "main", "index": 0}, {"node": "Send Client SMS", "type": "main", "index": 0}], []]}, "Check Repeat Caller": {"main": [[{"node": "GPT: Analyze Transcript", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": true}, "staticData": null, "meta": null, "pinData": null, "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "activeVersionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "versionCounter": 16, "triggerCount": 1, "shared": [{"updatedAt": "2026-03-30T01:08:47.098Z", "createdAt": "2026-03-30T01:08:47.098Z", "role": "workflow:owner", "workflowId": "Kg576YtPM9yEacKn", "projectId": "PHE9TwI1tz9lKI9q", "project": {"updatedAt": "2026-03-30T01:04:12.384Z", "createdAt": "2026-03-30T00:03:18.522Z", "id": "PHE9TwI1tz9lKI9q", "name": "Daniel Blackmore <daniel@syntharra.com>", "type": "personal", "icon": null, "description": null, "creatorId": "0eceaa4a-6883-4340-8413-32460f7a990b"}}], "tags": [], "activeVersion": {"updatedAt": "2026-03-30T03:13:21.209Z", "createdAt": "2026-03-30T03:13:21.209Z", "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "workflowId": "Kg576YtPM9yEacKn", "nodes": [{"parameters": {"httpMethod": "POST", "path": "retell-hvac-webhook", "options": {}}, "id": "94b607a1-e9f8-4a75-bbfb-ae7d1a72c351", "name": "Retell Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [-1920, 112], "webhookId": "66fdd35b-30b1-4776-9fd7-e0751a45624e"}, {"parameters": {"jsCode": "\n// Retell sends events at different paths depending on event type\n// Check all possible locations for the event field\nconst body = $input.first().json.body || $input.first().json;\nconst event = body.event || $input.first().json.event || '';\n\n// Also require a transcript to exist (blocks call_started which has empty transcript)\nconst call = body.call || body;\nconst transcript = call.transcript || '';\n\nif (event !== 'call_analyzed') {\n  // Not a call_analyzed event - stop processing\n  return [];\n}\n\nif (!transcript || transcript.trim() === '') {\n  // call_analyzed but no transcript yet - stop processing  \n  return [];\n}\n\n// Valid call_analyzed with transcript - pass through\nreturn $input.first().json;\n"}, "id": "4386e044-9ca0-4ab5-96b1-4c31ddf0e900", "name": "Filter: call_analyzed Only", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1680, 112]}, {"parameters": {"jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nreturn {\n  call_id: call.call_id || '',\n  agent_id: call.agent_id || '',\n  from_number: call.from_number || '',\n  to_number: call.to_number || '',\n  transcript: call.transcript || '',\n  duration_seconds: Math.round((call.end_timestamp - call.start_timestamp) / 1000) || 0,\n  disconnection_reason: call.disconnection_reason || '',\n  call_analysis: call.call_analysis || {},\n  call_timestamp: new Date().toISOString()\n};"}, "id": "e9cd3473-17e9-4d3d-b4d6-02c3bdd84c8e", "name": "Extract Call Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1440, 112]}, {"parameters": {"url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?agent_id=eq.{{ $json.agent_id }}&select=*", "authentication": "none", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}]}, "options": {}}, "id": "b4ff94eb-c081-4f4b-8fe2-c05ec2da49a5", "name": "Supabase: Lookup Client", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-1200, 112], "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "const clients = $input.first().json;\nconst callData = $('Extract Call Data').first().json;\nconst client = Array.isArray(clients) ? clients[0] : clients;\n\nif (!client || !client.company_name) {\n  return {\n    ...callData,\n    client_found: false,\n    company_name: 'Unknown', agent_name: 'Unknown',\n    lead_phone: '', lead_email: '',\n    notification_email_2: '', notification_email_3: '',\n    notification_sms_2: '', notification_sms_3: '',\n    twilio_from: '', timezone: 'America/Chicago'\n  };\n}\n\nreturn {\n  ...callData,\n  client_found: true,\n  company_name: client.company_name || '',\n  agent_name: client.agent_name || '',\n  lead_phone: client.lead_phone || '',\n  lead_email: client.lead_email || '',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  twilio_from: client.twilio_from || client.twilio_number || '',\n  timezone: client.timezone || 'America/Chicago',\n  lead_contact_method: client.lead_contact_method || 'Both'\n};"}, "id": "e56fdaa7-562f-4e11-b5cb-b0f3a162f859", "name": "Parse Client Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, 112]}, {"parameters": {"modelId": {"__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "GPT-4O-MINI"}, "messages": {"values": [{"content": "You are a call classifier for an HVAC company AI receptionist. Analyze the transcript and context, then return a JSON classification.\n\nLEAD DEFINITION \u2014 IS a lead (is_lead=true) if the caller wants ANY of the following:\n- Repair or fix for any HVAC system\n- Installation or replacement\n- Maintenance, tune-up, service, or annual check\n- Estimate or quote for any work\n- Emergency service\nWhen in doubt, mark is_lead=true. ANY request for HVAC work of any kind is a lead.\n\nNOT a lead (is_lead=false) ONLY if:\n- Complaint about a previous completed job with no new work requested\n- Existing job status check only (part ordered? tech coming when?)\n- Billing dispute or refund request only\n- Obvious spam, robocall, or telemarketer\n- Wrong number\n- Caller hangs up with zero service request made\n\nSPAM: is_lead=false, call_tier=Standard, lead_score=1 for robocall patterns (\"press 1\", \"lower your rates\", repetitive selling, no HVAC request).\n\nCALL TIER \u2014 must be exactly one of:\n- \"Emergency\": HUMAN safety risk only \u2014 no heat in freezing temps with people present, no AC in extreme heat with vulnerable person (baby, elderly, medical), burning smell, gas smell, active flooding, system failure causing immediate health risk. ALSO Emergency if local_hour is 22-6 AND system is not working. Business/commercial impact alone (restaurant opening, office too hot) is NOT Emergency \u2014 that is Urgent.\n- \"Urgent\": System not working but no immediate safety risk, caller needs service today or ASAP, commercial property affected.\n- \"Standard\": Routine, flexible timing, quote only, maintenance scheduling. Also use for all non-leads.\n\nVULNERABILITY: vulnerable_occupant=true if transcript mentions baby, infant, newborn, toddler, young children, elderly, senior, disabled, medical condition, oxygen, medication needing refrigeration.\n\nJOB TYPE: \"Residential\" (home/apartment), \"Commercial\" (business, office, restaurant, shop), \"Multi-Unit\" (apartment building, complex, multiple units).\n\nCALLER SENTIMENT: 1=very distressed or angry, 2=frustrated, 3=neutral, 4=cooperative, 5=calm and easy.\n\nReturn ONLY valid JSON \u2014 no markdown, no explanation:\n{\n  \"is_lead\": boolean,\n  \"call_tier\": \"Emergency\"|\"Urgent\"|\"Standard\",\n  \"lead_score\": integer 1-10,\n  \"caller_name\": string,\n  \"caller_phone\": string,\n  \"caller_address\": string,\n  \"service_requested\": \"Repair\"|\"Maintenance\"|\"Installation\"|\"Estimate\"|\"Emergency\"|\"Complaint\"|\"Spam\"|\"WrongNumber\"|\"ExistingCustomer\"|\"Other\",\n  \"job_type\": \"Residential\"|\"Commercial\"|\"Multi-Unit\",\n  \"vulnerable_occupant\": boolean,\n  \"caller_sentiment\": integer 1-5,\n  \"summary\": \"1-2 sentence summary\",\n  \"urgency\": \"Low\"|\"Medium\"|\"High\"|\"Emergency\",\n  \"notes\": \"key details: communication issues, partial info, after-hours, transfer attempts\"\n}", "role": "system"}, {"content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\nClient timezone: {{ $json.timezone || 'America/Chicago' }}\nLocal hour (24h): {{ (() => { try { return parseInt(new Date().toLocaleString('en-US', { timeZone: $json.timezone || 'America/Chicago', hour: 'numeric', hour12: false })); } catch(e) { return 12; } })() }}"}]}, "options": {"temperature": 0.2}}, "id": "755bd162-f2b5-46c6-acfc-48df05d57afb", "name": "GPT: Analyze Transcript", "type": "@n8n/n8n-nodes-langchain.openAi", "typeVersion": 1, "position": [-720, 112], "credentials": {"openAiApi": {"id": "1uzBYwyR7Q7bdkZe", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "const gptRaw = $input.first().json.message?.content || $input.first().json.text || '{}';\nlet analysis = {};\ntry {\n  const clean = gptRaw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(clean);\n} catch(e) {\n  analysis = { is_lead: false, call_tier: 'Standard', lead_score: 0 };\n}\n\nconst clientData = $('Parse Client Data').item.json;\nconst callData   = $('Extract Call Data').item.json;\n\nconst durationMs = (callData.end_timestamp || 0) - (callData.start_timestamp || 0);\nconst durationSec = Math.round(durationMs / 1000);\n\nreturn {\n  // Call metadata\n  call_id:           callData.call_id,\n  agent_id:          callData.agent_id,\n  from_number:       callData.from_number,\n  to_number:         callData.to_number,\n  transcript:        callData.transcript,\n  duration_seconds:  durationSec,\n  call_timestamp:    new Date().toISOString(),\n\n  // Client config\n  company_name:         clientData.company_name,\n  agent_name:           clientData.agent_name,\n  lead_email:           clientData.lead_email,\n  lead_phone:           clientData.lead_phone,\n  notification_email_2: clientData.notification_email_2,\n  notification_email_3: clientData.notification_email_3,\n  notification_sms_2:   clientData.notification_sms_2,\n  notification_sms_3:   clientData.notification_sms_3,\n  twilio_from:          clientData.twilio_from,\n  timezone:             clientData.timezone,\n\n  // GPT classification \u2014 core\n  is_lead:           analysis.is_lead || false,\n  call_tier:         analysis.call_tier || 'Standard',\n  lead_score:        analysis.lead_score || 0,\n  caller_name:       analysis.caller_name || '',\n  caller_phone:      analysis.caller_phone || '',\n  caller_address:    analysis.caller_address || '',\n  service_requested: analysis.service_requested || 'Other',\n  summary:           analysis.summary || '',\n  urgency:           analysis.urgency || 'Low',\n  notes:             analysis.notes || '',\n\n  // GPT classification \u2014 new intelligence fields\n  job_type:            analysis.job_type || 'Residential',\n  vulnerable_occupant: analysis.vulnerable_occupant || false,\n  caller_sentiment:    analysis.caller_sentiment || 3\n};"}, "id": "e5dcf87c-0034-4530-abbf-c954895a2f9b", "name": "Parse Lead Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-480, 112]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "is-lead-check", "leftValue": "={{ $json.is_lead }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}, "options": {}}, "id": "22a6deb1-22b2-4425-a625-e3253892f553", "name": "Is Lead?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-240, 112]}, {"parameters": {"method": "POST", "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log", "authentication": "none", "genericAuthType": "httpHeaderAuth", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"}, {"name": "Prefer", "value": "return=representation,resolution=merge-duplicates"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { call_id: $json.call_id, agent_id: $json.agent_id, company_name: $json.company_name, caller_name: $json.caller_name || '', caller_phone: $json.caller_phone || $json.from_number || '', caller_address: $json.caller_address || '', service_requested: $json.service_requested || '', lead_score: $json.lead_score || 0, urgency: $json.urgency || '', call_tier: $json.call_tier || 'Standard', job_type: $json.job_type || 'Residential', vulnerable_occupant: $json.vulnerable_occupant || false, caller_sentiment: $json.caller_sentiment || 3, summary: $json.summary || '', notes: $json.notes || '', is_lead: $json.is_lead || false, duration_seconds: $json.duration_seconds || 0, geocode_status: $('Geocode: Parse Result').item.json.geocode_status || '', geocode_formatted: $('Geocode: Parse Result').item.json.geocode_formatted || '' } }}", "options": {}}, "id": "7b3027c9-ee1e-4e9f-98ab-af02ca8ea4a6", "name": "Supabase: Log Call", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [240, 112], "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "return { message: `Non-lead call logged: ${$json.call_id}, score: ${$json.lead_score}` };"}, "id": "d837f73e-190e-47f3-bba4-37dd04c10ddd", "name": "Log Non-Lead", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-240, 400]}, {"id": "geocode-http-001", "name": "Geocode: Maps API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [-360, 112], "onError": "continueErrorOutput", "parameters": {"method": "GET", "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{encodeURIComponent($json.caller_address || '')}}&key=AIzaSyDzOcz3ySh4rkynyIyUEwDBu6zYARVkiVE", "options": {}}}, {"id": "geocode-parse-001", "name": "Geocode: Parse Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-120, 112], "parameters": {"jsCode": "\nconst leadData = $('Parse Lead Data').item.json;\nconst geoResponse = $input.first().json;\n\n// \u2500\u2500 GEOCODE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet geocode_status = 'not_provided', geocode_formatted = '', geocode_lat = null,\n    geocode_lng = null, geocode_maps_url = '', geocode_confidence = 'low', address_check_html = '';\n\nif (!leadData.caller_address || leadData.caller_address.trim().length < 5) {\n  geocode_status = 'not_provided';\n  address_check_html = '<span style=\"color:#718096\">\u2014 Not provided</span>';\n} else if (geoResponse.status === 'OK' && geoResponse.results && geoResponse.results.length > 0) {\n  const top = geoResponse.results[0];\n  geocode_formatted = top.formatted_address;\n  geocode_lat = top.geometry.location.lat;\n  geocode_lng = top.geometry.location.lng;\n  geocode_maps_url = 'https://maps.google.com/?q=' + encodeURIComponent(geocode_formatted);\n  const types = top.types || [];\n  if (types.includes('street_address') || types.includes('premise') || types.includes('subpremise')) {\n    geocode_status = 'verified'; geocode_confidence = 'high';\n    address_check_html = '<span style=\"color:#38a169;font-weight:600\">\u2705 Verified</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none;font-weight:600\">\ud83d\udccd View Map</a>';\n  } else if (types.includes('route') || types.includes('intersection')) {\n    geocode_status = 'partial'; geocode_confidence = 'medium';\n    address_check_html = '<span style=\"color:#d69e2e;font-weight:600\">\u26a0\ufe0f Partial match</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none\">\ud83d\udccd View Map</a>';\n  } else {\n    geocode_status = 'unverified'; geocode_confidence = 'low';\n    address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u26a0\ufe0f Unverified</span> \u2014 Closest: ' + geocode_formatted + '. Confirm with caller.';\n  }\n} else if (geoResponse.status === 'ZERO_RESULTS') {\n  geocode_status = 'not_found';\n  address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u274c Not found</span> \u2014 Confirm address with caller before dispatching.';\n} else {\n  geocode_status = 'error';\n  address_check_html = '<span style=\"color:#718096\">\u26a0\ufe0f Could not verify \u2014 confirm with caller</span>';\n}\n\n// \u2500\u2500 SCORE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst score = leadData.lead_score || 0;\nconst scoreColor = score >= 8 ? '#dc2626' : score >= 6 ? '#d97706' : '#718096';\nconst score_badge = '<span style=\"background:' + (score >= 8 ? '#fef2f2' : score >= 6 ? '#fffbeb' : '#f9fafb') + ';color:' + scoreColor + ';border:2px solid ' + scoreColor + ';border-radius:20px;padding:3px 12px;font-weight:700;font-size:15px\">' + score + '/10</span>';\n\n// \u2500\u2500 URGENCY BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst urgency = leadData.urgency || 'Medium';\nconst urgencyColor = urgency === 'Emergency' ? '#dc2626' : urgency === 'High' ? '#d97706' : urgency === 'Medium' ? '#2563eb' : '#718096';\nconst urgency_badge = '<span style=\"color:' + urgencyColor + ';font-weight:600\">' + urgency + '</span>';\n\n// \u2500\u2500 TIER BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst callTier = leadData.call_tier || 'Standard';\nconst tierMap = {\n  'Emergency': { bg: '#dc2626', label: '\ud83d\udea8 EMERGENCY \u2014 Transfer Attempted' },\n  'Urgent':    { bg: '#d97706', label: '\u26a1 URGENT \u2014 Respond Within 1 Hour' },\n  'Standard':  { bg: '#6C63FF', label: '\ud83d\udccb STANDARD \u2014 Business Hours' }\n};\nconst tc = tierMap[callTier] || tierMap['Standard'];\nconst tier_badge = '<span style=\"background:' + tc.bg + ';color:#ffffff;padding:5px 14px;border-radius:20px;font-size:12px;font-weight:700;font-family:Helvetica,Arial,sans-serif\">' + tc.label + '</span>';\n\n// \u2500\u2500 JOB TYPE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst jobType = leadData.job_type || 'Residential';\nconst jobColor = jobType === 'Commercial' ? '#7c3aed' : jobType === 'Multi-Unit' ? '#0369a1' : '#374151';\nconst jobBg    = jobType === 'Commercial' ? '#f5f3ff' : jobType === 'Multi-Unit' ? '#e0f2fe' : '#f9fafb';\nconst job_type_badge = '<span style=\"background:' + jobBg + ';color:' + jobColor + ';padding:2px 10px;border-radius:12px;font-size:12px;font-weight:600;border:1px solid ' + jobColor + '\">' + jobType + '</span>';\n\n// \u2500\u2500 VULNERABILITY FLAG \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst vulnerable = leadData.vulnerable_occupant || false;\nconst vulnerability_flag = vulnerable\n  ? '<span style=\"background:#fef2f2;color:#dc2626;padding:2px 10px;border-radius:12px;font-size:12px;font-weight:700;border:1px solid #dc2626\">\u26a0\ufe0f VULNERABLE OCCUPANT</span>'\n  : '';\n\n// \u2500\u2500 SENTIMENT INDICATOR \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst sentiment = leadData.caller_sentiment || 3;\nconst sentimentLabel = sentiment <= 2 ? '\ud83d\ude1f Distressed' : sentiment === 3 ? '\ud83d\ude10 Neutral' : '\ud83d\ude0a Cooperative';\nconst sentimentColor = sentiment <= 2 ? '#dc2626' : sentiment === 3 ? '#6b7280' : '#16a34a';\n\n// \u2500\u2500 DURATION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst dur = leadData.duration_seconds || 0;\nconst duration_formatted = dur >= 60 ? Math.floor(dur/60) + 'm ' + (dur%60) + 's' : dur + 's';\n\n// \u2500\u2500 SMS TEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Rich SMS with all key flags \u2014 keeps it scannable on a phone\nconst tierEmoji = callTier === 'Emergency' ? '\ud83d\udea8' : callTier === 'Urgent' ? '\u26a1' : '\ud83d\udccb';\nconst vulnFlag  = vulnerable ? ' \u26a0\ufe0fVULNERABLE' : '';\nconst repeatFlag = ''; // populated later by repeat caller check\nconst notifyType = leadData.notify_type || 'lead';\nconst sms_header = notifyType === 'emergency'\n  ? '\ud83d\udea8 EMERGENCY' + vulnFlag\n  : notifyType === 'customer_query'\n  ? '\ud83d\udcde CUSTOMER QUERY'\n  : '\ud83d\udd25 NEW LEAD';\nconst sms_text = sms_header + ' \u2014 ' + leadData.company_name + '\\n'\n  + '\ud83d\udc64 ' + (leadData.caller_name || 'Unknown') + '\\n'\n  + '\ud83d\udcde ' + (leadData.caller_phone || leadData.from_number || 'N/A') + '\\n'\n  + '\ud83d\udccd ' + (geocode_status === 'verified' ? geocode_formatted : leadData.caller_address || 'No address') + '\\n'\n  + '\ud83d\udd27 ' + (leadData.service_requested || 'General') + ' | ' + jobType + '\\n'\n  + '\u2b50 Score: ' + score + '/10\\n'\n  + '\ud83d\udcdd ' + (leadData.summary || '').slice(0, 100);\n\nreturn {\n  ...leadData,\n  geocode_status, geocode_formatted, geocode_lat, geocode_lng,\n  geocode_maps_url, geocode_confidence, address_check_html,\n  score_badge, urgency_badge, tier_badge, job_type_badge,\n  vulnerability_flag, sentimentLabel, sentimentColor,\n  duration_formatted, sms_text, call_tier: callTier\n};\n"}}, {"id": "classify-notification", "name": "Classify Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-960, -200], "parameters": {"jsCode": "\nconst service  = $json.service_requested || '';\nconst isLead   = $json.is_lead || false;\nconst callTier = $json.call_tier || 'Standard';\n\n// Completely drop \u2014 return [] stops n8n flow entirely\nconst dropTypes = ['Spam', 'WrongNumber'];\nif (dropTypes.includes(service)) {\n  return [];\n}\n\n// Classify notification type\nlet notify_type;\nif (callTier === 'Emergency') {\n  notify_type = 'emergency';          // red email always for emergency\n} else if (service === 'ExistingCustomer' || service === 'Complaint') {\n  notify_type = 'customer_query';     // amber email\n} else if (isLead) {\n  notify_type = 'lead';               // purple email\n} else {\n  notify_type = 'log_only';           // Supabase only, no email\n}\n\nreturn [{ json: { ...($input.first().json), notify_type } }];\n"}}, {"id": "d0e4a99c-1bad-4e60-812e-66be6834034c", "name": "Route Notifications", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1680, 380], "parameters": {"jsCode": "// \u2500\u2500 Call Alert Email \u2014 Standard + Premium \u2500\u2500\n// Input: processed call data from GPT analysis\nconst d = $input.first().json;\nconst companyName = d.company_name || 'your company';\nconst callerName = d.caller_name || 'Unknown Caller';\nconst callerPhone = d.caller_phone || 'Not provided';\nconst serviceType = d.service_type || d.job_type || 'General Enquiry';\nconst urgency = d.urgency || 'Normal';\nconst address = d.caller_address || d.address || 'Not provided';\nconst summary = d.call_summary || d.ai_summary || '';\nconst callDuration = d.call_duration || '';\nconst callTime = d.call_time || new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' });\nconst isLead = d.is_lead !== false;\n\n// Premium-only fields\nconst appointmentBooked = d.appointment_booked || false;\nconst appointmentTime = d.appointment_time || '';\nconst assignedTech = d.assigned_technician || '';\n\nconst urgencyColor = urgency.toLowerCase().includes('high') || urgency.toLowerCase().includes('emergency') ? '#EF4444' : urgency.toLowerCase().includes('medium') ? '#F59E0B' : '#10B981';\nconst badge = isLead ? 'New Lead' : 'Call Handled';\n\nconst ICON_URL = 'https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png';\nconst LOGO = `<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr><td style=\"vertical-align:middle;padding-right:10px\"><img src=\"${ICON_URL}\" alt=\"\" width=\"36\" height=\"36\" style=\"display:block;border:0\"></td><td style=\"vertical-align:middle;text-align:left\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"text-align:left;padding:0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:16px;font-weight:700;letter-spacing:-0.3px;color:#0f0f1a;line-height:1;text-align:left\">Syntharra</div></td></tr><tr><td style=\"text-align:left;padding:3px 0 0 0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:7.5px;font-weight:600;letter-spacing:1.2px;color:#6C63FF;text-transform:uppercase;line-height:1;text-align:left\">Global AI Solutions</div></td></tr></table></td></tr></table>`;\nconst FOOTER = `<tr><td style=\"padding:20px;text-align:center\"><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none\">syntharra.com</a></td></tr><tr><td style=\"text-align:center;padding:0 0 16px\"><p style=\"color:#9CA3AF;font-size:11px;margin:0\">Syntharra AI Solutions</p></td></tr>`;\n\nconst appointmentBlock = appointmentBooked ? `\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;background-color:#ECFDF5;border-radius:10px;overflow:hidden\"><tr><td style=\"padding:18px 22px\">\n  <p style=\"font-size:12px;font-weight:700;color:#065F46;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">\\ud83d\\udcc5 Appointment Booked</p>\n  <p style=\"font-size:16px;font-weight:700;color:#065F46;margin:0\">${appointmentTime}</p>\n  ${assignedTech ? `<p style=\"font-size:13px;color:#047857;margin:4px 0 0\">Assigned to: ${assignedTech}</p>` : ''}\n</td></tr></table>` : '';\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap\" rel=\"stylesheet\"></head>\n<body style=\"margin:0;padding:0;background-color:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">${LOGO}</td></tr>\n<tr><td style=\"background-color:#ffffff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px\"><tr><td><span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background-color:#F0EEFF;padding:4px 12px;border-radius:20px\">${badge}</span></td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">${isLead ? 'New Lead Captured' : 'Call Handled'}${appointmentBooked ? ' & Booked' : ''}</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 24px\">Your AI Receptionist just handled a call for ${companyName}.</p>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:14px 20px;border-bottom:1px solid #E5E7EB;background-color:#FAFAFA;font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase\" colspan=\"2\">Call Details</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Caller</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${callerName}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Phone</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${callerPhone}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Service</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${serviceType}</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Urgency</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;background-color:#ffffff;text-align:right;font-weight:600;color:${urgencyColor};font-size:14px\">${urgency}</td></tr>\n<tr><td style=\"padding:12px 20px;background-color:#ffffff;color:#1A1A2E;font-size:14px\">Address</td><td style=\"padding:12px 20px;background-color:#ffffff;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">${address}</td></tr>\n</table>\n${appointmentBlock}\n${summary ? `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:24px;background-color:#F9F9FC;border-radius:10px\"><tr><td style=\"padding:16px 20px\">\n  <p style=\"font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase;margin:0 0 8px\">AI Summary</p>\n  <p style=\"font-size:14px;color:#1A1A2E;line-height:1.6;margin:0\">${summary}</p>\n</td></tr></table>` : ''}\n<p style=\"text-align:center;font-size:13px;color:#9CA3AF;margin:0\">Call handled at ${callTime}${callDuration ? ` \\u2014 Duration: ${callDuration}` : ''}</p>\n</div></td></tr>\n${FOOTER}\n</table></td></tr></table></body></html>`;\n\nconst emailSubject = `\\ud83d\\udcde ${isLead ? 'New Lead' : 'Call'}: ${callerName} \\u2014 ${serviceType} | ${companyName}`;\n\nreturn [{ json: { ...d, emailHtml, email_subject: emailSubject } }];\n"}}, {"id": "3ef3997a-ec08-4c2e-8be5-942a57a54335", "name": "Should Notify?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1900, 380], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "b55af1ad-9032-4ab9-87d7-f29dc6a8cf46", "leftValue": "={{ $json._should_notify }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}]}}}, {"id": "b44f77fd-71a5-4806-a1b9-534778a2c593", "name": "Send Client Email", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 280], "parameters": {"jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) return { ...d, _email_sent: false };\n\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}`);\n  return { ...d, _email_sent: true };\n} catch (e) {\n  console.log('[EMAIL] Failed:', e.message);\n  return { ...d, _email_sent: false };\n}"}}, {"id": "e2439214-50de-4f09-8db2-f5b939e88d2e", "name": "Send Client SMS", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 480], "parameters": {"jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) return { ...d, _sms_sent: false };\n\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\nconst TELNYX_KEY = ''; // \u2190 Add Telnyx API key\nconst TELNYX_FROM = ''; // \u2190 Add Telnyx phone number\n\nif (!SMS_ENABLED || !TELNYX_KEY) {\n  console.log(`[SMS] Disabled \u2014 would send to: ${recipients.join(', ')}`);\n  return { ...d, _sms_sent: false };\n}\n\nlet sent = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.telnyx.com/v2/messages',\n      headers: { 'Authorization': 'Bearer ' + TELNYX_KEY, 'Content-Type': 'application/json' },\n      body: { from: TELNYX_FROM, to: phone, text: smsText },\n      json: true\n    });\n    sent++;\n  } catch (e) { console.log(`[SMS] Failed ${phone}:`, e.message); }\n}\nreturn { ...d, _sms_sent: sent > 0 };"}}, {"id": "24e36e43-5de6-4d86-be99-fe085b6a3a79", "name": "Internal Notification", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2120, 680], "parameters": {"jsCode": "const d = $input.first().json;\nconst subject = `[${(d.notification_type || 'unknown').toUpperCase()}] ${d.caller_name || 'Unknown'} \u2014 ${d.company_name} | ${d.call_id}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">${(d.notification_type || '').replace(/_/g,' ').toUpperCase()} \u2014 ${d.company_name}</h3>\n<p><strong>Caller:</strong> ${d.caller_name || '\u2014'}</p>\n<p><strong>Type:</strong> ${d.notification_type || '\u2014'}</p>\n<p><strong>Summary:</strong> ${d.summary || '\u2014'}</p>\n<p><strong>Call ID:</strong> ${d.call_id || '\u2014'}</p>\n<p style=\"color:#999;font-size:12px\">Syntharra AI \u2014 Internal Notification</p></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: ['admin@syntharra.com'],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return { ...d, _internal_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Failed:', e.message);\n  return { ...d, _internal_sent: false };\n}"}}, {"id": "7556df43-8c52-4dc7-8de8-1bf11cde2b6a", "name": "Check Repeat Caller", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [680, 380], "parameters": {"jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    let historyContext = `REPEAT CALLER \u2014 ${callCount} previous call(s).\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.summary) historyContext += `Last summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"}}], "connections": {"Retell Webhook": {"main": [[{"node": "Filter: call_analyzed Only", "type": "main", "index": 0}]]}, "Filter: call_analyzed Only": {"main": [[{"node": "Extract Call Data", "type": "main", "index": 0}]]}, "Extract Call Data": {"main": [[{"node": "Supabase: Lookup Client", "type": "main", "index": 0}]]}, "Supabase: Lookup Client": {"main": [[{"node": "Parse Client Data", "type": "main", "index": 0}]]}, "Parse Client Data": {"main": [[{"node": "Check Repeat Caller", "type": "main", "index": 0}]]}, "GPT: Analyze Transcript": {"main": [[{"node": "Parse Lead Data", "type": "main", "index": 0}]]}, "Parse Lead Data": {"main": [[{"node": "Geocode: Maps API", "type": "main", "index": 0}]]}, "Geocode: Maps API": {"main": [[{"node": "Geocode: Parse Result", "type": "main", "index": 0}], [{"node": "Geocode: Parse Result", "type": "main", "index": 0}]]}, "Geocode: Parse Result": {"main": [[{"node": "Is Lead?", "type": "main", "index": 0}]]}, "Is Lead?": {"main": [[{"node": "Classify Notification", "type": "main", "index": 0}], [{"node": "Classify Notification", "type": "main", "index": 0}]]}, "Classify Notification": {"main": [[{"node": "Supabase: Log Call", "type": "main", "index": 0}]]}, "Supabase: Log Call": {"main": [[{"node": "Route Notifications", "type": "main", "index": 0}]]}, "Route Notifications": {"main": [[{"node": "Should Notify?", "type": "main", "index": 0}]]}, "Should Notify?": {"main": [[{"node": "Send Client Email", "type": "main", "index": 0}, {"node": "Send Client SMS", "type": "main", "index": 0}, {"node": "Internal Notification", "type": "main", "index": 0}], []]}, "Check Repeat Caller": {"main": [[{"node": "GPT: Analyze Transcript", "type": "main", "index": 0}]]}}, "authors": "Daniel Blackmore", "name": null, "description": null, "autosaved": false, "workflowPublishHistory": [{"createdAt": "2026-03-30T03:13:21.582Z", "id": 54, "workflowId": "Kg576YtPM9yEacKn", "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "event": "deactivated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}, {"createdAt": "2026-03-30T03:13:21.779Z", "id": 55, "workflowId": "Kg576YtPM9yEacKn", "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "event": "activated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}, {"createdAt": "2026-03-30T04:17:13.297Z", "id": 66, "workflowId": "Kg576YtPM9yEacKn", "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "event": "deactivated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}, {"createdAt": "2026-03-30T04:17:13.336Z", "id": 67, "workflowId": "Kg576YtPM9yEacKn", "versionId": "e9082369-51e1-4aed-aae8-241ac1a881e6", "event": "activated", "userId": "0eceaa4a-6883-4340-8413-32460f7a990b"}]}}