archived/n8n-backups/n8n-backup-2026-03-30/rlf1dHVcTlzUbPX7.json
{
  "updatedAt": "2026-03-27T15:40:41.750Z",
  "createdAt": "2026-03-27T02:52:26.951Z",
  "id": "rlf1dHVcTlzUbPX7",
  "name": "HVAC Scenario: Process Single Scenario",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "sub-trig",
      "name": "Workflow Input Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "sub-trans",
      "name": "Get Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -960,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://syntharra.app.n8n.cloud/webhook/generate-scenario-transcript",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent_greeting: $json.greeting, caller_persona: $json.persona }) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "sub-fire",
      "name": "Fire Call Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -720,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://syntharra.app.n8n.cloud/webhook/retell-hvac-webhook",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: \"call_analyzed\", call: { call_id: $(\"Workflow Input Trigger\").item.json.callId, agent_id: \"agent_d180e1bd5b9b724c8f616a0415\", from_number: \"+15555550199\", to_number: \"+18129944371\", start_timestamp: 1711450000000, end_timestamp: 1711450180000, disconnection_reason: \"user_hangup\", call_analysis: {}, transcript: $json.transcript } }) }}",
        "options": {
          "timeout": 15000
        }
      }
    },
    {
      "id": "sub-wait",
      "name": "Wait 25s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 25,
        "unit": "seconds"
      }
    },
    {
      "id": "sub-check",
      "name": "Check Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?call_id=eq.{{ $(\"Workflow Input Trigger\").item.json.callId }}&select=call_id,caller_name,service_requested,is_lead,lead_score,summary",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "sub-score",
      "name": "Score Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst inp = $('Workflow Input Trigger').item.json;\nconst rows = $input.all().map(i => i.json);\nconst log = (Array.isArray(rows) && rows.length > 0 && rows[0].call_id) ? rows[0] : null;\nconst failures = [];\nif (!log) { failures.push('Not logged in Supabase'); }\nelse {\n  if (!!log.is_lead !== inp.expectLead) failures.push('is_lead=' + log.is_lead + ' expected ' + inp.expectLead);\n  if (inp.expectLead && (log.lead_score || 0) < inp.minScore) failures.push('score=' + log.lead_score + ' expected >=' + inp.minScore);\n}\nreturn [{ json: { sid: inp.sid, name: inp.name, status: failures.length ? 'FAIL' : 'PASS', failures, is_lead: log ? log.is_lead : null, lead_score: log ? log.lead_score : null, service: log ? log.service_requested : null, caller_name: log ? log.caller_name : null, summary: log ? (log.summary||'').slice(0,100) : '', callId: inp.callId } }];\n"
      }
    },
    {
      "id": "sub-del",
      "name": "Delete Test Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        0
      ],
      "parameters": {
        "method": "DELETE",
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?call_id=eq.{{ $json.callId }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Get Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript": {
      "main": [
        [
          {
            "node": "Fire Call Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fire Call Processor": {
      "main": [
        [
          {
            "node": "Wait 25s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 25s": {
      "main": [
        [
          {
            "node": "Check Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supabase": {
      "main": [
        [
          {
            "node": "Score Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Result": {
      "main": [
        [
          {
            "node": "Delete Test Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
  "activeVersionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T02:52:26.953Z",
      "createdAt": "2026-03-27T02:52:26.953Z",
      "role": "workflow:owner",
      "workflowId": "rlf1dHVcTlzUbPX7",
      "projectId": "fHNxQE9IeGCcfUfO",
      "project": {
        "updatedAt": "2026-03-17T23:00:52.768Z",
        "createdAt": "2026-03-17T23:00:46.569Z",
        "id": "fHNxQE9IeGCcfUfO",
        "name": "Daniel Blackmore <daniel@syntharra.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T02:52:26.980Z",
    "createdAt": "2026-03-27T02:52:26.980Z",
    "versionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
    "workflowId": "rlf1dHVcTlzUbPX7",
    "nodes": [
      {
        "id": "sub-trig",
        "name": "Workflow Input Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1200,
          0
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-trans",
        "name": "Get Transcript",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -960,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syntharra.app.n8n.cloud/webhook/generate-scenario-transcript",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ agent_greeting: $json.greeting, caller_persona: $json.persona }) }}",
          "options": {
            "timeout": 30000
          }
        }
      },
      {
        "id": "sub-fire",
        "name": "Fire Call Processor",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -720,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://syntharra.app.n8n.cloud/webhook/retell-hvac-webhook",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ event: \"call_analyzed\", call: { call_id: $(\"Workflow Input Trigger\").item.json.callId, agent_id: \"agent_d180e1bd5b9b724c8f616a0415\", from_number: \"+15555550199\", to_number: \"+18129944371\", start_timestamp: 1711450000000, end_timestamp: 1711450180000, disconnection_reason: \"user_hangup\", call_analysis: {}, transcript: $json.transcript } }) }}",
          "options": {
            "timeout": 15000
          }
        }
      },
      {
        "id": "sub-wait",
        "name": "Wait 25s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -480,
          0
        ],
        "parameters": {
          "resume": "timeInterval",
          "amount": 25,
          "unit": "seconds"
        }
      },
      {
        "id": "sub-check",
        "name": "Check Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -240,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?call_id=eq.{{ $(\"Workflow Input Trigger\").item.json.callId }}&select=call_id,caller_name,service_requested,is_lead,lead_score,summary",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "sub-score",
        "name": "Score Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst inp = $('Workflow Input Trigger').item.json;\nconst rows = $input.all().map(i => i.json);\nconst log = (Array.isArray(rows) && rows.length > 0 && rows[0].call_id) ? rows[0] : null;\nconst failures = [];\nif (!log) { failures.push('Not logged in Supabase'); }\nelse {\n  if (!!log.is_lead !== inp.expectLead) failures.push('is_lead=' + log.is_lead + ' expected ' + inp.expectLead);\n  if (inp.expectLead && (log.lead_score || 0) < inp.minScore) failures.push('score=' + log.lead_score + ' expected >=' + inp.minScore);\n}\nreturn [{ json: { sid: inp.sid, name: inp.name, status: failures.length ? 'FAIL' : 'PASS', failures, is_lead: log ? log.is_lead : null, lead_score: log ? log.lead_score : null, service: log ? log.service_requested : null, caller_name: log ? log.caller_name : null, summary: log ? (log.summary||'').slice(0,100) : '', callId: inp.callId } }];\n"
        }
      },
      {
        "id": "sub-del",
        "name": "Delete Test Log",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          240,
          0
        ],
        "parameters": {
          "method": "DELETE",
          "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?call_id=eq.{{ $json.callId }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Workflow Input Trigger": {
        "main": [
          [
            {
              "node": "Get Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Transcript": {
        "main": [
          [
            {
              "node": "Fire Call Processor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fire Call Processor": {
        "main": [
          [
            {
              "node": "Wait 25s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 25s": {
        "main": [
          [
            {
              "node": "Check Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Supabase": {
        "main": [
          [
            {
              "node": "Score Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Score Result": {
        "main": [
          [
            {
              "node": "Delete Test Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniel Blackmore",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T02:52:27.568Z",
        "id": 537,
        "workflowId": "rlf1dHVcTlzUbPX7",
        "versionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      },
      {
        "createdAt": "2026-03-27T02:52:33.209Z",
        "id": 539,
        "workflowId": "rlf1dHVcTlzUbPX7",
        "versionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      },
      {
        "createdAt": "2026-03-27T02:52:33.124Z",
        "id": 538,
        "workflowId": "rlf1dHVcTlzUbPX7",
        "versionId": "abebcec3-2a79-4803-901f-924c3a6a70d2",
        "event": "deactivated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    ]
  }
}