blog/blog-auto-publisher.json
{
  "name": "Blog Auto-Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/blog_topics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "eq.queued" },
            { "name": "limit", "value": "1" },
            { "name": "order", "value": "id.asc" },
            { "name": "select", "value": "*" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        }
      },
      "id": "fetch-topic",
      "name": "Fetch Next Topic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-topics",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-topic",
      "name": "Has Topics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const topics = $input.first().json;\nconst topic = topics[0];\n\nconst today = new Date();\nconst months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst pubDate = months[today.getMonth()] + ' ' + today.getFullYear();\n\nreturn [{\n  json: {\n    id: topic.id,\n    slug: topic.slug,\n    title: topic.title,\n    tag: topic.tag,\n    hero_emoji: topic.hero_emoji,\n    hero_gradient: topic.hero_gradient,\n    target_keyword: topic.target_keyword,\n    brief: topic.brief,\n    pubDate: pubDate,\n    readTime: '6 min read'\n  }\n}];"
      },
      "id": "prep-topic",
      "name": "Prepare Topic Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $vars.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-5\",\n  \"max_tokens\": 8000,\n  \"system\": \"You are a professional content writer for Syntharra, an AI Receptionist company for trade businesses (HVAC, plumbing, electrical, etc.) in the USA. Write authoritative, helpful blog articles that trade business owners will find genuinely valuable. Your articles rank well in Google because they are comprehensive, well-structured, and answer real questions contractors have.\\n\\nCRITICAL OUTPUT RULE: Return ONLY the raw JSON object below. No markdown fences, no preamble, no explanation. Just the JSON.\\n\\nReturn this exact JSON structure:\\n{\\n  \\\"meta_description\\\": \\\"150-160 char meta description\\\",\\n  \\\"body_html\\\": \\\"FULL article body HTML (everything inside .art-body div, including all h2, p, ul, callout divs)\\\",\\n  \\\"card_description\\\": \\\"1 sentence, max 120 chars, for the blog index card\\\",\\n  \\\"read_time\\\": \\\"X min read\\\"\\n}\\n\\nARTICLE REQUIREMENTS:\\n- Minimum 1,400 words of actual content\\n- 4-6 H2 subheadings that include the target keyword naturally\\n- Open with a compelling hook — a stat, a question, or a provocative statement\\n- Include at least ONE callout div with real data/stats (use class=\\\"callout\\\")\\n- Include at least ONE callout-row table inside a callout div\\n- Internal links: include 2 links — one to /demo.html and one to /calculator.html — worked naturally into the text\\n- Strong, opinionated writing — not generic AI fluff\\n- Practical, actionable advice that a contractor can act on\\n- End with a strong closing paragraph that leads naturally into the CTA\\n\\nHTML RULES for body_html:\\n- Only use: p, h2, ul, ol, li, strong, em, div.callout, div.callout-row, div.callout-row.bold, a\\n- callout-row format: <div class=\\\"callout-row\\\"><span>Label</span><span>Value</span></div>\\n- NO inline styles in body HTML\\n- NO script tags\\n- Anchor links: <a href=\\\"/demo.html\\\">try the Syntharra demo</a> style\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a blog article for Syntharra with these details:\\n\\nTitle: {{ $json.title }}\\nCategory tag: {{ $json.tag }}\\nTarget keyword: {{ $json.target_keyword }}\\nBrief: {{ $json.brief }}\\nPublication date: {{ $json.pubDate }}\\n\\nRemember: return ONLY the raw JSON object, nothing else.\"\n    }\n  ]\n}"
      },
      "id": "generate-article",
      "name": "Generate Article (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst topicData = $('Prepare Topic Data').first().json;\n\n// Extract text from Claude response\nconst contentBlock = response.content.find(b => b.type === 'text');\nif (!contentBlock) throw new Error('No text block in Claude response');\n\nlet raw = contentBlock.text.trim();\n// Strip any accidental markdown fences\nraw = raw.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  throw new Error('Failed to parse Claude JSON: ' + e.message + ' | Raw: ' + raw.substring(0,200));\n}\n\nreturn [{\n  json: {\n    ...topicData,\n    meta_description: parsed.meta_description,\n    body_html: parsed.body_html,\n    card_description: parsed.card_description,\n    read_time: parsed.read_time || '6 min read'\n  }\n}];"
      },
      "id": "parse-article",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// ── Article Schema JSON-LD ──\nconst schema = JSON.stringify({\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"Article\",\n  \"headline\": d.title,\n  \"author\": { \"@type\": \"Organization\", \"name\": \"Syntharra\" },\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"Syntharra\",\n    \"logo\": { \"@type\": \"ImageObject\", \"url\": \"https://syntharra.com/favicon.svg\" }\n  },\n  \"datePublished\": d.pubDate,\n  \"description\": d.meta_description\n});\n\n// ── Content upgrade slug (unique per article) ──\nconst cuId = 'cu_' + d.slug.replace(/-/g,'_');\n\n// ── Full HTML ──\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${d.title} | Syntharra Blog</title>\n    <meta name=\"description\" content=\"${d.meta_description}\">\n    <meta property=\"og:title\" content=\"${d.title} | Syntharra\">\n    <meta property=\"og:image\" content=\"https://syntharra.com/og-image.png\">\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n    <style>\n* { margin: 0; padding: 0; box-sizing: border-box; }\n        :root {\n            --primary-gradient: linear-gradient(135deg, #6C63FF 0%, #8B85FF 100%);\n            --indigo: #6C63FF; --background: #FAFAFA; --surface: #FFFFFF;\n            --border: #E5E7EB; --text-primary: #1A1A2E; --text-secondary: #4A4A6A; --text-tertiary: #8A8AA0;\n        }\n        html { scroll-behavior: smooth; overflow-x: clip; }\n        body { font-family: 'Inter', sans-serif; background: var(--background); color: var(--text-primary); }\n        a { color: inherit; }\n        .container { max-width: 1200px; margin: 0 auto; padding: 0 32px; }\n        header { position: fixed; top: 0; left: 0; right: 0; z-index: 100; padding: 13px 32px;\n            background: rgba(255,255,255,0.96); backdrop-filter: blur(20px);\n            border-bottom: 0.5px solid rgba(0,0,0,0.07); }\n        .header-inner { max-width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }\n        .logo-section { display: flex; align-items: center; gap: 9px; text-decoration: none; }\n        .logo-svg { width: 24px; height: 24px; flex-shrink: 0; }\n        .logo-wordmark { display: flex; flex-direction: column; gap: 2px; }\n        .logo-name { font-size: 15px; font-weight: 700; letter-spacing: -0.02em; color: #0f0f1a; line-height: 1; }\n        .logo-tagline { font-size: 7px; font-weight: 500; letter-spacing: 0.18em; color: #6C63FF; text-transform: uppercase; line-height: 1; }\n        .nav-right { display: flex; align-items: center; gap: 12px; }\n        .nav-menu { display: flex; gap: 36px; align-items: center; list-style: none; }\n        .nav-menu a { color: var(--text-primary); text-decoration: none; font-size: 14px; font-weight: 400; letter-spacing: 0.01em; transition: color 0.2s; }\n        .nav-menu a:hover { color: var(--indigo); }\n        .nav-cta { background: var(--primary-gradient); color: white !important; padding: 10px 20px; border-radius: 8px; font-size: 14px; font-weight: 600; text-decoration: none; }\n        .hamburger { display: flex; flex-direction: column; gap: 5px; background: none; border: none; cursor: pointer; padding: 8px; flex-shrink: 0; }\n        .hamburger span { display: block; width: 22px; height: 2px; background: var(--text-primary); border-radius: 2px; }\n        .menu-panel { position: fixed; top: 0; right: 0; width: 300px; max-width: 85vw;\n            height: 100vh; height: 100dvh; background: #fff; z-index: 300;\n            transform: translateX(100%); transition: transform 0.32s cubic-bezier(0.25,0.46,0.45,0.94);\n            display: flex; flex-direction: column; padding: 24px 20px 32px;\n            overflow-y: auto; box-shadow: -4px 0 32px rgba(0,0,0,0.1); }\n        .menu-panel.open { transform: translateX(0); }\n        .menu-backdrop { position: fixed; inset: 0; background: rgba(0,0,0,0.38); z-index: 299; opacity: 0; pointer-events: none; transition: opacity 0.32s ease; }\n        .menu-backdrop.open { opacity: 1; pointer-events: all; }\n        .menu-panel-head { display: flex; align-items: center; justify-content: space-between; margin-bottom: 24px; padding-bottom: 16px; border-bottom: 1px solid var(--border); }\n        .menu-close { font-size: 24px; color: var(--text-tertiary); background: none; border: none; cursor: pointer; padding: 4px 6px; font-family: inherit; line-height: 1; }\n        .menu-nav { display: flex; flex-direction: column; flex: 1; }\n        .menu-section { border-bottom: 1px solid var(--border); padding-bottom: 4px; margin-bottom: 4px; }\n        .menu-section:last-of-type { border-bottom: none; }\n        .menu-label { font-size: 10px; font-weight: 600; letter-spacing: 0.12em; text-transform: uppercase; color: var(--text-tertiary); padding: 10px 0 2px; }\n        .menu-link { color: var(--text-primary); text-decoration: none; font-size: 15px; font-weight: 500; padding: 9px 0; display: block; transition: color 0.15s; }\n        .menu-link:hover { color: var(--indigo); }\n        .menu-cta { background: var(--primary-gradient); color: white !important; padding: 13px 20px; border-radius: 10px; display: block; text-align: center; margin-top: 20px; font-size: 15px; font-weight: 600; text-decoration: none; }\n        @media (max-width: 768px) { .nav-menu { display: none; } header { padding: 12px 16px; } .container { padding: 0 16px; } }\n        footer { background: #0d0d1a; color: rgba(255,255,255,0.7); padding: 60px 0 32px; }\n        .footer-content { max-width: 1200px; margin: 0 auto; padding: 0 32px; }\n        .footer-top { display: grid; grid-template-columns: 2fr 1fr 1fr 1fr; gap: 48px; margin-bottom: 48px; }\n        .footer-brand .logo-name { color: #fff; } .footer-brand .logo-tagline { color: #6C63FF; }\n        .footer-description { font-size: 14px; color: rgba(255,255,255,0.45); line-height: 1.7; margin-top: 14px; max-width: 280px; }\n        .footer-section h3 { font-size: 12px; font-weight: 600; letter-spacing: 0.1em; text-transform: uppercase; color: rgba(255,255,255,0.35); margin-bottom: 16px; }\n        .footer-section ul { list-style: none; display: flex; flex-direction: column; gap: 10px; }\n        .footer-section ul a { font-size: 14px; color: rgba(255,255,255,0.6); text-decoration: none; transition: color 0.2s; }\n        .footer-section ul a:hover { color: #fff; }\n        .footer-bottom { border-top: 1px solid rgba(255,255,255,0.07); padding-top: 24px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 12px; }\n        .footer-copy { font-size: 13px; color: rgba(255,255,255,0.3); }\n        @media (max-width: 768px) { .footer-top { grid-template-columns: 1fr 1fr; gap: 28px; } .footer-content { padding: 0 16px; } }\n        .art-hero { width: 100%; height: 300px; display: flex; align-items: flex-end; margin-top: 64px; position: relative; overflow: hidden; }\n        .art-hero-bg { position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; font-size: 100px; }\n        .art-hero-overlay { position: absolute; inset: 0; background: linear-gradient(to top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.15) 100%); }\n        .art-hero-content { position: relative; z-index: 2; padding: 32px 40px; width: 100%; }\n        .art-hero-tag { display: inline-block; font-size: 11px; font-weight: 600; letter-spacing: 0.12em; text-transform: uppercase; color: rgba(255,255,255,0.9); background: rgba(108,99,255,0.75); padding: 5px 14px; border-radius: 20px; margin-bottom: 12px; }\n        .art-hero h1 { font-size: 32px; font-weight: 900; letter-spacing: -0.02em; line-height: 1.15; color: #fff; text-shadow: 0 2px 16px rgba(0,0,0,0.5); max-width: 700px; }\n        .article-wrap { padding: 0 0 80px; }\n        .article-inner { max-width: 780px; margin: 0 auto; padding: 44px 32px 0; }\n        .back-link { font-size: 13px; color: var(--text-tertiary); text-decoration: none; display: inline-flex; align-items: center; gap: 6px; margin-bottom: 28px; transition: color 0.2s; }\n        .back-link:hover { color: var(--indigo); }\n        .art-meta { display: flex; gap: 10px; align-items: center; font-size: 13px; color: var(--text-tertiary); padding-bottom: 28px; border-bottom: 1px solid var(--border); margin-bottom: 36px; flex-wrap: wrap; }\n        .art-body { font-size: 17px; line-height: 1.85; color: var(--text-secondary); }\n        .art-body p { margin-bottom: 24px; }\n        .art-body h2 { font-size: 23px; font-weight: 800; color: var(--text-primary); letter-spacing: -0.02em; margin: 48px 0 14px; padding-top: 16px; border-top: 1px solid var(--border); }\n        .art-body ul, .art-body ol { padding-left: 24px; margin-bottom: 24px; display: flex; flex-direction: column; gap: 10px; }\n        .art-body li { line-height: 1.75; }\n        .art-body strong { color: var(--text-primary); font-weight: 700; }\n        .art-body a { color: var(--indigo); text-decoration: underline; text-underline-offset: 3px; }\n        .callout { background: #f7f6ff; border: 1px solid rgba(108,99,255,0.15); border-radius: 14px; padding: 24px 28px; margin: 32px 0; }\n        .callout p { color: var(--text-primary); font-style: italic; font-size: 16px; line-height: 1.7; margin: 0; }\n        .callout-row { display: flex; justify-content: space-between; font-size: 14px; color: var(--text-secondary); padding: 8px 0; border-bottom: 1px solid rgba(108,99,255,0.1); }\n        .callout-row:last-child { border-bottom: none; }\n        .callout-row.bold { font-weight: 700; color: var(--text-primary); font-size: 15px; }\n        .art-cta { background: linear-gradient(135deg, #0d0d1a, #1a1a3e); border-radius: 20px; padding: 48px; margin-top: 56px; text-align: center; }\n        .art-cta h3 { font-size: 26px; font-weight: 800; color: #fff; margin-bottom: 10px; letter-spacing: -0.01em; }\n        .art-cta p { font-size: 15px; color: rgba(255,255,255,0.6); margin-bottom: 24px; }\n        .art-cta-btns { display: flex; gap: 12px; justify-content: center; flex-wrap: wrap; }\n        .art-cta .btn-outline { color: #fff !important; border-color: rgba(255,255,255,0.3); }\n        .art-author { display: flex; align-items: center; gap: 14px; padding: 24px 0; border-top: 1px solid var(--border); margin-top: 48px; }\n        .art-author-icon { width: 44px; height: 44px; border-radius: 50%; background: var(--primary-gradient); display: flex; align-items: center; justify-content: center; font-size: 20px; flex-shrink: 0; }\n        .art-author-name { font-size: 14px; font-weight: 600; color: var(--text-primary); }\n        .art-author-role { font-size: 12px; color: var(--text-tertiary); }\n        .btn, .btn-primary, .btn-outline { display: inline-flex; align-items: center; gap: 8px; padding: 13px 28px; border-radius: 10px; font-size: 15px; font-weight: 600; text-decoration: none !important; transition: all 0.2s; font-family: inherit; cursor: pointer; border: none; }\n        .btn-primary { background: var(--primary-gradient); color: white; }\n        .btn-primary:hover { opacity: 0.9; }\n        .btn-outline { background: transparent; color: var(--indigo); border: 1.5px solid var(--indigo); }\n        .btn-outline:hover { background: rgba(108,99,255,0.06); }\n        @media (max-width: 768px) {\n            .art-hero { height: 220px; } .art-hero h1 { font-size: 22px; }\n            .art-hero-content { padding: 24px 16px; } .article-inner { padding: 28px 16px 0; }\n            .art-body { font-size: 16px; } .art-cta { padding: 32px 20px; }\n        }\n    </style>\n<script type=\"application/ld+json\">\n${schema}\n</script>\n</head>\n<body>\n    <header>\n        <div class=\"header-inner\">\n            <a href=\"/\" class=\"logo-section\">\n                <div class=\"logo-svg\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 80 80\"><rect x=\"4\" y=\"56\" width=\"12\" height=\"20\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"22\" y=\"40\" width=\"12\" height=\"36\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"40\" y=\"24\" width=\"12\" height=\"52\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"58\" y=\"4\" width=\"12\" height=\"72\" rx=\"4\" fill=\"#6C63FF\"/></svg></div>\n                <div class=\"logo-wordmark\"><span class=\"logo-name\">Syntharra</span><span class=\"logo-tagline\">Global AI Solutions</span></div>\n            </a>\n            <div class=\"nav-right\">\n                <ul class=\"nav-menu\">\n                    <li><a href=\"/#solutions\">Solutions</a></li>\n                    <li><a href=\"/case-studies.html\">Case Studies</a></li>\n                    <li><a href=\"/demo.html\">Demo</a></li>\n                    <li><a href=\"/faq.html\">FAQ</a></li>\n                    <li><a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" class=\"nav-cta\">Book a Call</a></li>\n                </ul>\n                <button class=\"hamburger\" id=\"hamburger\"><span></span><span></span><span></span></button>\n            </div>\n        </div>\n    </header>\n    <div class=\"menu-backdrop\" id=\"menuBackdrop\"></div>\n    <div class=\"menu-panel\" id=\"menuPanel\">\n        <div class=\"menu-panel-head\">\n            <a href=\"/\" class=\"logo-section\">\n                <div class=\"logo-svg\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 80 80\"><rect x=\"4\" y=\"56\" width=\"12\" height=\"20\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"22\" y=\"40\" width=\"12\" height=\"36\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"40\" y=\"24\" width=\"12\" height=\"52\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"58\" y=\"4\" width=\"12\" height=\"72\" rx=\"4\" fill=\"#6C63FF\"/></svg></div>\n                <div class=\"logo-wordmark\"><span class=\"logo-name\">Syntharra</span><span class=\"logo-tagline\">Global AI Solutions</span></div>\n            </a>\n            <button class=\"menu-close\" id=\"menuClose\">&times;</button>\n        </div>\n        <nav class=\"menu-nav\">\n            <div class=\"menu-section\"><div class=\"menu-label\">Product</div>\n                <a href=\"/#solutions\" class=\"menu-link\">Solutions</a>\n                <a href=\"/how-it-works.html\" class=\"menu-link\">How It Works</a>\n                <a href=\"/demo.html\" class=\"menu-link\">Demo</a>\n                <a href=\"/faq.html\" class=\"menu-link\">FAQ</a>\n                <a href=\"/ai-readiness.html\" class=\"menu-link\">AI Readiness Score</a>\n                <a href=\"/calculator.html\" class=\"menu-link\">Revenue Calculator</a>\n                <a href=\"/plan-quiz.html\" class=\"menu-link\">Which Plan?</a>\n            </div>\n            <div class=\"menu-section\"><div class=\"menu-label\">Learn</div>\n                <a href=\"/case-studies.html\" class=\"menu-link\">Case Studies</a>\n                <a href=\"/blog.html\" class=\"menu-link\">Blog</a>\n                <a href=\"/vs-answering-service.html\" class=\"menu-link\">Why AI Wins</a>\n            </div>\n            <div class=\"menu-section\"><div class=\"menu-label\">Industries</div>\n                <a href=\"/hvac.html\" class=\"menu-link\">HVAC</a>\n                <a href=\"/plumbing.html\" class=\"menu-link\">Plumbing</a>\n                <a href=\"/electrical.html\" class=\"menu-link\">Electrical</a>\n            </div>\n            <div class=\"menu-section\"><div class=\"menu-label\">Company</div>\n                <a href=\"/about.html\" class=\"menu-link\">About</a>\n                <a href=\"/affiliate.html\" class=\"menu-link\">Affiliate Program</a>\n                <a href=\"/careers.html\" class=\"menu-link\">Careers</a>\n                <a href=\"/status.html\" class=\"menu-link\">System Status</a>\n            </div>\n            <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" class=\"menu-cta\">&#x1F4C5; Book a Call</a>\n        </nav>\n    </div>\n\n    <div class=\"art-hero\" style=\"background:${d.hero_gradient};\">\n        <div class=\"art-hero-bg\">${d.hero_emoji}</div>\n        <div class=\"art-hero-overlay\"></div>\n        <div class=\"art-hero-content\">\n            <div class=\"art-hero-tag\">${d.tag}</div>\n            <h1>${d.title}</h1>\n        </div>\n    </div>\n\n    <section class=\"article-wrap\">\n        <div class=\"article-inner\">\n            <a href=\"/blog.html\" class=\"back-link\">&#x2190; Back to blog</a>\n            <div class=\"art-meta\">\n                <span>${d.read_time}</span>\n                <span>&middot;</span>\n                <span>${d.pubDate}</span>\n                <span>&middot;</span>\n                <span>Syntharra Team</span>\n            </div>\n            <div class=\"art-body\">\n${d.body_html}\n            </div>\n            <div class=\"art-author\">\n                <div class=\"art-author-icon\"><img src=\"/favicon-white.svg\" alt=\"Syntharra\" style=\"width:26px;height:26px;\"></div>\n                <div>\n                    <div class=\"art-author-name\">Syntharra Team</div>\n                    <div class=\"art-author-role\">AI Solutions for Trade Businesses</div>\n                </div>\n            </div>\n            <div class=\"art-cta\">\n                <h3>Ready to stop missing calls?</h3>\n                <p>See how Syntharra handles every inbound call for trade contractors &#8212; 24/7, instantly, at a fraction of the cost of a receptionist.</p>\n                <div class=\"art-cta-btns\">\n                    <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" class=\"btn-primary\">Book a 15-min call &#x2192;</a>\n                    <a href=\"/demo.html\" class=\"btn-outline\">Try the demo</a>\n                </div>\n            </div>\n        </div>\n    </section>\n\n    <footer>\n        <div class=\"footer-content\">\n            <div class=\"footer-top\">\n                <div class=\"footer-section footer-brand\">\n                    <div class=\"logo-section\" style=\"margin-bottom:14px;\"><div class=\"logo-svg\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 80 80\"><rect x=\"4\" y=\"56\" width=\"12\" height=\"20\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"22\" y=\"40\" width=\"12\" height=\"36\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"40\" y=\"24\" width=\"12\" height=\"52\" rx=\"4\" fill=\"#6C63FF\"/><rect x=\"58\" y=\"4\" width=\"12\" height=\"72\" rx=\"4\" fill=\"#6C63FF\"/></svg></div><div class=\"logo-wordmark\"><span class=\"logo-name\">Syntharra</span><span class=\"logo-tagline\">Global AI Solutions</span></div></div>\n                    <p class=\"footer-description\">AI Receptionist for service businesses worldwide. Never miss a call. Never lose a lead.</p>\n                </div>\n                <div class=\"footer-section\"><h3>Product</h3><ul><li><a href=\"/#solutions\">Solutions</a></li><li><a href=\"/#results\">Results</a></li><li><a href=\"/case-studies.html\">Case Studies</a></li><li><a href=\"/demo.html\">Demo</a></li></ul></div>\n                <div class=\"footer-section\"><h3>Company</h3><ul><li><a href=\"/blog.html\">Blog</a></li><li><a href=\"/affiliate.html\">Affiliate Program</a></li><li><a href=\"/careers.html\">Careers</a></li><li><a href=\"/status.html\">System Status</a></li></ul></div>\n                <div class=\"footer-section\"><h3>Legal</h3><ul><li><a href=\"/privacy.html\">Privacy Policy</a></li><li><a href=\"/terms.html\">Terms of Service</a></li><li><a href=\"/security.html\">Security</a></li><li><a href=\"mailto:support@syntharra.com\">Contact</a></li><li><a href=\"mailto:feedback@syntharra.com\">Feedback</a></li></ul></div>\n            </div>\n            <div class=\"footer-bottom\"><span class=\"footer-copy\">&copy; 2025 Syntharra AI Solutions. All rights reserved.</span><span class=\"footer-copy\">Built for the trades.</span></div>\n        </div>\n    </footer>\n    <script>\n        (function(){\n            var btn=document.getElementById('hamburger'),panel=document.getElementById('menuPanel'),\n                bd=document.getElementById('menuBackdrop'),cl=document.getElementById('menuClose');\n            function open(){panel.classList.add('open');bd.classList.add('open');document.body.style.overflow='hidden';}\n            function close(){panel.classList.remove('open');bd.classList.remove('open');document.body.style.overflow='';}\n            if(btn)btn.addEventListener('click',open);\n            if(cl)cl.addEventListener('click',close);\n            if(bd)bd.addEventListener('click',close);\n            document.querySelectorAll('.menu-link,.menu-cta').forEach(function(l){l.addEventListener('click',close);});\n        })();\n    </script>\n</body>\n</html>`;\n\nreturn [{ json: { ...d, full_html: html } }];"
      },
      "id": "build-html",
      "name": "Build Full HTML Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst base64Content = Buffer.from(d.full_html).toString('base64');\nreturn [{ json: { ...d, base64_content: base64Content, github_path: 'blog/' + d.slug + '.html' } }];"
      },
      "id": "encode-html",
      "name": "Base64 Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/Syntharra/syntharra-website/contents/{{ $json.github_path }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=token {{ $vars.GITHUB_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Auto-publish: {{ $json.title }}\",\n  \"content\": \"{{ $json.base64_content }}\"\n}"
      },
      "id": "push-article",
      "name": "Push Article to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/Syntharra/syntharra-website/contents/blog.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=token {{ $vars.GITHUB_TOKEN }}" }
          ]
        }
      },
      "id": "fetch-blog-index",
      "name": "Fetch blog.html",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 220]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst articleData = $('Base64 Encode').first().json;\n\nconst sha = response.sha;\nconst blogHtml = Buffer.from(response.content, 'base64').toString('utf8');\n\n// Build the new blog card HTML\nconst newCard = `<a href=\"/blog/${articleData.slug}.html\" class=\"blog-card\">\n  <div class=\"blog-card-img\" style=\"background:${articleData.hero_gradient};\"><span>${articleData.hero_emoji}</span></div>\n  <div class=\"blog-card-body\">\n    <div class=\"blog-tag\">${articleData.tag}</div>\n    <h3>${articleData.title}</h3>\n    <p>${articleData.card_description}</p>\n    <div class=\"blog-meta\"><span>${articleData.read_time}</span><span>·</span><span>${articleData.pubDate}</span></div>\n  </div>\n</a>`;\n\n// Insert new card right after the blog-grid opening tag\nconst insertMarker = '<div class=\"blog-grid\">';\nif (!blogHtml.includes(insertMarker)) {\n  throw new Error('Could not find blog-grid insertion point in blog.html');\n}\n\nconst updatedHtml = blogHtml.replace(\n  insertMarker,\n  insertMarker + '\\n' + newCard\n);\n\n// Verify single style block\nconst styleCount = (updatedHtml.match(/<style>/g) || []).length;\nif (styleCount !== 1) throw new Error('Style block count is ' + styleCount + ', expected 1');\n\nconst encoded = Buffer.from(updatedHtml).toString('base64');\n\nreturn [{ json: { sha, encoded_content: encoded, title: articleData.title } }];"
      },
      "id": "inject-blog-card",
      "name": "Inject Blog Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 220]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Syntharra/syntharra-website/contents/blog.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=token {{ $vars.GITHUB_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Add blog card: {{ $json.title }}\",\n  \"content\": \"{{ $json.encoded_content }}\",\n  \"sha\": \"{{ $json.sha }}\"\n}"
      },
      "id": "push-blog-index",
      "name": "Push Updated blog.html",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 220]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/blog_topics?id=eq.{{ $('Prepare Topic Data').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"published\",\n  \"published_at\": \"{{ $now.toISO() }}\"\n}"
      },
      "id": "mark-published",
      "name": "Mark Topic Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 220]
    },
    {
      "parameters": {
        "jsCode": "const topic = $('Prepare Topic Data').first().json;\nconst now = new Date().toISOString();\nconsole.log(`[Blog Auto-Publisher] ✅ Published: \"${topic.title}\" → blog/${topic.slug}.html at ${now}`);\nreturn [{ json: { success: true, title: topic.title, slug: topic.slug, published_at: now } }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 220]
    },
    {
      "parameters": {
        "jsCode": "console.log('[Blog Auto-Publisher] No queued topics remaining. Skipping run.');\nreturn [{ json: { skipped: true, reason: 'No queued topics' } }];"
      },
      "id": "no-topics",
      "name": "No Topics — Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Next Topic", "type": "main", "index": 0 }]]
    },
    "Fetch Next Topic": {
      "main": [[{ "node": "Has Topics?", "type": "main", "index": 0 }]]
    },
    "Has Topics?": {
      "main": [
        [{ "node": "Prepare Topic Data", "type": "main", "index": 0 }],
        [{ "node": "No Topics — Skip", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Topic Data": {
      "main": [[{ "node": "Generate Article (Claude)", "type": "main", "index": 0 }]]
    },
    "Generate Article (Claude)": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[{ "node": "Build Full HTML Page", "type": "main", "index": 0 }]]
    },
    "Build Full HTML Page": {
      "main": [[{ "node": "Base64 Encode", "type": "main", "index": 0 }]]
    },
    "Base64 Encode": {
      "main": [[{ "node": "Push Article to GitHub", "type": "main", "index": 0 }]]
    },
    "Push Article to GitHub": {
      "main": [[{ "node": "Fetch blog.html", "type": "main", "index": 0 }]]
    },
    "Fetch blog.html": {
      "main": [[{ "node": "Inject Blog Card", "type": "main", "index": 0 }]]
    },
    "Inject Blog Card": {
      "main": [[{ "node": "Push Updated blog.html", "type": "main", "index": 0 }]]
    },
    "Push Updated blog.html": {
      "main": [[{ "node": "Mark Topic Published", "type": "main", "index": 0 }]]
    },
    "Mark Topic Published": {
      "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
