n8n-backup-2026-03-28/dHO8O0QHBZJyzytn_Transcript_Generator.json
{"updatedAt":"2026-03-27T01:33:14.108Z","createdAt":"2026-03-26T01:49:36.689Z","id":"dHO8O0QHBZJyzytn","name":"HVAC Scenario Transcript Generator","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,0],"parameters":{"httpMethod":"POST","path":"generate-scenario-transcript","responseMode":"responseNode"},"webhookId":"7f4f61aa-1f64-4bc9-b295-cc725b026b79"},{"id":"gpt-generate","name":"GPT: Generate Transcript","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[-560,0],"credentials":{"openAiApi":{"id":"ubVD6nIZ6FkIStS8","name":"OpenAi account"}},"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"role":"system","content":"You generate realistic HVAC phone call transcripts. You MUST follow the caller persona EXACTLY including the name, phone, address, service type, urgency and emotional state given.\n\nFormat EXACTLY as alternating lines:\nAgent: [utterance]\nCaller: [utterance]\n\nRules:\n- Agent greets with the exact greeting provided\n- Caller uses the EXACT name, phone number and address from the persona\n- Caller emotional state must match the persona (panicking = panicking, calm = calm)\n- Agent collects: full name, callback number, service address, confirms each back\n- Caller speaks naturally with the urgency level specified in the persona\n- Keep agent responses under 30 words each\n- 8-15 exchanges total\n- End with agent confirming someone will be in touch\n- Output ONLY the transcript, nothing else - no preamble, no explanation"},{"content":"=Agent greeting: \"{{ $json.body.agent_greeting || 'Thank you for calling, how can I help you today?' }}\"\n\nCaller persona (follow this EXACTLY - use the exact name, phone, address, emotional state specified):\n{{ $json.body.caller_persona || $json.body.persona || 'Standard caller requesting HVAC service' }}\n\nGenerate a realistic transcript of this call following the persona exactly."}]},"options":{"temperature":0.85}}},{"id":"build-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0],"parameters":{"jsCode":"\nconst transcript = $input.first().json.message?.content || $input.first().json.text || '';\nreturn { transcript: transcript.trim() };\n"}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-80,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}"}}],"connections":{"Webhook":{"main":[[{"node":"GPT: Generate Transcript","type":"main","index":0}]]},"GPT: Generate Transcript":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","activeVersionId":"6b40920b-631c-48d9-b408-51b8794b7a18","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-03-26T01:49:36.692Z","createdAt":"2026-03-26T01:49:36.692Z","role":"workflow:owner","workflowId":"dHO8O0QHBZJyzytn","projectId":"fHNxQE9IeGCcfUfO","project":{"updatedAt":"2026-03-17T23:00:52.768Z","createdAt":"2026-03-17T23:00:46.569Z","id":"fHNxQE9IeGCcfUfO","name":"Daniel Blackmore <daniel@syntharra.com>","type":"personal","icon":null,"description":null,"creatorId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T01:33:14.109Z","createdAt":"2026-03-27T01:33:14.109Z","versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","workflowId":"dHO8O0QHBZJyzytn","nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,0],"parameters":{"httpMethod":"POST","path":"generate-scenario-transcript","responseMode":"responseNode"},"webhookId":"7f4f61aa-1f64-4bc9-b295-cc725b026b79"},{"id":"gpt-generate","name":"GPT: Generate Transcript","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[-560,0],"credentials":{"openAiApi":{"id":"ubVD6nIZ6FkIStS8","name":"OpenAi account"}},"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"role":"system","content":"You generate realistic HVAC phone call transcripts. You MUST follow the caller persona EXACTLY including the name, phone, address, service type, urgency and emotional state given.\n\nFormat EXACTLY as alternating lines:\nAgent: [utterance]\nCaller: [utterance]\n\nRules:\n- Agent greets with the exact greeting provided\n- Caller uses the EXACT name, phone number and address from the persona\n- Caller emotional state must match the persona (panicking = panicking, calm = calm)\n- Agent collects: full name, callback number, service address, confirms each back\n- Caller speaks naturally with the urgency level specified in the persona\n- Keep agent responses under 30 words each\n- 8-15 exchanges total\n- End with agent confirming someone will be in touch\n- Output ONLY the transcript, nothing else - no preamble, no explanation"},{"content":"=Agent greeting: \"{{ $json.body.agent_greeting || 'Thank you for calling, how can I help you today?' }}\"\n\nCaller persona (follow this EXACTLY - use the exact name, phone, address, emotional state specified):\n{{ $json.body.caller_persona || $json.body.persona || 'Standard caller requesting HVAC service' }}\n\nGenerate a realistic transcript of this call following the persona exactly."}]},"options":{"temperature":0.85}}},{"id":"build-response","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,0],"parameters":{"jsCode":"\nconst transcript = $input.first().json.message?.content || $input.first().json.text || '';\nreturn { transcript: transcript.trim() };\n"}},{"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-80,0],"parameters":{"respondWith":"json","responseBody":"={{ $json }}"}}],"connections":{"Webhook":{"main":[[{"node":"GPT: Generate Transcript","type":"main","index":0}]]},"GPT: Generate Transcript":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Daniel Blackmore","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-27T01:33:14.351Z","id":481,"workflowId":"dHO8O0QHBZJyzytn","versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","event":"activated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"},{"createdAt":"2026-03-27T01:33:17.877Z","id":483,"workflowId":"dHO8O0QHBZJyzytn","versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","event":"activated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"},{"createdAt":"2026-03-27T01:33:14.233Z","id":480,"workflowId":"dHO8O0QHBZJyzytn","versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","event":"deactivated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"},{"createdAt":"2026-03-27T01:33:17.771Z","id":482,"workflowId":"dHO8O0QHBZJyzytn","versionId":"6b40920b-631c-48d9-b408-51b8794b7a18","event":"deactivated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}]}}