n8n-backup-2026-03-28/FBNjSmb3eLdBS3N9_AI_Readiness_Score_Email.json
{"updatedAt":"2026-03-28T16:55:39.974Z","createdAt":"2026-03-28T16:55:39.974Z","id":"FBNjSmb3eLdBS3N9","name":"Website Lead → AI Readiness Score Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-readiness-score","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"// ============================================================\n// AI Readiness Score → Results Email (SMTP2GO)\n// ============================================================\n// Trigger: n8n webhook at /webhook/ai-readiness-score\n// Input: { email, score, score_label, score_explanation, answers }\n// ============================================================\n\nconst input = $input.first().json;\nconst email = input.email || '';\nconst score = input.score || 0;\nconst scoreLabel = input.score_label || 'Calculated';\nconst scoreExplanation = input.score_explanation || '';\n\nif (!email) {\n  console.log('[AI READINESS] No email — skipping');\n  return { sent: false };\n}\n\nconst scoreColor = score >= 75 ? '#10B981' : score >= 50 ? '#6C63FF' : score >= 30 ? '#F59E0B' : '#6B7280';\nconst scoreBg = score >= 75 ? '#ECFDF5' : score >= 50 ? '#F0EEFF' : score >= 30 ? '#FEF3C7' : '#F3F4F6';\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <img src=\"data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgODAgODAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgeD0iNCIgeT0iNTYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIyMCIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSIyMiIgeT0iNDAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIzNiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI0MCIgeT0iMjQiIHdpZHRoPSIxMiIgaGVpZ2h0PSI1MiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI1OCIgeT0iNCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjcyIiByeD0iNCIgZmlsbD0iIzZDNjNGRiIvPjwvc3ZnPg==\" alt=\"Syntharra\" width=\"36\" height=\"36\" style=\"display:block;margin:0 auto\">\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px\"><tr><td>\n  <span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background:#F0EEFF;padding:4px 12px;border-radius:20px\">Your AI Readiness Results</span>\n</td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">Here's Your Score</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 28px\">Based on your answers, here's how AI-ready your business is — and what it means for your revenue.</p>\n\n<!-- Score Circle -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\">\n<tr><td style=\"text-align:center\">\n  <div style=\"display:inline-block;width:120px;height:120px;border-radius:50%;background:${scoreBg};border:4px solid ${scoreColor};line-height:120px;text-align:center\">\n    <span style=\"font-size:44px;font-weight:700;color:${scoreColor}\">${score}</span>\n  </div>\n  <p style=\"font-size:18px;font-weight:700;color:#1A1A2E;margin:14px 0 4px\">${scoreLabel}</p>\n  <p style=\"font-size:13px;color:#6B7280;margin:0\">out of 100</p>\n</td></tr>\n</table>\n\n<!-- Explanation -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#F9F9FC;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:20px\">\n  <p style=\"font-size:14px;color:#1A1A2E;line-height:1.7;margin:0\">${scoreExplanation}</p>\n</td></tr>\n</table>\n\n<!-- Stats -->\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">The Numbers Behind Your Score</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average missed calls per week</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">12 calls</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average job value in trades</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">$350</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Estimated monthly revenue lost</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:18px\">$16,800</td></tr>\n<tr><td style=\"padding:12px 20px;color:#1A1A2E;font-size:14px\">Revenue recoverable with AI</td><td style=\"padding:12px 20px;text-align:right;font-weight:700;color:#10B981;font-size:18px\">$14,280+</td></tr>\n</table>\n\n<!-- 3 Action Items -->\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">3 Quick Wins to Stop Losing Calls</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#F0EEFF;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#6C63FF\">1</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Answer every call, 24/7</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">An AI receptionist picks up instantly — nights, weekends, holidays. No more missed opportunities.</p></td>\n</tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#ECFDF5;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#10B981\">2</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Get instant lead alerts</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">Every qualified lead scored and sent to you via SMS and email within seconds.</p></td>\n</tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#FEF3C7;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#F59E0B\">3</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Track everything from one dashboard</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">See every call, every lead, every trend. Weekly reports sent straight to your inbox.</p></td>\n</tr></table>\n\n<!-- CTA -->\n<div style=\"text-align:center;margin:0 0 12px\">\n  <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" style=\"display:inline-block;background:#6C63FF;color:#fff;padding:16px 44px;border-radius:10px;text-decoration:none;font-weight:700;font-size:16px;box-shadow:0 4px 14px rgba(108,99,255,0.35)\">Book a Free Demo Call</a>\n</div>\n<p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:12px 0 0\">15 minutes. No commitment. See it working live with your business name.</p>\n</div></td></tr>\n<tr><td style=\"padding:20px;text-align:center\">\n  <a href=\"https://syntharra-checkout-production.up.railway.app/\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">View Pricing</a>\n  <span style=\"color:#D1D5DB\">|</span>\n  <a href=\"https://www.syntharra.com/demo.html\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">Try the AI Demo</a>\n</td></tr>\n<tr><td style=\"text-align:center\"><p style=\"color:#9CA3AF;font-size:11px;margin:0;line-height:1.6\">Syntharra AI Solutions<br><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">syntharra.com</a> &middot; <a href=\"mailto:support@syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">support@syntharra.com</a></p></td></tr>\n</table></td></tr></table></body></html>`;\n\n// ── SEND VIA SMTP2GO ────────────────────────────────────────\nconst SMTP2GO_KEY = 'REDACTED_SMTP2GO_KEY';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: [email],\n      subject: `Your AI Readiness Score: ${score}/100 — ${scoreLabel}`,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[AI READINESS] Sent score ${score} to ${email}`);\n  return { ...input, _email_sent: true };\n} catch (e) {\n  console.log(`[AI READINESS] Failed: ${e.message}`);\n  return { ...input, _email_sent: false, _error: e.message };\n}\n","nodeMode":"runOnceForEachItem"},"id":"send-email","name":"Send AI Readiness Score Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Score email sent\"}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"respond-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,300]}],"connections":{"Webhook":{"main":[[{"node":"Send AI Readiness Score Email","type":"main","index":0}]]},"Send AI Readiness Score Email":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9bd607ae-22ea-4de5-ae9f-2ca8eb8cc226","activeVersionId":"9bd607ae-22ea-4de5-ae9f-2ca8eb8cc226","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T16:55:39.976Z","createdAt":"2026-03-28T16:55:39.976Z","role":"workflow:owner","workflowId":"FBNjSmb3eLdBS3N9","projectId":"fHNxQE9IeGCcfUfO","project":{"updatedAt":"2026-03-17T23:00:52.768Z","createdAt":"2026-03-17T23:00:46.569Z","id":"fHNxQE9IeGCcfUfO","name":"Daniel Blackmore <daniel@syntharra.com>","type":"personal","icon":null,"description":null,"creatorId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T16:55:40.007Z","createdAt":"2026-03-28T16:55:40.007Z","versionId":"9bd607ae-22ea-4de5-ae9f-2ca8eb8cc226","workflowId":"FBNjSmb3eLdBS3N9","nodes":[{"parameters":{"httpMethod":"POST","path":"ai-readiness-score","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"// ============================================================\n// AI Readiness Score → Results Email (SMTP2GO)\n// ============================================================\n// Trigger: n8n webhook at /webhook/ai-readiness-score\n// Input: { email, score, score_label, score_explanation, answers }\n// ============================================================\n\nconst input = $input.first().json;\nconst email = input.email || '';\nconst score = input.score || 0;\nconst scoreLabel = input.score_label || 'Calculated';\nconst scoreExplanation = input.score_explanation || '';\n\nif (!email) {\n  console.log('[AI READINESS] No email — skipping');\n  return { sent: false };\n}\n\nconst scoreColor = score >= 75 ? '#10B981' : score >= 50 ? '#6C63FF' : score >= 30 ? '#F59E0B' : '#6B7280';\nconst scoreBg = score >= 75 ? '#ECFDF5' : score >= 50 ? '#F0EEFF' : score >= 30 ? '#FEF3C7' : '#F3F4F6';\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <img src=\"data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgODAgODAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgeD0iNCIgeT0iNTYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIyMCIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSIyMiIgeT0iNDAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIzNiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI0MCIgeT0iMjQiIHdpZHRoPSIxMiIgaGVpZ2h0PSI1MiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI1OCIgeT0iNCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjcyIiByeD0iNCIgZmlsbD0iIzZDNjNGRiIvPjwvc3ZnPg==\" alt=\"Syntharra\" width=\"36\" height=\"36\" style=\"display:block;margin:0 auto\">\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px\"><tr><td>\n  <span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background:#F0EEFF;padding:4px 12px;border-radius:20px\">Your AI Readiness Results</span>\n</td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">Here's Your Score</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 28px\">Based on your answers, here's how AI-ready your business is — and what it means for your revenue.</p>\n\n<!-- Score Circle -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\">\n<tr><td style=\"text-align:center\">\n  <div style=\"display:inline-block;width:120px;height:120px;border-radius:50%;background:${scoreBg};border:4px solid ${scoreColor};line-height:120px;text-align:center\">\n    <span style=\"font-size:44px;font-weight:700;color:${scoreColor}\">${score}</span>\n  </div>\n  <p style=\"font-size:18px;font-weight:700;color:#1A1A2E;margin:14px 0 4px\">${scoreLabel}</p>\n  <p style=\"font-size:13px;color:#6B7280;margin:0\">out of 100</p>\n</td></tr>\n</table>\n\n<!-- Explanation -->\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#F9F9FC;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:20px\">\n  <p style=\"font-size:14px;color:#1A1A2E;line-height:1.7;margin:0\">${scoreExplanation}</p>\n</td></tr>\n</table>\n\n<!-- Stats -->\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">The Numbers Behind Your Score</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average missed calls per week</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">12 calls</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average job value in trades</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">$350</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Estimated monthly revenue lost</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:18px\">$16,800</td></tr>\n<tr><td style=\"padding:12px 20px;color:#1A1A2E;font-size:14px\">Revenue recoverable with AI</td><td style=\"padding:12px 20px;text-align:right;font-weight:700;color:#10B981;font-size:18px\">$14,280+</td></tr>\n</table>\n\n<!-- 3 Action Items -->\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">3 Quick Wins to Stop Losing Calls</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#F0EEFF;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#6C63FF\">1</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Answer every call, 24/7</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">An AI receptionist picks up instantly — nights, weekends, holidays. No more missed opportunities.</p></td>\n</tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:12px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#ECFDF5;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#10B981\">2</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Get instant lead alerts</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">Every qualified lead scored and sent to you via SMS and email within seconds.</p></td>\n</tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\"><tr>\n  <td style=\"width:32px;vertical-align:top;padding-top:2px\"><div style=\"width:28px;height:28px;border-radius:50%;background:#FEF3C7;text-align:center;line-height:28px;font-size:13px;font-weight:700;color:#F59E0B\">3</div></td>\n  <td style=\"padding:0 0 16px 12px\"><p style=\"font-size:14px;font-weight:600;color:#1A1A2E;margin:0 0 4px\">Track everything from one dashboard</p><p style=\"font-size:13px;color:#6B7280;line-height:1.5;margin:0\">See every call, every lead, every trend. Weekly reports sent straight to your inbox.</p></td>\n</tr></table>\n\n<!-- CTA -->\n<div style=\"text-align:center;margin:0 0 12px\">\n  <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" style=\"display:inline-block;background:#6C63FF;color:#fff;padding:16px 44px;border-radius:10px;text-decoration:none;font-weight:700;font-size:16px;box-shadow:0 4px 14px rgba(108,99,255,0.35)\">Book a Free Demo Call</a>\n</div>\n<p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:12px 0 0\">15 minutes. No commitment. See it working live with your business name.</p>\n</div></td></tr>\n<tr><td style=\"padding:20px;text-align:center\">\n  <a href=\"https://syntharra-checkout-production.up.railway.app/\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">View Pricing</a>\n  <span style=\"color:#D1D5DB\">|</span>\n  <a href=\"https://www.syntharra.com/demo.html\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">Try the AI Demo</a>\n</td></tr>\n<tr><td style=\"text-align:center\"><p style=\"color:#9CA3AF;font-size:11px;margin:0;line-height:1.6\">Syntharra AI Solutions<br><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">syntharra.com</a> &middot; <a href=\"mailto:support@syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">support@syntharra.com</a></p></td></tr>\n</table></td></tr></table></body></html>`;\n\n// ── SEND VIA SMTP2GO ────────────────────────────────────────\nconst SMTP2GO_KEY = 'REDACTED_SMTP2GO_KEY';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: [email],\n      subject: `Your AI Readiness Score: ${score}/100 — ${scoreLabel}`,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[AI READINESS] Sent score ${score} to ${email}`);\n  return { ...input, _email_sent: true };\n} catch (e) {\n  console.log(`[AI READINESS] Failed: ${e.message}`);\n  return { ...input, _email_sent: false, _error: e.message };\n}\n","nodeMode":"runOnceForEachItem"},"id":"send-email","name":"Send AI Readiness Score Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Score email sent\"}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"respond-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,300]}],"connections":{"Webhook":{"main":[[{"node":"Send AI Readiness Score Email","type":"main","index":0}]]},"Send AI Readiness Score Email":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"authors":"Daniel Blackmore","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T16:55:40.521Z","id":714,"workflowId":"FBNjSmb3eLdBS3N9","versionId":"9bd607ae-22ea-4de5-ae9f-2ca8eb8cc226","event":"activated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}]}}