n8n-backup-2026-03-28/ykaZkQXWO2zEJCdu_Free_Report_Email.json
{"updatedAt":"2026-03-28T16:55:07.721Z","createdAt":"2026-03-28T16:55:07.721Z","id":"ykaZkQXWO2zEJCdu","name":"Website Lead → Free Report Email","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"free-report","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"// ============================================================\n// Website Lead → Free Report Email (SMTP2GO)\n// ============================================================\n// Trigger: Supabase webhook on website_leads INSERT\n// OR: called from the website directly via fetch to n8n webhook\n//\n// Expected input: { email, source, created_at }\n// source = \"exit_intent\" → sends Free Report email\n// source = \"ai_readiness\" → sends AI Readiness Score email\n// ============================================================\n\nconst input = $input.first().json;\nconst email = input.email || input.lead_email || '';\nconst source = input.source || input.lead_source || 'exit_intent';\n\nif (!email) {\n  console.log('[LEAD EMAIL] No email provided — skipping');\n  return { sent: false, reason: 'no_email' };\n}\n\n// ── FREE REPORT EMAIL HTML ──────────────────────────────────\nconst freeReportHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <img src=\"data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgODAgODAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgeD0iNCIgeT0iNTYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIyMCIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSIyMiIgeT0iNDAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIzNiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI0MCIgeT0iMjQiIHdpZHRoPSIxMiIgaGVpZ2h0PSI1MiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI1OCIgeT0iNCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjcyIiByeD0iNCIgZmlsbD0iIzZDNjNGRiIvPjwvc3ZnPg==\" alt=\"Syntharra\" width=\"36\" height=\"36\" style=\"display:block;margin:0 auto\">\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px\"><tr><td>\n  <span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background:#F0EEFF;padding:4px 12px;border-radius:20px\">Free Report</span>\n</td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">The Hidden Cost of Missed Calls in the Trade Industry</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 28px\">You requested this report from syntharra.com. Here's what the data shows.</p>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#1A1A2E;border-radius:12px;overflow:hidden\">\n<tr><td style=\"padding:28px;text-align:center\">\n  <p style=\"font-size:12px;font-weight:600;letter-spacing:0.08em;text-transform:uppercase;color:rgba(255,255,255,0.5);margin:0 0 8px\">Average trade business loses</p>\n  <div style=\"font-size:44px;font-weight:700;color:#FF6B6B;line-height:1\">$8,400 &mdash; $21,000</div>\n  <p style=\"font-size:14px;color:rgba(255,255,255,0.7);margin:8px 0 0\">per month in missed call revenue</p>\n</td></tr></table>\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">How we calculated this</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:14px 20px;border-bottom:1px solid #E5E7EB;background:#FAFAFA;font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase\" colspan=\"2\">Industry Averages</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Inbound calls per week</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">35 &mdash; 60</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Calls missed</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">30 &mdash; 40%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Callers who leave a voicemail</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">Only 38%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Callers who try a competitor</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">85%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average job value</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">$250 &mdash; $500</td></tr>\n<tr><td style=\"padding:14px 20px;color:#1A1A2E;font-size:14px;font-weight:600\">Estimated monthly loss</td><td style=\"padding:14px 20px;text-align:right;font-weight:700;color:#EF4444;font-size:18px\">$8,400 &mdash; $21,000</td></tr>\n</table>\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">When are you missing calls?</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\">\n<tr>\n  <td style=\"width:32%;background:#FEF2F2;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#EF4444\">42%</div><div style=\"font-size:11px;color:#991B1B;margin-top:4px;font-weight:600\">After hours</div></td>\n  <td style=\"width:2%\"></td>\n  <td style=\"width:32%;background:#FEF3C7;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#F59E0B\">35%</div><div style=\"font-size:11px;color:#92400E;margin-top:4px;font-weight:600\">On the job</div></td>\n  <td style=\"width:2%\"></td>\n  <td style=\"width:32%;background:#F0EEFF;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#6C63FF\">23%</div><div style=\"font-size:11px;color:#3C3489;margin-top:4px;font-weight:600\">Weekends</div></td>\n</tr>\n</table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#ECFDF5;border-radius:12px;overflow:hidden\">\n<tr><td style=\"padding:24px\">\n  <h2 style=\"font-size:17px;font-weight:700;color:#065F46;margin:0 0 10px\">The fix takes 24 hours</h2>\n  <p style=\"font-size:14px;color:#047857;line-height:1.7;margin:0 0 16px\">An AI receptionist answers every call instantly, 24/7. It captures the caller's name, number, address, and what they need, then alerts you within seconds.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:48%;background:rgba(255,255,255,0.7);border-radius:8px;padding:14px;text-align:center\"><div style=\"font-size:11px;color:#6B7280;font-weight:600;text-transform:uppercase\">Without AI</div><div style=\"font-size:20px;font-weight:700;color:#EF4444;margin:4px 0\">60-70%</div><div style=\"font-size:11px;color:#6B7280\">calls answered</div></td>\n    <td style=\"width:4%\"></td>\n    <td style=\"width:48%;background:rgba(255,255,255,0.7);border-radius:8px;padding:14px;text-align:center\"><div style=\"font-size:11px;color:#6B7280;font-weight:600;text-transform:uppercase\">With Syntharra</div><div style=\"font-size:20px;font-weight:700;color:#10B981;margin:4px 0\">100%</div><div style=\"font-size:11px;color:#6B7280\">calls answered</div></td>\n  </tr></table>\n</td></tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\"><tr>\n  <td style=\"background:#F7F7FB;border-radius:10px;padding:16px;text-align:center;width:48%\"><div style=\"font-size:13px;color:#6B7280;margin-bottom:4px\">Starts at</div><div style=\"font-size:28px;font-weight:700;color:#6C63FF\">$497</div><div style=\"font-size:12px;color:#6B7280\">/month</div></td>\n  <td style=\"width:4%\"></td>\n  <td style=\"background:#F7F7FB;border-radius:10px;padding:16px;text-align:center;width:48%\"><div style=\"font-size:13px;color:#6B7280;margin-bottom:4px\">Typical return</div><div style=\"font-size:28px;font-weight:700;color:#10B981\">17x</div><div style=\"font-size:12px;color:#6B7280\">ROI</div></td>\n</tr></table>\n<div style=\"text-align:center;margin:0 0 12px\">\n  <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" style=\"display:inline-block;background:#6C63FF;color:#fff;padding:16px 44px;border-radius:10px;text-decoration:none;font-weight:700;font-size:16px;box-shadow:0 4px 14px rgba(108,99,255,0.35)\">See It Live &mdash; Book a Free Demo</a>\n</div>\n<p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:12px 0 0\">15 minutes. No commitment. We'll show you how it works with your business name.</p>\n</div></td></tr>\n<tr><td style=\"padding:20px;text-align:center\">\n  <a href=\"https://syntharra-checkout-production.up.railway.app/\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">View Pricing</a>\n  <span style=\"color:#D1D5DB\">|</span>\n  <a href=\"https://www.syntharra.com/demo.html\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">Try the AI Demo</a>\n</td></tr>\n<tr><td style=\"text-align:center\"><p style=\"color:#9CA3AF;font-size:11px;margin:0;line-height:1.6\">Syntharra AI Solutions<br><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">syntharra.com</a> &middot; <a href=\"mailto:support@syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">support@syntharra.com</a></p></td></tr>\n</table></td></tr></table></body></html>`;\n\n// ── SEND VIA SMTP2GO ────────────────────────────────────────\nconst SMTP2GO_KEY = 'REDACTED_SMTP2GO_KEY';\nconst subject = 'Your Free Report: The Hidden Cost of Missed Calls';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: [email],\n      subject: subject,\n      html_body: freeReportHtml\n    },\n    json: true\n  });\n  console.log(`[FREE REPORT] Sent to ${email}`);\n  return { ...input, _report_sent: true, _report_type: 'free_report' };\n} catch (e) {\n  console.log(`[FREE REPORT] Failed: ${e.message}`);\n  return { ...input, _report_sent: false, _report_error: e.message };\n}\n","nodeMode":"runOnceForEachItem"},"id":"send-email","name":"Send Free Report Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Report sent\"}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"respond-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,300]}],"connections":{"Webhook":{"main":[[{"node":"Send Free Report Email","type":"main","index":0}]]},"Send Free Report Email":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0dae11e2-c1ed-4c90-b96e-89c91928a5ce","activeVersionId":"0dae11e2-c1ed-4c90-b96e-89c91928a5ce","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-03-28T16:55:07.723Z","createdAt":"2026-03-28T16:55:07.723Z","role":"workflow:owner","workflowId":"ykaZkQXWO2zEJCdu","projectId":"fHNxQE9IeGCcfUfO","project":{"updatedAt":"2026-03-17T23:00:52.768Z","createdAt":"2026-03-17T23:00:46.569Z","id":"fHNxQE9IeGCcfUfO","name":"Daniel Blackmore <daniel@syntharra.com>","type":"personal","icon":null,"description":null,"creatorId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-28T16:55:07.756Z","createdAt":"2026-03-28T16:55:07.756Z","versionId":"0dae11e2-c1ed-4c90-b96e-89c91928a5ce","workflowId":"ykaZkQXWO2zEJCdu","nodes":[{"parameters":{"httpMethod":"POST","path":"free-report","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"// ============================================================\n// Website Lead → Free Report Email (SMTP2GO)\n// ============================================================\n// Trigger: Supabase webhook on website_leads INSERT\n// OR: called from the website directly via fetch to n8n webhook\n//\n// Expected input: { email, source, created_at }\n// source = \"exit_intent\" → sends Free Report email\n// source = \"ai_readiness\" → sends AI Readiness Score email\n// ============================================================\n\nconst input = $input.first().json;\nconst email = input.email || input.lead_email || '';\nconst source = input.source || input.lead_source || 'exit_intent';\n\nif (!email) {\n  console.log('[LEAD EMAIL] No email provided — skipping');\n  return { sent: false, reason: 'no_email' };\n}\n\n// ── FREE REPORT EMAIL HTML ──────────────────────────────────\nconst freeReportHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#F7F7FB;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#F7F7FB;padding:40px 16px\"><tr><td align=\"center\">\n<table width=\"580\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:580px;width:100%\">\n<tr><td style=\"padding:0 0 24px;text-align:center\">\n  <img src=\"data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgODAgODAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3QgeD0iNCIgeT0iNTYiIHdpZHRoPSIxMiIgaGVpZ2h0PSIyMCIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSIyMiIgeT0iNDAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIzNiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI0MCIgeT0iMjQiIHdpZHRoPSIxMiIgaGVpZ2h0PSI1MiIgcng9IjQiIGZpbGw9IiM2QzYzRkYiLz48cmVjdCB4PSI1OCIgeT0iNCIgd2lkdGg9IjEyIiBoZWlnaHQ9IjcyIiByeD0iNCIgZmlsbD0iIzZDNjNGRiIvPjwvc3ZnPg==\" alt=\"Syntharra\" width=\"36\" height=\"36\" style=\"display:block;margin:0 auto\">\n</td></tr>\n<tr><td style=\"background:#fff;border-radius:12px;border:1px solid #E5E7EB;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.06)\">\n<div style=\"height:3px;background:linear-gradient(90deg,#6C63FF,#8B7FFF)\"></div>\n<div style=\"padding:32px 36px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px\"><tr><td>\n  <span style=\"display:inline-block;font-size:10px;font-weight:700;letter-spacing:0.1em;text-transform:uppercase;color:#6C63FF;background:#F0EEFF;padding:4px 12px;border-radius:20px\">Free Report</span>\n</td></tr></table>\n<h1 style=\"color:#1A1A2E;font-size:24px;font-weight:700;margin:0 0 6px;line-height:1.3\">The Hidden Cost of Missed Calls in the Trade Industry</h1>\n<p style=\"color:#6B7280;font-size:14px;line-height:1.6;margin:0 0 28px\">You requested this report from syntharra.com. Here's what the data shows.</p>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#1A1A2E;border-radius:12px;overflow:hidden\">\n<tr><td style=\"padding:28px;text-align:center\">\n  <p style=\"font-size:12px;font-weight:600;letter-spacing:0.08em;text-transform:uppercase;color:rgba(255,255,255,0.5);margin:0 0 8px\">Average trade business loses</p>\n  <div style=\"font-size:44px;font-weight:700;color:#FF6B6B;line-height:1\">$8,400 &mdash; $21,000</div>\n  <p style=\"font-size:14px;color:rgba(255,255,255,0.7);margin:8px 0 0\">per month in missed call revenue</p>\n</td></tr></table>\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">How we calculated this</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;border:1px solid #E5E7EB;border-radius:10px;overflow:hidden\">\n<tr><td style=\"padding:14px 20px;border-bottom:1px solid #E5E7EB;background:#FAFAFA;font-size:12px;font-weight:700;color:#6B7280;letter-spacing:0.05em;text-transform:uppercase\" colspan=\"2\">Industry Averages</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Inbound calls per week</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">35 &mdash; 60</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Calls missed</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">30 &mdash; 40%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Callers who leave a voicemail</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">Only 38%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Callers who try a competitor</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:700;color:#EF4444;font-size:14px\">85%</td></tr>\n<tr><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;color:#1A1A2E;font-size:14px\">Average job value</td><td style=\"padding:12px 20px;border-bottom:1px solid #E5E7EB;text-align:right;font-weight:600;color:#1A1A2E;font-size:14px\">$250 &mdash; $500</td></tr>\n<tr><td style=\"padding:14px 20px;color:#1A1A2E;font-size:14px;font-weight:600\">Estimated monthly loss</td><td style=\"padding:14px 20px;text-align:right;font-weight:700;color:#EF4444;font-size:18px\">$8,400 &mdash; $21,000</td></tr>\n</table>\n<h2 style=\"font-size:17px;font-weight:700;color:#1A1A2E;margin:0 0 16px\">When are you missing calls?</h2>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\">\n<tr>\n  <td style=\"width:32%;background:#FEF2F2;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#EF4444\">42%</div><div style=\"font-size:11px;color:#991B1B;margin-top:4px;font-weight:600\">After hours</div></td>\n  <td style=\"width:2%\"></td>\n  <td style=\"width:32%;background:#FEF3C7;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#F59E0B\">35%</div><div style=\"font-size:11px;color:#92400E;margin-top:4px;font-weight:600\">On the job</div></td>\n  <td style=\"width:2%\"></td>\n  <td style=\"width:32%;background:#F0EEFF;border-radius:10px;padding:16px;text-align:center\"><div style=\"font-size:24px;font-weight:700;color:#6C63FF\">23%</div><div style=\"font-size:11px;color:#3C3489;margin-top:4px;font-weight:600\">Weekends</div></td>\n</tr>\n</table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;background:#ECFDF5;border-radius:12px;overflow:hidden\">\n<tr><td style=\"padding:24px\">\n  <h2 style=\"font-size:17px;font-weight:700;color:#065F46;margin:0 0 10px\">The fix takes 24 hours</h2>\n  <p style=\"font-size:14px;color:#047857;line-height:1.7;margin:0 0 16px\">An AI receptionist answers every call instantly, 24/7. It captures the caller's name, number, address, and what they need, then alerts you within seconds.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n    <td style=\"width:48%;background:rgba(255,255,255,0.7);border-radius:8px;padding:14px;text-align:center\"><div style=\"font-size:11px;color:#6B7280;font-weight:600;text-transform:uppercase\">Without AI</div><div style=\"font-size:20px;font-weight:700;color:#EF4444;margin:4px 0\">60-70%</div><div style=\"font-size:11px;color:#6B7280\">calls answered</div></td>\n    <td style=\"width:4%\"></td>\n    <td style=\"width:48%;background:rgba(255,255,255,0.7);border-radius:8px;padding:14px;text-align:center\"><div style=\"font-size:11px;color:#6B7280;font-weight:600;text-transform:uppercase\">With Syntharra</div><div style=\"font-size:20px;font-weight:700;color:#10B981;margin:4px 0\">100%</div><div style=\"font-size:11px;color:#6B7280\">calls answered</div></td>\n  </tr></table>\n</td></tr></table>\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px\"><tr>\n  <td style=\"background:#F7F7FB;border-radius:10px;padding:16px;text-align:center;width:48%\"><div style=\"font-size:13px;color:#6B7280;margin-bottom:4px\">Starts at</div><div style=\"font-size:28px;font-weight:700;color:#6C63FF\">$497</div><div style=\"font-size:12px;color:#6B7280\">/month</div></td>\n  <td style=\"width:4%\"></td>\n  <td style=\"background:#F7F7FB;border-radius:10px;padding:16px;text-align:center;width:48%\"><div style=\"font-size:13px;color:#6B7280;margin-bottom:4px\">Typical return</div><div style=\"font-size:28px;font-weight:700;color:#10B981\">17x</div><div style=\"font-size:12px;color:#6B7280\">ROI</div></td>\n</tr></table>\n<div style=\"text-align:center;margin:0 0 12px\">\n  <a href=\"https://calendar.app.google/jxUu7XfiMXMqvdiw6\" style=\"display:inline-block;background:#6C63FF;color:#fff;padding:16px 44px;border-radius:10px;text-decoration:none;font-weight:700;font-size:16px;box-shadow:0 4px 14px rgba(108,99,255,0.35)\">See It Live &mdash; Book a Free Demo</a>\n</div>\n<p style=\"text-align:center;font-size:12px;color:#9CA3AF;margin:12px 0 0\">15 minutes. No commitment. We'll show you how it works with your business name.</p>\n</div></td></tr>\n<tr><td style=\"padding:20px;text-align:center\">\n  <a href=\"https://syntharra-checkout-production.up.railway.app/\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">View Pricing</a>\n  <span style=\"color:#D1D5DB\">|</span>\n  <a href=\"https://www.syntharra.com/demo.html\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none;margin:0 10px\">Try the AI Demo</a>\n</td></tr>\n<tr><td style=\"text-align:center\"><p style=\"color:#9CA3AF;font-size:11px;margin:0;line-height:1.6\">Syntharra AI Solutions<br><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">syntharra.com</a> &middot; <a href=\"mailto:support@syntharra.com\" style=\"color:#6C63FF;text-decoration:none\">support@syntharra.com</a></p></td></tr>\n</table></td></tr></table></body></html>`;\n\n// ── SEND VIA SMTP2GO ────────────────────────────────────────\nconst SMTP2GO_KEY = 'REDACTED_SMTP2GO_KEY';\nconst subject = 'Your Free Report: The Hidden Cost of Missed Calls';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: SMTP2GO_KEY,\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: [email],\n      subject: subject,\n      html_body: freeReportHtml\n    },\n    json: true\n  });\n  console.log(`[FREE REPORT] Sent to ${email}`);\n  return { ...input, _report_sent: true, _report_type: 'free_report' };\n} catch (e) {\n  console.log(`[FREE REPORT] Failed: ${e.message}`);\n  return { ...input, _report_sent: false, _report_error: e.message };\n}\n","nodeMode":"runOnceForEachItem"},"id":"send-email","name":"Send Free Report Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,300]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Report sent\"}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"respond-ok","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,300]}],"connections":{"Webhook":{"main":[[{"node":"Send Free Report Email","type":"main","index":0}]]},"Send Free Report Email":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"authors":"Daniel Blackmore","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-28T16:55:25.681Z","id":713,"workflowId":"ykaZkQXWO2zEJCdu","versionId":"0dae11e2-c1ed-4c90-b96e-89c91928a5ce","event":"activated","userId":"59bc3c32-fc3d-4e66-a2a8-5439f05606b7"}]}}