archived/n8n-backups/n8n-workflows/hvac-jotform-onboarding-supabase.json
{
  "name": "HVAC AI Receptionist - JotForm Onboarding (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jotform-hvac-onboarding",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "JotForm Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        400
      ],
      "webhookId": "054d5caf-c61e-46e0-a405-0d7d62455cc5"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Parse JotForm Data v5 — Supabase Edition\n// ============================================================\n\nconst formData = $input.first().json.body;\n\nfunction normalizeList(val) {\n  if (!val) return '';\n  if (Array.isArray(val)) return val.filter(Boolean).join(', ');\n  return String(val).trim();\n}\n\nfunction clean(val, fallback = '') {\n  if (!val) return fallback;\n  return String(val).trim() || fallback;\n}\n\nconst extractedData = {\n  // Section 1: Business Information\n  company_name:         clean(formData.q4_hvacCompany || formData['q4_hvacCompany']),\n  owner_name:           clean(formData.q54_ownerName || formData['q54_ownerName']),\n  main_phone:           clean(formData.q6_mainCompany || formData['q6_mainCompany']),\n  client_email:         clean(formData.q5_emailAddress || formData['q5_emailAddress']),\n  website:              clean(formData.q7_companyWebsite || formData['q7_companyWebsite']),\n  years_in_business:    clean(formData.q8_yearsIn || formData['q8_yearsIn']),\n  timezone:             clean(formData.q34_timezone || formData['q34_timezone'], 'America/Chicago'),\n  services_offered:     normalizeList(formData.q13_servicesOffered || formData['q13_servicesOffered']),\n  brands_serviced:      normalizeList(formData.q14_brandsequipmentServiced || formData['q14_brandsequipmentServiced']),\n  service_area:         clean(formData.q16_primaryService || formData['q16_primaryService']),\n  service_area_radius:  clean(formData.q40_serviceAreaRadius || formData['q40_serviceAreaRadius']),\n  certifications:       normalizeList(formData.q29_certifications || formData['q29_certifications']),\n  licensed_insured:     clean(formData.q28_licensedAnd || formData['q28_licensedAnd'], 'Yes'),\n\n  // Section 2: AI Receptionist Configuration\n  agent_name:           clean(formData.q10_aiAgent10 || formData['q10_aiAgent10']),\n  voice_gender:         clean(formData.q11_aiVoice || formData['q11_aiVoice'], 'Female'),\n  custom_greeting:      clean(formData.q38_customGreeting || formData['q38_customGreeting']),\n  company_tagline:      clean(formData.q39_companyTagline || formData['q39_companyTagline']),\n  business_hours:       clean(formData.q17_businessHours || formData['q17_businessHours']),\n  response_time:        clean(formData.q18_typicalResponse || formData['q18_typicalResponse']),\n  emergency_service:    clean(formData.q20_247Emergency || formData['q20_247Emergency'], 'No'),\n  emergency_phone:      clean(formData.q21_emergencyAfterhours || formData['q21_emergencyAfterhours']),\n  after_hours_behavior: clean(formData.q22_afterhoursBehavior || formData['q22_afterhoursBehavior']),\n\n  // Section 3: Call Handling & Pricing\n  pricing_policy:       clean(formData.q42_pricingPolicy || formData['q42_pricingPolicy'], 'We provide free quotes on-site'),\n  diagnostic_fee:       clean(formData.q41_diagnosticFee || formData['q41_diagnosticFee']),\n  standard_fees:        clean(formData.q43_standardFees || formData['q43_standardFees']),\n  free_estimates:       clean(formData.q24_freeEstimates || formData['q24_freeEstimates'], 'Yes - always free'),\n  do_not_service:       clean(formData.q57_doNotServiceList || formData['q57_doNotServiceList']),\n  transfer_phone:       clean(formData.q48_transferPhone || formData['q48_transferPhone']),\n  transfer_triggers:    normalizeList(formData.q49_transferTriggers || formData['q49_transferTriggers']),\n  transfer_behavior:    clean(formData.q50_transferBehavior || formData['q50_transferBehavior'], 'Try once - take message if no answer'),\n\n  // Section 4: Lead Capture & Notifications\n  lead_contact_method:  clean(formData.q31_leadContact || formData['q31_leadContact'], 'Both'),\n  lead_phone:           clean(formData.q32_leadNotification || formData['q32_leadNotification']),\n  lead_email:           clean(formData.q33_leadNotification33 || formData['q33_leadNotification33']),\n\n  // Section 5: Branding, Promotions & Extras\n  google_review_rating: clean(formData.q55_googleReviewRating || formData['q55_googleReviewRating']),\n  google_review_count:  clean(formData.q56_googleReviewCount || formData['q56_googleReviewCount']),\n  unique_selling_points: clean(formData.q51_uniqueSellingPoints || formData['q51_uniqueSellingPoints']),\n  current_promotion:    clean(formData.q52_currentPromotion || formData['q52_currentPromotion']),\n  seasonal_services:    clean(formData.q53_seasonalServices || formData['q53_seasonalServices']),\n  membership_program:   clean(formData.q58_membershipProgramName || formData['q58_membershipProgramName']),\n  maintenance_plans:    clean(formData.q46_maintenancePlans || formData['q46_maintenancePlans'], 'No'),\n  financing_available:  clean(formData.q25_financingAvailable || formData['q25_financingAvailable'], 'No'),\n  financing_details:    clean(formData.q44_financingDetails || formData['q44_financingDetails']),\n  warranty:             clean(formData.q26_serviceWarranties || formData['q26_serviceWarranties'], 'Yes'),\n  warranty_details:     clean(formData.q27_warrantyDetails || formData['q27_warrantyDetails']),\n  payment_methods:      normalizeList(formData.q45_paymentMethods || formData['q45_paymentMethods']),\n  additional_info:      clean(formData.q37_additionalInfo || formData['q37_additionalInfo'])\n};\n\n// === Build company info block for the Retell prompt ===\nlet companyInfoBlock = `## Company Overview\\n`;\ncompanyInfoBlock += `- Company Name: ${extractedData.company_name}\\n`;\nif (extractedData.main_phone) companyInfoBlock += `- Main Phone: ${extractedData.main_phone}\\n`;\nif (extractedData.years_in_business) companyInfoBlock += `- Experience: ${extractedData.years_in_business} years in business\\n`;\nif (extractedData.owner_name) companyInfoBlock += `- Owner/Manager: ${extractedData.owner_name}\\n`;\nif (extractedData.company_tagline) companyInfoBlock += `- Tagline: ${extractedData.company_tagline}\\n`;\nif (extractedData.website) companyInfoBlock += `- Website: ${extractedData.website}\\n`;\ncompanyInfoBlock += `- Licensed & Insured: ${extractedData.licensed_insured}\\n`;\nif (extractedData.certifications) companyInfoBlock += `- Certifications: ${extractedData.certifications}\\n`;\n\ncompanyInfoBlock += `\\n## Services\\n`;\nif (extractedData.services_offered) companyInfoBlock += `- Services: ${extractedData.services_offered}\\n`;\nif (extractedData.brands_serviced) companyInfoBlock += `- Brands Serviced: ${extractedData.brands_serviced}\\n`;\nif (extractedData.service_area) {\n  let areaLine = extractedData.service_area;\n  if (extractedData.service_area_radius) areaLine += ` (within ${extractedData.service_area_radius})`;\n  companyInfoBlock += `- Service Area: ${areaLine}\\n`;\n}\nif (extractedData.do_not_service) companyInfoBlock += `- DO NOT Service: ${extractedData.do_not_service}\\n`;\n\ncompanyInfoBlock += `\\n## Hours & Availability\\n`;\nif (extractedData.business_hours) companyInfoBlock += `- Business Hours: ${extractedData.business_hours}\\n`;\nif (extractedData.response_time) companyInfoBlock += `- Typical Response Time: ${extractedData.response_time}\\n`;\n\ncompanyInfoBlock += `\\n## Pricing & Policies\\n`;\ncompanyInfoBlock += `- Pricing Policy: ${extractedData.pricing_policy}\\n`;\nif (extractedData.diagnostic_fee) companyInfoBlock += `- Diagnostic/Service Call Fee: ${extractedData.diagnostic_fee} (applied to repair if customer proceeds)\\n`;\nif (extractedData.standard_fees) companyInfoBlock += `- Set Fees (ONLY share these specific fees when asked): ${extractedData.standard_fees}\\n`;\ncompanyInfoBlock += `- Free Estimates: ${extractedData.free_estimates}\\n`;\nif (extractedData.financing_available !== 'No') {\n  let finLine = `Financing Available: Yes`;\n  if (extractedData.financing_details) finLine += ` - ${extractedData.financing_details}`;\n  companyInfoBlock += `- ${finLine}\\n`;\n}\nif (extractedData.warranty !== 'No') {\n  let warLine = `Warranty: Yes`;\n  if (extractedData.warranty_details) warLine += ` - ${extractedData.warranty_details}`;\n  companyInfoBlock += `- ${warLine}\\n`;\n}\nif (extractedData.maintenance_plans !== 'No') {\n  let mainLine = `Maintenance Plans: Available`;\n  if (extractedData.membership_program) mainLine += ` - \"${extractedData.membership_program}\"`;\n  companyInfoBlock += `- ${mainLine}\\n`;\n}\nif (extractedData.payment_methods) companyInfoBlock += `- Payment Methods: ${extractedData.payment_methods}\\n`;\n\nif (extractedData.emergency_service && extractedData.emergency_service !== 'No') {\n  companyInfoBlock += `\\n## Emergency Service\\n`;\n  companyInfoBlock += `- Emergency Service: ${extractedData.emergency_service}\\n`;\n  if (extractedData.emergency_phone) companyInfoBlock += `- Emergency Contact: ${extractedData.emergency_phone}\\n`;\n  if (extractedData.after_hours_behavior) companyInfoBlock += `- After Hours Handling: ${extractedData.after_hours_behavior}\\n`;\n}\n\nif (extractedData.google_review_rating || extractedData.current_promotion || extractedData.seasonal_services || extractedData.unique_selling_points) {\n  companyInfoBlock += `\\n## Promotions & Highlights\\n`;\n  if (extractedData.google_review_rating && extractedData.google_review_rating !== 'Not listed on Google') {\n    let reviewLine = `Google Rating: ${extractedData.google_review_rating} stars`;\n    if (extractedData.google_review_count && extractedData.google_review_count !== 'Not listed on Google') {\n      reviewLine += ` with ${extractedData.google_review_count} reviews`;\n    }\n    companyInfoBlock += `- ${reviewLine}\\n`;\n  }\n  if (extractedData.current_promotion) companyInfoBlock += `- Current Promotion: ${extractedData.current_promotion}\\n`;\n  if (extractedData.seasonal_services) companyInfoBlock += `- Seasonal Services: ${extractedData.seasonal_services}\\n`;\n  if (extractedData.unique_selling_points) companyInfoBlock += `- Why Choose Us: ${extractedData.unique_selling_points}\\n`;\n}\n\nif (extractedData.additional_info) {\n  companyInfoBlock += `\\n## Additional Notes\\n`;\n  companyInfoBlock += `${extractedData.additional_info}\\n`;\n}\n\nreturn {\n  ...extractedData,\n  companyInfoBlock,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "parse_jotform_data",
      "name": "Parse JotForm Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Build Retell Prompt v5 — Supabase Edition\n// ============================================================\n// Removed Google Sheets settings dependency\n// Transfer number: lead_phone default, emergency_phone override\n// ============================================================\n\nconst data = $input.first().json;\n\nconst companyName        = data.company_name || 'HVAC Company';\nconst companyPhone       = data.main_phone || '';\nconst companyWebsite     = data.website || '';\nconst yearsInBusiness    = data.years_in_business || '';\nconst agentName          = data.agent_name || `${companyName} Receptionist`;\nconst voiceGender        = (data.voice_gender || 'female').toLowerCase();\nconst servicesOffered    = data.services_offered || '';\nconst brandsServiced     = data.brands_serviced || '';\nconst serviceArea        = data.service_area || '';\nconst serviceAreaRadius  = data.service_area_radius || '';\nconst businessHours      = data.business_hours || '';\nconst responseTime       = data.response_time || '';\nconst emergency247       = data.emergency_service || 'No';\nconst emergencyPhone     = data.emergency_phone || '';\nconst afterHoursBehavior = data.after_hours_behavior || '';\nconst freeEstimates      = data.free_estimates || 'Yes - always free';\nconst diagnosticFee      = data.diagnostic_fee || '';\nconst pricingPolicy      = data.pricing_policy || 'We provide free quotes on-site';\nconst standardFees       = data.standard_fees || '';\nconst financingAvailable = data.financing_available || 'No';\nconst financingDetails   = data.financing_details || '';\nconst warranty           = data.warranty || 'Yes';\nconst warrantyDetails    = data.warranty_details || '';\nconst licensedInsured    = data.licensed_insured || 'Yes';\nconst certifications     = data.certifications || '';\nconst paymentMethods     = data.payment_methods || '';\nconst maintenancePlans   = data.maintenance_plans || 'No';\nconst leadContactMethod  = data.lead_contact_method || 'Both';\nconst leadPhone          = data.lead_phone || '';\nconst leadEmail          = data.lead_email || '';\nconst customGreeting     = data.custom_greeting || '';\nconst companyTagline     = data.company_tagline || '';\nconst transferPhone      = data.transfer_phone || '';\nconst transferTriggers   = data.transfer_triggers || 'Caller requests a live person, Emergency situation';\nconst transferBehavior   = data.transfer_behavior || 'Try once - take message if no answer';\nconst uniqueSellingPts   = data.unique_selling_points || '';\nconst currentPromotion   = data.current_promotion || '';\nconst seasonalServices   = data.seasonal_services || '';\nconst additionalNotes    = data.additional_info || '';\nconst companyInfoBlock   = data.companyInfoBlock || '';\nconst ownerName          = data.owner_name || '';\nconst googleReviewRating = data.google_review_rating || '';\nconst googleReviewCount  = data.google_review_count || '';\nconst doNotService       = data.do_not_service || '';\nconst membershipProgram  = data.membership_program || '';\nconst industryType       = data.industry_type || 'HVAC';\nconst testMode           = false;\n\n// === Voice selection ===\nconst voiceMap = { female: 'retell-Sloane', male: 'retell-Nico' };\nconst voiceId = voiceMap[voiceGender] || 'retell-Sloane';\n\n// === Transfer number: use lead_phone by default, emergency_phone as override ===\nconst rawTransferPhone = emergencyPhone || leadPhone;\nconst transferNumber = rawTransferPhone\n  ? (rawTransferPhone.startsWith('+') ? rawTransferPhone : `+1${rawTransferPhone.replace(/\\D/g, '')}`)\n  : '+10000000000';\n\n// ============================================================\n// BUILD PRICING RESPONSE INSTRUCTIONS\n// ============================================================\nlet shareableFees = '';\nif (diagnosticFee) shareableFees += `\\n- Diagnostic/Service Call Fee: ${diagnosticFee} (gets applied to the repair if the customer proceeds)`;\nif (standardFees) shareableFees += `\\n- Additional Set Fees: ${standardFees}`;\n\nlet pricingInstructions = '';\nif (pricingPolicy === 'We provide free quotes on-site') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We provide free on-site quotes so our team can give you\\n  an accurate price based on your specific situation. Let me grab\\n  your details so we can get someone out to you.\"\\n- NEVER provide general service, repair, or installation prices.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nThe ONLY fees you may mention (because the company has explicitly provided them):${shareableFees}\\n\\nOnly mention these if the caller specifically asks about them. Do NOT volunteer pricing.`;\n} else if (pricingPolicy === 'We charge a diagnostic fee then quote') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We do have a ${diagnosticFee || 'service call'} fee for\\n  the initial visit, and that gets applied to the repair if you\\n  choose to move forward with us. Our technician will give you a\\n  full quote once they've assessed the situation.\"\\n- NEVER provide general repair or installation prices.\\n- NEVER guess or estimate costs beyond the set fees listed below.`;\n  if (shareableFees) pricingInstructions += `\\n\\nSet fees you may share when asked:${shareableFees}`;\n} else {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"Our team will go over all the pricing with you so you get\\n  the most accurate information. Let me grab your details so we\\n  can get that set up for you.\"\\n- NEVER provide any prices, estimates, or cost ranges over the phone.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nException — the ONLY fees you may mention:${shareableFees}\\n\\nOnly mention these if the caller specifically asks. Do NOT volunteer pricing.`;\n}\n\n// ============================================================\n// BUILD TRANSFER RULES\n// ============================================================\nconst triggerList = transferTriggers.split(',').map(t => t.trim()).filter(Boolean);\nlet transferRules = `## CALL TRANSFER PROTOCOL\\n\\n`;\ntransferRules += `Transfer destination: ${transferNumber}\\n`;\ntransferRules += `Transfer behavior: ${transferBehavior}\\n\\n`;\ntransferRules += `Transfer the call ONLY when one of these conditions is met:\\n`;\ntriggerList.forEach((t, i) => { transferRules += `${i + 1}. ${t}\\n`; });\ntransferRules += `\\nFor ALL other situations, collect the caller's information and let them know someone will follow up.`;\nif (transferBehavior === 'Always take a message - never transfer') {\n  transferRules += `\\n\\nIMPORTANT: NEVER transfer calls. Always collect caller information and confirm someone from the team will call back.`;\n}\nif (ownerName) {\n  transferRules += `\\n\\n### Owner/Manager Reference\\nIf a caller asks to speak with the owner or manager, their name is ${ownerName}. Say: \"${ownerName} isn't available right now, but I can take a message and have them call you back — or I can transfer you to our team.\"`;\n}\n\n// ============================================================\n// BUILD DO NOT SERVICE SECTION\n// ============================================================\nlet doNotServiceSection = '';\nif (doNotService) {\n  doNotServiceSection = `\\n---\\n\\n## SERVICES WE DO NOT PROVIDE\\n\\nThe following items are outside our scope of service:\\n${doNotService}\\n\\nIf a caller requests any of these, politely explain:\\n\"I appreciate you reaching out, but unfortunately that's not something we service. I'd recommend reaching out to a specialist for that. Is there anything else I can help you with?\"\\n\\nDo NOT attempt to collect lead information for out-of-scope requests.\\n`;\n}\n\n// ============================================================\n// BUILD PROMOTIONS / SELLING POINTS SECTION\n// ============================================================\nlet promotionsSection = '';\nif (currentPromotion || seasonalServices || uniqueSellingPts || (googleReviewRating && googleReviewRating !== 'Not listed on Google')) {\n  promotionsSection = `\\n---\\n\\n## PROMOTIONS & VALUE PROPOSITIONS\\n\\n`;\n  if (googleReviewRating && googleReviewRating !== 'Not listed on Google') {\n    let reviewLine = `We have a ${googleReviewRating}-star rating on Google`;\n    if (googleReviewCount && googleReviewCount !== 'Not listed on Google') reviewLine += ` with ${googleReviewCount.toLowerCase().replace('under ', 'nearly ')} reviews`;\n    promotionsSection += `### Google Reviews\\n${reviewLine}.\\nMention this naturally when a caller is comparing options or seems uncertain.\\n\\n`;\n  }\n  if (currentPromotion) promotionsSection += `### Current Promotion\\n${currentPromotion}\\nMention this naturally when a caller asks about the relevant service.\\n\\n`;\n  if (uniqueSellingPts) promotionsSection += `### Why Choose ${companyName}\\n${uniqueSellingPts}\\nUse these points when a caller seems to be comparing options. Weave them in naturally.\\n\\n`;\n  if (seasonalServices) promotionsSection += `### Seasonal Services\\n${seasonalServices}\\nMention the relevant seasonal service if it matches what the caller needs.\\n\\n`;\n}\n\n// ============================================================\n// BUILD PAYMENT METHODS SECTION\n// ============================================================\nlet paymentSection = '';\nif (paymentMethods) {\n  paymentSection = `\\nWhen callers ask about payment methods:\\n- Say: \"We accept ${paymentMethods}.\"`;\n  if (financingAvailable === 'Yes' && financingDetails) paymentSection += `\\n- If they ask about financing: \"Yes, we offer financing — ${financingDetails}.\"`;\n  else if (financingAvailable === 'Yes') paymentSection += `\\n- If they ask about financing: \"Yes, we do offer financing options. Our team can go over the details with you.\"`;\n  if (maintenancePlans !== 'No') {\n    let maintLine = `\\n- If they ask about maintenance plans: \"Yes, we do offer maintenance plans`;\n    if (membershipProgram) maintLine += ` — our ${membershipProgram} program`;\n    maintLine += `. Our team can go over the details and pricing with you.\"`;\n    paymentSection += maintLine;\n  }\n}\n\n// ============================================================\n// GLOBAL PROMPT\n// ============================================================\nconst globalPrompt = `## IDENTITY & TONE\\n\\nYou are ${agentName}, a virtual AI receptionist for ${companyName}.${companyTagline ? `\\n${companyName} — ${companyTagline}.` : ''}\\nYou are warm, friendly and professional. Speak naturally, like a\\nhelpful team member, not a robot. Always address callers by their\\nfirst name once you have it.\\n\\nIf asked whether you are a real person, be honest:\\n\"I'm a virtual assistant, but I'm here to make sure you get\\nexactly the help you need.\"\\n\\n---\\n\\n## STYLE GUIDELINES\\n\\n- Keep responses concise, one topic at a time\\n- Use simple, everyday language, no technical jargon\\n- Ask only one question at a time, always wait for the caller\\n  to respond before asking another\\n- Match the caller's energy — calm if they're calm,\\n  reassuring if they're stressed\\n- Be empathetic, especially with frustrated or worried callers\\n- Be patient with elderly callers or anyone who needs more time\\n- Vary your language naturally, avoid repeating the same phrases\\n- Never talk over the caller or rush them\\n- Adapt to the caller's pace and communication style\\n- Your goal is to make every caller feel heard, helped, and\\n  confident that someone will follow up with them\\n\\n---\\n\\n## CONTACT CONFIRMATION\\n\\nAlways confirm contact details back to the caller:\\n\\n- Names: spell out letter by letter for any name that is uncommon\\n  or could be misheard\\n  \"Your name is J-O-H-N, is that right?\"\\n- Addresses: spell out street names that are uncommon or could be\\n  misheard. Skip spelling for generic street types such as Street,\\n  Drive, Avenue, Road, Lane, Boulevard\\n- Emails: \"Your email is B-O-B dot S-M-I-T-H at gmail dot com?\"\\n  Use \"at\", \"dot\", \"dash\", \"underscore\", do not spell these out.\\n  Skip spelling for common domains such as gmail, yahoo, hotmail,\\n  outlook\\n- Phone numbers: read back in groups\\n  \"Your number is 404, 555, 1234, is that right?\"\\n- Zip codes: always read back digit by digit\\n  \"And the zip code is 3-0-3-0-1?\"\\n\\n---\\n\\n## COMPANY INFORMATION\\n\\n{{COMPANY_INFO_BLOCK}}\\n\\nUse the information above to answer any company-specific questions\\nsuch as service areas, hours of operation, services offered, and\\ncontact details. If a question about the company is NOT covered\\nabove, do NOT guess or make up information. Say:\\n\"That's a great question, one of our team members will be able\\nto answer that when they call you back.\"\\n\\n---\\n\\n## PRICING & QUOTING\\n\\n${pricingInstructions}\\n\\n---\\n\\n${transferRules}\\n\\n---\\n\\n## PAYMENT & FINANCING\\n${paymentSection || `When callers ask about payment methods:\\n- Say: \"Our team can go over payment options with you at the appointment.\"`}\\n\\n---\\n${promotionsSection}\\n${doNotServiceSection}\\n## CRITICAL RULES — NEVER BREAK THESE\\n\\n- NEVER ask more than one question at a time\\n- NEVER make up prices, estimates, or timeframes unless price ranges\\n  are explicitly listed in the company information\\n- NEVER diagnose ${industryType} problems or recommend specific repairs\\n- NEVER promise availability or same-day service unless explicitly\\n  stated in the company information\\n- NEVER guess answers to company-specific questions not found in\\n  the company information\\n- NEVER continue a conversation with obvious spam or robocalls,\\n  end politely\\n- NEVER transfer a call unless it matches one of the transfer\\n  triggers listed in the Call Transfer Protocol above\\n- ALWAYS collect lead information before ending any legitimate call\\n- ALWAYS confirm information back to the caller before ending\\n  the call\\n- ALWAYS be warm, calm, and professional regardless of caller\\n  frustration\\n- ALWAYS try to understand what the caller means even if their\\n  words are unclear — never mention transcription errors, simply\\n  work with context to interpret their intent\\n\\n---\\n\\n## IF CALLER IS RELUCTANT TO SHARE INFORMATION\\n\\n\"I completely understand, this information simply helps our team\\nfollow up with you accurately. We never share your details\\nwith third parties.\"\\n\\n---\\n\\n## ERROR HANDLING\\n\\n### Didn't hear or understand:\\n\"I apologise, I didn't quite catch that, could you repeat\\nthat for me?\"\\n\\n### Don't know the answer:\\n\"That's a great question. I want to make sure you get the\\nright answer, can I grab your details so someone from our\\nteam can call you back?\"\\n\\n### Caller can't hear you:\\n\"I'm sorry about that, is this any better?\"\\nSpeak slightly louder and more clearly.\\n\\n---\\n\\n## SPECIAL SCENARIOS\\n\\n### Angry or Upset Callers\\n1. Stay calm and lower your tone slightly\\n2. Acknowledge: \"I can hear how frustrated you are and\\n   I sincerely apologise for that.\"\\n3. Redirect: \"Let me see how I can help sort this out\\n   for you right now.\"\\n4. If abuse continues: \"I do want to help you, but I need\\n   us to work together respectfully. How can I best\\n   assist you today?\"\\n\\n### Silent Callers\\n- After 3 seconds: \"Hello, are you there?\"\\n- After 5 more seconds: \"I'm having trouble hearing you,\\n  can you hear me okay?\"\\n- If no response after a further 5 seconds: end the call politely\\n\\n### Threats or Safety Concerns\\nStay calm, do not engage or argue. Note any relevant details\\nand flag the call immediately for human review after it ends.\\n`;\n\n// ============================================================\n// BUILD GREETING\n// ============================================================\nconst greetingText = customGreeting\n  ? customGreeting\n  : `Hello this is ${agentName} from ${companyName}`;\n\n// ============================================================\n// BUILD CONVERSATION FLOW NODES\n// ============================================================\nconst conversationFlow = {\n  name: `${companyName} - ${industryType} Receptionist Flow`,\n  start_speaker: \"agent\",\n  model_choice: { type: \"cascading\", model: \"gpt-4.1\", high_priority: false },\n  global_prompt: globalPrompt.replace(\"{{COMPANY_INFO_BLOCK}}\", companyInfoBlock),\n  tool_call_strict_mode: true,\n  knowledge_base_ids: [],\n  kb_config: { top_k: 3, filter_score: 0.6 },\n  flex_mode: false,\n  is_transfer_cf: false,\n  nodes: [\n    {\n      id: \"node-greeting\", name: \"greeting_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: greetingText },\n      edges: [{ id: \"edge-greeting-to-identify\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"All\" } }],\n      display_position: { x: 558, y: 462 }\n    },\n    {\n      id: \"node-identify-call\", name: \"identify_call_node\", type: \"conversation\", start_speaker: \"agent\",\n      instruction: { type: \"prompt\", text: \"Identify the reason for the call\" },\n      edges: [\n        { id: \"edge-to-leadcapture-service\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Repair/Service/Maintenance\" } },\n        { id: \"edge-to-leadcapture-quote\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Quote/Estimate/Price/Installation\" } },\n        { id: \"edge-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"Emergency\" } },\n        { id: \"edge-to-existing-customer\", destination_node_id: \"node-existing-customer\", transition_condition: { type: \"prompt\", prompt: \"Existing Customer\" } },\n        { id: \"edge-to-general-questions\", destination_node_id: \"node-general-questions\", transition_condition: { type: \"prompt\", prompt: \"General Questions\" } },\n        { id: \"edge-to-transfer-live\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Live Person/Owner/Specific Person\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-existing-customer\", destination_node_id: \"node-existing-customer\", transcript: [{ role: \"user\", content: \"calling about my appointment\\nchecking appointment time\\ntechnician arrival\\nwhere is the technician\\nfollowing up on a quote\\ncalling about my quote\\nchecking on my job\\ncalling about service appointment\\nquestion about invoice\\nquestion about billing\\npayment question\\ncalling back about earlier service\" }, { role: \"agent\", content: \"Sure\" }] },\n        { id: \"fe-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nheater not working\\nleaking unit\\nwater leaking\\nburning smell\\nloud noise\\nbroken system\\nurgent repair\\nemergency repair\" }, { role: \"agent\", content: \"Sounds like you have an emergency\" }] },\n        { id: \"fe-transfer-live\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"Let me speak to someone\\nI want to talk to a real person\\nCan I speak to a human\\nTransfer me\\nPut me through to someone\\nI don't want to talk to a bot\\nLet me speak to the owner\\nI want to talk to the manager\\nGet me your supervisor\\nIs the boss available\\nJust forget it\\nThis is useless\\nNever mind\" }] },\n        { id: \"fe-quote-install\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want a quote\\nI need an estimate\\nWhat's the price\\nHow much does it cost\\nHow much do you charge\\nI want to install\\nI need a new system\\nI want to replace my system\" }] },\n        { id: \"fe-service-repair\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"My system is not working\\nMy system is broken\\nMy system won't turn on\\nMy system keeps turning off\\nMy system is not cooling\\nMy system is not heating\\nMy system is blowing warm air\" }] }\n      ],\n      display_position: { x: 1110, y: 366 }\n    },\n    {\n      id: \"node-leadcapture\", name: \"nonemergency_leadcapture_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## CALL TYPE IDENTIFICATION\\n\\nAt the start of the call, listen carefully to identify whether the caller is:\\n\\nA. Requesting a SERVICE, REPAIR, or MAINTENANCE visit\\nB. Requesting a QUOTE, INSTALLATION, ESTIMATE, or PRICE\\n\\nBoth call types follow the same data capture flow below.\\n\\n---\\n\\n## PRICING RESPONSES\\n\\nIf the caller asks \"how much?\" or \"what does it cost?\" during data capture:\\n${pricingInstructions}\\n\\nThen continue with data capture.\\n\\n---\\n\\n## DATA CAPTURE FLOW\\n\\nCollect the following information for ALL call types:\\n\\n1. A short description of the issue, service, or installation needed\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. The service address\\n\\n- If the caller refuses to provide a full address, say:\\n  \"No problem at all, could I just get the zip code and city or suburb?\\n   That will work just fine for our team.\"\\n\\n5. Any additional notes or details\\n\\n---\\n\\n## EMERGENCY DETECTION\\n\\nAt all times during the call, listen for emergency signals:\\n- System completely stopped, significant leaking, burning smell\\n- No heat in freezing conditions, gas smell\\n\\nIF detected: IMMEDIATELY route to verify_emergency_node.\\n\\n---\\n\\n## CONFIRMATION\\n\\nOnce all details are collected, confirm back to the caller.\\n\\n---\\n\\n## CLOSING\\n\\n\"Okay, I have recorded all of that information and someone from\\nour team will be in touch with you soon.\"` },\n      edges: [\n        { id: \"edge-leadcapture-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"If Emergency, go to\" } },\n        { id: \"edge-leadcapture-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Confirm the details with the caller, then proceed\" } }\n      ],\n      finetune_transition_examples: [{ id: \"fe-leadcapture-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nburning smell\\nurgent repair\\nemergency repair\" }] }],\n      display_position: { x: 2190, y: 726 }\n    },\n    {\n      id: \"node-verify-emergency\", name: \"verify_emergency_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: \"Ask user if this is an emergency.\" },\n      edges: [\n        { id: \"edge-emergency-yes\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"If this is an emergency\" } },\n        { id: \"edge-emergency-no\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"If this is not an emergency\" } }\n      ],\n      display_position: { x: 2742, y: 1470 }\n    },\n    {\n      id: \"node-existing-customer\", name: \"existing_customer_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## EXISTING CUSTOMER ENQUIRY\\n\\nThe caller is an existing customer calling about a current or past job.\\n\\n## YOUR GOAL\\n\\nCollect details so the team at ${companyName} can follow up.\\n\\n## DATA CAPTURE\\n\\nAsk naturally, one question at a time:\\n1. A short description of their enquiry\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. If relevant: service address, date of job, technician name, job/invoice number\\n\\n## CLOSING\\n\\nConfirm back: \"Just to confirm, I have your name as [name], best phone number as [phone], and your enquiry is regarding [description]. Is that all correct?\"\\n\\nThen: \"Perfect, I have passed all of that through to the team at ${companyName} and someone will be in touch shortly.\"` },\n      edges: [\n        { id: \"edge-existing-resolved\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Resolved\" } },\n        { id: \"edge-existing-unresolved\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Not Resolved\\n\" } }\n      ],\n      display_position: { x: 2742, y: 6 }\n    },\n    {\n      id: \"node-general-questions\", name: \"general_questions_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## GENERAL FAQ HANDLING\\n\\nUse the company information to answer general questions.\\n\\n### PRICING QUESTIONS\\n${pricingInstructions}\\n\\n### PAYMENT QUESTIONS\\n${paymentMethods ? `We accept: ${paymentMethods}.` : 'Our team can go over payment options at the appointment.'}\\n${financingAvailable === 'Yes' ? (financingDetails ? `Financing: ${financingDetails}` : 'We offer financing options.') : ''}\\n\\n### If the Question Cannot Be Answered\\n\"That's a great question, I want to make sure you get the right answer. Can I grab your name and number so someone from our team can follow up?\"\\nProceed to lead capture.` },\n      edges: [\n        { id: \"edge-general-answered\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Question Answered Correctly\" } },\n        { id: \"edge-general-further-help\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Further Assistance/Help\" } },\n        { id: \"edge-general-lead\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Lead Generated\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-general-further-help\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"I need more help\\nThis doesn't answer my question\\nCan someone call me back about this\\nI need a specialist\\nI want to speak to someone who can help\" }] },\n        { id: \"fe-general-lead\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want to book\\nCan someone come out\\nI want to get a quote\\nHow much would it cost\\nI think I need a repair\\nWhen can someone come out\\nYes let's do that\" }] }\n      ],\n      display_position: { x: 1662, y: 2190 }\n    },\n    {\n      id: \"node-transfer-call\", name: \"Transfer Call\", type: \"transfer_call\",\n      instruction: { type: \"prompt\", text: \"Transferring your call now.\" },\n      transfer_destination: { type: \"predefined\", number: transferNumber },\n      transfer_option: { type: \"cold_transfer\", cold_transfer_mode: \"sip_invite\", enable_bridge_audio_cue: true, agent_detection_timeout_ms: 30000, show_transferee_as_caller: false },\n      edge: { id: \"edge-transfer-failed\", destination_node_id: \"node-transfer-failed\", transition_condition: { type: \"prompt\", prompt: \"Transfer failed\" } },\n      display_position: { x: 3294, y: 2238 }\n    },\n    {\n      id: \"node-transfer-failed\", name: \"transfer_failed_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Say:\\n\\\"I'm sorry, it looks like that call didn't go through. All of our agents must be on the phone at the moment, let me take down your Full name and Phone number so I can have someone get back to you right away\\\"\" },\n      edges: [{ id: \"edge-transfer-failed-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Proceed to End\" } }],\n      display_position: { x: 3846, y: 2166 }\n    },\n    {\n      id: \"node-ending\", name: \"Ending\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Is there anything else I can help you with today?\" },\n      edges: [\n        { id: \"edge-ending-to-end\", destination_node_id: \"node-end-call\", transition_condition: { type: \"prompt\", prompt: \"If not, say:\\n\\\"Hope you have a great day, take care!\\\"\" } },\n        { id: \"edge-ending-to-restart\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"If yes, return to \" } }\n      ],\n      display_position: { x: 4398, y: 2190 }\n    },\n    {\n      id: \"node-end-call\", name: \"End Call\", type: \"end\",\n      instruction: { type: \"prompt\", text: \"Politely end the call\" },\n      display_position: { x: 4950, y: 2238 }\n    }\n  ],\n  starting_node_id: \"node-greeting\"\n};\n\n// ============================================================\n// AGENT CONFIGURATION\n// ============================================================\nconst agentConfig = {\n  agent_name: `${agentName}`,\n  voice_id: voiceId,\n  language: \"multi\",\n  webhook_url: \"https://syntharra.app.n8n.cloud/webhook/retell-hvac-webhook\",\n  ambient_sound: \"call-center\",\n  ambient_sound_volume: 0.8,\n  responsiveness: 0.9,\n  enable_dynamic_responsiveness: true,\n  interruption_sensitivity: 0.9,\n  voice_temperature: 1,\n  voice_speed: 1,\n  enable_dynamic_voice_speed: true,\n  volume: 1,\n  max_call_duration_ms: 600000,\n  allow_user_dtmf: true,\n  opt_in_signed_url: false,\n  post_call_analysis_data: [\n    { type: \"system-presets\", name: \"call_summary\", description: \"Write a 1-3 sentence summary of the call.\" },\n    { type: \"system-presets\", name: \"call_successful\", description: \"Evaluate whether the agent had a successful call.\" },\n    { type: \"system-presets\", name: \"user_sentiment\", description: \"Evaluate user's sentiment, mood and satisfaction level.\" }\n  ]\n};\n\n// ============================================================\n// EXTRACTED DATA FOR DOWNSTREAM NODES\n// ============================================================\nconst extractedData = {\n  company_name: companyName, company_phone: companyPhone, website: companyWebsite,\n  years_in_business: yearsInBusiness, agent_name: agentName, voice_gender: voiceGender,\n  voice_id: voiceId, services_offered: servicesOffered, brands_serviced: brandsServiced,\n  service_area: serviceArea, service_area_radius: serviceAreaRadius, business_hours: businessHours,\n  response_time: responseTime, emergency_service: emergency247, emergency_phone: emergencyPhone,\n  after_hours_behavior: afterHoursBehavior, free_estimates: freeEstimates, diagnostic_fee: diagnosticFee,\n  pricing_policy: pricingPolicy, standard_fees: standardFees, financing_available: financingAvailable,\n  financing_details: financingDetails, warranty: warranty, warranty_details: warrantyDetails,\n  licensed_insured: licensedInsured, certifications: certifications, payment_methods: paymentMethods,\n  maintenance_plans: maintenancePlans, lead_contact_method: leadContactMethod, lead_phone: leadPhone,\n  lead_email: leadEmail, custom_greeting: customGreeting, company_tagline: companyTagline,\n  transfer_phone: transferPhone || leadPhone, transfer_triggers: transferTriggers,\n  transfer_behavior: transferBehavior, unique_selling_points: uniqueSellingPts,\n  current_promotion: currentPromotion, seasonal_services: seasonalServices,\n  additional_info: additionalNotes, owner_name: ownerName, google_review_rating: googleReviewRating,\n  google_review_count: googleReviewCount, do_not_service: doNotService,\n  membership_program: membershipProgram, client_email: data.client_email || '',\n  timezone: data.timezone || 'America/Chicago', industry_type: industryType\n};\n\nreturn {\n  conversationFlow: conversationFlow,\n  agentConfig: agentConfig,\n  agentName: agentConfig.agent_name,\n  companyName: companyName,\n  voiceId: voiceId,\n  companyInfoBlock: companyInfoBlock,\n  extractedData: extractedData,\n  transferNumber: transferNumber,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "build_retell_prompt",
      "name": "Build Retell Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-conversation-flow",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{  $json.conversationFlow  }}",
        "options": {}
      },
      "id": "create_retell_llm",
      "name": "Create Retell LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        976,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "retell-api-key",
          "name": "Retell API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { ...($('Build Retell Prompt').item.json.agentConfig), \"response_engine\": { \"type\": \"conversation-flow\", \"conversation_flow_id\": $json.conversation_flow_id } } }}",
        "options": {}
      },
      "id": "create_retell_agent",
      "name": "Create Retell Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1216,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "retell-api-key",
          "name": "Retell API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Merge conversation flow + agent responses with extracted data\nconst agentResponse = $input.first().json;\nconst convFlowResponse = $('Create Retell LLM').item.json;\nconst buildData = $('Build Retell Prompt').item.json;\nconst ed = buildData.extractedData || {};\n\nreturn {\n  // System fields\n  timestamp: new Date().toISOString(),\n  conversation_flow_id: convFlowResponse.conversation_flow_id,\n  agent_id: agentResponse.agent_id,\n  voice_id: buildData.voiceId,\n  agent_language: 'en-US',\n\n  // Company basics\n  company_name: buildData.companyName || ed.company_name,\n  owner_name: ed.owner_name || '',\n  company_phone: ed.company_phone || '',\n  website: ed.website || '',\n  years_in_business: ed.years_in_business || '',\n  agent_name: buildData.agentName || ed.agent_name,\n  timezone: ed.timezone || 'America/Chicago',\n  client_email: ed.client_email || '',\n  industry_type: ed.industry_type || 'HVAC',\n\n  // AI Agent Setup\n  voice_gender: ed.voice_gender || 'female',\n  custom_greeting: ed.custom_greeting || '',\n  company_tagline: ed.company_tagline || '',\n\n  // Services & Coverage\n  services_offered: ed.services_offered || '',\n  brands_serviced: ed.brands_serviced || '',\n  service_area: ed.service_area || '',\n  service_area_radius: ed.service_area_radius || '',\n  certifications: ed.certifications || '',\n  licensed_insured: ed.licensed_insured || 'Yes',\n\n  // Hours & Availability\n  business_hours: ed.business_hours || '',\n  response_time: ed.response_time || '',\n  emergency_service: ed.emergency_service || 'No',\n  emergency_phone: ed.emergency_phone || '',\n  after_hours_behavior: ed.after_hours_behavior || '',\n\n  // Pricing & Policies\n  pricing_policy: ed.pricing_policy || 'We provide free quotes on-site',\n  diagnostic_fee: ed.diagnostic_fee || '',\n  standard_fees: ed.standard_fees || '',\n  free_estimates: ed.free_estimates || 'Yes - always free',\n  financing_available: ed.financing_available || 'No',\n  financing_details: ed.financing_details || '',\n  warranty: ed.warranty || 'Yes',\n  warranty_details: ed.warranty_details || '',\n  payment_methods: ed.payment_methods || '',\n  maintenance_plans: ed.maintenance_plans || 'No',\n  membership_program: ed.membership_program || '',\n\n  // Lead Handling\n  lead_contact_method: ed.lead_contact_method || 'Both',\n  lead_phone: ed.lead_phone || '',\n  lead_email: ed.lead_email || '',\n  booking_system: ed.booking_system || '',\n\n  // Escalation & Transfer\n  transfer_phone: ed.transfer_phone || '',\n  transfer_triggers: ed.transfer_triggers || '',\n  transfer_behavior: ed.transfer_behavior || 'Try once - take message if no answer',\n\n  // Promotions & Extras\n  unique_selling_points: ed.unique_selling_points || '',\n  current_promotion: ed.current_promotion || '',\n  seasonal_services: ed.seasonal_services || '',\n  google_review_rating: ed.google_review_rating || '',\n  google_review_count: ed.google_review_count || '',\n  do_not_service: ed.do_not_service || '',\n  additional_info: ed.additional_info || ''\n};"
      },
      "id": "merge_responses",
      "name": "Merge LLM & Agent Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "write_supabase",
      "name": "Write Client Data to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1696,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-anon",
          "name": "Supabase Anon Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "daniel@syntharra.com",
        "subject": "=New HVAC Agent Created: {{ $json.company_name }} ({{ $json.agent_id }})",
        "message": "=<div style='margin:0;padding:0;background:#F7F7FB'><table width='100%' cellpadding='0' cellspacing='0' style='background:#F7F7FB;padding:24px 16px'><tr><td align='center'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #E5E7EB'><tr><td style='background:linear-gradient(135deg,#1A1A2E,#2d2d5e);padding:28px 32px'><table cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse;margin-bottom:18px'><tr><td style='vertical-align:middle;padding-right:10px'><img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEA0lEQVR4nO2bPWwcRRTHfzPrs/HZJv5IghJHQhBZWBApBisFIONAgUSBlCJBIKooDUUqOtp0kahQCpqIKlKEFKUgUhoiBSoQCFlAJIMTRakiZHCEfeZy5nZeivXmNps7337Neu/jX93Ozb55//+8eTM7s6vICWfPiMSpf+GiUrZ8CcJaI3EJt4MtQTI3mjXxMLIWIjNjtomHkZUQqY3kTTyMtEIkvnm3iYeRVAid5KaikYfkPsUWoIjkfSTxLXLYFJl4M0QdEpEioNPIQ3Sf2wrQieR9RPE9URLsJuwoQCf3vo92HFoK0A3kfezEpakA3UTeRytOPZ8Dnpori9r7Y8+yevIjbk/tYw+C1GpsXbtK6e4djsSxE14fDGTrpj0svM2t145xPFj2wccsnz+Xzu4TQ6CovQ9QLqOMwa3XqRlD3RjcoSGeiWsnzLFjIsAY0BoHEKXQSqFFSN1hjyOgyL3fEirZ43yQa8/PAhqK0fujo6zNzLI08xJLh2f41XZ7PudC5IDxCe5/+hkyMcmcX7ayzNIXnzeubaEQQ+D5F7g3MclB1+V/Y3BFMDOzzB2Y5rbttgsRAYASwfjZXSnvWiuM7YZ1EcY/gFJPRmP42gbOnhEpxBDYTfS8ALnkgNmX+eX1BWpaewuXOyvUbn7LYh5tt4N1AYaHWT/9CS+Wy4z7ZXPzsPoXP936jWO2228H+wKU2SiVmDKGOoDrUnccSlP7qNpuOwqsCyCyPaVpBkQQx/EealzX3tF8HOSSBFWTjRel0j/JZYH+LJCFkfEJ7g8O8RBgs8KezQqTWdjNA6kFWDjO9ydOMT9QYr9SqEqFta++ZGnlD/sPMlkg9RB4Y5HnBocYARDBjI2x981F/kvvWj7Qad+wcF3c4NZUFttUeeHCRaVSR4ACpQJbUyrhNtVuoedngb4AkN9bmUWCzzl1BAjtk16zOiKNXJF4SybLc4HEr5kptL+PJwZjDG4oKYrCO9UR8f43BtfRDee1Rrbvf1xHBAkul7X2bATtJE24Qa6pF0LVKtXtExsnUFb3fz+sMmIMbsmr45/usLnZaLuywbBSaGeAwZDtsv97YwOjNY5/P0C93mgnKVKfDh88xMqJU6yPjnrOPnjA+pXLTK/9zSG/ztw8P7zzLiOO45G+d5fVry/xVtDOe+9z85Wj7AcQg/z8I/98d6NRZ7jMvyc/5PcD00yKwFaNrevfYP5c5tU4/oYjvWOOx7NCWICnkmA3zwjNuPXXAc0KuzEKWnFqGQHdJMJOXHYcAt0gQjsO/RzQrkInR0EU3yNFQCeKENXn2MSKvlCK21mxc0CRoyGJb4mSYBFFSOpT/7O5rBzp2Q8nw+jZT2fD6NmPp1uhqJ/PPwJ0VJJMh1QmBQAAAABJRU5ErkJggg==' width='36' height='36' alt='Syntharra' style='display:block;border:0;'/></td><td style='vertical-align:middle'><div style='font-family:Georgia,serif;font-size:20px;font-weight:normal;color:#ffffff;letter-spacing:0.5px;line-height:1.1'>Syntharra</div><div style='font-family:Arial,Helvetica,sans-serif;font-size:8px;font-weight:bold;color:rgba(255,255,255,0.7);letter-spacing:3.5px;text-transform:uppercase;margin-top:3px'>Global AI Solutions</div></td></tr></table><h1 style='font-family:Georgia,serif;font-size:22px;font-weight:normal;color:#ffffff;margin:0;line-height:1.3'>HVAC Agent Onboarded</h1><p style='font-family:Arial,Helvetica,sans-serif;font-size:13px;color:rgba(255,255,255,0.75);margin:4px 0 0'>{{ $json.timestamp }}</p></td></tr><tr><td style='padding:28px 32px'><div style='background:rgba(108,99,255,0.08);border-left:3px solid #6C63FF;padding:8px 14px;font-family:Arial,sans-serif;font-size:11px;font-weight:700;color:#6C63FF;letter-spacing:1px;text-transform:uppercase;margin-bottom:20px;border-radius:0 6px 6px 0'>Internal notification — daniel@syntharra.com only</div><table style='width:100%;border-collapse:collapse'><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Company</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.company_name }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Agent ID</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'><span style='font-family:monospace;font-size:12px;color:#6C63FF'>{{ $json.agent_id }}</span></td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Conv Flow ID</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'><span style='font-family:monospace;font-size:12px;color:#6C63FF'>{{ $json.conversation_flow_id }}</span></td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Agent Name</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.agent_name }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Voice</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.voice_id }} ({{ $json.voice_gender }})</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Phone</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.company_phone }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Service Area</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.service_area }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Lead Phone</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.lead_phone }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Lead Email</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $json.lead_email }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Stored In</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>Supabase: hvac_standard_agent</td></tr></table></td></tr><tr><td style='border-top:1px solid #E5E7EB;padding:16px 32px;background:#F7F7FB;text-align:center'><p style='font-family:Arial,sans-serif;font-size:11px;color:#8A8AA0;margin:0'>Syntharra Internal System &nbsp;·&nbsp; <a href='mailto:admin@syntharra.com' style='color:#6C63FF;text-decoration:none'>admin@syntharra.com</a></p></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "id": "send_summary_email",
      "name": "Email Summary to Dan",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1696,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": []
        },
        "options": {}
      },
      "id": "if_error_llm",
      "name": "IF LLM Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        976,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": []
        },
        "options": {}
      },
      "id": "if_error_agent",
      "name": "IF Agent Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1216,
        640
      ]
    },
    {
      "parameters": {},
      "id": "error_handler_llm",
      "name": "Log LLM Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        840
      ]
    },
    {
      "parameters": {},
      "id": "error_handler_agent",
      "name": "Log Agent Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        840
      ]
    },
    {
      "parameters": {
        "sendTo": "daniel@syntharra.com",
        "subject": "=[ALERT] HVAC Onboarding Error - {{ $('Parse JotForm Data').item.json.company_name || 'Unknown' }}",
        "message": "=<div style='margin:0;padding:0;background:#F7F7FB'><table width='100%' cellpadding='0' cellspacing='0' style='background:#F7F7FB;padding:24px 16px'><tr><td align='center'><table width='600' cellpadding='0' cellspacing='0' style='max-width:600px;background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #E5E7EB'><tr><td style='background:linear-gradient(135deg,#c53030,#e53e3e);padding:28px 32px'><table cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse;margin-bottom:18px'><tr><td style='vertical-align:middle;padding-right:10px'><img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEA0lEQVR4nO2bPWwcRRTHfzPrs/HZJv5IghJHQhBZWBApBisFIONAgUSBlCJBIKooDUUqOtp0kahQCpqIKlKEFKUgUhoiBSoQCFlAJIMTRakiZHCEfeZy5nZeivXmNps7337Neu/jX93Ozb55//+8eTM7s6vICWfPiMSpf+GiUrZ8CcJaI3EJt4MtQTI3mjXxMLIWIjNjtomHkZUQqY3kTTyMtEIkvnm3iYeRVAid5KaikYfkPsUWoIjkfSTxLXLYFJl4M0QdEpEioNPIQ3Sf2wrQieR9RPE9URLsJuwoQCf3vo92HFoK0A3kfezEpakA3UTeRytOPZ8Dnpori9r7Y8+yevIjbk/tYw+C1GpsXbtK6e4djsSxE14fDGTrpj0svM2t145xPFj2wccsnz+Xzu4TQ6CovQ9QLqOMwa3XqRlD3RjcoSGeiWsnzLFjIsAY0BoHEKXQSqFFSN1hjyOgyL3fEirZ43yQa8/PAhqK0fujo6zNzLI08xJLh2f41XZ7PudC5IDxCe5/+hkyMcmcX7ayzNIXnzeubaEQQ+D5F7g3MclB1+V/Y3BFMDOzzB2Y5rbttgsRAYASwfjZXSnvWiuM7YZ1EcY/gFJPRmP42gbOnhEpxBDYTfS8ALnkgNmX+eX1BWpaewuXOyvUbn7LYh5tt4N1AYaHWT/9CS+Wy4z7ZXPzsPoXP936jWO2228H+wKU2SiVmDKGOoDrUnccSlP7qNpuOwqsCyCyPaVpBkQQx/EealzX3tF8HOSSBFWTjRel0j/JZYH+LJCFkfEJ7g8O8RBgs8KezQqTWdjNA6kFWDjO9ydOMT9QYr9SqEqFta++ZGnlD/sPMlkg9RB4Y5HnBocYARDBjI2x981F/kvvWj7Qad+wcF3c4NZUFttUeeHCRaVSR4ACpQJbUyrhNtVuoedngb4AkN9bmUWCzzl1BAjtk16zOiKNXJF4SybLc4HEr5kptL+PJwZjDG4oKYrCO9UR8f43BtfRDee1Rrbvf1xHBAkul7X2bATtJE24Qa6pF0LVKtXtExsnUFb3fz+sMmIMbsmr45/usLnZaLuywbBSaGeAwZDtsv97YwOjNY5/P0C93mgnKVKfDh88xMqJU6yPjnrOPnjA+pXLTK/9zSG/ztw8P7zzLiOO45G+d5fVry/xVtDOe+9z85Wj7AcQg/z8I/98d6NRZ7jMvyc/5PcD00yKwFaNrevfYP5c5tU4/oYjvWOOx7NCWICnkmA3zwjNuPXXAc0KuzEKWnFqGQHdJMJOXHYcAt0gQjsO/RzQrkInR0EU3yNFQCeKENXn2MSKvlCK21mxc0CRoyGJb4mSYBFFSOpT/7O5rBzp2Q8nw+jZT2fD6NmPp1uhqJ/PPwJ0VJJMh1QmBQAAAABJRU5ErkJggg==' width='36' height='36' alt='Syntharra' style='display:block;border:0;'/></td><td style='vertical-align:middle'><div style='font-family:Georgia,serif;font-size:20px;font-weight:normal;color:#ffffff;letter-spacing:0.5px;line-height:1.1'>Syntharra</div><div style='font-family:Arial,Helvetica,sans-serif;font-size:8px;font-weight:bold;color:rgba(255,255,255,0.7);letter-spacing:3.5px;text-transform:uppercase;margin-top:3px'>Global AI Solutions</div></td></tr></table><h1 style='font-family:Georgia,serif;font-size:22px;font-weight:normal;color:#ffffff;margin:0;line-height:1.3'>⚠️ Onboarding Error</h1><p style='font-family:Arial,Helvetica,sans-serif;font-size:13px;color:rgba(255,255,255,0.75);margin:4px 0 0'>{{ $('Parse JotForm Data').item.json.company_name || 'Unknown' }} &nbsp;·&nbsp; Action required</p></td></tr><tr><td style='padding:28px 32px'><div style='background:rgba(108,99,255,0.08);border-left:3px solid #6C63FF;padding:8px 14px;font-family:Arial,sans-serif;font-size:11px;font-weight:700;color:#6C63FF;letter-spacing:1px;text-transform:uppercase;margin-bottom:20px;border-radius:0 6px 6px 0'>Internal alert — requires manual intervention</div><table style='width:100%;border-collapse:collapse;margin-bottom:20px'><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;background:#F7F7FB;'>Company</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ $('Parse JotForm Data').item.json.company_name || 'Unknown' }}</td></tr><tr style='border-bottom:1px solid #E5E7EB'><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;font-weight:700;color:#1A1A2E;width:38%;'>Timestamp</td><td style='padding:9px 12px;font-family:Arial,sans-serif;font-size:13px;color:#4A4A6A'>{{ new Date().toISOString() }}</td></tr></table><h2 style='font-family:Georgia,serif;font-size:17px;color:#1A1A2E;margin:0 0 8px'>Error Details</h2><div style='background:#FFF5F5;border:1px solid #FEB2B2;border-radius:8px;padding:14px;font-family:monospace;font-size:12px;color:#c53030;line-height:1.6;overflow-wrap:break-word;white-space:pre-wrap'>{{ JSON.stringify($input.first().json, null, 2) }}</div></td></tr><tr><td style='border-top:1px solid #E5E7EB;padding:16px 32px;background:#F7F7FB;text-align:center'><p style='font-family:Arial,sans-serif;font-size:11px;color:#8A8AA0;margin:0'>Syntharra Internal System &nbsp;·&nbsp; <a href='mailto:admin@syntharra.com' style='color:#6C63FF;text-decoration:none'>admin@syntharra.com</a></p></td></tr></table></td></tr></table></div>",
        "options": {}
      },
      "id": "error_notification_email",
      "name": "Error Notification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1096,
        1040
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "twilio-search",
        "options": {}
      },
      "id": "twilio_search_numbers",
      "name": "Twilio: Search Available Numbers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1936,
        300
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-purchase",
        "options": {}
      },
      "id": "twilio_purchase_number",
      "name": "Twilio: Purchase Phone Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2176,
        300
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "retell-assign-phone",
        "options": {}
      },
      "id": "retell_assign_phone",
      "name": "Retell: Assign Phone Number to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2416,
        300
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build Branded Welcome Email — Syntharra Setup Guide\nconst input = $input.first().json;\nconst formData = $('Parse JotForm Data').first().json;\n\nlet twilioNumber = '';\ntry { twilioNumber = $('Twilio: Purchase Phone Number').first().json.phone_number || ''; } catch (e) {}\n\nconst phoneRaw = twilioNumber || input.agent_phone_number || input.twilio_number || input.phone_number || '';\nconst phone = String(phoneRaw);\nconst companyName = formData.company_name || input.company_name || 'Your Company';\nconst agentName   = formData.agent_name  || input.agent_name  || 'AI Receptionist';\nconst agentId     = input.agent_id || '';\nconst leadEmail   = formData.lead_email   || input.lead_email   || input.email || '';\nconst leadPhone   = formData.lead_phone   || input.lead_phone   || formData.phone_number || '';\nconst planName    = formData.plan_name    || input.plan_name    || 'Standard';\n\nif (!phone) {\n  return [{ json: { ...input, emailHtml: '<p>No phone number configured.</p>', skipEmail: true, lead_email: leadEmail, company_name: companyName } }];\n}\n\nconst digits = phone.replace(/[^0-9]/g, '');\nlet displayNum = phone;\nif (digits.length === 11 && digits[0] === '1') displayNum = '+' + digits[0] + ' (' + digits.slice(1,4) + ') ' + digits.slice(4,7) + '-' + digits.slice(7);\nelse if (digits.length === 10) displayNum = '(' + digits.slice(0,3) + ') ' + digits.slice(3,6) + '-' + digits.slice(6);\n\nconst emailHtml = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Syntharra — AI Receptionist Setup Guide</title>\n<style>\n  * { margin:0; padding:0; box-sizing:border-box; }\n  body { font-family:Arial,Helvetica,sans-serif; background:#fff; color:#1A1A2E; max-width:600px; margin:0 auto; }\n  .cover { background:linear-gradient(135deg,#6C63FF,#8B85FF); padding:48px 40px 40px; }\n  .cover-logo { display:flex; align-items:center; gap:12px; margin-bottom:36px; }\n  .bars { display:flex; align-items:flex-end; gap:3px; }\n  .bar { background:rgba(255,255,255,0.85); border-radius:2px; }\n  .b1{width:6px;height:9px} .b2{width:6px;height:14px} .b3{width:6px;height:19px} .b4{width:6px;height:24px}\n  .wordmark { font-family:Georgia,'Times New Roman',serif; font-size:20px; color:#fff; letter-spacing:0.5px; line-height:1.1; }\n  .tagline  { font-family:Arial,Helvetica,sans-serif; font-size:8px; font-weight:700; color:rgba(255,255,255,0.7); letter-spacing:3px; text-transform:uppercase; margin-top:3px; }\n  .cover-badge { display:inline-block; background:rgba(255,255,255,0.15); border:1px solid rgba(255,255,255,0.3); border-radius:20px; padding:4px 12px; font-size:11px; font-weight:700; color:#fff; letter-spacing:1px; text-transform:uppercase; margin-bottom:14px; }\n  .cover h1 { font-family:Georgia,'Times New Roman',serif; font-size:26px; font-weight:normal; color:#fff; line-height:1.25; margin-bottom:10px; }\n  .cover p  { font-size:13px; color:rgba(255,255,255,0.8); line-height:1.6; }\n  .body { padding:36px 40px; }\n  .section { margin-bottom:32px; }\n  .section-title { font-size:10px; font-weight:700; letter-spacing:2px; text-transform:uppercase; color:#6C63FF; margin-bottom:10px; padding-bottom:8px; border-bottom:2px solid rgba(108,99,255,0.15); }\n  h2 { font-family:Georgia,'Times New Roman',serif; font-size:17px; font-weight:normal; color:#1A1A2E; margin-bottom:8px; }\n  p  { font-size:13px; color:#4A4A6A; line-height:1.7; margin-bottom:10px; }\n  .phone-box { background:rgba(108,99,255,0.06); border:1.5px solid rgba(108,99,255,0.2); border-radius:10px; padding:18px 20px; text-align:center; margin:14px 0; }\n  .phone-num { font-family:Georgia,'Times New Roman',serif; font-size:26px; color:#6C63FF; font-weight:bold; }\n  .phone-sub { font-size:11px; color:#8A8AA0; margin-top:6px; }\n  .steps { list-style:none; margin:0; padding:0; }\n  .steps li { display:flex; gap:14px; align-items:flex-start; margin-bottom:12px; }\n  .step-num { background:linear-gradient(135deg,#6C63FF,#8B85FF); color:#fff; font-weight:700; font-size:12px; width:26px; height:26px; border-radius:50%; display:flex; align-items:center; justify-content:center; flex-shrink:0; text-align:center; line-height:26px; }\n  .step-body { font-size:13px; color:#4A4A6A; line-height:1.6; padding-top:3px; }\n  .step-body strong { color:#1A1A2E; }\n  .code-block { background:#F7F7FB; border:1px solid #E5E7EB; border-radius:8px; padding:10px 14px; font-family:monospace; font-size:12px; color:#1A1A2E; margin:8px 0; }\n  .card-row { display:flex; gap:10px; margin-top:10px; flex-wrap:wrap; }\n  .card { background:#fff; border:1px solid #E5E7EB; border-radius:10px; padding:14px; flex:1; min-width:220px; border-top:3px solid #6C63FF; }\n  .card-title { font-size:13px; font-weight:700; color:#1A1A2E; margin-bottom:4px; }\n  .card-body  { font-size:12px; color:#4A4A6A; line-height:1.5; }\n  .info { background:rgba(108,99,255,0.05); border:1px solid rgba(108,99,255,0.2); border-radius:8px; padding:10px 14px; font-size:12px; color:#4A4A6A; margin:10px 0; }\n  .info strong { color:#6C63FF; }\n  .divider { border:none; border-top:1px dashed #E5E7EB; margin:28px 0; }\n  .footer { background:#1A1A2E; padding:24px 40px; }\n  .footer-inner { display:flex; justify-content:space-between; align-items:center; }\n  .footer .wordmark { font-family:Georgia,'Times New Roman',serif; font-size:15px; color:#fff; }\n  .footer .tagline  { font-family:Arial,Helvetica,sans-serif; font-size:7px; font-weight:700; color:rgba(255,255,255,0.5); letter-spacing:3px; text-transform:uppercase; margin-top:2px; }\n  .footer-links { font-size:11px; color:rgba(255,255,255,0.5); text-align:right; }\n  .footer-links a { color:#8B85FF; text-decoration:none; display:block; margin-bottom:4px; }\n</style>\n</head>\n<body>\n\n<div class=\"cover\">\n  <div class=\"cover-logo\">\n    <div class=\"bars\">\n      <div class=\"bar b1\"></div><div class=\"bar b2\"></div>\n      <div class=\"bar b3\"></div><div class=\"bar b4\"></div>\n    </div>\n    <div>\n      <div class=\"wordmark\">Syntharra</div>\n      <div class=\"tagline\">Global AI Solutions</div>\n    </div>\n  </div>\n  <div class=\"cover-badge\">Setup Guide</div>\n  <h1>Your AI Receptionist<br>is Live</h1>\n  <p>Everything you need to get your AI receptionist answering calls and capturing leads — in under 5 minutes.</p>\n</div>\n\n<div class=\"body\">\n\n  <div class=\"section\">\n    <div class=\"section-title\">Your AI Phone Number</div>\n    <p>This is the number your AI receptionist answers. Forward your business line here and every call will be handled 24/7.</p>\n    <div class=\"phone-box\">\n      <div class=\"phone-num\">${displayNum}</div>\n      <div class=\"phone-sub\">Your dedicated Syntharra AI line — forward your business number to this</div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-title\">Step 1 — Set Up Call Forwarding</div>\n    <h2>Forward Your Business Line</h2>\n    <p>Choose the method that matches your setup:</p>\n    <p><strong style=\"color:#1A1A2E;\">iPhone</strong></p>\n    <ul class=\"steps\">\n      <li><div class=\"step-num\">1</div><div class=\"step-body\">Open <strong>Settings</strong></div></li>\n      <li><div class=\"step-num\">2</div><div class=\"step-body\">Tap <strong>Phone → Call Forwarding</strong></div></li>\n      <li><div class=\"step-num\">3</div><div class=\"step-body\">Toggle <strong>Call Forwarding ON</strong> and enter <strong>${displayNum}</strong></div></li>\n    </ul>\n    <p style=\"margin-top:12px\"><strong style=\"color:#1A1A2E;\">Android</strong></p>\n    <ul class=\"steps\">\n      <li><div class=\"step-num\">1</div><div class=\"step-body\">Open the <strong>Phone</strong> app</div></li>\n      <li><div class=\"step-num\">2</div><div class=\"step-body\">Go to <strong>Settings → Calls → Call Forwarding</strong></div></li>\n      <li><div class=\"step-num\">3</div><div class=\"step-body\">Enter <strong>${displayNum}</strong> and confirm</div></li>\n    </ul>\n    <p style=\"margin-top:12px\"><strong style=\"color:#1A1A2E;\">Carrier Dial Codes (fastest)</strong></p>\n    <div class=\"code-block\">AT&amp;T / T-Mobile: &nbsp; **21*${digits}# &nbsp;&nbsp; (dial &amp; press call)</div>\n    <div class=\"code-block\">Verizon: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *72${digits} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (dial &amp; press call)</div>\n  </div>\n\n  <hr class=\"divider\">\n\n  <div class=\"section\">\n    <div class=\"section-title\">Step 2 — What Happens Next</div>\n    <h2>How Your AI Receptionist Works</h2>\n    <div class=\"card-row\">\n      <div class=\"card\">\n        <div class=\"card-title\">Answers Every Call</div>\n        <div class=\"card-body\">Your AI picks up within 2 rings, 24/7 — no missed opportunities.</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Qualifies Leads</div>\n        <div class=\"card-body\">Scores every caller 1–10. Hot leads get flagged immediately.</div>\n      </div>\n    </div>\n    <div class=\"card-row\">\n      <div class=\"card\">\n        <div class=\"card-title\">Sends You Alerts</div>\n        <div class=\"card-body\">Hot lead? You get an SMS and email the moment the call ends.</div>\n      </div>\n      <div class=\"card\">\n        <div class=\"card-title\">Weekly Reports</div>\n        <div class=\"card-body\">Every Sunday — calls handled, leads captured, top prospects.</div>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-title\">Lead Notifications</div>\n    <h2>You'll Get Notified Instantly</h2>\n    <p>When your AI receptionist captures a hot lead (score 8–10), you'll receive:</p>\n    <ul class=\"steps\">\n      <li><div class=\"step-num\">1</div><div class=\"step-body\"><strong>SMS alert</strong> to ${leadPhone || 'your mobile'} with caller name, phone, service requested</div></li>\n      <li><div class=\"step-num\">2</div><div class=\"step-body\"><strong>Email alert</strong> to ${leadEmail} with full lead summary and call details</div></li>\n    </ul>\n    <div class=\"info\"><strong>Tip:</strong> Respond to hot leads within 5 minutes — conversion rates drop significantly after that window.</div>\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-title\">Need Help?</div>\n    <h2>We're Here</h2>\n    <p>If you run into any issues with call forwarding or your AI receptionist, contact us and we'll get it sorted fast.</p>\n    <ul class=\"steps\">\n      <li><div class=\"step-num\" style=\"background:#E5E7EB;color:#1A1A2E;font-size:14px;line-height:26px;\">✉</div><div class=\"step-body\"><strong>support@syntharra.com</strong> — response within 4 business hours</div></li>\n      <li><div class=\"step-num\" style=\"background:#E5E7EB;color:#1A1A2E;font-size:14px;line-height:26px;\">🌐</div><div class=\"step-body\"><strong>www.syntharra.com</strong> — full help centre and FAQs</div></li>\n    </ul>\n    <div class=\"info\" style=\"margin-top:14px\"><strong>Agent:</strong> ${agentName} &nbsp;·&nbsp; <strong>Company:</strong> ${companyName} &nbsp;·&nbsp; <strong>Plan:</strong> ${planName}</div>\n  </div>\n\n</div>\n\n<div class=\"footer\">\n  <div class=\"footer-inner\">\n    <div class=\"footer-logo\">\n      <div class=\"wordmark\">Syntharra</div>\n      <div class=\"tagline\">Global AI Solutions</div>\n    </div>\n    <div class=\"footer-links\">\n      <a href=\"mailto:support@syntharra.com\">support@syntharra.com</a>\n      <a href=\"https://www.syntharra.com\">www.syntharra.com</a>\n      <span>AI Receptionists for the Trade Industry</span>\n    </div>\n  </div>\n</div>\n\n</body>\n</html>`;\n\nreturn [{ json: { ...input, emailHtml, lead_email: leadEmail, company_name: companyName, agent_name: agentName, skipEmail: false } }];"
      },
      "id": "build_welcome_email",
      "name": "Build Welcome Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead_email }}",
        "subject": "=Your AI Receptionist for {{ $json.company_name }} is Ready!",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "send_setup_instructions",
      "name": "Send Setup Instructions Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2896,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth",
          "name": "Gmail OAuth2"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "JotForm Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse JotForm Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JotForm Data": {
      "main": [
        [
          {
            "node": "Build Retell Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retell Prompt": {
      "main": [
        [
          {
            "node": "Create Retell LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell LLM": {
      "main": [
        [
          {
            "node": "Create Retell Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell Agent": {
      "main": [
        [
          {
            "node": "Merge LLM & Agent Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LLM & Agent Data": {
      "main": [
        [
          {
            "node": "Write Client Data to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Summary to Dan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Client Data to Supabase": {
      "main": [
        [
          {
            "node": "Twilio: Search Available Numbers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Search Available Numbers": {
      "main": [
        [
          {
            "node": "Twilio: Purchase Phone Number",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Twilio: Purchase Phone Number": {
      "main": [
        [
          {
            "node": "Retell: Assign Phone Number to Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Retell: Assign Phone Number to Agent": {
      "main": [
        [
          {
            "node": "Build Welcome Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Email HTML": {
      "main": [
        [
          {
            "node": "Send Setup Instructions Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF LLM Error": {
      "main": [
        [],
        [
          {
            "node": "Log LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Agent Error": {
      "main": [
        [],
        [
          {
            "node": "Log Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log LLM Error": {
      "main": [
        [
          {
            "node": "Error Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Agent Error": {
      "main": [
        [
          {
            "node": "Error Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}