hvac-standard/n8n-workflows/94QmMVGdEDl2S9MF_Scenario_Runner_v4_(main).json
{
  "updatedAt": "2026-03-27T02:55:48.072Z",
  "createdAt": "2026-03-27T02:53:56.053Z",
  "id": "94QmMVGdEDl2S9MF",
  "name": "HVAC Scenario Test Runner v4",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "m-trig",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        0
      ],
      "parameters": {}
    },
    {
      "id": "m-sched",
      "name": "Schedule Monday 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "m-build",
      "name": "Build Scenarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst AGENT_ID = 'agent_d180e1bd5b9b724c8f616a0415';\nconst GREETING = 'Thank you for calling Arctic Breeze HVAC, this is Sophie, how can I help you today?';\nconst scenarios = [\n  {sid:'S01',name:'Standard AC Repair',persona:'Cooperative homeowner. AC stopped cooling yesterday. Name: Marcus Thompson. Phone: 718-555-0134. Address: 150 Court Street Brooklyn NY 11201.',expectLead:true,minScore:6},\n  {sid:'S02',name:'Emergency No Heat',persona:'Panicking. Heat out overnight. Baby at home. EMERGENCY. Name: Linda Park. Phone: 347-555-0287. Address: 78 Ocean Avenue Brooklyn NY 11225.',expectLead:true,minScore:8},\n  {sid:'S03',name:'Out of Service Area',persona:'Calling about AC in Newark NJ. Name: Roberto Silva. Accepts when told not serviced.',expectLead:false,minScore:0},\n  {sid:'S04',name:'Price Shopper',persona:'Shopping for AC tune-up price. Reluctant. Name: Tony DiMaggio. Phone: 631-555-0099. Area: Park Slope Brooklyn.',expectLead:true,minScore:4},\n  {sid:'S05',name:'Existing Customer',persona:'Existing customer checking status of last week job. Name: Janet Kowalski. Not booking.',expectLead:false,minScore:0},\n  {sid:'S06',name:'Spam Robocall',persona:'Robocall. Only say: Hello Press 1 to lower your rates. No real engagement.',expectLead:false,minScore:0},\n  {sid:'S07',name:'Angry Caller',persona:'Furious about last month job. Demands manager. Refuses details. Wants refund.',expectLead:false,minScore:0},\n  {sid:'S08',name:'Vague Caller',persona:'Wants repair but refuses to give address. Name: Sam Chen. Phone: 212-555-0177. Area only: Upper West Side Manhattan.',expectLead:true,minScore:4},\n  {sid:'S09',name:'Large Commercial Job',persona:'12-unit building needing full HVAC service. Name: David Rosenberg. Phone: 718-555-0321. Address: 400 Atlantic Avenue Brooklyn NY 11217.',expectLead:true,minScore:7},\n  {sid:'S10',name:'After Hours Emergency',persona:'AC died in heatwave at night. EMERGENCY. Name: Priya Patel. Phone: 917-555-0088. Address: 220 Flatbush Avenue Brooklyn NY 11217.',expectLead:true,minScore:7},\n  {sid:'S11',name:'Heavy Accent',persona:'Strong Russian accent, repeats himself. AC repair needed. Name: Dmitri Volkov. Phone: 718-555-0442. Address: 1840 East 14th Street Brooklyn NY 11229.',expectLead:true,minScore:5},\n  {sid:'S12',name:'Wrong Number',persona:'Thinks called doctor. Realises mistake. Hangs up without giving details.',expectLead:false,minScore:0},\n  {sid:'S13',name:'Hangs Up Halfway',persona:'Calls about furnace. Gives name James Briggs, starts number, then says will call back and hangs up.',expectLead:false,minScore:0},\n  {sid:'S14',name:'Elderly Caller',persona:'78 year old, speaks slowly, loses thought. AC service. Eventually gives: Dorothy Walsh, 718-555-0611, 55 Bay Ridge Avenue Brooklyn NY 11209.',expectLead:true,minScore:5},\n  {sid:'S15',name:'Same Day Demand',persona:'Party tonight AC broke. Same-day needed. Name: Michael Greene. Phone: 646-555-0388. Address: 892 Manhattan Avenue Brooklyn NY 11222.',expectLead:true,minScore:8},\n];\nreturn scenarios.map(s => ({ json: { ...s, callId: 'scenario_' + s.sid + '_' + Date.now(), greeting: GREETING, agentId: AGENT_ID } }));\n"
      }
    },
    {
      "id": "m-loop",
      "name": "Loop Scenarios",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1120,
        0
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "m-exec",
      "name": "Run Single Scenario",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -880,
        0
      ],
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "rlf1dHVcTlzUbPX7",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "m-agg",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst all = $input.all().map(i => i.json);\nconst passed = all.filter(r => r.status === 'PASS').length;\nconst failed = all.filter(r => r.status === 'FAIL').length;\nconst errors = all.filter(r => r.status === 'ERROR').length;\nreturn [{ json: {\n  results: all,\n  summary: { total: all.length, passed, failed, errors, pass_rate: Math.round(passed/Math.max(all.length,1)*100)+'%', run_date: new Date().toISOString() }\n} }];\n"
      }
    },
    {
      "id": "m-report",
      "name": "Build Report Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst {results, summary} = $input.first().json;\nconst icon = s => s==='PASS'?'\u2705':s==='FAIL'?'\u274c':'\u26a0\ufe0f';\nconst rows = results.map(r => {\n  const fails = (r.failures||[]).map(f => '<li style=\"color:#dc2626;font-size:12px\">'+f+'</li>').join('');\n  return '<tr style=\"border-bottom:1px solid #f3f0ff\">'\n    +'<td style=\"padding:8px 4px;font-size:12px;font-weight:600;color:#6b7280\">'+r.sid+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#111827\">'+r.name+'</td>'\n    +'<td style=\"padding:8px;text-align:center\">'+icon(r.status)+' '+r.status+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#6b7280\">'+(r.lead_score??'\u2014')+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#6b7280\">'+(r.service||'\u2014')+'</td>'\n    +'<td style=\"padding:8px;font-size:12px;color:#6b7280\">'+(r.summary||'\u2014')+(fails?'<ul style=\"margin:4px 0;padding-left:14px\">'+fails+'</ul>':'')+'</td>'\n    +'</tr>';\n}).join('');\nconst ok = summary.failed===0 && summary.errors===0;\nconst bar = ok ? '#6C63FF' : '#dc2626';\nconst pc = ok ? '#16a34a' : '#dc2626';\nconst subj = (ok ? '\u2705 All Passing' : '\u274c '+summary.failed+' Failed, '+summary.errors+' Errors')+' \u2014 HVAC Scenario Report '+new Date(summary.run_date).toLocaleDateString();\nconst html = '<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f3f4f6;font-family:-apple-system,sans-serif\">'\n  +'<table width=\"100%\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:32px 16px\">'\n  +'<table style=\"max-width:680px;width:100%\">'\n  +'<tr><td bgcolor=\"'+bar+'\" style=\"height:4px;border-radius:8px 8px 0 0;font-size:4px\">&nbsp;</td></tr>'\n  +'<tr><td bgcolor=\"#ffffff\" style=\"border-radius:0 0 12px 12px;padding:28px 32px\">'\n  +'<p style=\"margin:0 0 4px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF\">Syntharra \u00b7 Weekly Health Check</p>'\n  +'<h1 style=\"margin:0 0 20px;font-size:22px;font-weight:700;color:#111827\">HVAC Scenario Report</h1>'\n  +'<table width=\"100%\" style=\"margin-bottom:20px\"><tr>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Pass Rate</p><p style=\"margin:0;font-size:22px;font-weight:800;color:'+pc+'\">'+summary.pass_rate+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Passed</p><p style=\"margin:0;font-size:22px;font-weight:800;color:#16a34a\">'+summary.passed+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Failed</p><p style=\"margin:0;font-size:22px;font-weight:800;color:'+(summary.failed>0?'#dc2626':'#9ca3af')+'\">'+summary.failed+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Total</p><p style=\"margin:0;font-size:22px;font-weight:800;color:#6C63FF\">'+summary.total+'</p></td></tr></table></td>'\n  +'</tr></table>'\n  +'<table width=\"100%\"><tr>'\n  +'<th style=\"padding:6px 4px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">ID</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Scenario</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:center;text-transform:uppercase\">Result</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Score</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Service</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Notes</th>'\n  +'</tr>'+rows+'</table>'\n  +'</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html, subject: subj } }];\n"
      }
    },
    {
      "id": "m-email",
      "name": "Email Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        0
      ],
      "parameters": {
        "sendTo": "daniel@syntharra.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "isHtml": true
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "8sxMIlsjwpknHgNR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Monday 8am": {
      "main": [
        [
          {
            "node": "Build Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scenarios": {
      "main": [
        [
          {
            "node": "Loop Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Scenarios": {
      "main": [
        [
          {
            "node": "Run Single Scenario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Single Scenario": {
      "main": [
        [
          {
            "node": "Loop Scenarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Build Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Email": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Monday 8am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
  "activeVersionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
  "versionCounter": 11,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T02:53:56.055Z",
      "createdAt": "2026-03-27T02:53:56.055Z",
      "role": "workflow:owner",
      "workflowId": "94QmMVGdEDl2S9MF",
      "projectId": "fHNxQE9IeGCcfUfO",
      "project": {
        "updatedAt": "2026-03-17T23:00:52.768Z",
        "createdAt": "2026-03-17T23:00:46.569Z",
        "id": "fHNxQE9IeGCcfUfO",
        "name": "Daniel Blackmore <daniel@syntharra.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T02:55:48.073Z",
    "createdAt": "2026-03-27T02:55:48.073Z",
    "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
    "workflowId": "94QmMVGdEDl2S9MF",
    "nodes": [
      {
        "id": "m-trig",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1600,
          0
        ],
        "parameters": {}
      },
      {
        "id": "m-sched",
        "name": "Schedule Monday 8am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1600,
          200
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "weeksInterval": 1,
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 8,
                "triggerAtMinute": 0
              }
            ]
          }
        }
      },
      {
        "id": "m-build",
        "name": "Build Scenarios",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst AGENT_ID = 'agent_d180e1bd5b9b724c8f616a0415';\nconst GREETING = 'Thank you for calling Arctic Breeze HVAC, this is Sophie, how can I help you today?';\nconst scenarios = [\n  {sid:'S01',name:'Standard AC Repair',persona:'Cooperative homeowner. AC stopped cooling yesterday. Name: Marcus Thompson. Phone: 718-555-0134. Address: 150 Court Street Brooklyn NY 11201.',expectLead:true,minScore:6},\n  {sid:'S02',name:'Emergency No Heat',persona:'Panicking. Heat out overnight. Baby at home. EMERGENCY. Name: Linda Park. Phone: 347-555-0287. Address: 78 Ocean Avenue Brooklyn NY 11225.',expectLead:true,minScore:8},\n  {sid:'S03',name:'Out of Service Area',persona:'Calling about AC in Newark NJ. Name: Roberto Silva. Accepts when told not serviced.',expectLead:false,minScore:0},\n  {sid:'S04',name:'Price Shopper',persona:'Shopping for AC tune-up price. Reluctant. Name: Tony DiMaggio. Phone: 631-555-0099. Area: Park Slope Brooklyn.',expectLead:true,minScore:4},\n  {sid:'S05',name:'Existing Customer',persona:'Existing customer checking status of last week job. Name: Janet Kowalski. Not booking.',expectLead:false,minScore:0},\n  {sid:'S06',name:'Spam Robocall',persona:'Robocall. Only say: Hello Press 1 to lower your rates. No real engagement.',expectLead:false,minScore:0},\n  {sid:'S07',name:'Angry Caller',persona:'Furious about last month job. Demands manager. Refuses details. Wants refund.',expectLead:false,minScore:0},\n  {sid:'S08',name:'Vague Caller',persona:'Wants repair but refuses to give address. Name: Sam Chen. Phone: 212-555-0177. Area only: Upper West Side Manhattan.',expectLead:true,minScore:4},\n  {sid:'S09',name:'Large Commercial Job',persona:'12-unit building needing full HVAC service. Name: David Rosenberg. Phone: 718-555-0321. Address: 400 Atlantic Avenue Brooklyn NY 11217.',expectLead:true,minScore:7},\n  {sid:'S10',name:'After Hours Emergency',persona:'AC died in heatwave at night. EMERGENCY. Name: Priya Patel. Phone: 917-555-0088. Address: 220 Flatbush Avenue Brooklyn NY 11217.',expectLead:true,minScore:7},\n  {sid:'S11',name:'Heavy Accent',persona:'Strong Russian accent, repeats himself. AC repair needed. Name: Dmitri Volkov. Phone: 718-555-0442. Address: 1840 East 14th Street Brooklyn NY 11229.',expectLead:true,minScore:5},\n  {sid:'S12',name:'Wrong Number',persona:'Thinks called doctor. Realises mistake. Hangs up without giving details.',expectLead:false,minScore:0},\n  {sid:'S13',name:'Hangs Up Halfway',persona:'Calls about furnace. Gives name James Briggs, starts number, then says will call back and hangs up.',expectLead:false,minScore:0},\n  {sid:'S14',name:'Elderly Caller',persona:'78 year old, speaks slowly, loses thought. AC service. Eventually gives: Dorothy Walsh, 718-555-0611, 55 Bay Ridge Avenue Brooklyn NY 11209.',expectLead:true,minScore:5},\n  {sid:'S15',name:'Same Day Demand',persona:'Party tonight AC broke. Same-day needed. Name: Michael Greene. Phone: 646-555-0388. Address: 892 Manhattan Avenue Brooklyn NY 11222.',expectLead:true,minScore:8},\n];\nreturn scenarios.map(s => ({ json: { ...s, callId: 'scenario_' + s.sid + '_' + Date.now(), greeting: GREETING, agentId: AGENT_ID } }));\n"
        }
      },
      {
        "id": "m-loop",
        "name": "Loop Scenarios",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1120,
          0
        ],
        "parameters": {
          "batchSize": 1,
          "options": {}
        }
      },
      {
        "id": "m-exec",
        "name": "Run Single Scenario",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -880,
          0
        ],
        "parameters": {
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "rlf1dHVcTlzUbPX7",
            "mode": "id"
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": true
          }
        }
      },
      {
        "id": "m-agg",
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst all = $input.all().map(i => i.json);\nconst passed = all.filter(r => r.status === 'PASS').length;\nconst failed = all.filter(r => r.status === 'FAIL').length;\nconst errors = all.filter(r => r.status === 'ERROR').length;\nreturn [{ json: {\n  results: all,\n  summary: { total: all.length, passed, failed, errors, pass_rate: Math.round(passed/Math.max(all.length,1)*100)+'%', run_date: new Date().toISOString() }\n} }];\n"
        }
      },
      {
        "id": "m-report",
        "name": "Build Report Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -160,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconst {results, summary} = $input.first().json;\nconst icon = s => s==='PASS'?'\u2705':s==='FAIL'?'\u274c':'\u26a0\ufe0f';\nconst rows = results.map(r => {\n  const fails = (r.failures||[]).map(f => '<li style=\"color:#dc2626;font-size:12px\">'+f+'</li>').join('');\n  return '<tr style=\"border-bottom:1px solid #f3f0ff\">'\n    +'<td style=\"padding:8px 4px;font-size:12px;font-weight:600;color:#6b7280\">'+r.sid+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#111827\">'+r.name+'</td>'\n    +'<td style=\"padding:8px;text-align:center\">'+icon(r.status)+' '+r.status+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#6b7280\">'+(r.lead_score??'\u2014')+'</td>'\n    +'<td style=\"padding:8px;font-size:13px;color:#6b7280\">'+(r.service||'\u2014')+'</td>'\n    +'<td style=\"padding:8px;font-size:12px;color:#6b7280\">'+(r.summary||'\u2014')+(fails?'<ul style=\"margin:4px 0;padding-left:14px\">'+fails+'</ul>':'')+'</td>'\n    +'</tr>';\n}).join('');\nconst ok = summary.failed===0 && summary.errors===0;\nconst bar = ok ? '#6C63FF' : '#dc2626';\nconst pc = ok ? '#16a34a' : '#dc2626';\nconst subj = (ok ? '\u2705 All Passing' : '\u274c '+summary.failed+' Failed, '+summary.errors+' Errors')+' \u2014 HVAC Scenario Report '+new Date(summary.run_date).toLocaleDateString();\nconst html = '<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#f3f4f6;font-family:-apple-system,sans-serif\">'\n  +'<table width=\"100%\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:32px 16px\">'\n  +'<table style=\"max-width:680px;width:100%\">'\n  +'<tr><td bgcolor=\"'+bar+'\" style=\"height:4px;border-radius:8px 8px 0 0;font-size:4px\">&nbsp;</td></tr>'\n  +'<tr><td bgcolor=\"#ffffff\" style=\"border-radius:0 0 12px 12px;padding:28px 32px\">'\n  +'<p style=\"margin:0 0 4px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF\">Syntharra \u00b7 Weekly Health Check</p>'\n  +'<h1 style=\"margin:0 0 20px;font-size:22px;font-weight:700;color:#111827\">HVAC Scenario Report</h1>'\n  +'<table width=\"100%\" style=\"margin-bottom:20px\"><tr>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Pass Rate</p><p style=\"margin:0;font-size:22px;font-weight:800;color:'+pc+'\">'+summary.pass_rate+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Passed</p><p style=\"margin:0;font-size:22px;font-weight:800;color:#16a34a\">'+summary.passed+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%;padding-right:6px\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Failed</p><p style=\"margin:0;font-size:22px;font-weight:800;color:'+(summary.failed>0?'#dc2626':'#9ca3af')+'\">'+summary.failed+'</p></td></tr></table></td>'\n  +'<td style=\"width:25%\"><table width=\"100%\" bgcolor=\"#f7f5ff\" style=\"border-radius:8px\"><tr><td style=\"padding:12px;text-align:center\"><p style=\"margin:0 0 3px;font-size:10px;font-weight:600;text-transform:uppercase;color:#9ca3af\">Total</p><p style=\"margin:0;font-size:22px;font-weight:800;color:#6C63FF\">'+summary.total+'</p></td></tr></table></td>'\n  +'</tr></table>'\n  +'<table width=\"100%\"><tr>'\n  +'<th style=\"padding:6px 4px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">ID</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Scenario</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:center;text-transform:uppercase\">Result</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Score</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Service</th>'\n  +'<th style=\"padding:6px 8px;font-size:10px;font-weight:600;color:#9ca3af;text-align:left;text-transform:uppercase\">Notes</th>'\n  +'</tr>'+rows+'</table>'\n  +'</td></tr></table></td></tr></table></body></html>';\nreturn [{ json: { html, subject: subj } }];\n"
        }
      },
      {
        "id": "m-email",
        "name": "Email Report",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          80,
          0
        ],
        "parameters": {
          "sendTo": "daniel@syntharra.com",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {
            "isHtml": true
          }
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "8sxMIlsjwpknHgNR",
            "name": "Gmail OAuth2 API"
          }
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Build Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Monday 8am": {
        "main": [
          [
            {
              "node": "Build Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Scenarios": {
        "main": [
          [
            {
              "node": "Loop Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Scenarios": {
        "main": [
          [
            {
              "node": "Run Single Scenario",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Single Scenario": {
        "main": [
          [
            {
              "node": "Loop Scenarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Build Report Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Report Email": {
        "main": [
          [
            {
              "node": "Email Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniel Blackmore",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T02:55:48.255Z",
        "id": 544,
        "workflowId": "94QmMVGdEDl2S9MF",
        "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      },
      {
        "createdAt": "2026-03-27T02:55:51.016Z",
        "id": 546,
        "workflowId": "94QmMVGdEDl2S9MF",
        "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      },
      {
        "createdAt": "2026-03-27T02:55:48.178Z",
        "id": 543,
        "workflowId": "94QmMVGdEDl2S9MF",
        "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
        "event": "deactivated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      },
      {
        "createdAt": "2026-03-27T02:55:50.915Z",
        "id": 545,
        "workflowId": "94QmMVGdEDl2S9MF",
        "versionId": "298ed5dc-24b9-4357-8a32-938646b2fd0b",
        "event": "deactivated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    ]
  }
}