hvac-standard/n8n-workflows/OyDCyiOjG0twguXq_Standard_Call_Processor.json
{
  "updatedAt": "2026-03-27T23:48:24.763Z",
  "createdAt": "2026-03-23T23:30:46.479Z",
  "id": "OyDCyiOjG0twguXq",
  "name": "HVAC Standard Call Processor",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-hvac-webhook",
        "options": {}
      },
      "id": "94b607a1-e9f8-4a75-bbfb-ae7d1a72c351",
      "name": "Retell Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1920,
        112
      ],
      "webhookId": "66fdd35b-30b1-4776-9fd7-e0751a45624e"
    },
    {
      "parameters": {
        "jsCode": "\n// Retell sends events at different paths depending on event type\n// Check all possible locations for the event field\nconst body = $input.first().json.body || $input.first().json;\nconst event = body.event || $input.first().json.event || '';\n\n// Also require a transcript to exist (blocks call_started which has empty transcript)\nconst call = body.call || body;\nconst transcript = call.transcript || '';\n\nif (event !== 'call_analyzed') {\n  // Not a call_analyzed event - stop processing\n  return [];\n}\n\nif (!transcript || transcript.trim() === '') {\n  // call_analyzed but no transcript yet - stop processing  \n  return [];\n}\n\n// Valid call_analyzed with transcript - pass through\nreturn $input.first().json;\n"
      },
      "id": "4386e044-9ca0-4ab5-96b1-4c31ddf0e900",
      "name": "Filter: call_analyzed Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nreturn {\n  call_id: call.call_id || '',\n  agent_id: call.agent_id || '',\n  from_number: call.from_number || '',\n  to_number: call.to_number || '',\n  transcript: call.transcript || '',\n  duration_seconds: Math.round((call.end_timestamp - call.start_timestamp) / 1000) || 0,\n  disconnection_reason: call.disconnection_reason || '',\n  call_analysis: call.call_analysis || {},\n  call_timestamp: new Date().toISOString()\n};"
      },
      "id": "e9cd3473-17e9-4d3d-b4d6-02c3bdd84c8e",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?agent_id=eq.{{ $json.agent_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "options": {}
      },
      "id": "b4ff94eb-c081-4f4b-8fe2-c05ec2da49a5",
      "name": "Supabase: Lookup Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1200,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const clients = $input.first().json;\nconst callData = $('Extract Call Data').first().json;\nconst client = Array.isArray(clients) ? clients[0] : clients;\n\nif (!client || !client.company_name) {\n  return {\n    ...callData,\n    client_found: false,\n    company_name: 'Unknown', agent_name: 'Unknown',\n    lead_phone: '', lead_email: '',\n    notification_email_2: '', notification_email_3: '',\n    notification_sms_2: '', notification_sms_3: '',\n    twilio_from: '', timezone: 'America/Chicago'\n  };\n}\n\nreturn {\n  ...callData,\n  client_found: true,\n  company_name: client.company_name || '',\n  agent_name: client.agent_name || '',\n  lead_phone: client.lead_phone || '',\n  lead_email: client.lead_email || '',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  twilio_from: client.twilio_from || client.twilio_number || '',\n  timezone: client.timezone || 'America/Chicago',\n  lead_contact_method: client.lead_contact_method || 'Both'\n};"
      },
      "id": "e56fdaa7-562f-4e11-b5cb-b0f3a162f859",
      "name": "Parse Client Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a call classifier for an HVAC company AI receptionist. Analyze the transcript and context, then return a JSON classification.\n\nLEAD DEFINITION \u2014 IS a lead (is_lead=true) if the caller wants ANY of the following:\n- Repair or fix for any HVAC system\n- Installation or replacement\n- Maintenance, tune-up, service, or annual check\n- Estimate or quote for any work\n- Emergency service\nWhen in doubt, mark is_lead=true. ANY request for HVAC work of any kind is a lead.\n\nNOT a lead (is_lead=false) ONLY if:\n- Complaint about a previous completed job with no new work requested\n- Existing job status check only (part ordered? tech coming when?)\n- Billing dispute or refund request only\n- Obvious spam, robocall, or telemarketer\n- Wrong number\n- Caller hangs up with zero service request made\n\nSPAM: is_lead=false, call_tier=Standard, lead_score=1 for robocall patterns (\"press 1\", \"lower your rates\", repetitive selling, no HVAC request).\n\nCALL TIER \u2014 must be exactly one of:\n- \"Emergency\": HUMAN safety risk only \u2014 no heat in freezing temps with people present, no AC in extreme heat with vulnerable person (baby, elderly, medical), burning smell, gas smell, active flooding, system failure causing immediate health risk. ALSO Emergency if local_hour is 22-6 AND system is not working. Business/commercial impact alone (restaurant opening, office too hot) is NOT Emergency \u2014 that is Urgent.\n- \"Urgent\": System not working but no immediate safety risk, caller needs service today or ASAP, commercial property affected.\n- \"Standard\": Routine, flexible timing, quote only, maintenance scheduling. Also use for all non-leads.\n\nVULNERABILITY: vulnerable_occupant=true if transcript mentions baby, infant, newborn, toddler, young children, elderly, senior, disabled, medical condition, oxygen, medication needing refrigeration.\n\nJOB TYPE: \"Residential\" (home/apartment), \"Commercial\" (business, office, restaurant, shop), \"Multi-Unit\" (apartment building, complex, multiple units).\n\nCALLER SENTIMENT: 1=very distressed or angry, 2=frustrated, 3=neutral, 4=cooperative, 5=calm and easy.\n\nReturn ONLY valid JSON \u2014 no markdown, no explanation:\n{\n  \"is_lead\": boolean,\n  \"call_tier\": \"Emergency\"|\"Urgent\"|\"Standard\",\n  \"lead_score\": integer 1-10,\n  \"caller_name\": string,\n  \"caller_phone\": string,\n  \"caller_address\": string,\n  \"service_requested\": \"Repair\"|\"Maintenance\"|\"Installation\"|\"Estimate\"|\"Emergency\"|\"Complaint\"|\"Spam\"|\"WrongNumber\"|\"ExistingCustomer\"|\"Other\",\n  \"job_type\": \"Residential\"|\"Commercial\"|\"Multi-Unit\",\n  \"vulnerable_occupant\": boolean,\n  \"caller_sentiment\": integer 1-5,\n  \"summary\": \"1-2 sentence summary\",\n  \"urgency\": \"Low\"|\"Medium\"|\"High\"|\"Emergency\",\n  \"notes\": \"key details: communication issues, partial info, after-hours, transfer attempts\"\n}",
              "role": "system"
            },
            {
              "content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\nClient timezone: {{ $json.timezone || 'America/Chicago' }}\nLocal hour (24h): {{ (() => { try { return parseInt(new Date().toLocaleString('en-US', { timeZone: $json.timezone || 'America/Chicago', hour: 'numeric', hour12: false })); } catch(e) { return 12; } })() }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "755bd162-f2b5-46c6-acfc-48df05d57afb",
      "name": "GPT: Analyze Transcript",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -720,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "ubVD6nIZ6FkIStS8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gptRaw = $input.first().json.message?.content || $input.first().json.text || '{}';\nlet analysis = {};\ntry {\n  const clean = gptRaw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(clean);\n} catch(e) {\n  analysis = { is_lead: false, call_tier: 'Standard', lead_score: 0 };\n}\n\nconst clientData = $('Parse Client Data').item.json;\nconst callData   = $('Extract Call Data').item.json;\n\nconst durationMs = (callData.end_timestamp || 0) - (callData.start_timestamp || 0);\nconst durationSec = Math.round(durationMs / 1000);\n\nreturn {\n  // Call metadata\n  call_id:           callData.call_id,\n  agent_id:          callData.agent_id,\n  from_number:       callData.from_number,\n  to_number:         callData.to_number,\n  transcript:        callData.transcript,\n  duration_seconds:  durationSec,\n  call_timestamp:    new Date().toISOString(),\n\n  // Client config\n  company_name:         clientData.company_name,\n  agent_name:           clientData.agent_name,\n  lead_email:           clientData.lead_email,\n  lead_phone:           clientData.lead_phone,\n  notification_email_2: clientData.notification_email_2,\n  notification_email_3: clientData.notification_email_3,\n  notification_sms_2:   clientData.notification_sms_2,\n  notification_sms_3:   clientData.notification_sms_3,\n  twilio_from:          clientData.twilio_from,\n  timezone:             clientData.timezone,\n\n  // GPT classification \u2014 core\n  is_lead:           analysis.is_lead || false,\n  call_tier:         analysis.call_tier || 'Standard',\n  lead_score:        analysis.lead_score || 0,\n  caller_name:       analysis.caller_name || '',\n  caller_phone:      analysis.caller_phone || '',\n  caller_address:    analysis.caller_address || '',\n  service_requested: analysis.service_requested || 'Other',\n  summary:           analysis.summary || '',\n  urgency:           analysis.urgency || 'Low',\n  notes:             analysis.notes || '',\n\n  // GPT classification \u2014 new intelligence fields\n  job_type:            analysis.job_type || 'Residential',\n  vulnerable_occupant: analysis.vulnerable_occupant || false,\n  caller_sentiment:    analysis.caller_sentiment || 3\n};"
      },
      "id": "e5dcf87c-0034-4530-abbf-c954895a2f9b",
      "name": "Parse Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-lead-check",
              "leftValue": "={{ $json.is_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "22a6deb1-22b2-4425-a625-e3253892f553",
      "name": "Is Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            },
            {
              "name": "Prefer",
              "value": "return=representation,resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { call_id: $json.call_id, agent_id: $json.agent_id, company_name: $json.company_name, caller_name: $json.caller_name || '', caller_phone: $json.caller_phone || $json.from_number || '', caller_address: $json.caller_address || '', service_requested: $json.service_requested || '', lead_score: $json.lead_score || 0, urgency: $json.urgency || '', call_tier: $json.call_tier || 'Standard', job_type: $json.job_type || 'Residential', vulnerable_occupant: $json.vulnerable_occupant || false, caller_sentiment: $json.caller_sentiment || 3, summary: $json.summary || '', notes: $json.notes || '', is_lead: $json.is_lead || false, duration_seconds: $json.duration_seconds || 0, geocode_status: $('Geocode: Parse Result').item.json.geocode_status || '', geocode_formatted: $('Geocode: Parse Result').item.json.geocode_formatted || '' } }}",
        "options": {}
      },
      "id": "7b3027c9-ee1e-4e9f-98ab-af02ca8ea4a6",
      "name": "Supabase: Log Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return { message: `Non-lead call logged: ${$json.call_id}, score: ${$json.lead_score}` };"
      },
      "id": "d837f73e-190e-47f3-bba4-37dd04c10ddd",
      "name": "Log Non-Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        400
      ]
    },
    {
      "id": "geocode-http-001",
      "name": "Geocode: Maps API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -360,
        112
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "GET",
        "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{encodeURIComponent($json.caller_address || '')}}&key=AIzaSyDzOcz3ySh4rkynyIyUEwDBu6zYARVkiVE",
        "options": {}
      }
    },
    {
      "id": "geocode-parse-001",
      "name": "Geocode: Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        112
      ],
      "parameters": {
        "jsCode": "\nconst leadData = $('Parse Lead Data').item.json;\nconst geoResponse = $input.first().json;\n\n// \u2500\u2500 GEOCODE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet geocode_status = 'not_provided', geocode_formatted = '', geocode_lat = null,\n    geocode_lng = null, geocode_maps_url = '', geocode_confidence = 'low', address_check_html = '';\n\nif (!leadData.caller_address || leadData.caller_address.trim().length < 5) {\n  geocode_status = 'not_provided';\n  address_check_html = '<span style=\"color:#718096\">\u2014 Not provided</span>';\n} else if (geoResponse.status === 'OK' && geoResponse.results && geoResponse.results.length > 0) {\n  const top = geoResponse.results[0];\n  geocode_formatted = top.formatted_address;\n  geocode_lat = top.geometry.location.lat;\n  geocode_lng = top.geometry.location.lng;\n  geocode_maps_url = 'https://maps.google.com/?q=' + encodeURIComponent(geocode_formatted);\n  const types = top.types || [];\n  if (types.includes('street_address') || types.includes('premise') || types.includes('subpremise')) {\n    geocode_status = 'verified'; geocode_confidence = 'high';\n    address_check_html = '<span style=\"color:#38a169;font-weight:600\">\u2705 Verified</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none;font-weight:600\">\ud83d\udccd View Map</a>';\n  } else if (types.includes('route') || types.includes('intersection')) {\n    geocode_status = 'partial'; geocode_confidence = 'medium';\n    address_check_html = '<span style=\"color:#d69e2e;font-weight:600\">\u26a0\ufe0f Partial match</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none\">\ud83d\udccd View Map</a>';\n  } else {\n    geocode_status = 'unverified'; geocode_confidence = 'low';\n    address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u26a0\ufe0f Unverified</span> \u2014 Closest: ' + geocode_formatted + '. Confirm with caller.';\n  }\n} else if (geoResponse.status === 'ZERO_RESULTS') {\n  geocode_status = 'not_found';\n  address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u274c Not found</span> \u2014 Confirm address with caller before dispatching.';\n} else {\n  geocode_status = 'error';\n  address_check_html = '<span style=\"color:#718096\">\u26a0\ufe0f Could not verify \u2014 confirm with caller</span>';\n}\n\n// \u2500\u2500 SCORE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst score = leadData.lead_score || 0;\nconst scoreColor = score >= 8 ? '#dc2626' : score >= 6 ? '#d97706' : '#718096';\nconst score_badge = '<span style=\"background:' + (score >= 8 ? '#fef2f2' : score >= 6 ? '#fffbeb' : '#f9fafb') + ';color:' + scoreColor + ';border:2px solid ' + scoreColor + ';border-radius:20px;padding:3px 12px;font-weight:700;font-size:15px\">' + score + '/10</span>';\n\n// \u2500\u2500 URGENCY BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst urgency = leadData.urgency || 'Medium';\nconst urgencyColor = urgency === 'Emergency' ? '#dc2626' : urgency === 'High' ? '#d97706' : urgency === 'Medium' ? '#2563eb' : '#718096';\nconst urgency_badge = '<span style=\"color:' + urgencyColor + ';font-weight:600\">' + urgency + '</span>';\n\n// \u2500\u2500 TIER BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst callTier = leadData.call_tier || 'Standard';\nconst tierMap = {\n  'Emergency': { bg: '#dc2626', label: '\ud83d\udea8 EMERGENCY \u2014 Transfer Attempted' },\n  'Urgent':    { bg: '#d97706', label: '\u26a1 URGENT \u2014 Respond Within 1 Hour' },\n  'Standard':  { bg: '#6C63FF', label: '\ud83d\udccb STANDARD \u2014 Business Hours' }\n};\nconst tc = tierMap[callTier] || tierMap['Standard'];\nconst tier_badge = '<span style=\"background:' + tc.bg + ';color:#ffffff;padding:5px 14px;border-radius:20px;font-size:12px;font-weight:700;font-family:Helvetica,Arial,sans-serif\">' + tc.label + '</span>';\n\n// \u2500\u2500 JOB TYPE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst jobType = leadData.job_type || 'Residential';\nconst jobColor = jobType === 'Commercial' ? '#7c3aed' : jobType === 'Multi-Unit' ? '#0369a1' : '#374151';\nconst jobBg    = jobType === 'Commercial' ? '#f5f3ff' : jobType === 'Multi-Unit' ? '#e0f2fe' : '#f9fafb';\nconst job_type_badge = '<span style=\"background:' + jobBg + ';color:' + jobColor + ';padding:2px 10px;border-radius:12px;font-size:12px;font-weight:600;border:1px solid ' + jobColor + '\">' + jobType + '</span>';\n\n// \u2500\u2500 VULNERABILITY FLAG \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst vulnerable = leadData.vulnerable_occupant || false;\nconst vulnerability_flag = vulnerable\n  ? '<span style=\"background:#fef2f2;color:#dc2626;padding:2px 10px;border-radius:12px;font-size:12px;font-weight:700;border:1px solid #dc2626\">\u26a0\ufe0f VULNERABLE OCCUPANT</span>'\n  : '';\n\n// \u2500\u2500 SENTIMENT INDICATOR \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst sentiment = leadData.caller_sentiment || 3;\nconst sentimentLabel = sentiment <= 2 ? '\ud83d\ude1f Distressed' : sentiment === 3 ? '\ud83d\ude10 Neutral' : '\ud83d\ude0a Cooperative';\nconst sentimentColor = sentiment <= 2 ? '#dc2626' : sentiment === 3 ? '#6b7280' : '#16a34a';\n\n// \u2500\u2500 DURATION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst dur = leadData.duration_seconds || 0;\nconst duration_formatted = dur >= 60 ? Math.floor(dur/60) + 'm ' + (dur%60) + 's' : dur + 's';\n\n// \u2500\u2500 SMS TEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Rich SMS with all key flags \u2014 keeps it scannable on a phone\nconst tierEmoji = callTier === 'Emergency' ? '\ud83d\udea8' : callTier === 'Urgent' ? '\u26a1' : '\ud83d\udccb';\nconst vulnFlag  = vulnerable ? ' \u26a0\ufe0fVULNERABLE' : '';\nconst repeatFlag = ''; // populated later by repeat caller check\nconst notifyType = leadData.notify_type || 'lead';\nconst sms_header = notifyType === 'emergency'\n  ? '\ud83d\udea8 EMERGENCY' + vulnFlag\n  : notifyType === 'customer_query'\n  ? '\ud83d\udcde CUSTOMER QUERY'\n  : '\ud83d\udd25 NEW LEAD';\nconst sms_text = sms_header + ' \u2014 ' + leadData.company_name + '\\n'\n  + '\ud83d\udc64 ' + (leadData.caller_name || 'Unknown') + '\\n'\n  + '\ud83d\udcde ' + (leadData.caller_phone || leadData.from_number || 'N/A') + '\\n'\n  + '\ud83d\udccd ' + (geocode_status === 'verified' ? geocode_formatted : leadData.caller_address || 'No address') + '\\n'\n  + '\ud83d\udd27 ' + (leadData.service_requested || 'General') + ' | ' + jobType + '\\n'\n  + '\u2b50 Score: ' + score + '/10\\n'\n  + '\ud83d\udcdd ' + (leadData.summary || '').slice(0, 100);\n\nreturn {\n  ...leadData,\n  geocode_status, geocode_formatted, geocode_lat, geocode_lng,\n  geocode_maps_url, geocode_confidence, address_check_html,\n  score_badge, urgency_badge, tier_badge, job_type_badge,\n  vulnerability_flag, sentimentLabel, sentimentColor,\n  duration_formatted, sms_text, call_tier: callTier\n};\n"
      }
    },
    {
      "id": "classify-notification",
      "name": "Classify Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -200
      ],
      "parameters": {
        "jsCode": "\nconst service  = $json.service_requested || '';\nconst isLead   = $json.is_lead || false;\nconst callTier = $json.call_tier || 'Standard';\n\n// Completely drop \u2014 return [] stops n8n flow entirely\nconst dropTypes = ['Spam', 'WrongNumber'];\nif (dropTypes.includes(service)) {\n  return [];\n}\n\n// Classify notification type\nlet notify_type;\nif (callTier === 'Emergency') {\n  notify_type = 'emergency';          // red email always for emergency\n} else if (service === 'ExistingCustomer' || service === 'Complaint') {\n  notify_type = 'customer_query';     // amber email\n} else if (isLead) {\n  notify_type = 'lead';               // purple email\n} else {\n  notify_type = 'log_only';           // Supabase only, no email\n}\n\nreturn [{ json: { ...($input.first().json), notify_type } }];\n"
      }
    },
    {
      "id": "d0e4a99c-1bad-4e60-812e-66be6834034c",
      "name": "Route Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        380
      ],
      "parameters": {
        "jsCode": "// Route and build notification content\nconst classify = $('Classify Notification').first().json;\nconst lead = $('Parse Lead Data').first().json;\nconst geo = $('Geocode: Parse Result').first().json;\nconst notifyType = classify.notify_type || '';\n\n// Skip spam/wrong number\nif (!notifyType || notifyType === 'spam' || notifyType === 'wrong_number') {\n  return { _should_notify: false, _reason: 'Spam or wrong number' };\n}\n\n// Build email subject\nlet subject = '';\nif (notifyType === 'emergency') {\n  subject = `\ud83d\udea8 EMERGENCY \u2014 ${lead.company_name}${lead.vulnerable_occupant ? ' \u26a0\ufe0f VULNERABLE' : ''}`;\n} else if (notifyType === 'customer_query') {\n  subject = `\ud83d\udcde Customer Query \u2014 ${lead.caller_name || 'Unknown'} | ${lead.company_name}`;\n} else {\n  subject = `\ud83d\udd25 New Lead \u2014 ${lead.company_name} | ${geo.call_tier || 'Standard'}`;\n}\n\n// Build email HTML (simplified but professional)\nconst accentColor = notifyType === 'emergency' ? '#dc2626' : notifyType === 'customer_query' ? '#d97706' : '#6C63FF';\nconst typeLabel = notifyType === 'emergency' ? '\ud83d\udea8 Emergency Alert' : notifyType === 'customer_query' ? 'Customer Query' : '\ud83d\udd25 New Lead';\nconst dur = geo.duration_formatted || (lead.duration_seconds ? Math.round(lead.duration_seconds / 60) + ' min' : '\u2014');\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f3f4f6\">\n<tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:540px\">\n<tr><td bgcolor=\"${accentColor}\" style=\"height:4px;border-radius:8px 8px 0 0\">&nbsp;</td></tr>\n<tr><td bgcolor=\"#ffffff\" style=\"border-radius:0 0 12px 12px;padding:32px 40px 28px\">\n<p style=\"margin:0 0 4px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:${accentColor}\">${typeLabel}</p>\n<h1 style=\"margin:0 0 4px;font-size:22px;font-weight:700;color:#111827\">${lead.company_name}</h1>\n<p style=\"margin:0 0 20px;font-size:12px;color:#9ca3af\">${dur} call \u00b7 ${lead.call_timestamp || new Date().toLocaleString()}</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px\">\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280;width:120px\">Caller</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600\">${lead.caller_name || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Phone</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\"><a href=\"tel:${lead.caller_phone || ''}\" style=\"color:#6C63FF;text-decoration:none\">${lead.caller_phone || '\u2014'}</a></td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Service</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\">${lead.service_requested || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Address</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\">${geo.geocode_formatted || lead.caller_address || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Lead Score</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600\">${lead.lead_score || '\u2014'}/10</td></tr>\n</table>\n\n<div style=\"background:#f9fafb;border-radius:8px;padding:12px 16px;margin-bottom:16px\">\n<p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;font-weight:600\">Summary</p>\n<p style=\"margin:0;font-size:14px;color:#374151;line-height:1.5\">${lead.summary || '\u2014'}</p>\n</div>\n\n${lead.notes ? `<div style=\"background:#fffbeb;border-radius:8px;padding:12px 16px;margin-bottom:16px\"><p style=\"margin:0 0 4px;font-size:12px;color:#92400e;font-weight:600\">Notes</p><p style=\"margin:0;font-size:14px;color:#78350f;line-height:1.5\">${lead.notes}</p></div>` : ''}\n\n<p style=\"margin:16px 0 0;font-size:11px;color:#d1d5db;text-align:center\">Syntharra AI Receptionist \u00b7 ${lead.company_name}</p>\n</td></tr></table></td></tr></table></body></html>`;\n\n// Build SMS text\nconst smsText = geo.sms_text || `New ${notifyType === 'emergency' ? 'EMERGENCY' : 'lead'} for ${lead.company_name}: ${lead.caller_name || 'Unknown'}, ${lead.caller_phone || 'no phone'}, ${lead.service_requested || 'service request'}. Score: ${lead.lead_score || '\u2014'}/10`;\n\nreturn {\n  _should_notify: true,\n  notification_type: notifyType,\n  email_subject: subject,\n  email_html: emailHtml,\n  sms_text: smsText,\n  // Pass through all data\n  lead_email: lead.lead_email || '',\n  lead_phone: lead.lead_phone || '',\n  notification_email_2: lead.notification_email_2 || '',\n  notification_email_3: lead.notification_email_3 || '',\n  notification_sms_2: lead.notification_sms_2 || '',\n  notification_sms_3: lead.notification_sms_3 || '',\n  company_name: lead.company_name || '',\n  caller_name: lead.caller_name || '',\n  call_id: lead.call_id || '',\n  summary: lead.summary || ''\n};"
      }
    },
    {
      "id": "3ef3997a-ec08-4c2e-8be5-942a57a54335",
      "name": "Should Notify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1900,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "b55af1ad-9032-4ab9-87d7-f29dc6a8cf46",
              "leftValue": "={{ $json._should_notify }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b44f77fd-71a5-4806-a1b9-534778a2c593",
      "name": "Send Client Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        280
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) return { ...d, _email_sent: false };\n\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}`);\n  return { ...d, _email_sent: true };\n} catch (e) {\n  console.log('[EMAIL] Failed:', e.message);\n  return { ...d, _email_sent: false };\n}"
      }
    },
    {
      "id": "e2439214-50de-4f09-8db2-f5b939e88d2e",
      "name": "Send Client SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        480
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) return { ...d, _sms_sent: false };\n\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\nconst TELNYX_KEY = ''; // \u2190 Add Telnyx API key\nconst TELNYX_FROM = ''; // \u2190 Add Telnyx phone number\n\nif (!SMS_ENABLED || !TELNYX_KEY) {\n  console.log(`[SMS] Disabled \u2014 would send to: ${recipients.join(', ')}`);\n  return { ...d, _sms_sent: false };\n}\n\nlet sent = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.telnyx.com/v2/messages',\n      headers: { 'Authorization': 'Bearer ' + TELNYX_KEY, 'Content-Type': 'application/json' },\n      body: { from: TELNYX_FROM, to: phone, text: smsText },\n      json: true\n    });\n    sent++;\n  } catch (e) { console.log(`[SMS] Failed ${phone}:`, e.message); }\n}\nreturn { ...d, _sms_sent: sent > 0 };"
      }
    },
    {
      "id": "24e36e43-5de6-4d86-be99-fe085b6a3a79",
      "name": "Internal Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        680
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst subject = `[${(d.notification_type || 'unknown').toUpperCase()}] ${d.caller_name || 'Unknown'} \u2014 ${d.company_name} | ${d.call_id}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">${(d.notification_type || '').replace(/_/g,' ').toUpperCase()} \u2014 ${d.company_name}</h3>\n<p><strong>Caller:</strong> ${d.caller_name || '\u2014'}</p>\n<p><strong>Type:</strong> ${d.notification_type || '\u2014'}</p>\n<p><strong>Summary:</strong> ${d.summary || '\u2014'}</p>\n<p><strong>Call ID:</strong> ${d.call_id || '\u2014'}</p>\n<p style=\"color:#999;font-size:12px\">Syntharra AI \u2014 Internal Notification</p></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: ['daniel@syntharra.com'],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return { ...d, _internal_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Failed:', e.message);\n  return { ...d, _internal_sent: false };\n}"
      }
    },
    {
      "id": "7556df43-8c52-4dc7-8de8-1bf11cde2b6a",
      "name": "Check Repeat Caller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    let historyContext = `REPEAT CALLER \u2014 ${callCount} previous call(s).\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.summary) historyContext += `Last summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"
      }
    }
  ],
  "connections": {
    "Retell Webhook": {
      "main": [
        [
          {
            "node": "Filter: call_analyzed Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: call_analyzed Only": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Supabase: Lookup Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Lookup Client": {
      "main": [
        [
          {
            "node": "Parse Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Client Data": {
      "main": [
        [
          {
            "node": "Check Repeat Caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT: Analyze Transcript": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Geocode: Maps API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode: Maps API": {
      "main": [
        [
          {
            "node": "Geocode: Parse Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Geocode: Parse Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocode: Parse Result": {
      "main": [
        [
          {
            "node": "Is Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Lead?": {
      "main": [
        [
          {
            "node": "Classify Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Notification": {
      "main": [
        [
          {
            "node": "Supabase: Log Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Log Call": {
      "main": [
        [
          {
            "node": "Route Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Notifications": {
      "main": [
        [
          {
            "node": "Should Notify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify?": {
      "main": [
        [
          {
            "node": "Send Client Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Client SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Internal Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Repeat Caller": {
      "main": [
        [
          {
            "node": "GPT: Analyze Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1dca091f-c2b4-437a-86e0-f20f6da6be41",
  "activeVersionId": "1dca091f-c2b4-437a-86e0-f20f6da6be41",
  "versionCounter": 309,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T23:30:46.481Z",
      "createdAt": "2026-03-23T23:30:46.481Z",
      "role": "workflow:owner",
      "workflowId": "OyDCyiOjG0twguXq",
      "projectId": "fHNxQE9IeGCcfUfO",
      "project": {
        "updatedAt": "2026-03-17T23:00:52.768Z",
        "createdAt": "2026-03-17T23:00:46.569Z",
        "id": "fHNxQE9IeGCcfUfO",
        "name": "Daniel Blackmore <daniel@syntharra.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T23:48:24.764Z",
    "createdAt": "2026-03-27T23:48:24.764Z",
    "versionId": "1dca091f-c2b4-437a-86e0-f20f6da6be41",
    "workflowId": "OyDCyiOjG0twguXq",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "retell-hvac-webhook",
          "options": {}
        },
        "id": "94b607a1-e9f8-4a75-bbfb-ae7d1a72c351",
        "name": "Retell Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1920,
          112
        ],
        "webhookId": "66fdd35b-30b1-4776-9fd7-e0751a45624e"
      },
      {
        "parameters": {
          "jsCode": "\n// Retell sends events at different paths depending on event type\n// Check all possible locations for the event field\nconst body = $input.first().json.body || $input.first().json;\nconst event = body.event || $input.first().json.event || '';\n\n// Also require a transcript to exist (blocks call_started which has empty transcript)\nconst call = body.call || body;\nconst transcript = call.transcript || '';\n\nif (event !== 'call_analyzed') {\n  // Not a call_analyzed event - stop processing\n  return [];\n}\n\nif (!transcript || transcript.trim() === '') {\n  // call_analyzed but no transcript yet - stop processing  \n  return [];\n}\n\n// Valid call_analyzed with transcript - pass through\nreturn $input.first().json;\n"
        },
        "id": "4386e044-9ca0-4ab5-96b1-4c31ddf0e900",
        "name": "Filter: call_analyzed Only",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1680,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst call = body.call || body;\n\nreturn {\n  call_id: call.call_id || '',\n  agent_id: call.agent_id || '',\n  from_number: call.from_number || '',\n  to_number: call.to_number || '',\n  transcript: call.transcript || '',\n  duration_seconds: Math.round((call.end_timestamp - call.start_timestamp) / 1000) || 0,\n  disconnection_reason: call.disconnection_reason || '',\n  call_analysis: call.call_analysis || {},\n  call_timestamp: new Date().toISOString()\n};"
        },
        "id": "e9cd3473-17e9-4d3d-b4d6-02c3bdd84c8e",
        "name": "Extract Call Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1440,
          112
        ]
      },
      {
        "parameters": {
          "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?agent_id=eq.{{ $json.agent_id }}&select=*",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              }
            ]
          },
          "options": {}
        },
        "id": "b4ff94eb-c081-4f4b-8fe2-c05ec2da49a5",
        "name": "Supabase: Lookup Client",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1200,
          112
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const clients = $input.first().json;\nconst callData = $('Extract Call Data').first().json;\nconst client = Array.isArray(clients) ? clients[0] : clients;\n\nif (!client || !client.company_name) {\n  return {\n    ...callData,\n    client_found: false,\n    company_name: 'Unknown', agent_name: 'Unknown',\n    lead_phone: '', lead_email: '',\n    notification_email_2: '', notification_email_3: '',\n    notification_sms_2: '', notification_sms_3: '',\n    twilio_from: '', timezone: 'America/Chicago'\n  };\n}\n\nreturn {\n  ...callData,\n  client_found: true,\n  company_name: client.company_name || '',\n  agent_name: client.agent_name || '',\n  lead_phone: client.lead_phone || '',\n  lead_email: client.lead_email || '',\n  notification_email_2: client.notification_email_2 || '',\n  notification_email_3: client.notification_email_3 || '',\n  notification_sms_2: client.notification_sms_2 || '',\n  notification_sms_3: client.notification_sms_3 || '',\n  twilio_from: client.twilio_from || client.twilio_number || '',\n  timezone: client.timezone || 'America/Chicago',\n  lead_contact_method: client.lead_contact_method || 'Both'\n};"
        },
        "id": "e56fdaa7-562f-4e11-b5cb-b0f3a162f859",
        "name": "Parse Client Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -960,
          112
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "You are a call classifier for an HVAC company AI receptionist. Analyze the transcript and context, then return a JSON classification.\n\nLEAD DEFINITION \u2014 IS a lead (is_lead=true) if the caller wants ANY of the following:\n- Repair or fix for any HVAC system\n- Installation or replacement\n- Maintenance, tune-up, service, or annual check\n- Estimate or quote for any work\n- Emergency service\nWhen in doubt, mark is_lead=true. ANY request for HVAC work of any kind is a lead.\n\nNOT a lead (is_lead=false) ONLY if:\n- Complaint about a previous completed job with no new work requested\n- Existing job status check only (part ordered? tech coming when?)\n- Billing dispute or refund request only\n- Obvious spam, robocall, or telemarketer\n- Wrong number\n- Caller hangs up with zero service request made\n\nSPAM: is_lead=false, call_tier=Standard, lead_score=1 for robocall patterns (\"press 1\", \"lower your rates\", repetitive selling, no HVAC request).\n\nCALL TIER \u2014 must be exactly one of:\n- \"Emergency\": HUMAN safety risk only \u2014 no heat in freezing temps with people present, no AC in extreme heat with vulnerable person (baby, elderly, medical), burning smell, gas smell, active flooding, system failure causing immediate health risk. ALSO Emergency if local_hour is 22-6 AND system is not working. Business/commercial impact alone (restaurant opening, office too hot) is NOT Emergency \u2014 that is Urgent.\n- \"Urgent\": System not working but no immediate safety risk, caller needs service today or ASAP, commercial property affected.\n- \"Standard\": Routine, flexible timing, quote only, maintenance scheduling. Also use for all non-leads.\n\nVULNERABILITY: vulnerable_occupant=true if transcript mentions baby, infant, newborn, toddler, young children, elderly, senior, disabled, medical condition, oxygen, medication needing refrigeration.\n\nJOB TYPE: \"Residential\" (home/apartment), \"Commercial\" (business, office, restaurant, shop), \"Multi-Unit\" (apartment building, complex, multiple units).\n\nCALLER SENTIMENT: 1=very distressed or angry, 2=frustrated, 3=neutral, 4=cooperative, 5=calm and easy.\n\nReturn ONLY valid JSON \u2014 no markdown, no explanation:\n{\n  \"is_lead\": boolean,\n  \"call_tier\": \"Emergency\"|\"Urgent\"|\"Standard\",\n  \"lead_score\": integer 1-10,\n  \"caller_name\": string,\n  \"caller_phone\": string,\n  \"caller_address\": string,\n  \"service_requested\": \"Repair\"|\"Maintenance\"|\"Installation\"|\"Estimate\"|\"Emergency\"|\"Complaint\"|\"Spam\"|\"WrongNumber\"|\"ExistingCustomer\"|\"Other\",\n  \"job_type\": \"Residential\"|\"Commercial\"|\"Multi-Unit\",\n  \"vulnerable_occupant\": boolean,\n  \"caller_sentiment\": integer 1-5,\n  \"summary\": \"1-2 sentence summary\",\n  \"urgency\": \"Low\"|\"Medium\"|\"High\"|\"Emergency\",\n  \"notes\": \"key details: communication issues, partial info, after-hours, transfer attempts\"\n}",
                "role": "system"
              },
              {
                "content": "=Transcript:\n{{ $json.transcript }}\n\nFrom number: {{ $json.from_number }}\nClient timezone: {{ $json.timezone || 'America/Chicago' }}\nLocal hour (24h): {{ (() => { try { return parseInt(new Date().toLocaleString('en-US', { timeZone: $json.timezone || 'America/Chicago', hour: 'numeric', hour12: false })); } catch(e) { return 12; } })() }}"
              }
            ]
          },
          "options": {
            "temperature": 0.2
          }
        },
        "id": "755bd162-f2b5-46c6-acfc-48df05d57afb",
        "name": "GPT: Analyze Transcript",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1,
        "position": [
          -720,
          112
        ],
        "credentials": {
          "openAiApi": {
            "id": "ubVD6nIZ6FkIStS8",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const gptRaw = $input.first().json.message?.content || $input.first().json.text || '{}';\nlet analysis = {};\ntry {\n  const clean = gptRaw.replace(/```json|```/g, '').trim();\n  analysis = JSON.parse(clean);\n} catch(e) {\n  analysis = { is_lead: false, call_tier: 'Standard', lead_score: 0 };\n}\n\nconst clientData = $('Parse Client Data').item.json;\nconst callData   = $('Extract Call Data').item.json;\n\nconst durationMs = (callData.end_timestamp || 0) - (callData.start_timestamp || 0);\nconst durationSec = Math.round(durationMs / 1000);\n\nreturn {\n  // Call metadata\n  call_id:           callData.call_id,\n  agent_id:          callData.agent_id,\n  from_number:       callData.from_number,\n  to_number:         callData.to_number,\n  transcript:        callData.transcript,\n  duration_seconds:  durationSec,\n  call_timestamp:    new Date().toISOString(),\n\n  // Client config\n  company_name:         clientData.company_name,\n  agent_name:           clientData.agent_name,\n  lead_email:           clientData.lead_email,\n  lead_phone:           clientData.lead_phone,\n  notification_email_2: clientData.notification_email_2,\n  notification_email_3: clientData.notification_email_3,\n  notification_sms_2:   clientData.notification_sms_2,\n  notification_sms_3:   clientData.notification_sms_3,\n  twilio_from:          clientData.twilio_from,\n  timezone:             clientData.timezone,\n\n  // GPT classification \u2014 core\n  is_lead:           analysis.is_lead || false,\n  call_tier:         analysis.call_tier || 'Standard',\n  lead_score:        analysis.lead_score || 0,\n  caller_name:       analysis.caller_name || '',\n  caller_phone:      analysis.caller_phone || '',\n  caller_address:    analysis.caller_address || '',\n  service_requested: analysis.service_requested || 'Other',\n  summary:           analysis.summary || '',\n  urgency:           analysis.urgency || 'Low',\n  notes:             analysis.notes || '',\n\n  // GPT classification \u2014 new intelligence fields\n  job_type:            analysis.job_type || 'Residential',\n  vulnerable_occupant: analysis.vulnerable_occupant || false,\n  caller_sentiment:    analysis.caller_sentiment || 3\n};"
        },
        "id": "e5dcf87c-0034-4530-abbf-c954895a2f9b",
        "name": "Parse Lead Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "is-lead-check",
                "leftValue": "={{ $json.is_lead }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "22a6deb1-22b2-4425-a625-e3253892f553",
        "name": "Is Lead?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -240,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              },
              {
                "name": "Prefer",
                "value": "return=representation,resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { call_id: $json.call_id, agent_id: $json.agent_id, company_name: $json.company_name, caller_name: $json.caller_name || '', caller_phone: $json.caller_phone || $json.from_number || '', caller_address: $json.caller_address || '', service_requested: $json.service_requested || '', lead_score: $json.lead_score || 0, urgency: $json.urgency || '', call_tier: $json.call_tier || 'Standard', job_type: $json.job_type || 'Residential', vulnerable_occupant: $json.vulnerable_occupant || false, caller_sentiment: $json.caller_sentiment || 3, summary: $json.summary || '', notes: $json.notes || '', is_lead: $json.is_lead || false, duration_seconds: $json.duration_seconds || 0, geocode_status: $('Geocode: Parse Result').item.json.geocode_status || '', geocode_formatted: $('Geocode: Parse Result').item.json.geocode_formatted || '' } }}",
          "options": {}
        },
        "id": "7b3027c9-ee1e-4e9f-98ab-af02ca8ea4a6",
        "name": "Supabase: Log Call",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          240,
          112
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "return { message: `Non-lead call logged: ${$json.call_id}, score: ${$json.lead_score}` };"
        },
        "id": "d837f73e-190e-47f3-bba4-37dd04c10ddd",
        "name": "Log Non-Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          400
        ]
      },
      {
        "id": "geocode-http-001",
        "name": "Geocode: Maps API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -360,
          112
        ],
        "onError": "continueErrorOutput",
        "parameters": {
          "method": "GET",
          "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{encodeURIComponent($json.caller_address || '')}}&key=AIzaSyDzOcz3ySh4rkynyIyUEwDBu6zYARVkiVE",
          "options": {}
        }
      },
      {
        "id": "geocode-parse-001",
        "name": "Geocode: Parse Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -120,
          112
        ],
        "parameters": {
          "jsCode": "\nconst leadData = $('Parse Lead Data').item.json;\nconst geoResponse = $input.first().json;\n\n// \u2500\u2500 GEOCODE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet geocode_status = 'not_provided', geocode_formatted = '', geocode_lat = null,\n    geocode_lng = null, geocode_maps_url = '', geocode_confidence = 'low', address_check_html = '';\n\nif (!leadData.caller_address || leadData.caller_address.trim().length < 5) {\n  geocode_status = 'not_provided';\n  address_check_html = '<span style=\"color:#718096\">\u2014 Not provided</span>';\n} else if (geoResponse.status === 'OK' && geoResponse.results && geoResponse.results.length > 0) {\n  const top = geoResponse.results[0];\n  geocode_formatted = top.formatted_address;\n  geocode_lat = top.geometry.location.lat;\n  geocode_lng = top.geometry.location.lng;\n  geocode_maps_url = 'https://maps.google.com/?q=' + encodeURIComponent(geocode_formatted);\n  const types = top.types || [];\n  if (types.includes('street_address') || types.includes('premise') || types.includes('subpremise')) {\n    geocode_status = 'verified'; geocode_confidence = 'high';\n    address_check_html = '<span style=\"color:#38a169;font-weight:600\">\u2705 Verified</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none;font-weight:600\">\ud83d\udccd View Map</a>';\n  } else if (types.includes('route') || types.includes('intersection')) {\n    geocode_status = 'partial'; geocode_confidence = 'medium';\n    address_check_html = '<span style=\"color:#d69e2e;font-weight:600\">\u26a0\ufe0f Partial match</span> \u2014 ' + geocode_formatted + ' &nbsp;<a href=\"' + geocode_maps_url + '\" style=\"color:#6C63FF;text-decoration:none\">\ud83d\udccd View Map</a>';\n  } else {\n    geocode_status = 'unverified'; geocode_confidence = 'low';\n    address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u26a0\ufe0f Unverified</span> \u2014 Closest: ' + geocode_formatted + '. Confirm with caller.';\n  }\n} else if (geoResponse.status === 'ZERO_RESULTS') {\n  geocode_status = 'not_found';\n  address_check_html = '<span style=\"color:#e53e3e;font-weight:600\">\u274c Not found</span> \u2014 Confirm address with caller before dispatching.';\n} else {\n  geocode_status = 'error';\n  address_check_html = '<span style=\"color:#718096\">\u26a0\ufe0f Could not verify \u2014 confirm with caller</span>';\n}\n\n// \u2500\u2500 SCORE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst score = leadData.lead_score || 0;\nconst scoreColor = score >= 8 ? '#dc2626' : score >= 6 ? '#d97706' : '#718096';\nconst score_badge = '<span style=\"background:' + (score >= 8 ? '#fef2f2' : score >= 6 ? '#fffbeb' : '#f9fafb') + ';color:' + scoreColor + ';border:2px solid ' + scoreColor + ';border-radius:20px;padding:3px 12px;font-weight:700;font-size:15px\">' + score + '/10</span>';\n\n// \u2500\u2500 URGENCY BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst urgency = leadData.urgency || 'Medium';\nconst urgencyColor = urgency === 'Emergency' ? '#dc2626' : urgency === 'High' ? '#d97706' : urgency === 'Medium' ? '#2563eb' : '#718096';\nconst urgency_badge = '<span style=\"color:' + urgencyColor + ';font-weight:600\">' + urgency + '</span>';\n\n// \u2500\u2500 TIER BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst callTier = leadData.call_tier || 'Standard';\nconst tierMap = {\n  'Emergency': { bg: '#dc2626', label: '\ud83d\udea8 EMERGENCY \u2014 Transfer Attempted' },\n  'Urgent':    { bg: '#d97706', label: '\u26a1 URGENT \u2014 Respond Within 1 Hour' },\n  'Standard':  { bg: '#6C63FF', label: '\ud83d\udccb STANDARD \u2014 Business Hours' }\n};\nconst tc = tierMap[callTier] || tierMap['Standard'];\nconst tier_badge = '<span style=\"background:' + tc.bg + ';color:#ffffff;padding:5px 14px;border-radius:20px;font-size:12px;font-weight:700;font-family:Helvetica,Arial,sans-serif\">' + tc.label + '</span>';\n\n// \u2500\u2500 JOB TYPE BADGE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst jobType = leadData.job_type || 'Residential';\nconst jobColor = jobType === 'Commercial' ? '#7c3aed' : jobType === 'Multi-Unit' ? '#0369a1' : '#374151';\nconst jobBg    = jobType === 'Commercial' ? '#f5f3ff' : jobType === 'Multi-Unit' ? '#e0f2fe' : '#f9fafb';\nconst job_type_badge = '<span style=\"background:' + jobBg + ';color:' + jobColor + ';padding:2px 10px;border-radius:12px;font-size:12px;font-weight:600;border:1px solid ' + jobColor + '\">' + jobType + '</span>';\n\n// \u2500\u2500 VULNERABILITY FLAG \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst vulnerable = leadData.vulnerable_occupant || false;\nconst vulnerability_flag = vulnerable\n  ? '<span style=\"background:#fef2f2;color:#dc2626;padding:2px 10px;border-radius:12px;font-size:12px;font-weight:700;border:1px solid #dc2626\">\u26a0\ufe0f VULNERABLE OCCUPANT</span>'\n  : '';\n\n// \u2500\u2500 SENTIMENT INDICATOR \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst sentiment = leadData.caller_sentiment || 3;\nconst sentimentLabel = sentiment <= 2 ? '\ud83d\ude1f Distressed' : sentiment === 3 ? '\ud83d\ude10 Neutral' : '\ud83d\ude0a Cooperative';\nconst sentimentColor = sentiment <= 2 ? '#dc2626' : sentiment === 3 ? '#6b7280' : '#16a34a';\n\n// \u2500\u2500 DURATION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst dur = leadData.duration_seconds || 0;\nconst duration_formatted = dur >= 60 ? Math.floor(dur/60) + 'm ' + (dur%60) + 's' : dur + 's';\n\n// \u2500\u2500 SMS TEXT \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\n// Rich SMS with all key flags \u2014 keeps it scannable on a phone\nconst tierEmoji = callTier === 'Emergency' ? '\ud83d\udea8' : callTier === 'Urgent' ? '\u26a1' : '\ud83d\udccb';\nconst vulnFlag  = vulnerable ? ' \u26a0\ufe0fVULNERABLE' : '';\nconst repeatFlag = ''; // populated later by repeat caller check\nconst notifyType = leadData.notify_type || 'lead';\nconst sms_header = notifyType === 'emergency'\n  ? '\ud83d\udea8 EMERGENCY' + vulnFlag\n  : notifyType === 'customer_query'\n  ? '\ud83d\udcde CUSTOMER QUERY'\n  : '\ud83d\udd25 NEW LEAD';\nconst sms_text = sms_header + ' \u2014 ' + leadData.company_name + '\\n'\n  + '\ud83d\udc64 ' + (leadData.caller_name || 'Unknown') + '\\n'\n  + '\ud83d\udcde ' + (leadData.caller_phone || leadData.from_number || 'N/A') + '\\n'\n  + '\ud83d\udccd ' + (geocode_status === 'verified' ? geocode_formatted : leadData.caller_address || 'No address') + '\\n'\n  + '\ud83d\udd27 ' + (leadData.service_requested || 'General') + ' | ' + jobType + '\\n'\n  + '\u2b50 Score: ' + score + '/10\\n'\n  + '\ud83d\udcdd ' + (leadData.summary || '').slice(0, 100);\n\nreturn {\n  ...leadData,\n  geocode_status, geocode_formatted, geocode_lat, geocode_lng,\n  geocode_maps_url, geocode_confidence, address_check_html,\n  score_badge, urgency_badge, tier_badge, job_type_badge,\n  vulnerability_flag, sentimentLabel, sentimentColor,\n  duration_formatted, sms_text, call_tier: callTier\n};\n"
        }
      },
      {
        "id": "classify-notification",
        "name": "Classify Notification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -960,
          -200
        ],
        "parameters": {
          "jsCode": "\nconst service  = $json.service_requested || '';\nconst isLead   = $json.is_lead || false;\nconst callTier = $json.call_tier || 'Standard';\n\n// Completely drop \u2014 return [] stops n8n flow entirely\nconst dropTypes = ['Spam', 'WrongNumber'];\nif (dropTypes.includes(service)) {\n  return [];\n}\n\n// Classify notification type\nlet notify_type;\nif (callTier === 'Emergency') {\n  notify_type = 'emergency';          // red email always for emergency\n} else if (service === 'ExistingCustomer' || service === 'Complaint') {\n  notify_type = 'customer_query';     // amber email\n} else if (isLead) {\n  notify_type = 'lead';               // purple email\n} else {\n  notify_type = 'log_only';           // Supabase only, no email\n}\n\nreturn [{ json: { ...($input.first().json), notify_type } }];\n"
        }
      },
      {
        "id": "d0e4a99c-1bad-4e60-812e-66be6834034c",
        "name": "Route Notifications",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          380
        ],
        "parameters": {
          "jsCode": "// Route and build notification content\nconst classify = $('Classify Notification').first().json;\nconst lead = $('Parse Lead Data').first().json;\nconst geo = $('Geocode: Parse Result').first().json;\nconst notifyType = classify.notify_type || '';\n\n// Skip spam/wrong number\nif (!notifyType || notifyType === 'spam' || notifyType === 'wrong_number') {\n  return { _should_notify: false, _reason: 'Spam or wrong number' };\n}\n\n// Build email subject\nlet subject = '';\nif (notifyType === 'emergency') {\n  subject = `\ud83d\udea8 EMERGENCY \u2014 ${lead.company_name}${lead.vulnerable_occupant ? ' \u26a0\ufe0f VULNERABLE' : ''}`;\n} else if (notifyType === 'customer_query') {\n  subject = `\ud83d\udcde Customer Query \u2014 ${lead.caller_name || 'Unknown'} | ${lead.company_name}`;\n} else {\n  subject = `\ud83d\udd25 New Lead \u2014 ${lead.company_name} | ${geo.call_tier || 'Standard'}`;\n}\n\n// Build email HTML (simplified but professional)\nconst accentColor = notifyType === 'emergency' ? '#dc2626' : notifyType === 'customer_query' ? '#d97706' : '#6C63FF';\nconst typeLabel = notifyType === 'emergency' ? '\ud83d\udea8 Emergency Alert' : notifyType === 'customer_query' ? 'Customer Query' : '\ud83d\udd25 New Lead';\nconst dur = geo.duration_formatted || (lead.duration_seconds ? Math.round(lead.duration_seconds / 60) + ' min' : '\u2014');\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>\n<body style=\"margin:0;padding:0;background:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f3f4f6\">\n<tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:540px\">\n<tr><td bgcolor=\"${accentColor}\" style=\"height:4px;border-radius:8px 8px 0 0\">&nbsp;</td></tr>\n<tr><td bgcolor=\"#ffffff\" style=\"border-radius:0 0 12px 12px;padding:32px 40px 28px\">\n<p style=\"margin:0 0 4px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:${accentColor}\">${typeLabel}</p>\n<h1 style=\"margin:0 0 4px;font-size:22px;font-weight:700;color:#111827\">${lead.company_name}</h1>\n<p style=\"margin:0 0 20px;font-size:12px;color:#9ca3af\">${dur} call \u00b7 ${lead.call_timestamp || new Date().toLocaleString()}</p>\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:16px\">\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280;width:120px\">Caller</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600\">${lead.caller_name || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Phone</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\"><a href=\"tel:${lead.caller_phone || ''}\" style=\"color:#6C63FF;text-decoration:none\">${lead.caller_phone || '\u2014'}</a></td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Service</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\">${lead.service_requested || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Address</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827\">${geo.geocode_formatted || lead.caller_address || '\u2014'}</td></tr>\n<tr><td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:12px;color:#6b7280\">Lead Score</td>\n<td style=\"padding:8px 0;border-bottom:1px solid #f3f4f6;font-size:14px;color:#111827;font-weight:600\">${lead.lead_score || '\u2014'}/10</td></tr>\n</table>\n\n<div style=\"background:#f9fafb;border-radius:8px;padding:12px 16px;margin-bottom:16px\">\n<p style=\"margin:0 0 4px;font-size:12px;color:#6b7280;font-weight:600\">Summary</p>\n<p style=\"margin:0;font-size:14px;color:#374151;line-height:1.5\">${lead.summary || '\u2014'}</p>\n</div>\n\n${lead.notes ? `<div style=\"background:#fffbeb;border-radius:8px;padding:12px 16px;margin-bottom:16px\"><p style=\"margin:0 0 4px;font-size:12px;color:#92400e;font-weight:600\">Notes</p><p style=\"margin:0;font-size:14px;color:#78350f;line-height:1.5\">${lead.notes}</p></div>` : ''}\n\n<p style=\"margin:16px 0 0;font-size:11px;color:#d1d5db;text-align:center\">Syntharra AI Receptionist \u00b7 ${lead.company_name}</p>\n</td></tr></table></td></tr></table></body></html>`;\n\n// Build SMS text\nconst smsText = geo.sms_text || `New ${notifyType === 'emergency' ? 'EMERGENCY' : 'lead'} for ${lead.company_name}: ${lead.caller_name || 'Unknown'}, ${lead.caller_phone || 'no phone'}, ${lead.service_requested || 'service request'}. Score: ${lead.lead_score || '\u2014'}/10`;\n\nreturn {\n  _should_notify: true,\n  notification_type: notifyType,\n  email_subject: subject,\n  email_html: emailHtml,\n  sms_text: smsText,\n  // Pass through all data\n  lead_email: lead.lead_email || '',\n  lead_phone: lead.lead_phone || '',\n  notification_email_2: lead.notification_email_2 || '',\n  notification_email_3: lead.notification_email_3 || '',\n  notification_sms_2: lead.notification_sms_2 || '',\n  notification_sms_3: lead.notification_sms_3 || '',\n  company_name: lead.company_name || '',\n  caller_name: lead.caller_name || '',\n  call_id: lead.call_id || '',\n  summary: lead.summary || ''\n};"
        }
      },
      {
        "id": "3ef3997a-ec08-4c2e-8be5-942a57a54335",
        "name": "Should Notify?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1900,
          380
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "b55af1ad-9032-4ab9-87d7-f29dc6a8cf46",
                "leftValue": "={{ $json._should_notify }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          }
        }
      },
      {
        "id": "b44f77fd-71a5-4806-a1b9-534778a2c593",
        "name": "Send Client Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2120,
          280
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst emailHtml = d.email_html || '';\nconst emailSubject = d.email_subject || 'Call Alert';\nconst leadEmail = d.lead_email || '';\nconst email2 = d.notification_email_2 || '';\nconst email3 = d.notification_email_3 || '';\n\nif (!leadEmail || !emailHtml) return { ...d, _email_sent: false };\n\nconst recipients = [leadEmail];\nif (email2) recipients.push(email2);\nif (email3) recipients.push(email3);\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: recipients,\n      subject: emailSubject,\n      html_body: emailHtml\n    },\n    json: true\n  });\n  console.log(`[EMAIL] Sent to ${recipients.join(', ')}`);\n  return { ...d, _email_sent: true };\n} catch (e) {\n  console.log('[EMAIL] Failed:', e.message);\n  return { ...d, _email_sent: false };\n}"
        }
      },
      {
        "id": "e2439214-50de-4f09-8db2-f5b939e88d2e",
        "name": "Send Client SMS",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2120,
          480
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst smsText = d.sms_text || '';\nconst leadPhone = d.lead_phone || '';\nconst sms2 = d.notification_sms_2 || '';\nconst sms3 = d.notification_sms_3 || '';\n\nif (!leadPhone || !smsText) return { ...d, _sms_sent: false };\n\nconst recipients = [leadPhone];\nif (sms2) recipients.push(sms2);\nif (sms3) recipients.push(sms3);\n\nconst SMS_ENABLED = false; // \u2190 Change to true when Telnyx is ready\nconst TELNYX_KEY = ''; // \u2190 Add Telnyx API key\nconst TELNYX_FROM = ''; // \u2190 Add Telnyx phone number\n\nif (!SMS_ENABLED || !TELNYX_KEY) {\n  console.log(`[SMS] Disabled \u2014 would send to: ${recipients.join(', ')}`);\n  return { ...d, _sms_sent: false };\n}\n\nlet sent = 0;\nfor (const phone of recipients) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: 'https://api.telnyx.com/v2/messages',\n      headers: { 'Authorization': 'Bearer ' + TELNYX_KEY, 'Content-Type': 'application/json' },\n      body: { from: TELNYX_FROM, to: phone, text: smsText },\n      json: true\n    });\n    sent++;\n  } catch (e) { console.log(`[SMS] Failed ${phone}:`, e.message); }\n}\nreturn { ...d, _sms_sent: sent > 0 };"
        }
      },
      {
        "id": "24e36e43-5de6-4d86-be99-fe085b6a3a79",
        "name": "Internal Notification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2120,
          680
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst subject = `[${(d.notification_type || 'unknown').toUpperCase()}] ${d.caller_name || 'Unknown'} \u2014 ${d.company_name} | ${d.call_id}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">${(d.notification_type || '').replace(/_/g,' ').toUpperCase()} \u2014 ${d.company_name}</h3>\n<p><strong>Caller:</strong> ${d.caller_name || '\u2014'}</p>\n<p><strong>Type:</strong> ${d.notification_type || '\u2014'}</p>\n<p><strong>Summary:</strong> ${d.summary || '\u2014'}</p>\n<p><strong>Call ID:</strong> ${d.call_id || '\u2014'}</p>\n<p style=\"color:#999;font-size:12px\">Syntharra AI \u2014 Internal Notification</p></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E',\n      sender: 'Syntharra AI <noreply@syntharra.com>',\n      to: ['daniel@syntharra.com'],\n      subject: subject,\n      html_body: html\n    },\n    json: true\n  });\n  return { ...d, _internal_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Failed:', e.message);\n  return { ...d, _internal_sent: false };\n}"
        }
      },
      {
        "id": "7556df43-8c52-4dc7-8de8-1bf11cde2b6a",
        "name": "Check Repeat Caller",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          380
        ],
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst fromNumber = d.from_number || '';\nconst agentId = d.agent_id || '';\n\nif (!fromNumber || !agentId) {\n  return { ...d, _repeat_caller: false, _call_history: [] };\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?from_number=eq.' + encodeURIComponent(fromNumber) + '&agent_id=eq.' + agentId + '&order=created_at.desc&limit=5&select=call_id,caller_name,service_requested,call_type,booking_success,appointment_date,created_at,summary',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDI5NTM1MiwiZXhwIjoyMDg5ODcxMzUyfQ.PENNZ2K5syVFyU3Yn6FfYZP1JEtmanlV6nTrlGaeqsg'\n    },\n    json: true\n  });\n\n  if (Array.isArray(response) && response.length > 0) {\n    const lastCall = response[0];\n    const callCount = response.length;\n    let historyContext = `REPEAT CALLER \u2014 ${callCount} previous call(s).\\n`;\n    historyContext += `Last call: ${lastCall.created_at ? new Date(lastCall.created_at).toLocaleDateString() : 'unknown'}\\n`;\n    if (lastCall.caller_name) historyContext += `Known name: ${lastCall.caller_name}\\n`;\n    if (lastCall.service_requested) historyContext += `Last service: ${lastCall.service_requested}\\n`;\n    if (lastCall.summary) historyContext += `Last summary: ${lastCall.summary}\\n`;\n    \n    return {\n      ...d,\n      _repeat_caller: true,\n      _call_count: callCount,\n      _last_caller_name: lastCall.caller_name || '',\n      _history_context: historyContext\n    };\n  }\n} catch (e) {\n  console.log('Repeat caller check failed:', e.message);\n}\n\nreturn { ...d, _repeat_caller: false, _call_history: [] };"
        }
      }
    ],
    "connections": {
      "Retell Webhook": {
        "main": [
          [
            {
              "node": "Filter: call_analyzed Only",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter: call_analyzed Only": {
        "main": [
          [
            {
              "node": "Extract Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Call Data": {
        "main": [
          [
            {
              "node": "Supabase: Lookup Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Lookup Client": {
        "main": [
          [
            {
              "node": "Parse Client Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Client Data": {
        "main": [
          [
            {
              "node": "Check Repeat Caller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT: Analyze Transcript": {
        "main": [
          [
            {
              "node": "Parse Lead Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Lead Data": {
        "main": [
          [
            {
              "node": "Geocode: Maps API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Geocode: Maps API": {
        "main": [
          [
            {
              "node": "Geocode: Parse Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Geocode: Parse Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Geocode: Parse Result": {
        "main": [
          [
            {
              "node": "Is Lead?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Lead?": {
        "main": [
          [
            {
              "node": "Classify Notification",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Classify Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classify Notification": {
        "main": [
          [
            {
              "node": "Supabase: Log Call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Log Call": {
        "main": [
          [
            {
              "node": "Route Notifications",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Notifications": {
        "main": [
          [
            {
              "node": "Should Notify?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Notify?": {
        "main": [
          [
            {
              "node": "Send Client Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Client SMS",
              "type": "main",
              "index": 0
            },
            {
              "node": "Internal Notification",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Check Repeat Caller": {
        "main": [
          [
            {
              "node": "GPT: Analyze Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniel Blackmore",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T23:48:26.256Z",
        "id": 710,
        "workflowId": "OyDCyiOjG0twguXq",
        "versionId": "1dca091f-c2b4-437a-86e0-f20f6da6be41",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    ]
  }
}