hvac-standard/n8n-workflows/standard-onboarding_k0KeQxWb3j3BbQEk.json
{
  "updatedAt": "2026-03-27T23:37:41.882Z",
  "createdAt": "2026-03-23T23:25:36.784Z",
  "id": "k0KeQxWb3j3BbQEk",
  "name": "HVAC Standard Onboarding",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jotform-hvac-onboarding",
        "options": {}
      },
      "id": "f8cdf8b9-0b62-4b65-b8e2-f32356787157",
      "name": "JotForm Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1440,
        512
      ],
      "webhookId": "054d5caf-c61e-46e0-a405-0d7d62455cc5"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Parse JotForm Data v5 \u2014 Supabase Edition\n// ============================================================\n\nconst formData = $input.first().json.body;\n\nfunction normalizeList(val) {\n  if (!val) return '';\n  if (Array.isArray(val)) return val.filter(Boolean).join(', ');\n  return String(val).trim();\n}\n\nfunction clean(val, fallback = '') {\n  if (!val) return fallback;\n  return String(val).trim() || fallback;\n}\n\nconst extractedData = {\n  // Section 1: Business Information\n  company_name:         clean(formData.q4_hvacCompany || formData['q4_hvacCompany']),\n  owner_name:           clean(formData.q54_ownerName || formData['q54_ownerName']),\n  main_phone:           clean(formData.q6_mainCompany || formData['q6_mainCompany']),\n  client_email:         clean(formData.q5_emailAddress || formData['q5_emailAddress']),\n  website:              clean(formData.q7_companyWebsite || formData['q7_companyWebsite']),\n  years_in_business:    clean(formData.q8_yearsIn || formData['q8_yearsIn']),\n  timezone:             clean(formData.q34_timezone || formData['q34_timezone'], 'America/Chicago'),\n  services_offered:     normalizeList(formData.q13_servicesOffered || formData['q13_servicesOffered']),\n  brands_serviced:      normalizeList(formData.q14_brandsequipmentServiced || formData['q14_brandsequipmentServiced']),\n  service_area:         clean(formData.q16_primaryService || formData['q16_primaryService']),\n  service_area_radius:  clean(formData.q40_serviceAreaRadius || formData['q40_serviceAreaRadius']),\n  certifications:       normalizeList(formData.q29_certifications || formData['q29_certifications']),\n  licensed_insured:     clean(formData.q28_licensedAnd || formData['q28_licensedAnd'], 'Yes'),\n\n  // Section 2: AI Receptionist Configuration\n  agent_name:           clean(formData.q10_aiAgent10 || formData['q10_aiAgent10']),\n  voice_gender:         clean(formData.q11_aiVoice || formData['q11_aiVoice'], 'Female'),\n  custom_greeting:      clean(formData.q38_customGreeting || formData['q38_customGreeting']),\n  company_tagline:      clean(formData.q39_companyTagline || formData['q39_companyTagline']),\n  business_hours:       clean(formData.q17_businessHours || formData['q17_businessHours']),\n  response_time:        clean(formData.q18_typicalResponse || formData['q18_typicalResponse']),\n  emergency_service:    clean(formData.q20_247Emergency || formData['q20_247Emergency'], 'No'),\n  emergency_phone:      clean(formData.q21_emergencyAfterhours || formData['q21_emergencyAfterhours']),\n  after_hours_behavior: clean(formData.q22_afterhoursBehavior || formData['q22_afterhoursBehavior']),\n\n  // Section 3: Call Handling & Pricing\n  pricing_policy:       clean(formData.q42_pricingPolicy || formData['q42_pricingPolicy'], 'We provide free quotes on-site'),\n  diagnostic_fee:       clean(formData.q41_diagnosticFee || formData['q41_diagnosticFee']),\n  standard_fees:        clean(formData.q43_standardFees || formData['q43_standardFees']),\n  free_estimates:       clean(formData.q24_freeEstimates || formData['q24_freeEstimates'], 'Yes - always free'),\n  do_not_service:       clean(formData.q57_doNotServiceList || formData['q57_doNotServiceList']),\n  transfer_phone:       clean(formData.q48_transferPhone || formData['q48_transferPhone']),\n  transfer_triggers:    normalizeList(formData.q49_transferTriggers || formData['q49_transferTriggers']),\n  transfer_behavior:    clean(formData.q50_transferBehavior || formData['q50_transferBehavior'], 'Try once - take message if no answer'),\n\n  // Section 4: Lead Capture & Notifications\n  lead_contact_method:  clean(formData.q31_leadContact || formData['q31_leadContact'], 'Both'),\n  lead_phone:           clean(formData.q32_leadNotification || formData['q32_leadNotification']),\n  lead_email:           clean(formData.q33_leadNotification33 || formData['q33_leadNotification33']),\n  notification_email_2: clean(formData.q59_notifEmail2 || formData['q59_notifEmail2']),\n  notification_email_3: clean(formData.q60_notifEmail3 || formData['q60_notifEmail3']),\n  notification_sms_2:   clean(formData.q61_notifSms2 || formData['q61_notifSms2']),\n  notification_sms_3:   clean(formData.q62_notifSms3 || formData['q62_notifSms3']),\n\n  // Section 5: Branding, Promotions & Extras\n  google_review_rating: clean(formData.q55_googleReviewRating || formData['q55_googleReviewRating']),\n  google_review_count:  clean(formData.q56_googleReviewCount || formData['q56_googleReviewCount']),\n  unique_selling_points: clean(formData.q51_uniqueSellingPoints || formData['q51_uniqueSellingPoints']),\n  current_promotion:    clean(formData.q52_currentPromotion || formData['q52_currentPromotion']),\n  seasonal_services:    clean(formData.q53_seasonalServices || formData['q53_seasonalServices']),\n  membership_program:   clean(formData.q58_membershipProgramName || formData['q58_membershipProgramName']),\n  maintenance_plans:    clean(formData.q46_maintenancePlans || formData['q46_maintenancePlans'], 'No'),\n  financing_available:  clean(formData.q25_financingAvailable || formData['q25_financingAvailable'], 'No'),\n  financing_details:    clean(formData.q44_financingDetails || formData['q44_financingDetails']),\n  warranty:             clean(formData.q26_serviceWarranties || formData['q26_serviceWarranties'], 'Yes'),\n  warranty_details:     clean(formData.q27_warrantyDetails || formData['q27_warrantyDetails']),\n  payment_methods:      normalizeList(formData.q45_paymentMethods || formData['q45_paymentMethods']),\n  additional_info:      clean(formData.q37_additionalInfo || formData['q37_additionalInfo'])\n};\n\n// === Build company info block for the Retell prompt ===\nlet companyInfoBlock = `## Company Overview\\n`;\ncompanyInfoBlock += `- Company Name: ${extractedData.company_name}\\n`;\nif (extractedData.main_phone) companyInfoBlock += `- Main Phone: ${extractedData.main_phone}\\n`;\nif (extractedData.years_in_business) companyInfoBlock += `- Experience: ${extractedData.years_in_business} years in business\\n`;\nif (extractedData.owner_name) companyInfoBlock += `- Owner/Manager: ${extractedData.owner_name}\\n`;\nif (extractedData.company_tagline) companyInfoBlock += `- Tagline: ${extractedData.company_tagline}\\n`;\nif (extractedData.website) companyInfoBlock += `- Website: ${extractedData.website}\\n`;\ncompanyInfoBlock += `- Licensed & Insured: ${extractedData.licensed_insured}\\n`;\nif (extractedData.certifications) companyInfoBlock += `- Certifications: ${extractedData.certifications}\\n`;\n\ncompanyInfoBlock += `\\n## Services\\n`;\nif (extractedData.services_offered) companyInfoBlock += `- Services: ${extractedData.services_offered}\\n`;\nif (extractedData.brands_serviced) companyInfoBlock += `- Brands Serviced: ${extractedData.brands_serviced}\\n`;\nif (extractedData.service_area) {\n  let areaLine = extractedData.service_area;\n  if (extractedData.service_area_radius) areaLine += ` (within ${extractedData.service_area_radius})`;\n  companyInfoBlock += `- Service Area: ${areaLine}\\n`;\n}\nif (extractedData.do_not_service) companyInfoBlock += `- DO NOT Service: ${extractedData.do_not_service}\\n`;\n\ncompanyInfoBlock += `\\n## Hours & Availability\\n`;\nif (extractedData.business_hours) companyInfoBlock += `- Business Hours: ${extractedData.business_hours}\\n`;\nif (extractedData.response_time) companyInfoBlock += `- Typical Response Time: ${extractedData.response_time}\\n`;\n\ncompanyInfoBlock += `\\n## Pricing & Policies\\n`;\ncompanyInfoBlock += `- Pricing Policy: ${extractedData.pricing_policy}\\n`;\nif (extractedData.diagnostic_fee) companyInfoBlock += `- Diagnostic/Service Call Fee: ${extractedData.diagnostic_fee} (applied to repair if customer proceeds)\\n`;\nif (extractedData.standard_fees) companyInfoBlock += `- Set Fees (ONLY share these specific fees when asked): ${extractedData.standard_fees}\\n`;\ncompanyInfoBlock += `- Free Estimates: ${extractedData.free_estimates}\\n`;\nif (extractedData.financing_available !== 'No') {\n  let finLine = `Financing Available: Yes`;\n  if (extractedData.financing_details) finLine += ` - ${extractedData.financing_details}`;\n  companyInfoBlock += `- ${finLine}\\n`;\n}\nif (extractedData.warranty !== 'No') {\n  let warLine = `Warranty: Yes`;\n  if (extractedData.warranty_details) warLine += ` - ${extractedData.warranty_details}`;\n  companyInfoBlock += `- ${warLine}\\n`;\n}\nif (extractedData.maintenance_plans !== 'No') {\n  let mainLine = `Maintenance Plans: Available`;\n  if (extractedData.membership_program) mainLine += ` - \"${extractedData.membership_program}\"`;\n  companyInfoBlock += `- ${mainLine}\\n`;\n}\nif (extractedData.payment_methods) companyInfoBlock += `- Payment Methods: ${extractedData.payment_methods}\\n`;\n\nif (extractedData.emergency_service && extractedData.emergency_service !== 'No') {\n  companyInfoBlock += `\\n## Emergency Service\\n`;\n  companyInfoBlock += `- Emergency Service: ${extractedData.emergency_service}\\n`;\n  if (extractedData.emergency_phone) companyInfoBlock += `- Emergency Contact: ${extractedData.emergency_phone}\\n`;\n  if (extractedData.after_hours_behavior) companyInfoBlock += `- After Hours Handling: ${extractedData.after_hours_behavior}\\n`;\n}\n\nif (extractedData.google_review_rating || extractedData.current_promotion || extractedData.seasonal_services || extractedData.unique_selling_points) {\n  companyInfoBlock += `\\n## Promotions & Highlights\\n`;\n  if (extractedData.google_review_rating && extractedData.google_review_rating !== 'Not listed on Google') {\n    let reviewLine = `Google Rating: ${extractedData.google_review_rating} stars`;\n    if (extractedData.google_review_count && extractedData.google_review_count !== 'Not listed on Google') {\n      reviewLine += ` with ${extractedData.google_review_count} reviews`;\n    }\n    companyInfoBlock += `- ${reviewLine}\\n`;\n  }\n  if (extractedData.current_promotion) companyInfoBlock += `- Current Promotion: ${extractedData.current_promotion}\\n`;\n  if (extractedData.seasonal_services) companyInfoBlock += `- Seasonal Services: ${extractedData.seasonal_services}\\n`;\n  if (extractedData.unique_selling_points) companyInfoBlock += `- Why Choose Us: ${extractedData.unique_selling_points}\\n`;\n}\n\nif (extractedData.additional_info) {\n  companyInfoBlock += `\\n## Additional Notes\\n`;\n  companyInfoBlock += `${extractedData.additional_info}\\n`;\n}\n\nreturn {\n  ...extractedData,\n  companyInfoBlock,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "fdfdbde1-c4e2-479f-a1a8-8d855c631985",
      "name": "Parse JotForm Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build Retell Prompt v5, Supabase Edition\n// ============================================================\n// Removed Google Sheets settings dependency\n// Transfer number: lead_phone default, emergency_phone override\n// ============================================================\n\nconst data = $input.first().json;\n\nconst companyName        = data.company_name || 'HVAC Company';\nconst companyPhone       = data.main_phone || '';\nconst companyWebsite     = data.website || '';\nconst yearsInBusiness    = data.years_in_business || '';\nconst agentName          = data.agent_name || `${companyName} Receptionist`;\nconst voiceGender        = (data.voice_gender || 'female').toLowerCase();\nconst servicesOffered    = data.services_offered || '';\nconst brandsServiced     = data.brands_serviced || '';\nconst serviceArea        = data.service_area || '';\nconst serviceAreaRadius  = data.service_area_radius || '';\nconst businessHours      = data.business_hours || '';\nconst responseTime       = data.response_time || '';\nconst emergency247       = data.emergency_service || 'No';\nconst emergencyPhone     = data.emergency_phone || '';\nconst afterHoursBehavior = data.after_hours_behavior || '';\nconst freeEstimates      = data.free_estimates || 'Yes - always free';\nconst diagnosticFee      = data.diagnostic_fee || '';\nconst pricingPolicy      = data.pricing_policy || 'We provide free quotes on-site';\nconst standardFees       = data.standard_fees || '';\nconst financingAvailable = data.financing_available || 'No';\nconst financingDetails   = data.financing_details || '';\nconst warranty           = data.warranty || 'Yes';\nconst warrantyDetails    = data.warranty_details || '';\nconst licensedInsured    = data.licensed_insured || 'Yes';\nconst certifications     = data.certifications || '';\nconst paymentMethods     = data.payment_methods || '';\nconst maintenancePlans   = data.maintenance_plans || 'No';\nconst leadContactMethod  = data.lead_contact_method || 'Both';\nconst leadPhone          = data.lead_phone || '';\nconst leadEmail          = data.lead_email || '';\nconst customGreeting     = data.custom_greeting || '';\nconst companyTagline     = data.company_tagline || '';\nconst transferPhone      = data.transfer_phone || '';\nconst transferTriggers   = data.transfer_triggers || 'Caller requests a live person, Emergency situation';\nconst transferBehavior   = data.transfer_behavior || 'Try once - take message if no answer';\nconst uniqueSellingPts   = data.unique_selling_points || '';\nconst currentPromotion   = data.current_promotion || '';\nconst seasonalServices   = data.seasonal_services || '';\nconst additionalNotes    = data.additional_info || '';\nconst companyInfoBlock   = data.companyInfoBlock || '';\nconst ownerName          = data.owner_name || '';\nconst googleReviewRating = data.google_review_rating || '';\nconst googleReviewCount  = data.google_review_count || '';\nconst doNotService       = data.do_not_service || '';\nconst membershipProgram  = data.membership_program || '';\nconst industryType       = data.industry_type || 'HVAC';\nconst testMode           = false;\n\n// === Voice selection ===\nconst voiceMap = { female: 'retell-Sloane', male: 'retell-Nico' };\nconst voiceId = voiceMap[voiceGender] || 'retell-Sloane';\n\n// === Transfer number: use lead_phone by default, emergency_phone as override ===\nconst rawTransferPhone = emergencyPhone || leadPhone;\nconst transferNumber = rawTransferPhone\n  ? (rawTransferPhone.startsWith('+') ? rawTransferPhone : `+1${rawTransferPhone.replace(/\\D/g, '')}`)\n  : '+10000000000';\n\n// ============================================================\n// BUILD PRICING RESPONSE INSTRUCTIONS\n// ============================================================\nlet shareableFees = '';\nif (diagnosticFee) shareableFees += `\\n- Diagnostic/Service Call Fee: ${diagnosticFee} (gets applied to the repair if the customer proceeds)`;\nif (standardFees) shareableFees += `\\n- Additional Set Fees: ${standardFees}`;\n\nlet pricingInstructions = '';\nif (pricingPolicy === 'We provide free quotes on-site') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We provide free on-site quotes so our team can give you\\n  an accurate price based on your specific situation. Let me grab\\n  your details so we can get someone out to you.\"\\n- NEVER provide general service, repair, or installation prices.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nThe ONLY fees you may mention (because the company has explicitly provided them):${shareableFees}\\n\\nOnly mention these if the caller specifically asks about them. Do NOT volunteer pricing.`;\n} else if (pricingPolicy === 'We charge a diagnostic fee then quote') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We do have a ${diagnosticFee || 'service call'} fee for\\n  the initial visit, and that gets applied to the repair if you\\n  choose to move forward with us. Our technician will give you a\\n  full quote once they've assessed the situation.\"\\n- NEVER provide general repair or installation prices.\\n- NEVER guess or estimate costs beyond the set fees listed below.`;\n  if (shareableFees) pricingInstructions += `\\n\\nSet fees you may share when asked:${shareableFees}`;\n} else {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"Our team will go over all the pricing with you so you get\\n  the most accurate information. Let me grab your details so we\\n  can get that set up for you.\"\\n- NEVER provide any prices, estimates, or cost ranges over the phone.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nException, the ONLY fees you may mention:${shareableFees}\\n\\nOnly mention these if the caller specifically asks. Do NOT volunteer pricing.`;\n}\n\n// ============================================================\n// BUILD TRANSFER RULES\n// ============================================================\nconst triggerList = transferTriggers.split(',').map(t => t.trim()).filter(Boolean);\nlet transferRules = `## CALL TRANSFER PROTOCOL\\n\\n`;\ntransferRules += `Transfer destination: ${transferNumber}\\n`;\ntransferRules += `Transfer behavior: ${transferBehavior}\\n\\n`;\ntransferRules += `Transfer the call ONLY when one of these conditions is met:\\n`;\ntriggerList.forEach((t, i) => { transferRules += `${i + 1}. ${t}\\n`; });\ntransferRules += `\\nFor ALL other situations, collect the caller's information and let them know someone will follow up.`;\nif (transferBehavior === 'Always take a message - never transfer') {\n  transferRules += `\\n\\nIMPORTANT: NEVER transfer calls. Always collect caller information and confirm someone from the team will call back.`;\n}\nif (ownerName) {\n  transferRules += `\\n\\n### Owner/Manager Reference\\nIf a caller asks to speak with the owner or manager, their name is ${ownerName}. Say: \"${ownerName} isn't available right now, but I can take a message and have them call you back, or I can transfer you to our team.\"`;\n}\n\n// ============================================================\n// BUILD DO NOT SERVICE SECTION\n// ============================================================\nlet doNotServiceSection = '';\nif (doNotService) {\n  doNotServiceSection = `\\n\\n\\n## SERVICES WE DO NOT PROVIDE\\n\\nThe following items are outside our scope of service:\\n${doNotService}\\n\\nIf a caller requests any of these, politely explain:\\n\"I appreciate you reaching out, but unfortunately that's not something we service. I'd recommend reaching out to a specialist for that. Is there anything else I can help you with?\"\\n\\nDo NOT attempt to collect lead information for out-of-scope requests.\\n`;\n}\n\n// ============================================================\n// BUILD PROMOTIONS / SELLING POINTS SECTION\n// ============================================================\nlet promotionsSection = '';\nif (currentPromotion || seasonalServices || uniqueSellingPts || (googleReviewRating && googleReviewRating !== 'Not listed on Google')) {\n  promotionsSection = `\\n\\n\\n## PROMOTIONS & VALUE PROPOSITIONS\\n\\n`;\n  if (googleReviewRating && googleReviewRating !== 'Not listed on Google') {\n    let reviewLine = `We have a ${googleReviewRating}-star rating on Google`;\n    if (googleReviewCount && googleReviewCount !== 'Not listed on Google') reviewLine += ` with ${googleReviewCount.toLowerCase().replace('under ', 'nearly ')} reviews`;\n    promotionsSection += `### Google Reviews\\n${reviewLine}.\\nMention this naturally when a caller is comparing options or seems uncertain.\\n\\n`;\n  }\n  if (currentPromotion) promotionsSection += `### Current Promotion\\n${currentPromotion}\\nMention this naturally when a caller asks about the relevant service.\\n\\n`;\n  if (uniqueSellingPts) promotionsSection += `### Why Choose ${companyName}\\n${uniqueSellingPts}\\nUse these points when a caller seems to be comparing options. Weave them in naturally.\\n\\n`;\n  if (seasonalServices) promotionsSection += `### Seasonal Services\\n${seasonalServices}\\nMention the relevant seasonal service if it matches what the caller needs.\\n\\n`;\n}\n\n// ============================================================\n// BUILD PAYMENT METHODS SECTION\n// ============================================================\nlet paymentSection = '';\nif (paymentMethods) {\n  paymentSection = `\\nWhen callers ask about payment methods:\\n- Say: \"We accept ${paymentMethods}.\"`;\n  if (financingAvailable === 'Yes' && financingDetails) paymentSection += `\\n- If they ask about financing: \"Yes, we offer financing, ${financingDetails}.\"`;\n  else if (financingAvailable === 'Yes') paymentSection += `\\n- If they ask about financing: \"Yes, we do offer financing options. Our team can go over the details with you.\"`;\n  if (maintenancePlans !== 'No') {\n    let maintLine = `\\n- If they ask about maintenance plans: \"Yes, we do offer maintenance plans`;\n    if (membershipProgram) maintLine += `, our ${membershipProgram} program`;\n    maintLine += `. Our team can go over the details and pricing with you.\"`;\n    paymentSection += maintLine;\n  }\n}\n\n// ============================================================\n// GLOBAL PROMPT\n// ============================================================\nlet globalPrompt = `## ROLE\\\\nYou are ${agentName}, a virtual AI receptionist for ${companyName}.${companyTagline ? ' ' + companyTagline + '.' : ''}\\\\nWarm, professional and concise. One topic at a time. Use the caller's first name once you have it.\\\\nIf asked if you are real: \\\"I'm a virtual assistant here to make sure you get the right help.\\\"\\\\n\\\\n## STYLE\\\\n- One question at a time, wait for the answer before asking another\\\\n- Match the caller's energy. Reassuring if stressed, calm if calm\\\\n- Patient with elderly callers. Never rush\\\\n- Vary your language naturally\\\\n\\\\n## CONFIRMING DETAILS\\\\nSlow right down when collecting contact info. Confirm each piece back before moving on.\\\\n- Phone: read back in groups \\\"512, 555, 0192, is that right?\\\"\\\\n- Name: spell uncommon names letter by letter\\\\n- Address: confirm street and suburb back\\\\n- Email: read back slowly, character by character, using dot, at, dash\\\\n- ZIP: digit by digit\\\\nIf anything is unclear, ask them to spell it. Never guess.\\\\n\\\\n## TRANSCRIPTION\\\\nIf you cannot understand something: \\\"I'm sorry, could you say that again?\\\" Never guess at names, addresses or emails.\\\\n\\\\n## COMPANY INFORMATION\\\\n\\n{{COMPANY_INFO_BLOCK}}\\n\\nOnly use the above to answer company questions. If not covered, say: \\\"Great question, one of our team will be able to answer that when they call you back.\\\"\\\\n\\\\n${pricingInstructions}\\\\n\\\\n${transferRules}\\\\n\\\\n${paymentSection}\\\\n\\\\n${promotionsSection}${doNotServiceSection}## RULES\\\\n- Never ask more than one question at a time\\\\n- Never give prices, estimates, or diagnose problems\\\\n- Never promise availability unless stated in company info\\\\n- Never guess company-specific answers\\\\n- Always collect lead info before ending a legitimate call\\\\n- Always confirm details back before closing\\\\n- Always stay warm and calm regardless of caller mood\\\\n\\\\n## HANDLING DIFFICULT SITUATIONS\\\\nReluctant to share info: \\\"I completely understand, this just helps our team reach you accurately.\\\"\\\\nAngry caller: Acknowledge, stay calm, redirect. If abusive: \\\"I do want to help, but I need us to work together respectfully.\\\"\\\\nSilence: After 3s \\\"Hello, are you there?\\\", after 8s total \\\"I'm having trouble hearing you.\\\", after 13s end the call politely.\\\\nCannot hear: \\\"I'm sorry about that, is this any better?\\\"\\\\n`;\n\n// ============================================================\n// BUILD GREETING\n// ============================================================\nconst greetingText = customGreeting\n  ? customGreeting\n  : `Hello this is ${agentName} from ${companyName}`;\n\n// ============================================================\n// BUILD CONVERSATION FLOW NODES\n// ============================================================\n\n// Capturing details section \u2014 appended to global prompt\nconst capturingSection = `\n\n## CAPTURING DETAILS\nWhen collecting any detail that could be misheard, slow down noticeably.\n- Phone numbers: read back in groups, \"512, 555, 0192, is that right?\"\n- Emails: spell each part, \"J-O-H-N dot S-M-I-T-H at gmail dot com, correct?\"\n- Unusual street names: ask them to spell it out\n- Names: always get first and last name, confirm spelling for uncommon names\n- If you have confirmed something twice and the caller is still unclear, say: \"No problem, our team will confirm all the details when they call you back\" and move on`;\nglobalPrompt += capturingSection;\n\nconst conversationFlow = {\n  name: `${companyName} - ${industryType} Receptionist Flow`,\n  start_speaker: \"agent\",\n  model_choice: { type: \"cascading\", model: \"gpt-4.1\", high_priority: false },\n  global_prompt: globalPrompt.replace(\"{{COMPANY_INFO_BLOCK}}\", companyInfoBlock),\n  tool_call_strict_mode: true,\n  knowledge_base_ids: [],\n  kb_config: { top_k: 3, filter_score: 0.6 },\n  flex_mode: false,\n  is_transfer_cf: false,\n  nodes: [\n    {\n      id: \"node-greeting\", name: \"greeting_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: greetingText },\n      edges: [{ id: \"edge-greeting-to-identify\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"All\" } }],\n      display_position: { x: 558, y: 462 }\n    },\n    {\n      id: \"node-identify-call\", name: \"identify_call_node\", type: \"conversation\", start_speaker: \"agent\",\n      instruction: { type: \"prompt\", text: \"Identify the reason for the call\" },\n      edges: [\n        { id: \"edge-to-leadcapture-service\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Repair/Service/Maintenance\" } },\n        { id: \"edge-to-leadcapture-quote\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Quote/Estimate/Price/Installation\" } },\n        { id: \"edge-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"Emergency\" } },\n        { id: \"edge-to-existing-customer\", destination_node_id: \"node-existing-customer\", transition_condition: { type: \"prompt\", prompt: \"Existing Customer\" } },\n        { id: \"edge-to-general-questions\", destination_node_id: \"node-general-questions\", transition_condition: { type: \"prompt\", prompt: \"General Questions\" } },\n        { id: \"edge-to-transfer-live\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Live Person/Owner/Specific Person\" } },\n        { id: \"edge-to-callback\", destination_node_id: \"node-callback\", transition_condition: { type: \"prompt\", prompt: \"Returning a missed call, got a call from this number, calling back\" } },\n        { id: \"edge-to-spam\", destination_node_id: \"node-spam-robocall\", transition_condition: { type: \"prompt\", prompt: \"Robocall, spam, automated message, silence after greeting\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-existing-customer\", destination_node_id: \"node-existing-customer\", transcript: [{ role: \"user\", content: \"calling about my appointment\\nchecking appointment time\\ntechnician arrival\\nwhere is the technician\\nfollowing up on a quote\\ncalling about my quote\\nchecking on my job\\ncalling about service appointment\\nquestion about invoice\\nquestion about billing\\npayment question\\ncalling back about earlier service\" }, { role: \"agent\", content: \"Sure\" }] },\n        { id: \"fe-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nheater not working\\nleaking unit\\nwater leaking\\nburning smell\\nloud noise\\nbroken system\\nurgent repair\\nemergency repair\" }, { role: \"agent\", content: \"Sounds like you have an emergency\" }] },\n        { id: \"fe-transfer-live\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"Let me speak to someone\\nI want to talk to a real person\\nCan I speak to a human\\nTransfer me\\nPut me through to someone\\nI don't want to talk to a bot\\nLet me speak to the owner\\nI want to talk to the manager\\nGet me your supervisor\\nIs the boss available\\nJust forget it\\nThis is useless\\nNever mind\" }] },\n        { id: \"fe-quote-install\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want a quote\\nI need an estimate\\nWhat's the price\\nHow much does it cost\\nHow much do you charge\\nI want to install\\nI need a new system\\nI want to replace my system\" }] },\n        { id: \"fe-service-repair\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"My system is not working\\nMy system is broken\\nMy system won't turn on\\nMy system keeps turning off\\nMy system is not cooling\\nMy system is not heating\\nMy system is blowing warm air\" }] },\n        { id: \"fe-callback\", destination_node_id: \"node-callback\", transcript: [{ role: \"user\", content: \"Yeah I just missed a call from this number\\nSomeone called me from here\\nI am calling back\\nI got a voicemail from you guys\" }] },\n        { id: \"fe-spam\", destination_node_id: \"node-spam-robocall\", transcript: [{ role: \"user\", content: \"Hello\\nHello\\nHello\" }, { role: \"agent\", content: \"Routing to spam handler\" }] }\n      ],\n      display_position: { x: 1110, y: 366 }\n    },\n    {\n      id: \"node-leadcapture\", name: \"nonemergency_leadcapture_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## CALL TYPE IDENTIFICATION\\n\\nAt the start of the call, listen carefully to identify whether the caller is:\\n\\nA. Requesting a SERVICE, REPAIR, or MAINTENANCE visit\\nB. Requesting a QUOTE, INSTALLATION, ESTIMATE, or PRICE\\n\\nBoth call types follow the same data capture flow below.\\n\\n\\n\\n## PRICING RESPONSES\\n\\nIf the caller asks \"how much?\" or \"what does it cost?\" during data capture:\\n${pricingInstructions}\\n\\nThen continue with data capture.\\n\\n\\n\\n## DATA CAPTURE FLOW\\n\\nCollect the following information for ALL call types:\\n\\n1. A short description of the issue, service, or installation needed\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. The caller's full name (first and last name).\n\n- If they only give a first name, say:\n  \"And your last name?\"\n- Always confirm the full name back, spelling it out if it sounds unusual.\n\n5. The service address. A full address is ideal but not required.\n\n- After the caller gives any address details, ALWAYS confirm back what you heard.\n- If they give a street address but no city or ZIP, ask:\n  \"And what city or suburb is that in?\"\n- If the address is unclear, say:\n  \"Could you spell out the street name for me just to make sure I have that right?\"\n- If the caller won't give a full address, say:\n  \"No problem at all, could I at least get the suburb, city, or ZIP code? That helps our team plan the visit.\"\n- A suburb, city, or ZIP code alone is acceptable if the caller won't give more.\"\"\\n\\n5. Any additional notes or details\\n\\n\\n\\n## EMERGENCY DETECTION\\n\\nAt all times during the call, listen for emergency signals:\\n- System completely stopped, significant leaking, burning smell\\n- No heat in freezing conditions, gas smell\\n\\nIF detected: IMMEDIATELY route to verify_emergency_node.\\n\\n\\n\\n## CONFIRMATION\\n\\nOnce all details are collected, confirm back to the caller.\\n\\n\\n\\n## CLOSING\\n\\n\"Okay, I have recorded all of that information and someone from\\nour team will be in touch with you soon.\"` },\n      edges: [\n        { id: \"edge-leadcapture-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"If Emergency, go to\" } },\n        { id: \"edge-leadcapture-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Confirm the details with the caller, then proceed\" } }\n      ],\n      finetune_transition_examples: [{ id: \"fe-leadcapture-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nburning smell\\nurgent repair\\nemergency repair\" }] }],\n      display_position: { x: 2190, y: 726 }\n    },\n    {\n      id: \"node-verify-emergency\", name: \"verify_emergency_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: \"Ask user if this is an emergency.\" },\n      edges: [\n        { id: \"edge-emergency-yes\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"If this is an emergency\" } },\n        { id: \"edge-emergency-no\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"If this is not an emergency\" } }\n      ],\n      display_position: { x: 2742, y: 1470 }\n    },\n    {\n      id: \"node-existing-customer\", name: \"existing_customer_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## EXISTING CUSTOMER ENQUIRY\\n\\nThe caller is an existing customer calling about a current or past job.\\n\\n## YOUR GOAL\\n\\nCollect details so the team at ${companyName} can follow up.\\n\\n## DATA CAPTURE\\n\\nAsk naturally, one question at a time:\\n1. A short description of their enquiry\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. If relevant: service address, date of job, technician name, job/invoice number\\n\\n## CLOSING\\n\\nConfirm back: \"Just to confirm, I have your name as [name], best phone number as [phone], and your enquiry is regarding [description]. Is that all correct?\"\\n\\nThen: \"Perfect, I have passed all of that through to the team at ${companyName} and someone will be in touch shortly.\"` },\n      edges: [\n        { id: \"edge-existing-resolved\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Resolved\" } },\n        { id: \"edge-existing-unresolved\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Not Resolved\\n\" } }\n      ],\n      display_position: { x: 2742, y: 6 }\n    },\n    {\n      id: \"node-general-questions\", name: \"general_questions_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## GENERAL FAQ HANDLING\\n\\nUse the company information to answer general questions.\\n\\n### PRICING QUESTIONS\\n${pricingInstructions}\\n\\n### PAYMENT QUESTIONS\\n${paymentMethods ? `We accept: ${paymentMethods}.` : 'Our team can go over payment options at the appointment.'}\\n${financingAvailable === 'Yes' ? (financingDetails ? `Financing: ${financingDetails}` : 'We offer financing options.') : ''}\\n\\n### If the Question Cannot Be Answered\\n\"That's a great question, I want to make sure you get the right answer. Can I grab your name and number so someone from our team can follow up?\"\\nProceed to lead capture.` },\n      edges: [\n        { id: \"edge-general-answered\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Question Answered Correctly\" } },\n        { id: \"edge-general-further-help\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Further Assistance/Help\" } },\n        { id: \"edge-general-lead\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Lead Generated\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-general-further-help\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"I need more help\\nThis doesn't answer my question\\nCan someone call me back about this\\nI need a specialist\\nI want to speak to someone who can help\" }] },\n        { id: \"fe-general-lead\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want to book\\nCan someone come out\\nI want to get a quote\\nHow much would it cost\\nI think I need a repair\\nWhen can someone come out\\nYes let's do that\" }] }\n      ],\n      display_position: { x: 1662, y: 2190 }\n    },\n    {\n      id: \"node-callback\", name: \"callback_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `The caller is returning a missed call.\\n\\nSay: \"Thanks for calling back! We may have been trying to reach you about a service enquiry.\"\\n\\nAsk: \"Do you know what it was regarding?\" Let them explain if they know.\\n\\nCollect:\\n1. Full name, first and last\\n2. Confirm their number: \"Is the best number to reach you still [from_number]?\"\\n\\nClose: \"Perfect, I have let the team know you called and someone will be in touch shortly.\"` },\n      edges: [{ id: \"edge-callback-end\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Details captured, close\" } }],\n      display_position: { x: 1662, y: 3000 }\n    },\n    {\n      id: \"node-spam-robocall\", name: \"spam_robocall_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Say: \\\"Thank you for calling, have a great day.\\\" Then end the call.\" },\n      edges: [{ id: \"edge-spam-end\", destination_node_id: \"node-end-call\", transition_condition: { type: \"prompt\", prompt: \"Always\" } }],\n      display_position: { x: 1662, y: 3300 }\n    },\n    {\n      id: \"node-transfer-call\", name: \"Transfer Call\", type: \"transfer_call\",\n      instruction: { type: \"prompt\", text: \"Transferring your call now.\" },\n      transfer_destination: { type: \"predefined\", number: transferNumber },\n      transfer_option: { type: \"cold_transfer\", cold_transfer_mode: \"sip_invite\", enable_bridge_audio_cue: true, agent_detection_timeout_ms: 30000, show_transferee_as_caller: false },\n      edge: { id: \"edge-transfer-failed\", destination_node_id: \"node-transfer-failed\", transition_condition: { type: \"prompt\", prompt: \"Transfer failed\" } },\n      display_position: { x: 3294, y: 2238 }\n    },\n    {\n      id: \"node-transfer-failed\", name: \"transfer_failed_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Say:\\n\\\"I'm sorry, it looks like that call didn't go through. All of our agents must be on the phone at the moment, let me take down your Full name and Phone number so I can have someone get back to you right away\\\"\" },\n      edges: [{ id: \"edge-transfer-failed-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Proceed to End\" } }],\n      display_position: { x: 3846, y: 2166 }\n    },\n    {\n      id: \"node-ending\", name: \"Ending\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Is there anything else I can help you with today?\" },\n      edges: [\n        { id: \"edge-ending-to-end\", destination_node_id: \"node-end-call\", transition_condition: { type: \"prompt\", prompt: \"If not, say:\\n\\\"Hope you have a great day, take care!\\\"\" } },\n        { id: \"edge-ending-to-restart\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"If yes, return to \" } }\n      ],\n      display_position: { x: 4398, y: 2190 }\n    },\n    {\n      id: \"node-end-call\", name: \"End Call\", type: \"end\",\n      instruction: { type: \"prompt\", text: \"Politely end the call\" },\n      display_position: { x: 4950, y: 2238 }\n    }\n  ],\n  starting_node_id: \"node-greeting\"\n};\n\n// ============================================================\n// AGENT CONFIGURATION\n// ============================================================\nconst agentConfig = {\n  agent_name: `${companyName} - HVAC Standard`,\n  voice_id: voiceId,\n  language: \"multi\",\n  webhook_url: \"https://syntharra.app.n8n.cloud/webhook/retell-hvac-webhook\",\n  ambient_sound: \"call-center\",\n  ambient_sound_volume: 0.8,\n  responsiveness: 0.9,\n  enable_dynamic_responsiveness: true,\n  interruption_sensitivity: 0.9,\n  voice_temperature: 1,\n  voice_speed: 1,\n  enable_dynamic_voice_speed: true,\n  volume: 1,\n  max_call_duration_ms: 600000,\n  allow_user_dtmf: true,\n  opt_in_signed_url: false,\n  post_call_analysis_data: [\n    { type: \"system-presets\", name: \"call_summary\", description: \"Write a 1-3 sentence summary of the call.\" },\n    { type: \"system-presets\", name: \"call_successful\", description: \"Evaluate whether the agent had a successful call.\" },\n    { type: \"system-presets\", name: \"user_sentiment\", description: \"Evaluate user's sentiment, mood and satisfaction level.\" }\n  ]\n};\n\n// ============================================================\n// EXTRACTED DATA FOR DOWNSTREAM NODES\n// ============================================================\nconst extractedData = {\n  company_name: companyName, company_phone: companyPhone, website: companyWebsite,\n  years_in_business: yearsInBusiness, agent_name: `${companyName} - HVAC Standard`, voice_gender: voiceGender,\n  voice_id: voiceId, services_offered: servicesOffered, brands_serviced: brandsServiced,\n  service_area: serviceArea, service_area_radius: serviceAreaRadius, business_hours: businessHours,\n  response_time: responseTime, emergency_service: emergency247, emergency_phone: emergencyPhone,\n  after_hours_behavior: afterHoursBehavior, free_estimates: freeEstimates, diagnostic_fee: diagnosticFee,\n  pricing_policy: pricingPolicy, standard_fees: standardFees, financing_available: financingAvailable,\n  financing_details: financingDetails, warranty: warranty, warranty_details: warrantyDetails,\n  licensed_insured: licensedInsured, certifications: certifications, payment_methods: paymentMethods,\n  maintenance_plans: maintenancePlans, lead_contact_method: leadContactMethod, lead_phone: leadPhone,\n  lead_email: leadEmail, notification_email_2: data.notification_email_2 || '', notification_email_3: data.notification_email_3 || '', notification_sms_2: data.notification_sms_2 || '', notification_sms_3: data.notification_sms_3 || '', custom_greeting: customGreeting, company_tagline: companyTagline,\n  transfer_phone: transferPhone || leadPhone, transfer_triggers: transferTriggers,\n  transfer_behavior: transferBehavior, unique_selling_points: uniqueSellingPts,\n  current_promotion: currentPromotion, seasonal_services: seasonalServices,\n  additional_info: additionalNotes, owner_name: ownerName, google_review_rating: googleReviewRating,\n  google_review_count: googleReviewCount, do_not_service: doNotService,\n  membership_program: membershipProgram, client_email: data.client_email || '',\n  timezone: data.timezone || 'America/Chicago', industry_type: industryType\n};\n\nreturn {\n  conversationFlow: conversationFlow,\n  agentConfig: agentConfig,\n  agentName: agentConfig.agent_name,\n  companyName: companyName,\n  voiceId: voiceId,\n  companyInfoBlock: companyInfoBlock,\n  extractedData: extractedData,\n  transferNumber: transferNumber,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "aabcb82a-e4ba-472e-81bd-2e99ebef9333",
      "name": "Build Retell Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-conversation-flow",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{  $json.conversationFlow  }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
            }
          ]
        },
        "sendHeaders": true
      },
      "id": "566fef8f-652c-4a06-9546-15584d24a2d9",
      "name": "Create Retell LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        512
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-agent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ...($('Build Retell Prompt').item.json.agentConfig), \"response_engine\": { \"type\": \"conversation-flow\", \"conversation_flow_id\": $json.conversation_flow_id } } }}",
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
            }
          ]
        },
        "sendHeaders": true
      },
      "id": "98a019e8-0a35-49bb-88d7-a739fcea3491",
      "name": "Create Retell Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        416
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge conversation flow + agent responses with extracted data\nconst agentResponse = $input.first().json;\nconst convFlowResponse = $('Create Retell LLM').item.json;\nconst buildData = $('Build Retell Prompt').item.json;\nconst ed = buildData.extractedData || {};\n\nreturn {\n  // System fields\n  timestamp: new Date().toISOString(),\n  conversation_flow_id: convFlowResponse.conversation_flow_id,\n  agent_id: agentResponse.agent_id,\n  voice_id: buildData.voiceId,\n  agent_language: 'en-US',\n\n  // Company basics\n  company_name: ed.company_name || buildData.companyName || '',\n  owner_name: ed.owner_name || '',\n  company_phone: ed.company_phone || '',\n  website: ed.website || '',\n  years_in_business: ed.years_in_business || '',\n  agent_name: buildData.agentName || ed.agent_name,\n  timezone: ed.timezone || 'America/Chicago',\n  client_email: ed.client_email || '',\n  industry_type: ed.industry_type || 'HVAC',\n\n  // AI Agent Setup\n  voice_gender: ed.voice_gender || 'female',\n  custom_greeting: ed.custom_greeting || '',\n  company_tagline: ed.company_tagline || '',\n\n  // Services & Coverage\n  services_offered: ed.services_offered || '',\n  brands_serviced: ed.brands_serviced || '',\n  service_area: ed.service_area || '',\n  service_area_radius: ed.service_area_radius || '',\n  certifications: ed.certifications || '',\n  licensed_insured: ed.licensed_insured || 'Yes',\n\n  // Hours & Availability\n  business_hours: ed.business_hours || '',\n  response_time: ed.response_time || '',\n  emergency_service: ed.emergency_service || 'No',\n  emergency_phone: ed.emergency_phone || '',\n  after_hours_behavior: ed.after_hours_behavior || '',\n\n  // Pricing & Policies\n  pricing_policy: ed.pricing_policy || 'We provide free quotes on-site',\n  diagnostic_fee: ed.diagnostic_fee || '',\n  standard_fees: ed.standard_fees || '',\n  free_estimates: ed.free_estimates || 'Yes - always free',\n  financing_available: ed.financing_available || 'No',\n  financing_details: ed.financing_details || '',\n  warranty: ed.warranty || 'Yes',\n  warranty_details: ed.warranty_details || '',\n  payment_methods: ed.payment_methods || '',\n  maintenance_plans: ed.maintenance_plans || 'No',\n  membership_program: ed.membership_program || '',\n\n  // Lead Handling\n  lead_contact_method: ed.lead_contact_method || 'Both',\n  lead_phone: ed.lead_phone || '',\n  lead_email: ed.lead_email || '',\n  notification_email_2: ed.notification_email_2 || '',\n  notification_email_3: ed.notification_email_3 || '',\n  notification_sms_2: ed.notification_sms_2 || '',\n  notification_sms_3: ed.notification_sms_3 || '',\n  booking_system: ed.booking_system || '',\n\n  // Escalation & Transfer\n  transfer_phone: ed.transfer_phone || '',\n  transfer_triggers: ed.transfer_triggers || '',\n  transfer_behavior: ed.transfer_behavior || 'Try once - take message if no answer',\n\n  // Promotions & Extras\n  unique_selling_points: ed.unique_selling_points || '',\n  current_promotion: ed.current_promotion || '',\n  seasonal_services: ed.seasonal_services || '',\n  google_review_rating: ed.google_review_rating || '',\n  google_review_count: ed.google_review_count || '',\n  do_not_service: ed.do_not_service || '',\n  additional_info: ed.additional_info || ''\n};"
      },
      "id": "ee866b04-7c4d-4f6f-8923-36c0a4e9b233",
      "name": "Merge LLM & Agent Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (({ agent_phone_number, error, ...rest }) => rest)($json) }}",
        "options": {}
      },
      "id": "f9f8c7ae-bc6a-465d-8dd0-b078ccb4244b",
      "name": "Write Client Data to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -96,
        224
      ],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dSCVell30U6Yt1qA",
          "name": "Supabase Anon Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Onboarding summary email to Dan via SMTP2GO\nconst data = $('Merge LLM & Agent Data').first().json;\nconst companyName = data.company_name || '';\nconst agentId = data.agent_id || '';\nconst llmId = data.llm_id || '';\nconst clientEmail = data.lead_email || '';\n\nconst subject = `New Client Onboarded \u2014 ${companyName}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">New Standard Client Onboarded</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Company</td><td style=\"padding:8px;border:1px solid #eee\">${companyName}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Agent ID</td><td style=\"padding:8px;border:1px solid #eee\">${agentId}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">LLM ID</td><td style=\"padding:8px;border:1px solid #eee\">${llmId}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Client Email</td><td style=\"padding:8px;border:1px solid #eee\">${clientEmail}</td></tr>\n</table></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: ['daniel@syntharra.com'], subject, html_body: html },\n    json: true\n  });\n  console.log('[INTERNAL] Sent onboarding summary');\n  return { ...data, _email_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Failed:', e.message);\n  return { ...data, _email_sent: false };\n}"
      },
      "id": "d1bc2e47-4cb3-4733-9c2f-c2f0ef32e880",
      "name": "Email Summary to Dan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        416
      ],
      "webhookId": "b5a5171f-adce-4a5b-b628-4c007d10da63",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "llm-check",
              "leftValue": "={{ $json.conversation_flow_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "336f8d40-e4ea-4ee9-91ea-98b610e47727",
      "name": "IF LLM Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "agent-check",
              "leftValue": "={{ $json.agent_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d9be7dd-2380-48af-9407-febbe34165c5",
      "name": "IF Agent Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        608
      ]
    },
    {
      "parameters": {},
      "id": "47ef09f5-e79a-46b3-9fab-59db4ed899e7",
      "name": "Log LLM Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -96,
        800
      ]
    },
    {
      "parameters": {},
      "id": "f22bbc13-867f-4f66-a10d-089f2c0edd07",
      "name": "Log Agent Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -96,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error notification via SMTP2GO\nconst data = $input.first().json;\nconst subject = '\u26a0\ufe0f Syntharra Onboarding Error';\nconst html = `<div style=\"font-family:Arial,sans-serif\"><h3 style=\"color:#EF4444\">Onboarding Error</h3><p>An error occurred during client onboarding. Check n8n executions for details.</p><pre style=\"background:#f3f4f6;padding:16px;border-radius:8px;overflow:auto\">${JSON.stringify(data, null, 2).substring(0, 2000)}</pre></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: ['daniel@syntharra.com'], subject, html_body: html },\n    json: true\n  });\n  return { ...data, _error_email_sent: true };\n} catch (e) {\n  console.log('[ERROR EMAIL] Failed:', e.message);\n  return { ...data, _error_email_sent: false };\n}"
      },
      "id": "184fcdeb-5f51-4b68-8670-78cb7552456b",
      "name": "Error Notification Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        704
      ],
      "webhookId": "b08bc490-3830-452d-896c-07f7c1f56521"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "919ba1c8-cfbb-495b-b40a-969d86a1c812",
      "name": "Twilio: Search Available Numbers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        128,
        224
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "76b47a5f-e9e8-44c2-8f46-a7b2daf94ce3",
      "name": "Twilio: Purchase Phone Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        352,
        224
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
            }
          ]
        },
        "sendHeaders": true
      },
      "id": "ea56c09f-0017-411a-a5da-d1eda143790b",
      "name": "Retell: Assign Phone Number to Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        224
      ],
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst companyName = input.company_name || 'your company';\nconst agentName   = input.agent_name   || 'your AI receptionist';\nconst leadEmail   = input.lead_email   || '';\nconst phone       = input.agent_phone_number || '';\n\nconst ICON_URL = 'https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png';\nconst LOGO = `<table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr><td style=\"vertical-align:middle;padding-right:10px\"><img src=\"https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png\" alt=\"\" width=\"36\" height=\"36\" style=\"display:block;border:0\"></td><td style=\"vertical-align:middle;text-align:left\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"text-align:left;padding:0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:16px;font-weight:700;letter-spacing:-0.3px;color:#0f0f1a;line-height:1;text-align:left\">Syntharra</div></td></tr><tr><td style=\"text-align:left;padding:3px 0 0 0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:7.5px;font-weight:600;letter-spacing:1.2px;color:#6C63FF;text-transform:uppercase;line-height:1;text-align:left\">Global AI Solutions</div></td></tr></table></td></tr></table>`;\nconst LOGO_ROW = `<tr><td style=\"padding:0 0 24px;text-align:center\"><table cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 auto\"><tr><td style=\"vertical-align:middle;padding-right:10px\"><img src=\"https://raw.githubusercontent.com/Syntharra/syntharra-website/main/logo-icon-2x.png\" alt=\"\" width=\"36\" height=\"36\" style=\"display:block;border:0\"></td><td style=\"vertical-align:middle;text-align:left\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"text-align:left;padding:0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:16px;font-weight:700;letter-spacing:-0.3px;color:#0f0f1a;line-height:1;text-align:left\">Syntharra</div></td></tr><tr><td style=\"text-align:left;padding:3px 0 0 0\"><div style=\"font-family:Inter,-apple-system,sans-serif;font-size:7.5px;font-weight:600;letter-spacing:1.2px;color:#6C63FF;text-transform:uppercase;line-height:1;text-align:left\">Global AI Solutions</div></td></tr></table></td></tr></table></td></tr>`;\nconst FOOTER_ROWS = `<tr><td style=\"padding:20px;text-align:center\"><a href=\"https://www.syntharra.com\" style=\"color:#6C63FF;font-size:13px;font-weight:600;text-decoration:none\">syntharra.com</a></td></tr>\n<tr><td style=\"text-align:center;padding:0 0 16px\"><p style=\"color:#9CA3AF;font-size:11px;margin:0\">Syntharra AI Solutions \u2014 AI Receptionists for the Trade Industry</p></td></tr>`;\n\nfunction qr(data, size) { return 'https://api.qrserver.com/v1/create-qr-code/?size=' + (size||144) + 'x' + (size||144) + '&data=' + encodeURIComponent(data); }\n\n// \u2500\u2500 NO-PHONE PATH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (!phone) {\n  const html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"color-scheme\" content=\"light only\"></head>\n<body style=\"margin:0;padding:0;background-color:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:580px\">\n${LOGO_ROW}\n  <tr><td bgcolor=\"#f59e0b\" style=\"background-color:#f59e0b;height:4px;border-radius:8px 8px 0 0;font-size:4px;line-height:4px\">&nbsp;</td></tr>\n  <tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;border-radius:0 0 12px 12px;padding:36px 40px 32px\">\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:22px\">\n      <tr>\n        <td>\n          <p style=\"margin:0 0 6px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#d97706;font-family:Helvetica,Arial,sans-serif\">Action Required</p>\n          <h1 style=\"margin:0 0 6px;font-size:24px;font-weight:700;color:#111827;line-height:1.2;font-family:Helvetica,Arial,sans-serif\">One more step to go live</h1>\n          <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is set up and ready \u2014 we just need to connect your dedicated phone number to complete the activation.</p>\n        </td>\n        <td align=\"right\" valign=\"top\" style=\"padding-left:16px;font-size:32px;line-height:1\">\ud83d\udcde</td>\n      </tr>\n    </table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:20px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fffbeb;border:1px solid #fde68a;border-radius:10px;margin-bottom:22px\">\n      <tr><td style=\"padding:16px 18px\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td style=\"font-size:20px;vertical-align:top;width:28px;padding-right:12px\">\u26a0\ufe0f</td>\n          <td style=\"font-size:13px;color:#92400e;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is fully built and configured, but we weren't able to automatically assign your dedicated phone number. This is a quick fix \u2014 follow the steps below and you'll be live within minutes.</td>\n        </tr></table>\n      </td></tr>\n    </table>\n\n    <p style=\"margin:0 0 14px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">What to do next</p>\n\n    ${[\n      ['Reply to this email with <strong style=\"color:#111827\">\"I\\'m ready\"</strong> and our team will assign your number manually within 1 business hour.'],\n      ['Alternatively, email us directly at <strong style=\"color:#111827\">support@syntharra.com</strong> and we\\'ll sort it straight away.'],\n      ['Once confirmed, we\\'ll resend your full setup guide with your dedicated number and call forwarding instructions.']\n    ].map(([t],i) => `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:12px\"><tr><td style=\"width:24px;height:24px;border-radius:12px;background-color:#f3f0ff;text-align:center;vertical-align:middle;font-size:11px;font-weight:700;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">${i+1}</td><td style=\"padding-left:12px;font-size:13px;color:#374151;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${t}</td></tr></table>`).join('')}\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0\"><tr><td align=\"center\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:8px;padding:13px 32px\">\n          <a href=\"mailto:support@syntharra.com?subject=Ready%20for%20phone%20number%20activation%20-%20${encodeURIComponent(companyName)}\" style=\"font-size:14px;font-weight:600;color:#ffffff;text-decoration:none;font-family:Helvetica,Arial,sans-serif\">Reply \u2014 I'm Ready to Go Live</a>\n        </td>\n      </tr></table>\n    </td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:20px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      <tr>\n        <td width=\"3\" bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:2px;vertical-align:top\">&nbsp;</td>\n        <td style=\"padding-left:14px;font-size:13px;color:#6b7280;line-height:1.7;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is fully configured and ready to answer calls the moment your number is connected. Everything else \u2014 your voice, your greeting, and your lead notifications \u2014 is already live and waiting.</td>\n      </tr>\n    </table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\"><tr><td style=\"text-align:center\">\n      <p style=\"margin:0 0 4px;font-size:11px;font-weight:800;letter-spacing:3px;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">SYNTHARRA</p>\n      <p style=\"margin:0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">syntharra.com &nbsp;\u00b7&nbsp; support@syntharra.com</p>\n    </td></tr></table>\n\n  </td></tr>\n</table>\n</td></tr></table>\n</body></html>`;\n  return [{ json: { ...input, emailHtml: html, skipEmail: false, lead_email: leadEmail, company_name: companyName } }];\n}\n\n// \u2500\u2500 FULL WELCOME EMAIL PATH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst digits = phone.replace(/\\D/g,'');\nconst d = digits.slice(-10);\nconst displayNum = '+1 (' + d.slice(0,3) + ') ' + d.slice(3,6) + '-' + d.slice(6);\nconst qrIphone  = qr('App-Prefs:root=Phone&path=CALL_FORWARDING');\nconst qrAndroid = qr('tel:**21*' + digits + '#');\n\nconst DIV = `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>`;\n\nfunction sectionHeader(icon, title, sub) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:14px\"><tr>\n    <td style=\"width:34px;height:34px;border-radius:8px;background-color:#f3f0ff;text-align:center;vertical-align:middle;font-size:16px;line-height:34px\">${icon}</td>\n    <td style=\"padding-left:12px\"><p style=\"margin:0;font-size:15px;font-weight:700;color:#111827;font-family:Helvetica,Arial,sans-serif\">${title}</p><p style=\"margin:2px 0 0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${sub}</p></td>\n  </tr></table>`;\n}\n\nfunction steps(arr) {\n  return arr.map((s,i) => `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:10px\"><tr>\n    <td style=\"width:22px;height:22px;border-radius:11px;background-color:#6C63FF;text-align:center;vertical-align:middle;font-size:11px;font-weight:700;color:#ffffff;font-family:Helvetica,Arial,sans-serif\">${i+1}</td>\n    <td style=\"padding-left:12px;font-size:13px;color:#374151;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${s}</td>\n  </tr></table>`).join('');\n}\n\nfunction qrRow(src, label, sub) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:12px\">\n    <tr><td bgcolor=\"#f9f8ff\" style=\"background-color:#f9f8ff;border-radius:8px;padding:14px 16px\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td><img src=\"${src}\" width=\"72\" height=\"72\" style=\"border-radius:6px;border:1px solid #e5e1ff;display:block\" alt=\"QR Code\"></td>\n        <td style=\"padding-left:14px\"><p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">${label}</p><p style=\"margin:0;font-size:11px;color:#9ca3af;line-height:1.5;font-family:Helvetica,Arial,sans-serif\">${sub}</p></td>\n      </tr></table>\n    </td></tr>\n  </table>`;\n}\n\nfunction codeBox(label, val, qrSrc) {\n  return `<td style=\"width:50%;padding:4px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f7f5ff\" style=\"background-color:#f7f5ff;border-radius:8px\"><tr><td style=\"padding:10px 8px;text-align:center\">\n    <p style=\"margin:0 0 5px;font-size:9px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${label}</p>\n    <p style=\"margin:0 0 7px;font-size:12px;font-weight:700;color:#6C63FF;font-family:monospace\">${val}</p>\n    <img src=\"${qrSrc}\" width=\"56\" height=\"56\" style=\"border-radius:4px;border:1px solid #e5e1ff\" alt=\"QR\">\n  </td></tr></table></td>`;\n}\n\nfunction carrierCard(name, sub, codes) {\n  let rows = '';\n  for (let i = 0; i < codes.length; i += 2) {\n    rows += `<tr>${codeBox(codes[i][0], codes[i][1], qr(codes[i][2], 80))}${codes[i+1] ? codeBox(codes[i+1][0], codes[i+1][1], qr(codes[i+1][2], 80)) : '<td></td>'}</tr>`;\n  }\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #f3f0ff;border-radius:10px;margin-bottom:10px\">\n    <tr><td style=\"padding:16px 16px 12px\">\n      <p style=\"margin:0 0 3px;font-size:13px;font-weight:600;color:#111827;font-family:Helvetica,Arial,sans-serif\">${name}</p>\n      <p style=\"margin:0 0 12px;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${sub}</p>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:-4px\">${rows}</table>\n    </td></tr>\n  </table>`;\n}\n\nfunction voipCard(icon, title, body) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #f3f0ff;border-radius:10px;margin-bottom:10px\">\n    <tr><td style=\"padding:14px 16px\">\n      <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#111827;font-family:Helvetica,Arial,sans-serif\">${icon} ${title}</p>\n      <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${body}</p>\n    </td></tr>\n  </table>`;\n}\n\nconst qrTableRows = [\n  ['I have an iPhone',               'Use the Settings App method above'],\n  ['I have an Android',              'Use Phone Settings or scan the Android QR'],\n  ['I\\'m on AT&T or T-Mobile',       'Dial <strong style=\"color:#fff\">**21*' + digits + '#</strong>'],\n  ['I\\'m on Verizon',                'Dial <strong style=\"color:#fff\">*72' + digits + '</strong>'],\n  ['I use VoIP (RingCentral etc.)',   'Log in to your portal \u2192 Settings \u2192 Call Forwarding'],\n  ['I have a landline',              'Dial <strong style=\"color:#fff\">*72 then your AI number</strong> from the handset'],\n  ['Forward when unanswered only',   'Use the \"When Unanswered\" code for your carrier above'],\n].map(([s,a],i,arr) => {\n  const border = i < arr.length-1 ? 'border-bottom:1px solid rgba(255,255,255,0.12);' : '';\n  return `<tr><td style=\"padding:9px 6px;font-size:12px;color:#c4c0ff;font-weight:600;width:44%;font-family:Helvetica,Arial,sans-serif;${border}\">${s}</td><td style=\"padding:9px 6px;font-size:12px;color:#ffffff;font-family:Helvetica,Arial,sans-serif;${border}\">${a}</td></tr>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"color-scheme\" content=\"light only\"></head>\n<body style=\"margin:0;padding:0;background-color:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:540px\">\n\n<tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;height:4px;border-radius:8px 8px 0 0;font-size:4px;line-height:4px\">&nbsp;</td></tr>\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:36px 40px 28px\">\n  <p style=\"margin:0 0 6px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">Syntharra AI Receptionist</p>\n  <h1 style=\"margin:0 0 6px;font-size:24px;font-weight:700;color:#111827;line-height:1.2;font-family:Helvetica,Arial,sans-serif\">You're all set, ${companyName} \ud83c\udf89</h1>\n  <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is live and answering calls 24/7. Follow the steps below to forward your business number \u2014 pick whichever method suits your setup.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\">\n    <tr><td bgcolor=\"#f7f5ff\" style=\"background-color:#f7f5ff;border-radius:12px;padding:22px;text-align:center\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 auto\">\n        <tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:10px;padding:12px 28px;text-align:center\">\n          <p style=\"margin:0 0 4px;font-size:9px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#c4c0ff;font-family:Helvetica,Arial,sans-serif\">Your AI Receptionist Number</p>\n          <p style=\"margin:0;font-size:22px;font-weight:800;color:#ffffff;letter-spacing:1px;font-family:Helvetica,Arial,sans-serif\">${displayNum}</p>\n        </td></tr>\n      </table>\n      <p style=\"margin:12px 0 0;font-size:12px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">Forward your existing business number to this number using any of the methods below.</p>\n    </td></tr>\n  </table>\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83d\udcf1','iPhone \u2014 Settings App','Works on all iPhones running iOS 13 and above')}\n  ${steps([\n    'Open <strong style=\"color:#111827\">Settings \u2192 Phone \u2192 Call Forwarding</strong>',\n    'Toggle <strong style=\"color:#111827\">Call Forwarding</strong> on',\n    'Enter your number: <strong style=\"color:#111827\">' + displayNum + '</strong>',\n    'To stop forwarding, return here and toggle it <strong style=\"color:#111827\">off</strong>'\n  ])}\n  ${qrRow(qrIphone, 'Scan to open Call Forwarding settings', 'Scan with your iPhone camera \u2014 takes you directly to the Call Forwarding screen. No searching through menus.')}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83e\udd16','Android \u2014 Phone Settings','Samsung, Google Pixel, OnePlus and all Android devices')}\n  ${steps([\n    'Open the <strong style=\"color:#111827\">Phone app</strong> \u2192 tap <strong style=\"color:#111827\">\u22ee \u2192 Settings \u2192 Calls</strong>',\n    'Tap <strong style=\"color:#111827\">Call Forwarding \u2192 Always Forward</strong>',\n    'Enter <strong style=\"color:#111827\">' + displayNum + '</strong> and confirm',\n    '<em style=\"color:#9ca3af;font-size:12px\">Samsung: Phone \u2192 \u22ee \u2192 Settings \u2192 Supplementary services \u2192 Call forwarding</em>'\n  ])}\n  ${qrRow(qrAndroid, 'Scan to activate forwarding instantly', 'Dials the GSM forwarding code automatically. Works on AT&T, T-Mobile and most carriers.')}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83d\udce1','Carrier Dial Codes','Dial directly from any phone \u2014 no menus needed. Scan any QR to dial instantly.')}\n  ${carrierCard(\n    'AT&amp;T &nbsp;\u00b7&nbsp; T-Mobile &nbsp;\u00b7&nbsp; Cricket &nbsp;\u00b7&nbsp; Mint Mobile &nbsp;\u00b7&nbsp; Google Fi &nbsp;\u00b7&nbsp; Metro &nbsp;\u00b7&nbsp; Consumer Cellular',\n    'GSM Carriers \u2014 all use the same forwarding codes',\n    [\n      ['Forward All Calls',       '**21*'+digits+'#', 'tel:**21*'+digits+'#'],\n      ['Forward When Unanswered', '**61*'+digits+'#', 'tel:**61*'+digits+'#'],\n      ['Cancel All Forwarding',   '##21#',             'tel:##21#'],\n      ['Cancel Unanswered',       '##61#',             'tel:##61#'],\n    ]\n  )}\n  ${carrierCard(\n    'Verizon &nbsp;\u00b7&nbsp; Visible &nbsp;\u00b7&nbsp; Xfinity Mobile &nbsp;\u00b7&nbsp; Spectrum Mobile &nbsp;\u00b7&nbsp; US Cellular',\n    'Verizon Network Carriers \u2014 all use the same forwarding codes',\n    [\n      ['Forward All Calls',       '*72'+digits, 'tel:*72'+digits],\n      ['Forward When Unanswered', '*71'+digits, 'tel:*71'+digits],\n      ['Cancel All Forwarding',   '*73',         'tel:*73'],\n    ]\n  )}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83c\udfe2','Business Lines, Landlines &amp; VoIP','Office phones, PBX systems and internet-based services')}\n  ${voipCard('\ud83c\udf10','VoIP \u2014 RingCentral, Grasshopper, Google Voice, Dialpad, 8x8', `Log in to your provider's web portal or app. Go to <strong>Settings \u2192 Calls \u2192 Call Forwarding</strong> and enter <strong>${displayNum}</strong>. Most providers also allow this from their mobile app under Settings \u2192 Calls.`)}\n  ${voipCard('\u260e\ufe0f','Traditional Landline', `Dial <strong>*72 followed by ${digits}</strong> from your handset and press Call. You'll hear a confirmation tone when active. To cancel, dial <strong>*73</strong>.`)}\n  ${voipCard('\ud83d\udda5\ufe0f','PBX / Enterprise System', `Contact your IT administrator to set call forwarding to <strong>${displayNum}</strong>. Most PBX systems support forwarding through the admin console \u2014 options include forwarding all calls, on no answer, or time-based routing.`)}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\u26a1','Quick Reference','Not sure which method to use? Find your situation below.')}\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    <tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:10px;padding:18px\">\n      <p style=\"margin:0 0 12px;font-size:10px;font-weight:700;color:#c4c0ff;letter-spacing:2px;text-transform:uppercase;font-family:Helvetica,Arial,sans-serif\">Which method should I use?</p>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">${qrTableRows}</table>\n    </td></tr>\n  </table>\n</td></tr>\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:22px 40px 28px\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\">\n    <tr>\n      <td width=\"3\" bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:2px;vertical-align:top\">&nbsp;</td>\n      <td style=\"padding-left:14px;font-size:13px;color:#6b7280;line-height:1.7;font-family:Helvetica,Arial,sans-serif\">Need help? Reply to this email or reach us at <strong style=\"color:#111827\">support@syntharra.com</strong> \u2014 we'll get your forwarding set up in minutes.</td>\n    </tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\"><tr><td style=\"text-align:center\">\n    <p style=\"margin:0 0 4px;font-size:11px;font-weight:800;letter-spacing:3px;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">SYNTHARRA</p>\n    <p style=\"margin:0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">syntharra.com &nbsp;\u00b7&nbsp; support@syntharra.com</p>\n  </td></tr></table>\n</td></tr>\n\n</table></td></tr></table>\n</body></html>`;\n\nreturn [{ json: { ...input, emailHtml: html, skipEmail: false, lead_email: leadEmail, company_name: companyName, agent_name: agentName } }];\n"
      },
      "id": "e64b840f-a8e1-4835-94d4-6bbde0dcc0be",
      "name": "Build Welcome Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// Send welcome/setup email to client via SMTP2GO\nconst htmlData = $('Build Welcome Email HTML').first().json;\nconst mergeData = $('Merge LLM & Agent Data').first().json;\nconst clientEmail = mergeData.lead_email || '';\nconst emailHtml = htmlData.email_html || htmlData.html || '';\n\nif (!clientEmail || !emailHtml) {\n  console.log('[SETUP] No email or HTML \u2014 skipping');\n  return { ...mergeData, _setup_email_sent: false };\n}\n\nconst subject = 'Welcome to Syntharra \u2014 Your AI Receptionist is Live!';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: [clientEmail], subject, html_body: emailHtml },\n    json: true\n  });\n  console.log('[SETUP] Sent to ' + clientEmail);\n  return { ...mergeData, _setup_email_sent: true };\n} catch (e) {\n  console.log('[SETUP] Failed:', e.message);\n  return { ...mergeData, _setup_email_sent: false };\n}"
      },
      "id": "fd741cbb-10af-477a-ae4b-4acca17fe697",
      "name": "Send Setup Instructions Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ],
      "webhookId": "d95d1778-0a14-49ca-9293-3b7af533e915",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/stripe_payment_data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_email",
              "value": "=eq.{{  $('Merge LLM & Agent Data').first().json.client_email }} }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "={{  $('Merge LLM & Agent Data').first().json.agent_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        80
      ],
      "id": "a871e97f-9612-4e5f-815d-1edba01f5771",
      "name": "Link Agent ID to Stripe Payment Data"
    },
    {
      "id": "stripe-gate-if-node",
      "name": "Stripe Gate: Skip Phone if Test",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        124,
        24
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stripe-check",
              "leftValue": "={{ $json.stripe_customer_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "JotForm Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse JotForm Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JotForm Data": {
      "main": [
        [
          {
            "node": "Build Retell Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retell Prompt": {
      "main": [
        [
          {
            "node": "Create Retell LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell LLM": {
      "main": [
        [
          {
            "node": "Create Retell Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Retell Agent": {
      "main": [
        [
          {
            "node": "Merge LLM & Agent Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge LLM & Agent Data": {
      "main": [
        [
          {
            "node": "Write Client Data to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Summary to Dan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Client Data to Supabase": {
      "main": [
        [
          {
            "node": "Link Agent ID to Stripe Payment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stripe Gate: Skip Phone if Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Search Available Numbers": {
      "main": [
        [
          {
            "node": "Twilio: Purchase Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Purchase Phone Number": {
      "main": [
        [
          {
            "node": "Retell: Assign Phone Number to Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell: Assign Phone Number to Agent": {
      "main": [
        [
          {
            "node": "Build Welcome Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Welcome Email HTML": {
      "main": [
        [
          {
            "node": "Send Setup Instructions Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF LLM Error": {
      "main": [
        [],
        [
          {
            "node": "Log LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Agent Error": {
      "main": [
        [],
        [
          {
            "node": "Log Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log LLM Error": {
      "main": [
        [
          {
            "node": "Error Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Agent Error": {
      "main": [
        [
          {
            "node": "Error Notification Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Gate: Skip Phone if Test": {
      "main": [
        [
          {
            "node": "Twilio: Search Available Numbers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Welcome Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5e0d96e3-a8b4-4989-8d27-ded97df3f876",
  "activeVersionId": "5e0d96e3-a8b4-4989-8d27-ded97df3f876",
  "versionCounter": 306,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-23T23:25:36.785Z",
      "createdAt": "2026-03-23T23:25:36.785Z",
      "role": "workflow:owner",
      "workflowId": "k0KeQxWb3j3BbQEk",
      "projectId": "fHNxQE9IeGCcfUfO",
      "project": {
        "updatedAt": "2026-03-17T23:00:52.768Z",
        "createdAt": "2026-03-17T23:00:46.569Z",
        "id": "fHNxQE9IeGCcfUfO",
        "name": "Daniel Blackmore <daniel@syntharra.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T23:37:41.883Z",
    "createdAt": "2026-03-27T23:37:41.883Z",
    "versionId": "5e0d96e3-a8b4-4989-8d27-ded97df3f876",
    "workflowId": "k0KeQxWb3j3BbQEk",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "jotform-hvac-onboarding",
          "options": {}
        },
        "id": "f8cdf8b9-0b62-4b65-b8e2-f32356787157",
        "name": "JotForm Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1440,
          512
        ],
        "webhookId": "054d5caf-c61e-46e0-a405-0d7d62455cc5"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// Parse JotForm Data v5 \u2014 Supabase Edition\n// ============================================================\n\nconst formData = $input.first().json.body;\n\nfunction normalizeList(val) {\n  if (!val) return '';\n  if (Array.isArray(val)) return val.filter(Boolean).join(', ');\n  return String(val).trim();\n}\n\nfunction clean(val, fallback = '') {\n  if (!val) return fallback;\n  return String(val).trim() || fallback;\n}\n\nconst extractedData = {\n  // Section 1: Business Information\n  company_name:         clean(formData.q4_hvacCompany || formData['q4_hvacCompany']),\n  owner_name:           clean(formData.q54_ownerName || formData['q54_ownerName']),\n  main_phone:           clean(formData.q6_mainCompany || formData['q6_mainCompany']),\n  client_email:         clean(formData.q5_emailAddress || formData['q5_emailAddress']),\n  website:              clean(formData.q7_companyWebsite || formData['q7_companyWebsite']),\n  years_in_business:    clean(formData.q8_yearsIn || formData['q8_yearsIn']),\n  timezone:             clean(formData.q34_timezone || formData['q34_timezone'], 'America/Chicago'),\n  services_offered:     normalizeList(formData.q13_servicesOffered || formData['q13_servicesOffered']),\n  brands_serviced:      normalizeList(formData.q14_brandsequipmentServiced || formData['q14_brandsequipmentServiced']),\n  service_area:         clean(formData.q16_primaryService || formData['q16_primaryService']),\n  service_area_radius:  clean(formData.q40_serviceAreaRadius || formData['q40_serviceAreaRadius']),\n  certifications:       normalizeList(formData.q29_certifications || formData['q29_certifications']),\n  licensed_insured:     clean(formData.q28_licensedAnd || formData['q28_licensedAnd'], 'Yes'),\n\n  // Section 2: AI Receptionist Configuration\n  agent_name:           clean(formData.q10_aiAgent10 || formData['q10_aiAgent10']),\n  voice_gender:         clean(formData.q11_aiVoice || formData['q11_aiVoice'], 'Female'),\n  custom_greeting:      clean(formData.q38_customGreeting || formData['q38_customGreeting']),\n  company_tagline:      clean(formData.q39_companyTagline || formData['q39_companyTagline']),\n  business_hours:       clean(formData.q17_businessHours || formData['q17_businessHours']),\n  response_time:        clean(formData.q18_typicalResponse || formData['q18_typicalResponse']),\n  emergency_service:    clean(formData.q20_247Emergency || formData['q20_247Emergency'], 'No'),\n  emergency_phone:      clean(formData.q21_emergencyAfterhours || formData['q21_emergencyAfterhours']),\n  after_hours_behavior: clean(formData.q22_afterhoursBehavior || formData['q22_afterhoursBehavior']),\n\n  // Section 3: Call Handling & Pricing\n  pricing_policy:       clean(formData.q42_pricingPolicy || formData['q42_pricingPolicy'], 'We provide free quotes on-site'),\n  diagnostic_fee:       clean(formData.q41_diagnosticFee || formData['q41_diagnosticFee']),\n  standard_fees:        clean(formData.q43_standardFees || formData['q43_standardFees']),\n  free_estimates:       clean(formData.q24_freeEstimates || formData['q24_freeEstimates'], 'Yes - always free'),\n  do_not_service:       clean(formData.q57_doNotServiceList || formData['q57_doNotServiceList']),\n  transfer_phone:       clean(formData.q48_transferPhone || formData['q48_transferPhone']),\n  transfer_triggers:    normalizeList(formData.q49_transferTriggers || formData['q49_transferTriggers']),\n  transfer_behavior:    clean(formData.q50_transferBehavior || formData['q50_transferBehavior'], 'Try once - take message if no answer'),\n\n  // Section 4: Lead Capture & Notifications\n  lead_contact_method:  clean(formData.q31_leadContact || formData['q31_leadContact'], 'Both'),\n  lead_phone:           clean(formData.q32_leadNotification || formData['q32_leadNotification']),\n  lead_email:           clean(formData.q33_leadNotification33 || formData['q33_leadNotification33']),\n  notification_email_2: clean(formData.q59_notifEmail2 || formData['q59_notifEmail2']),\n  notification_email_3: clean(formData.q60_notifEmail3 || formData['q60_notifEmail3']),\n  notification_sms_2:   clean(formData.q61_notifSms2 || formData['q61_notifSms2']),\n  notification_sms_3:   clean(formData.q62_notifSms3 || formData['q62_notifSms3']),\n\n  // Section 5: Branding, Promotions & Extras\n  google_review_rating: clean(formData.q55_googleReviewRating || formData['q55_googleReviewRating']),\n  google_review_count:  clean(formData.q56_googleReviewCount || formData['q56_googleReviewCount']),\n  unique_selling_points: clean(formData.q51_uniqueSellingPoints || formData['q51_uniqueSellingPoints']),\n  current_promotion:    clean(formData.q52_currentPromotion || formData['q52_currentPromotion']),\n  seasonal_services:    clean(formData.q53_seasonalServices || formData['q53_seasonalServices']),\n  membership_program:   clean(formData.q58_membershipProgramName || formData['q58_membershipProgramName']),\n  maintenance_plans:    clean(formData.q46_maintenancePlans || formData['q46_maintenancePlans'], 'No'),\n  financing_available:  clean(formData.q25_financingAvailable || formData['q25_financingAvailable'], 'No'),\n  financing_details:    clean(formData.q44_financingDetails || formData['q44_financingDetails']),\n  warranty:             clean(formData.q26_serviceWarranties || formData['q26_serviceWarranties'], 'Yes'),\n  warranty_details:     clean(formData.q27_warrantyDetails || formData['q27_warrantyDetails']),\n  payment_methods:      normalizeList(formData.q45_paymentMethods || formData['q45_paymentMethods']),\n  additional_info:      clean(formData.q37_additionalInfo || formData['q37_additionalInfo'])\n};\n\n// === Build company info block for the Retell prompt ===\nlet companyInfoBlock = `## Company Overview\\n`;\ncompanyInfoBlock += `- Company Name: ${extractedData.company_name}\\n`;\nif (extractedData.main_phone) companyInfoBlock += `- Main Phone: ${extractedData.main_phone}\\n`;\nif (extractedData.years_in_business) companyInfoBlock += `- Experience: ${extractedData.years_in_business} years in business\\n`;\nif (extractedData.owner_name) companyInfoBlock += `- Owner/Manager: ${extractedData.owner_name}\\n`;\nif (extractedData.company_tagline) companyInfoBlock += `- Tagline: ${extractedData.company_tagline}\\n`;\nif (extractedData.website) companyInfoBlock += `- Website: ${extractedData.website}\\n`;\ncompanyInfoBlock += `- Licensed & Insured: ${extractedData.licensed_insured}\\n`;\nif (extractedData.certifications) companyInfoBlock += `- Certifications: ${extractedData.certifications}\\n`;\n\ncompanyInfoBlock += `\\n## Services\\n`;\nif (extractedData.services_offered) companyInfoBlock += `- Services: ${extractedData.services_offered}\\n`;\nif (extractedData.brands_serviced) companyInfoBlock += `- Brands Serviced: ${extractedData.brands_serviced}\\n`;\nif (extractedData.service_area) {\n  let areaLine = extractedData.service_area;\n  if (extractedData.service_area_radius) areaLine += ` (within ${extractedData.service_area_radius})`;\n  companyInfoBlock += `- Service Area: ${areaLine}\\n`;\n}\nif (extractedData.do_not_service) companyInfoBlock += `- DO NOT Service: ${extractedData.do_not_service}\\n`;\n\ncompanyInfoBlock += `\\n## Hours & Availability\\n`;\nif (extractedData.business_hours) companyInfoBlock += `- Business Hours: ${extractedData.business_hours}\\n`;\nif (extractedData.response_time) companyInfoBlock += `- Typical Response Time: ${extractedData.response_time}\\n`;\n\ncompanyInfoBlock += `\\n## Pricing & Policies\\n`;\ncompanyInfoBlock += `- Pricing Policy: ${extractedData.pricing_policy}\\n`;\nif (extractedData.diagnostic_fee) companyInfoBlock += `- Diagnostic/Service Call Fee: ${extractedData.diagnostic_fee} (applied to repair if customer proceeds)\\n`;\nif (extractedData.standard_fees) companyInfoBlock += `- Set Fees (ONLY share these specific fees when asked): ${extractedData.standard_fees}\\n`;\ncompanyInfoBlock += `- Free Estimates: ${extractedData.free_estimates}\\n`;\nif (extractedData.financing_available !== 'No') {\n  let finLine = `Financing Available: Yes`;\n  if (extractedData.financing_details) finLine += ` - ${extractedData.financing_details}`;\n  companyInfoBlock += `- ${finLine}\\n`;\n}\nif (extractedData.warranty !== 'No') {\n  let warLine = `Warranty: Yes`;\n  if (extractedData.warranty_details) warLine += ` - ${extractedData.warranty_details}`;\n  companyInfoBlock += `- ${warLine}\\n`;\n}\nif (extractedData.maintenance_plans !== 'No') {\n  let mainLine = `Maintenance Plans: Available`;\n  if (extractedData.membership_program) mainLine += ` - \"${extractedData.membership_program}\"`;\n  companyInfoBlock += `- ${mainLine}\\n`;\n}\nif (extractedData.payment_methods) companyInfoBlock += `- Payment Methods: ${extractedData.payment_methods}\\n`;\n\nif (extractedData.emergency_service && extractedData.emergency_service !== 'No') {\n  companyInfoBlock += `\\n## Emergency Service\\n`;\n  companyInfoBlock += `- Emergency Service: ${extractedData.emergency_service}\\n`;\n  if (extractedData.emergency_phone) companyInfoBlock += `- Emergency Contact: ${extractedData.emergency_phone}\\n`;\n  if (extractedData.after_hours_behavior) companyInfoBlock += `- After Hours Handling: ${extractedData.after_hours_behavior}\\n`;\n}\n\nif (extractedData.google_review_rating || extractedData.current_promotion || extractedData.seasonal_services || extractedData.unique_selling_points) {\n  companyInfoBlock += `\\n## Promotions & Highlights\\n`;\n  if (extractedData.google_review_rating && extractedData.google_review_rating !== 'Not listed on Google') {\n    let reviewLine = `Google Rating: ${extractedData.google_review_rating} stars`;\n    if (extractedData.google_review_count && extractedData.google_review_count !== 'Not listed on Google') {\n      reviewLine += ` with ${extractedData.google_review_count} reviews`;\n    }\n    companyInfoBlock += `- ${reviewLine}\\n`;\n  }\n  if (extractedData.current_promotion) companyInfoBlock += `- Current Promotion: ${extractedData.current_promotion}\\n`;\n  if (extractedData.seasonal_services) companyInfoBlock += `- Seasonal Services: ${extractedData.seasonal_services}\\n`;\n  if (extractedData.unique_selling_points) companyInfoBlock += `- Why Choose Us: ${extractedData.unique_selling_points}\\n`;\n}\n\nif (extractedData.additional_info) {\n  companyInfoBlock += `\\n## Additional Notes\\n`;\n  companyInfoBlock += `${extractedData.additional_info}\\n`;\n}\n\nreturn {\n  ...extractedData,\n  companyInfoBlock,\n  timestamp: new Date().toISOString()\n};"
        },
        "id": "fdfdbde1-c4e2-479f-a1a8-8d855c631985",
        "name": "Parse JotForm Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1216,
          512
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// Build Retell Prompt v5, Supabase Edition\n// ============================================================\n// Removed Google Sheets settings dependency\n// Transfer number: lead_phone default, emergency_phone override\n// ============================================================\n\nconst data = $input.first().json;\n\nconst companyName        = data.company_name || 'HVAC Company';\nconst companyPhone       = data.main_phone || '';\nconst companyWebsite     = data.website || '';\nconst yearsInBusiness    = data.years_in_business || '';\nconst agentName          = data.agent_name || `${companyName} Receptionist`;\nconst voiceGender        = (data.voice_gender || 'female').toLowerCase();\nconst servicesOffered    = data.services_offered || '';\nconst brandsServiced     = data.brands_serviced || '';\nconst serviceArea        = data.service_area || '';\nconst serviceAreaRadius  = data.service_area_radius || '';\nconst businessHours      = data.business_hours || '';\nconst responseTime       = data.response_time || '';\nconst emergency247       = data.emergency_service || 'No';\nconst emergencyPhone     = data.emergency_phone || '';\nconst afterHoursBehavior = data.after_hours_behavior || '';\nconst freeEstimates      = data.free_estimates || 'Yes - always free';\nconst diagnosticFee      = data.diagnostic_fee || '';\nconst pricingPolicy      = data.pricing_policy || 'We provide free quotes on-site';\nconst standardFees       = data.standard_fees || '';\nconst financingAvailable = data.financing_available || 'No';\nconst financingDetails   = data.financing_details || '';\nconst warranty           = data.warranty || 'Yes';\nconst warrantyDetails    = data.warranty_details || '';\nconst licensedInsured    = data.licensed_insured || 'Yes';\nconst certifications     = data.certifications || '';\nconst paymentMethods     = data.payment_methods || '';\nconst maintenancePlans   = data.maintenance_plans || 'No';\nconst leadContactMethod  = data.lead_contact_method || 'Both';\nconst leadPhone          = data.lead_phone || '';\nconst leadEmail          = data.lead_email || '';\nconst customGreeting     = data.custom_greeting || '';\nconst companyTagline     = data.company_tagline || '';\nconst transferPhone      = data.transfer_phone || '';\nconst transferTriggers   = data.transfer_triggers || 'Caller requests a live person, Emergency situation';\nconst transferBehavior   = data.transfer_behavior || 'Try once - take message if no answer';\nconst uniqueSellingPts   = data.unique_selling_points || '';\nconst currentPromotion   = data.current_promotion || '';\nconst seasonalServices   = data.seasonal_services || '';\nconst additionalNotes    = data.additional_info || '';\nconst companyInfoBlock   = data.companyInfoBlock || '';\nconst ownerName          = data.owner_name || '';\nconst googleReviewRating = data.google_review_rating || '';\nconst googleReviewCount  = data.google_review_count || '';\nconst doNotService       = data.do_not_service || '';\nconst membershipProgram  = data.membership_program || '';\nconst industryType       = data.industry_type || 'HVAC';\nconst testMode           = false;\n\n// === Voice selection ===\nconst voiceMap = { female: 'retell-Sloane', male: 'retell-Nico' };\nconst voiceId = voiceMap[voiceGender] || 'retell-Sloane';\n\n// === Transfer number: use lead_phone by default, emergency_phone as override ===\nconst rawTransferPhone = emergencyPhone || leadPhone;\nconst transferNumber = rawTransferPhone\n  ? (rawTransferPhone.startsWith('+') ? rawTransferPhone : `+1${rawTransferPhone.replace(/\\D/g, '')}`)\n  : '+10000000000';\n\n// ============================================================\n// BUILD PRICING RESPONSE INSTRUCTIONS\n// ============================================================\nlet shareableFees = '';\nif (diagnosticFee) shareableFees += `\\n- Diagnostic/Service Call Fee: ${diagnosticFee} (gets applied to the repair if the customer proceeds)`;\nif (standardFees) shareableFees += `\\n- Additional Set Fees: ${standardFees}`;\n\nlet pricingInstructions = '';\nif (pricingPolicy === 'We provide free quotes on-site') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We provide free on-site quotes so our team can give you\\n  an accurate price based on your specific situation. Let me grab\\n  your details so we can get someone out to you.\"\\n- NEVER provide general service, repair, or installation prices.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nThe ONLY fees you may mention (because the company has explicitly provided them):${shareableFees}\\n\\nOnly mention these if the caller specifically asks about them. Do NOT volunteer pricing.`;\n} else if (pricingPolicy === 'We charge a diagnostic fee then quote') {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"We do have a ${diagnosticFee || 'service call'} fee for\\n  the initial visit, and that gets applied to the repair if you\\n  choose to move forward with us. Our technician will give you a\\n  full quote once they've assessed the situation.\"\\n- NEVER provide general repair or installation prices.\\n- NEVER guess or estimate costs beyond the set fees listed below.`;\n  if (shareableFees) pricingInstructions += `\\n\\nSet fees you may share when asked:${shareableFees}`;\n} else {\n  pricingInstructions = `When callers ask about pricing or cost:\\n- Say: \"Our team will go over all the pricing with you so you get\\n  the most accurate information. Let me grab your details so we\\n  can get that set up for you.\"\\n- NEVER provide any prices, estimates, or cost ranges over the phone.\\n- NEVER guess or estimate costs for any service.`;\n  if (shareableFees) pricingInstructions += `\\n\\nException, the ONLY fees you may mention:${shareableFees}\\n\\nOnly mention these if the caller specifically asks. Do NOT volunteer pricing.`;\n}\n\n// ============================================================\n// BUILD TRANSFER RULES\n// ============================================================\nconst triggerList = transferTriggers.split(',').map(t => t.trim()).filter(Boolean);\nlet transferRules = `## CALL TRANSFER PROTOCOL\\n\\n`;\ntransferRules += `Transfer destination: ${transferNumber}\\n`;\ntransferRules += `Transfer behavior: ${transferBehavior}\\n\\n`;\ntransferRules += `Transfer the call ONLY when one of these conditions is met:\\n`;\ntriggerList.forEach((t, i) => { transferRules += `${i + 1}. ${t}\\n`; });\ntransferRules += `\\nFor ALL other situations, collect the caller's information and let them know someone will follow up.`;\nif (transferBehavior === 'Always take a message - never transfer') {\n  transferRules += `\\n\\nIMPORTANT: NEVER transfer calls. Always collect caller information and confirm someone from the team will call back.`;\n}\nif (ownerName) {\n  transferRules += `\\n\\n### Owner/Manager Reference\\nIf a caller asks to speak with the owner or manager, their name is ${ownerName}. Say: \"${ownerName} isn't available right now, but I can take a message and have them call you back, or I can transfer you to our team.\"`;\n}\n\n// ============================================================\n// BUILD DO NOT SERVICE SECTION\n// ============================================================\nlet doNotServiceSection = '';\nif (doNotService) {\n  doNotServiceSection = `\\n\\n\\n## SERVICES WE DO NOT PROVIDE\\n\\nThe following items are outside our scope of service:\\n${doNotService}\\n\\nIf a caller requests any of these, politely explain:\\n\"I appreciate you reaching out, but unfortunately that's not something we service. I'd recommend reaching out to a specialist for that. Is there anything else I can help you with?\"\\n\\nDo NOT attempt to collect lead information for out-of-scope requests.\\n`;\n}\n\n// ============================================================\n// BUILD PROMOTIONS / SELLING POINTS SECTION\n// ============================================================\nlet promotionsSection = '';\nif (currentPromotion || seasonalServices || uniqueSellingPts || (googleReviewRating && googleReviewRating !== 'Not listed on Google')) {\n  promotionsSection = `\\n\\n\\n## PROMOTIONS & VALUE PROPOSITIONS\\n\\n`;\n  if (googleReviewRating && googleReviewRating !== 'Not listed on Google') {\n    let reviewLine = `We have a ${googleReviewRating}-star rating on Google`;\n    if (googleReviewCount && googleReviewCount !== 'Not listed on Google') reviewLine += ` with ${googleReviewCount.toLowerCase().replace('under ', 'nearly ')} reviews`;\n    promotionsSection += `### Google Reviews\\n${reviewLine}.\\nMention this naturally when a caller is comparing options or seems uncertain.\\n\\n`;\n  }\n  if (currentPromotion) promotionsSection += `### Current Promotion\\n${currentPromotion}\\nMention this naturally when a caller asks about the relevant service.\\n\\n`;\n  if (uniqueSellingPts) promotionsSection += `### Why Choose ${companyName}\\n${uniqueSellingPts}\\nUse these points when a caller seems to be comparing options. Weave them in naturally.\\n\\n`;\n  if (seasonalServices) promotionsSection += `### Seasonal Services\\n${seasonalServices}\\nMention the relevant seasonal service if it matches what the caller needs.\\n\\n`;\n}\n\n// ============================================================\n// BUILD PAYMENT METHODS SECTION\n// ============================================================\nlet paymentSection = '';\nif (paymentMethods) {\n  paymentSection = `\\nWhen callers ask about payment methods:\\n- Say: \"We accept ${paymentMethods}.\"`;\n  if (financingAvailable === 'Yes' && financingDetails) paymentSection += `\\n- If they ask about financing: \"Yes, we offer financing, ${financingDetails}.\"`;\n  else if (financingAvailable === 'Yes') paymentSection += `\\n- If they ask about financing: \"Yes, we do offer financing options. Our team can go over the details with you.\"`;\n  if (maintenancePlans !== 'No') {\n    let maintLine = `\\n- If they ask about maintenance plans: \"Yes, we do offer maintenance plans`;\n    if (membershipProgram) maintLine += `, our ${membershipProgram} program`;\n    maintLine += `. Our team can go over the details and pricing with you.\"`;\n    paymentSection += maintLine;\n  }\n}\n\n// ============================================================\n// GLOBAL PROMPT\n// ============================================================\nlet globalPrompt = `## ROLE\\\\nYou are ${agentName}, a virtual AI receptionist for ${companyName}.${companyTagline ? ' ' + companyTagline + '.' : ''}\\\\nWarm, professional and concise. One topic at a time. Use the caller's first name once you have it.\\\\nIf asked if you are real: \\\"I'm a virtual assistant here to make sure you get the right help.\\\"\\\\n\\\\n## STYLE\\\\n- One question at a time, wait for the answer before asking another\\\\n- Match the caller's energy. Reassuring if stressed, calm if calm\\\\n- Patient with elderly callers. Never rush\\\\n- Vary your language naturally\\\\n\\\\n## CONFIRMING DETAILS\\\\nSlow right down when collecting contact info. Confirm each piece back before moving on.\\\\n- Phone: read back in groups \\\"512, 555, 0192, is that right?\\\"\\\\n- Name: spell uncommon names letter by letter\\\\n- Address: confirm street and suburb back\\\\n- Email: read back slowly, character by character, using dot, at, dash\\\\n- ZIP: digit by digit\\\\nIf anything is unclear, ask them to spell it. Never guess.\\\\n\\\\n## TRANSCRIPTION\\\\nIf you cannot understand something: \\\"I'm sorry, could you say that again?\\\" Never guess at names, addresses or emails.\\\\n\\\\n## COMPANY INFORMATION\\\\n\\n{{COMPANY_INFO_BLOCK}}\\n\\nOnly use the above to answer company questions. If not covered, say: \\\"Great question, one of our team will be able to answer that when they call you back.\\\"\\\\n\\\\n${pricingInstructions}\\\\n\\\\n${transferRules}\\\\n\\\\n${paymentSection}\\\\n\\\\n${promotionsSection}${doNotServiceSection}## RULES\\\\n- Never ask more than one question at a time\\\\n- Never give prices, estimates, or diagnose problems\\\\n- Never promise availability unless stated in company info\\\\n- Never guess company-specific answers\\\\n- Always collect lead info before ending a legitimate call\\\\n- Always confirm details back before closing\\\\n- Always stay warm and calm regardless of caller mood\\\\n\\\\n## HANDLING DIFFICULT SITUATIONS\\\\nReluctant to share info: \\\"I completely understand, this just helps our team reach you accurately.\\\"\\\\nAngry caller: Acknowledge, stay calm, redirect. If abusive: \\\"I do want to help, but I need us to work together respectfully.\\\"\\\\nSilence: After 3s \\\"Hello, are you there?\\\", after 8s total \\\"I'm having trouble hearing you.\\\", after 13s end the call politely.\\\\nCannot hear: \\\"I'm sorry about that, is this any better?\\\"\\\\n`;\n\n// ============================================================\n// BUILD GREETING\n// ============================================================\nconst greetingText = customGreeting\n  ? customGreeting\n  : `Hello this is ${agentName} from ${companyName}`;\n\n// ============================================================\n// BUILD CONVERSATION FLOW NODES\n// ============================================================\n\n// Capturing details section \u2014 appended to global prompt\nconst capturingSection = `\n\n## CAPTURING DETAILS\nWhen collecting any detail that could be misheard, slow down noticeably.\n- Phone numbers: read back in groups, \"512, 555, 0192, is that right?\"\n- Emails: spell each part, \"J-O-H-N dot S-M-I-T-H at gmail dot com, correct?\"\n- Unusual street names: ask them to spell it out\n- Names: always get first and last name, confirm spelling for uncommon names\n- If you have confirmed something twice and the caller is still unclear, say: \"No problem, our team will confirm all the details when they call you back\" and move on`;\nglobalPrompt += capturingSection;\n\nconst conversationFlow = {\n  name: `${companyName} - ${industryType} Receptionist Flow`,\n  start_speaker: \"agent\",\n  model_choice: { type: \"cascading\", model: \"gpt-4.1\", high_priority: false },\n  global_prompt: globalPrompt.replace(\"{{COMPANY_INFO_BLOCK}}\", companyInfoBlock),\n  tool_call_strict_mode: true,\n  knowledge_base_ids: [],\n  kb_config: { top_k: 3, filter_score: 0.6 },\n  flex_mode: false,\n  is_transfer_cf: false,\n  nodes: [\n    {\n      id: \"node-greeting\", name: \"greeting_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: greetingText },\n      edges: [{ id: \"edge-greeting-to-identify\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"All\" } }],\n      display_position: { x: 558, y: 462 }\n    },\n    {\n      id: \"node-identify-call\", name: \"identify_call_node\", type: \"conversation\", start_speaker: \"agent\",\n      instruction: { type: \"prompt\", text: \"Identify the reason for the call\" },\n      edges: [\n        { id: \"edge-to-leadcapture-service\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Repair/Service/Maintenance\" } },\n        { id: \"edge-to-leadcapture-quote\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Quote/Estimate/Price/Installation\" } },\n        { id: \"edge-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"Emergency\" } },\n        { id: \"edge-to-existing-customer\", destination_node_id: \"node-existing-customer\", transition_condition: { type: \"prompt\", prompt: \"Existing Customer\" } },\n        { id: \"edge-to-general-questions\", destination_node_id: \"node-general-questions\", transition_condition: { type: \"prompt\", prompt: \"General Questions\" } },\n        { id: \"edge-to-transfer-live\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Live Person/Owner/Specific Person\" } },\n        { id: \"edge-to-callback\", destination_node_id: \"node-callback\", transition_condition: { type: \"prompt\", prompt: \"Returning a missed call, got a call from this number, calling back\" } },\n        { id: \"edge-to-spam\", destination_node_id: \"node-spam-robocall\", transition_condition: { type: \"prompt\", prompt: \"Robocall, spam, automated message, silence after greeting\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-existing-customer\", destination_node_id: \"node-existing-customer\", transcript: [{ role: \"user\", content: \"calling about my appointment\\nchecking appointment time\\ntechnician arrival\\nwhere is the technician\\nfollowing up on a quote\\ncalling about my quote\\nchecking on my job\\ncalling about service appointment\\nquestion about invoice\\nquestion about billing\\npayment question\\ncalling back about earlier service\" }, { role: \"agent\", content: \"Sure\" }] },\n        { id: \"fe-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nheater not working\\nleaking unit\\nwater leaking\\nburning smell\\nloud noise\\nbroken system\\nurgent repair\\nemergency repair\" }, { role: \"agent\", content: \"Sounds like you have an emergency\" }] },\n        { id: \"fe-transfer-live\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"Let me speak to someone\\nI want to talk to a real person\\nCan I speak to a human\\nTransfer me\\nPut me through to someone\\nI don't want to talk to a bot\\nLet me speak to the owner\\nI want to talk to the manager\\nGet me your supervisor\\nIs the boss available\\nJust forget it\\nThis is useless\\nNever mind\" }] },\n        { id: \"fe-quote-install\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want a quote\\nI need an estimate\\nWhat's the price\\nHow much does it cost\\nHow much do you charge\\nI want to install\\nI need a new system\\nI want to replace my system\" }] },\n        { id: \"fe-service-repair\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"My system is not working\\nMy system is broken\\nMy system won't turn on\\nMy system keeps turning off\\nMy system is not cooling\\nMy system is not heating\\nMy system is blowing warm air\" }] },\n        { id: \"fe-callback\", destination_node_id: \"node-callback\", transcript: [{ role: \"user\", content: \"Yeah I just missed a call from this number\\nSomeone called me from here\\nI am calling back\\nI got a voicemail from you guys\" }] },\n        { id: \"fe-spam\", destination_node_id: \"node-spam-robocall\", transcript: [{ role: \"user\", content: \"Hello\\nHello\\nHello\" }, { role: \"agent\", content: \"Routing to spam handler\" }] }\n      ],\n      display_position: { x: 1110, y: 366 }\n    },\n    {\n      id: \"node-leadcapture\", name: \"nonemergency_leadcapture_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## CALL TYPE IDENTIFICATION\\n\\nAt the start of the call, listen carefully to identify whether the caller is:\\n\\nA. Requesting a SERVICE, REPAIR, or MAINTENANCE visit\\nB. Requesting a QUOTE, INSTALLATION, ESTIMATE, or PRICE\\n\\nBoth call types follow the same data capture flow below.\\n\\n\\n\\n## PRICING RESPONSES\\n\\nIf the caller asks \"how much?\" or \"what does it cost?\" during data capture:\\n${pricingInstructions}\\n\\nThen continue with data capture.\\n\\n\\n\\n## DATA CAPTURE FLOW\\n\\nCollect the following information for ALL call types:\\n\\n1. A short description of the issue, service, or installation needed\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. The caller's full name (first and last name).\n\n- If they only give a first name, say:\n  \"And your last name?\"\n- Always confirm the full name back, spelling it out if it sounds unusual.\n\n5. The service address. A full address is ideal but not required.\n\n- After the caller gives any address details, ALWAYS confirm back what you heard.\n- If they give a street address but no city or ZIP, ask:\n  \"And what city or suburb is that in?\"\n- If the address is unclear, say:\n  \"Could you spell out the street name for me just to make sure I have that right?\"\n- If the caller won't give a full address, say:\n  \"No problem at all, could I at least get the suburb, city, or ZIP code? That helps our team plan the visit.\"\n- A suburb, city, or ZIP code alone is acceptable if the caller won't give more.\"\"\\n\\n5. Any additional notes or details\\n\\n\\n\\n## EMERGENCY DETECTION\\n\\nAt all times during the call, listen for emergency signals:\\n- System completely stopped, significant leaking, burning smell\\n- No heat in freezing conditions, gas smell\\n\\nIF detected: IMMEDIATELY route to verify_emergency_node.\\n\\n\\n\\n## CONFIRMATION\\n\\nOnce all details are collected, confirm back to the caller.\\n\\n\\n\\n## CLOSING\\n\\n\"Okay, I have recorded all of that information and someone from\\nour team will be in touch with you soon.\"` },\n      edges: [\n        { id: \"edge-leadcapture-to-emergency\", destination_node_id: \"node-verify-emergency\", transition_condition: { type: \"prompt\", prompt: \"If Emergency, go to\" } },\n        { id: \"edge-leadcapture-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Confirm the details with the caller, then proceed\" } }\n      ],\n      finetune_transition_examples: [{ id: \"fe-leadcapture-emergency\", destination_node_id: \"node-verify-emergency\", transcript: [{ role: \"user\", content: \"no cooling\\nno heating\\nsystem not working\\nAC not working\\nburning smell\\nurgent repair\\nemergency repair\" }] }],\n      display_position: { x: 2190, y: 726 }\n    },\n    {\n      id: \"node-verify-emergency\", name: \"verify_emergency_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: \"Ask user if this is an emergency.\" },\n      edges: [\n        { id: \"edge-emergency-yes\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"If this is an emergency\" } },\n        { id: \"edge-emergency-no\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"If this is not an emergency\" } }\n      ],\n      display_position: { x: 2742, y: 1470 }\n    },\n    {\n      id: \"node-existing-customer\", name: \"existing_customer_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## EXISTING CUSTOMER ENQUIRY\\n\\nThe caller is an existing customer calling about a current or past job.\\n\\n## YOUR GOAL\\n\\nCollect details so the team at ${companyName} can follow up.\\n\\n## DATA CAPTURE\\n\\nAsk naturally, one question at a time:\\n1. A short description of their enquiry\\n2. The caller's full name\\n3. The best phone number to reach them\\n4. If relevant: service address, date of job, technician name, job/invoice number\\n\\n## CLOSING\\n\\nConfirm back: \"Just to confirm, I have your name as [name], best phone number as [phone], and your enquiry is regarding [description]. Is that all correct?\"\\n\\nThen: \"Perfect, I have passed all of that through to the team at ${companyName} and someone will be in touch shortly.\"` },\n      edges: [\n        { id: \"edge-existing-resolved\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Resolved\" } },\n        { id: \"edge-existing-unresolved\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Enquiry Not Resolved\\n\" } }\n      ],\n      display_position: { x: 2742, y: 6 }\n    },\n    {\n      id: \"node-general-questions\", name: \"general_questions_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `## GENERAL FAQ HANDLING\\n\\nUse the company information to answer general questions.\\n\\n### PRICING QUESTIONS\\n${pricingInstructions}\\n\\n### PAYMENT QUESTIONS\\n${paymentMethods ? `We accept: ${paymentMethods}.` : 'Our team can go over payment options at the appointment.'}\\n${financingAvailable === 'Yes' ? (financingDetails ? `Financing: ${financingDetails}` : 'We offer financing options.') : ''}\\n\\n### If the Question Cannot Be Answered\\n\"That's a great question, I want to make sure you get the right answer. Can I grab your name and number so someone from our team can follow up?\"\\nProceed to lead capture.` },\n      edges: [\n        { id: \"edge-general-answered\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Question Answered Correctly\" } },\n        { id: \"edge-general-further-help\", destination_node_id: \"node-transfer-call\", transition_condition: { type: \"prompt\", prompt: \"Further Assistance/Help\" } },\n        { id: \"edge-general-lead\", destination_node_id: \"node-leadcapture\", transition_condition: { type: \"prompt\", prompt: \"Lead Generated\" } }\n      ],\n      finetune_transition_examples: [\n        { id: \"fe-general-further-help\", destination_node_id: \"node-transfer-call\", transcript: [{ role: \"user\", content: \"I need more help\\nThis doesn't answer my question\\nCan someone call me back about this\\nI need a specialist\\nI want to speak to someone who can help\" }] },\n        { id: \"fe-general-lead\", destination_node_id: \"node-leadcapture\", transcript: [{ role: \"user\", content: \"I want to book\\nCan someone come out\\nI want to get a quote\\nHow much would it cost\\nI think I need a repair\\nWhen can someone come out\\nYes let's do that\" }] }\n      ],\n      display_position: { x: 1662, y: 2190 }\n    },\n    {\n      id: \"node-callback\", name: \"callback_node\", type: \"conversation\",\n      instruction: { type: \"prompt\", text: `The caller is returning a missed call.\\n\\nSay: \"Thanks for calling back! We may have been trying to reach you about a service enquiry.\"\\n\\nAsk: \"Do you know what it was regarding?\" Let them explain if they know.\\n\\nCollect:\\n1. Full name, first and last\\n2. Confirm their number: \"Is the best number to reach you still [from_number]?\"\\n\\nClose: \"Perfect, I have let the team know you called and someone will be in touch shortly.\"` },\n      edges: [{ id: \"edge-callback-end\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Details captured, close\" } }],\n      display_position: { x: 1662, y: 3000 }\n    },\n    {\n      id: \"node-spam-robocall\", name: \"spam_robocall_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Say: \\\"Thank you for calling, have a great day.\\\" Then end the call.\" },\n      edges: [{ id: \"edge-spam-end\", destination_node_id: \"node-end-call\", transition_condition: { type: \"prompt\", prompt: \"Always\" } }],\n      display_position: { x: 1662, y: 3300 }\n    },\n    {\n      id: \"node-transfer-call\", name: \"Transfer Call\", type: \"transfer_call\",\n      instruction: { type: \"prompt\", text: \"Transferring your call now.\" },\n      transfer_destination: { type: \"predefined\", number: transferNumber },\n      transfer_option: { type: \"cold_transfer\", cold_transfer_mode: \"sip_invite\", enable_bridge_audio_cue: true, agent_detection_timeout_ms: 30000, show_transferee_as_caller: false },\n      edge: { id: \"edge-transfer-failed\", destination_node_id: \"node-transfer-failed\", transition_condition: { type: \"prompt\", prompt: \"Transfer failed\" } },\n      display_position: { x: 3294, y: 2238 }\n    },\n    {\n      id: \"node-transfer-failed\", name: \"transfer_failed_node\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Say:\\n\\\"I'm sorry, it looks like that call didn't go through. All of our agents must be on the phone at the moment, let me take down your Full name and Phone number so I can have someone get back to you right away\\\"\" },\n      edges: [{ id: \"edge-transfer-failed-to-ending\", destination_node_id: \"node-ending\", transition_condition: { type: \"prompt\", prompt: \"Proceed to End\" } }],\n      display_position: { x: 3846, y: 2166 }\n    },\n    {\n      id: \"node-ending\", name: \"Ending\", type: \"conversation\",\n      instruction: { type: \"static_text\", text: \"Is there anything else I can help you with today?\" },\n      edges: [\n        { id: \"edge-ending-to-end\", destination_node_id: \"node-end-call\", transition_condition: { type: \"prompt\", prompt: \"If not, say:\\n\\\"Hope you have a great day, take care!\\\"\" } },\n        { id: \"edge-ending-to-restart\", destination_node_id: \"node-identify-call\", transition_condition: { type: \"prompt\", prompt: \"If yes, return to \" } }\n      ],\n      display_position: { x: 4398, y: 2190 }\n    },\n    {\n      id: \"node-end-call\", name: \"End Call\", type: \"end\",\n      instruction: { type: \"prompt\", text: \"Politely end the call\" },\n      display_position: { x: 4950, y: 2238 }\n    }\n  ],\n  starting_node_id: \"node-greeting\"\n};\n\n// ============================================================\n// AGENT CONFIGURATION\n// ============================================================\nconst agentConfig = {\n  agent_name: `${companyName} - HVAC Standard`,\n  voice_id: voiceId,\n  language: \"multi\",\n  webhook_url: \"https://syntharra.app.n8n.cloud/webhook/retell-hvac-webhook\",\n  ambient_sound: \"call-center\",\n  ambient_sound_volume: 0.8,\n  responsiveness: 0.9,\n  enable_dynamic_responsiveness: true,\n  interruption_sensitivity: 0.9,\n  voice_temperature: 1,\n  voice_speed: 1,\n  enable_dynamic_voice_speed: true,\n  volume: 1,\n  max_call_duration_ms: 600000,\n  allow_user_dtmf: true,\n  opt_in_signed_url: false,\n  post_call_analysis_data: [\n    { type: \"system-presets\", name: \"call_summary\", description: \"Write a 1-3 sentence summary of the call.\" },\n    { type: \"system-presets\", name: \"call_successful\", description: \"Evaluate whether the agent had a successful call.\" },\n    { type: \"system-presets\", name: \"user_sentiment\", description: \"Evaluate user's sentiment, mood and satisfaction level.\" }\n  ]\n};\n\n// ============================================================\n// EXTRACTED DATA FOR DOWNSTREAM NODES\n// ============================================================\nconst extractedData = {\n  company_name: companyName, company_phone: companyPhone, website: companyWebsite,\n  years_in_business: yearsInBusiness, agent_name: `${companyName} - HVAC Standard`, voice_gender: voiceGender,\n  voice_id: voiceId, services_offered: servicesOffered, brands_serviced: brandsServiced,\n  service_area: serviceArea, service_area_radius: serviceAreaRadius, business_hours: businessHours,\n  response_time: responseTime, emergency_service: emergency247, emergency_phone: emergencyPhone,\n  after_hours_behavior: afterHoursBehavior, free_estimates: freeEstimates, diagnostic_fee: diagnosticFee,\n  pricing_policy: pricingPolicy, standard_fees: standardFees, financing_available: financingAvailable,\n  financing_details: financingDetails, warranty: warranty, warranty_details: warrantyDetails,\n  licensed_insured: licensedInsured, certifications: certifications, payment_methods: paymentMethods,\n  maintenance_plans: maintenancePlans, lead_contact_method: leadContactMethod, lead_phone: leadPhone,\n  lead_email: leadEmail, notification_email_2: data.notification_email_2 || '', notification_email_3: data.notification_email_3 || '', notification_sms_2: data.notification_sms_2 || '', notification_sms_3: data.notification_sms_3 || '', custom_greeting: customGreeting, company_tagline: companyTagline,\n  transfer_phone: transferPhone || leadPhone, transfer_triggers: transferTriggers,\n  transfer_behavior: transferBehavior, unique_selling_points: uniqueSellingPts,\n  current_promotion: currentPromotion, seasonal_services: seasonalServices,\n  additional_info: additionalNotes, owner_name: ownerName, google_review_rating: googleReviewRating,\n  google_review_count: googleReviewCount, do_not_service: doNotService,\n  membership_program: membershipProgram, client_email: data.client_email || '',\n  timezone: data.timezone || 'America/Chicago', industry_type: industryType\n};\n\nreturn {\n  conversationFlow: conversationFlow,\n  agentConfig: agentConfig,\n  agentName: agentConfig.agent_name,\n  companyName: companyName,\n  voiceId: voiceId,\n  companyInfoBlock: companyInfoBlock,\n  extractedData: extractedData,\n  transferNumber: transferNumber,\n  timestamp: new Date().toISOString()\n};"
        },
        "id": "aabcb82a-e4ba-472e-81bd-2e99ebef9333",
        "name": "Build Retell Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -992,
          512
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.retellai.com/create-conversation-flow",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{  $json.conversationFlow  }}",
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
              }
            ]
          },
          "sendHeaders": true
        },
        "id": "566fef8f-652c-4a06-9546-15584d24a2d9",
        "name": "Create Retell LLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -768,
          512
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.retellai.com/create-agent",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { ...($('Build Retell Prompt').item.json.agentConfig), \"response_engine\": { \"type\": \"conversation-flow\", \"conversation_flow_id\": $json.conversation_flow_id } } }}",
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
              }
            ]
          },
          "sendHeaders": true
        },
        "id": "98a019e8-0a35-49bb-88d7-a739fcea3491",
        "name": "Create Retell Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -544,
          416
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Merge conversation flow + agent responses with extracted data\nconst agentResponse = $input.first().json;\nconst convFlowResponse = $('Create Retell LLM').item.json;\nconst buildData = $('Build Retell Prompt').item.json;\nconst ed = buildData.extractedData || {};\n\nreturn {\n  // System fields\n  timestamp: new Date().toISOString(),\n  conversation_flow_id: convFlowResponse.conversation_flow_id,\n  agent_id: agentResponse.agent_id,\n  voice_id: buildData.voiceId,\n  agent_language: 'en-US',\n\n  // Company basics\n  company_name: ed.company_name || buildData.companyName || '',\n  owner_name: ed.owner_name || '',\n  company_phone: ed.company_phone || '',\n  website: ed.website || '',\n  years_in_business: ed.years_in_business || '',\n  agent_name: buildData.agentName || ed.agent_name,\n  timezone: ed.timezone || 'America/Chicago',\n  client_email: ed.client_email || '',\n  industry_type: ed.industry_type || 'HVAC',\n\n  // AI Agent Setup\n  voice_gender: ed.voice_gender || 'female',\n  custom_greeting: ed.custom_greeting || '',\n  company_tagline: ed.company_tagline || '',\n\n  // Services & Coverage\n  services_offered: ed.services_offered || '',\n  brands_serviced: ed.brands_serviced || '',\n  service_area: ed.service_area || '',\n  service_area_radius: ed.service_area_radius || '',\n  certifications: ed.certifications || '',\n  licensed_insured: ed.licensed_insured || 'Yes',\n\n  // Hours & Availability\n  business_hours: ed.business_hours || '',\n  response_time: ed.response_time || '',\n  emergency_service: ed.emergency_service || 'No',\n  emergency_phone: ed.emergency_phone || '',\n  after_hours_behavior: ed.after_hours_behavior || '',\n\n  // Pricing & Policies\n  pricing_policy: ed.pricing_policy || 'We provide free quotes on-site',\n  diagnostic_fee: ed.diagnostic_fee || '',\n  standard_fees: ed.standard_fees || '',\n  free_estimates: ed.free_estimates || 'Yes - always free',\n  financing_available: ed.financing_available || 'No',\n  financing_details: ed.financing_details || '',\n  warranty: ed.warranty || 'Yes',\n  warranty_details: ed.warranty_details || '',\n  payment_methods: ed.payment_methods || '',\n  maintenance_plans: ed.maintenance_plans || 'No',\n  membership_program: ed.membership_program || '',\n\n  // Lead Handling\n  lead_contact_method: ed.lead_contact_method || 'Both',\n  lead_phone: ed.lead_phone || '',\n  lead_email: ed.lead_email || '',\n  notification_email_2: ed.notification_email_2 || '',\n  notification_email_3: ed.notification_email_3 || '',\n  notification_sms_2: ed.notification_sms_2 || '',\n  notification_sms_3: ed.notification_sms_3 || '',\n  booking_system: ed.booking_system || '',\n\n  // Escalation & Transfer\n  transfer_phone: ed.transfer_phone || '',\n  transfer_triggers: ed.transfer_triggers || '',\n  transfer_behavior: ed.transfer_behavior || 'Try once - take message if no answer',\n\n  // Promotions & Extras\n  unique_selling_points: ed.unique_selling_points || '',\n  current_promotion: ed.current_promotion || '',\n  seasonal_services: ed.seasonal_services || '',\n  google_review_rating: ed.google_review_rating || '',\n  google_review_count: ed.google_review_count || '',\n  do_not_service: ed.do_not_service || '',\n  additional_info: ed.additional_info || ''\n};"
        },
        "id": "ee866b04-7c4d-4f6f-8923-36c0a4e9b233",
        "name": "Merge LLM & Agent Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (({ agent_phone_number, error, ...rest }) => rest)($json) }}",
          "options": {}
        },
        "id": "f9f8c7ae-bc6a-465d-8dd0-b078ccb4244b",
        "name": "Write Client Data to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -96,
          224
        ],
        "onError": "continueErrorOutput",
        "credentials": {
          "httpHeaderAuth": {
            "id": "dSCVell30U6Yt1qA",
            "name": "Supabase Anon Key"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Onboarding summary email to Dan via SMTP2GO\nconst data = $('Merge LLM & Agent Data').first().json;\nconst companyName = data.company_name || '';\nconst agentId = data.agent_id || '';\nconst llmId = data.llm_id || '';\nconst clientEmail = data.lead_email || '';\n\nconst subject = `New Client Onboarded \u2014 ${companyName}`;\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h3 style=\"color:#6C63FF\">New Standard Client Onboarded</h3>\n<table style=\"border-collapse:collapse;width:100%\">\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Company</td><td style=\"padding:8px;border:1px solid #eee\">${companyName}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Agent ID</td><td style=\"padding:8px;border:1px solid #eee\">${agentId}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">LLM ID</td><td style=\"padding:8px;border:1px solid #eee\">${llmId}</td></tr>\n<tr><td style=\"padding:8px;border:1px solid #eee;font-weight:600\">Client Email</td><td style=\"padding:8px;border:1px solid #eee\">${clientEmail}</td></tr>\n</table></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: ['daniel@syntharra.com'], subject, html_body: html },\n    json: true\n  });\n  console.log('[INTERNAL] Sent onboarding summary');\n  return { ...data, _email_sent: true };\n} catch (e) {\n  console.log('[INTERNAL] Failed:', e.message);\n  return { ...data, _email_sent: false };\n}"
        },
        "id": "d1bc2e47-4cb3-4733-9c2f-c2f0ef32e880",
        "name": "Email Summary to Dan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          416
        ],
        "webhookId": "b5a5171f-adce-4a5b-b628-4c007d10da63",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "llm-check",
                "leftValue": "={{ $json.conversation_flow_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "336f8d40-e4ea-4ee9-91ea-98b610e47727",
        "name": "IF LLM Error",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -320,
          800
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "agent-check",
                "leftValue": "={{ $json.agent_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6d9be7dd-2380-48af-9407-febbe34165c5",
        "name": "IF Agent Error",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -320,
          608
        ]
      },
      {
        "parameters": {},
        "id": "47ef09f5-e79a-46b3-9fab-59db4ed899e7",
        "name": "Log LLM Error",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -96,
          800
        ]
      },
      {
        "parameters": {},
        "id": "f22bbc13-867f-4f66-a10d-089f2c0edd07",
        "name": "Log Agent Error",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -96,
          608
        ]
      },
      {
        "parameters": {
          "jsCode": "// Error notification via SMTP2GO\nconst data = $input.first().json;\nconst subject = '\u26a0\ufe0f Syntharra Onboarding Error';\nconst html = `<div style=\"font-family:Arial,sans-serif\"><h3 style=\"color:#EF4444\">Onboarding Error</h3><p>An error occurred during client onboarding. Check n8n executions for details.</p><pre style=\"background:#f3f4f6;padding:16px;border-radius:8px;overflow:auto\">${JSON.stringify(data, null, 2).substring(0, 2000)}</pre></div>`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: ['daniel@syntharra.com'], subject, html_body: html },\n    json: true\n  });\n  return { ...data, _error_email_sent: true };\n} catch (e) {\n  console.log('[ERROR EMAIL] Failed:', e.message);\n  return { ...data, _error_email_sent: false };\n}"
        },
        "id": "184fcdeb-5f51-4b68-8670-78cb7552456b",
        "name": "Error Notification Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          704
        ],
        "webhookId": "b08bc490-3830-452d-896c-07f7c1f56521"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "919ba1c8-cfbb-495b-b40a-969d86a1c812",
        "name": "Twilio: Search Available Numbers",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          128,
          224
        ],
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "76b47a5f-e9e8-44c2-8f46-a7b2daf94ce3",
        "name": "Twilio: Purchase Phone Number",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          352,
          224
        ],
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {},
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer key_0157d9401f66cfa1b51fadc66445"
              }
            ]
          },
          "sendHeaders": true
        },
        "id": "ea56c09f-0017-411a-a5da-d1eda143790b",
        "name": "Retell: Assign Phone Number to Agent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          576,
          224
        ],
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "\nconst input = $input.first().json;\nconst companyName = input.company_name || 'your company';\nconst agentName   = input.agent_name   || 'your AI receptionist';\nconst leadEmail   = input.lead_email   || '';\nconst phone       = input.agent_phone_number || '';\n\nfunction qr(data, size) { return 'https://api.qrserver.com/v1/create-qr-code/?size=' + (size||144) + 'x' + (size||144) + '&data=' + encodeURIComponent(data); }\n\n// \u2500\u2500 NO-PHONE PATH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (!phone) {\n  const html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"color-scheme\" content=\"light only\"></head>\n<body style=\"margin:0;padding:0;background-color:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:540px\">\n  <tr><td bgcolor=\"#f59e0b\" style=\"background-color:#f59e0b;height:4px;border-radius:8px 8px 0 0;font-size:4px;line-height:4px\">&nbsp;</td></tr>\n  <tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;border-radius:0 0 12px 12px;padding:36px 40px 32px\">\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:22px\">\n      <tr>\n        <td>\n          <p style=\"margin:0 0 6px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#d97706;font-family:Helvetica,Arial,sans-serif\">Action Required</p>\n          <h1 style=\"margin:0 0 6px;font-size:24px;font-weight:700;color:#111827;line-height:1.2;font-family:Helvetica,Arial,sans-serif\">One more step to go live</h1>\n          <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is set up and ready \u2014 we just need to connect your dedicated phone number to complete the activation.</p>\n        </td>\n        <td align=\"right\" valign=\"top\" style=\"padding-left:16px;font-size:32px;line-height:1\">\ud83d\udcde</td>\n      </tr>\n    </table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:20px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#fffbeb;border:1px solid #fde68a;border-radius:10px;margin-bottom:22px\">\n      <tr><td style=\"padding:16px 18px\">\n        <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td style=\"font-size:20px;vertical-align:top;width:28px;padding-right:12px\">\u26a0\ufe0f</td>\n          <td style=\"font-size:13px;color:#92400e;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is fully built and configured, but we weren't able to automatically assign your dedicated phone number. This is a quick fix \u2014 follow the steps below and you'll be live within minutes.</td>\n        </tr></table>\n      </td></tr>\n    </table>\n\n    <p style=\"margin:0 0 14px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">What to do next</p>\n\n    ${[\n      ['Reply to this email with <strong style=\"color:#111827\">\"I\\'m ready\"</strong> and our team will assign your number manually within 1 business hour.'],\n      ['Alternatively, email us directly at <strong style=\"color:#111827\">support@syntharra.com</strong> and we\\'ll sort it straight away.'],\n      ['Once confirmed, we\\'ll resend your full setup guide with your dedicated number and call forwarding instructions.']\n    ].map(([t],i) => `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:12px\"><tr><td style=\"width:24px;height:24px;border-radius:12px;background-color:#f3f0ff;text-align:center;vertical-align:middle;font-size:11px;font-weight:700;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">${i+1}</td><td style=\"padding-left:12px;font-size:13px;color:#374151;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${t}</td></tr></table>`).join('')}\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0\"><tr><td align=\"center\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:8px;padding:13px 32px\">\n          <a href=\"mailto:support@syntharra.com?subject=Ready%20for%20phone%20number%20activation%20-%20${encodeURIComponent(companyName)}\" style=\"font-size:14px;font-weight:600;color:#ffffff;text-decoration:none;font-family:Helvetica,Arial,sans-serif\">Reply \u2014 I'm Ready to Go Live</a>\n        </td>\n      </tr></table>\n    </td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:20px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      <tr>\n        <td width=\"3\" bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:2px;vertical-align:top\">&nbsp;</td>\n        <td style=\"padding-left:14px;font-size:13px;color:#6b7280;line-height:1.7;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is fully configured and ready to answer calls the moment your number is connected. Everything else \u2014 your voice, your greeting, and your lead notifications \u2014 is already live and waiting.</td>\n      </tr>\n    </table>\n\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\"><tr><td style=\"text-align:center\">\n      <p style=\"margin:0 0 4px;font-size:11px;font-weight:800;letter-spacing:3px;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">SYNTHARRA</p>\n      <p style=\"margin:0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">syntharra.com &nbsp;\u00b7&nbsp; support@syntharra.com</p>\n    </td></tr></table>\n\n  </td></tr>\n</table>\n</td></tr></table>\n</body></html>`;\n  return [{ json: { ...input, emailHtml: html, skipEmail: false, lead_email: leadEmail, company_name: companyName } }];\n}\n\n// \u2500\u2500 FULL WELCOME EMAIL PATH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst digits = phone.replace(/\\D/g,'');\nconst d = digits.slice(-10);\nconst displayNum = '+1 (' + d.slice(0,3) + ') ' + d.slice(3,6) + '-' + d.slice(6);\nconst qrIphone  = qr('App-Prefs:root=Phone&path=CALL_FORWARDING');\nconst qrAndroid = qr('tel:**21*' + digits + '#');\n\nconst DIV = `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:24px 0\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>`;\n\nfunction sectionHeader(icon, title, sub) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:14px\"><tr>\n    <td style=\"width:34px;height:34px;border-radius:8px;background-color:#f3f0ff;text-align:center;vertical-align:middle;font-size:16px;line-height:34px\">${icon}</td>\n    <td style=\"padding-left:12px\"><p style=\"margin:0;font-size:15px;font-weight:700;color:#111827;font-family:Helvetica,Arial,sans-serif\">${title}</p><p style=\"margin:2px 0 0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${sub}</p></td>\n  </tr></table>`;\n}\n\nfunction steps(arr) {\n  return arr.map((s,i) => `<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:10px\"><tr>\n    <td style=\"width:22px;height:22px;border-radius:11px;background-color:#6C63FF;text-align:center;vertical-align:middle;font-size:11px;font-weight:700;color:#ffffff;font-family:Helvetica,Arial,sans-serif\">${i+1}</td>\n    <td style=\"padding-left:12px;font-size:13px;color:#374151;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${s}</td>\n  </tr></table>`).join('');\n}\n\nfunction qrRow(src, label, sub) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:12px\">\n    <tr><td bgcolor=\"#f9f8ff\" style=\"background-color:#f9f8ff;border-radius:8px;padding:14px 16px\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td><img src=\"${src}\" width=\"72\" height=\"72\" style=\"border-radius:6px;border:1px solid #e5e1ff;display:block\" alt=\"QR Code\"></td>\n        <td style=\"padding-left:14px\"><p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">${label}</p><p style=\"margin:0;font-size:11px;color:#9ca3af;line-height:1.5;font-family:Helvetica,Arial,sans-serif\">${sub}</p></td>\n      </tr></table>\n    </td></tr>\n  </table>`;\n}\n\nfunction codeBox(label, val, qrSrc) {\n  return `<td style=\"width:50%;padding:4px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f7f5ff\" style=\"background-color:#f7f5ff;border-radius:8px\"><tr><td style=\"padding:10px 8px;text-align:center\">\n    <p style=\"margin:0 0 5px;font-size:9px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${label}</p>\n    <p style=\"margin:0 0 7px;font-size:12px;font-weight:700;color:#6C63FF;font-family:monospace\">${val}</p>\n    <img src=\"${qrSrc}\" width=\"56\" height=\"56\" style=\"border-radius:4px;border:1px solid #e5e1ff\" alt=\"QR\">\n  </td></tr></table></td>`;\n}\n\nfunction carrierCard(name, sub, codes) {\n  let rows = '';\n  for (let i = 0; i < codes.length; i += 2) {\n    rows += `<tr>${codeBox(codes[i][0], codes[i][1], qr(codes[i][2], 80))}${codes[i+1] ? codeBox(codes[i+1][0], codes[i+1][1], qr(codes[i+1][2], 80)) : '<td></td>'}</tr>`;\n  }\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #f3f0ff;border-radius:10px;margin-bottom:10px\">\n    <tr><td style=\"padding:16px 16px 12px\">\n      <p style=\"margin:0 0 3px;font-size:13px;font-weight:600;color:#111827;font-family:Helvetica,Arial,sans-serif\">${name}</p>\n      <p style=\"margin:0 0 12px;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">${sub}</p>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:-4px\">${rows}</table>\n    </td></tr>\n  </table>`;\n}\n\nfunction voipCard(icon, title, body) {\n  return `<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #f3f0ff;border-radius:10px;margin-bottom:10px\">\n    <tr><td style=\"padding:14px 16px\">\n      <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#111827;font-family:Helvetica,Arial,sans-serif\">${icon} ${title}</p>\n      <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.6;font-family:Helvetica,Arial,sans-serif\">${body}</p>\n    </td></tr>\n  </table>`;\n}\n\nconst qrTableRows = [\n  ['I have an iPhone',               'Use the Settings App method above'],\n  ['I have an Android',              'Use Phone Settings or scan the Android QR'],\n  ['I\\'m on AT&T or T-Mobile',       'Dial <strong style=\"color:#fff\">**21*' + digits + '#</strong>'],\n  ['I\\'m on Verizon',                'Dial <strong style=\"color:#fff\">*72' + digits + '</strong>'],\n  ['I use VoIP (RingCentral etc.)',   'Log in to your portal \u2192 Settings \u2192 Call Forwarding'],\n  ['I have a landline',              'Dial <strong style=\"color:#fff\">*72 then your AI number</strong> from the handset'],\n  ['Forward when unanswered only',   'Use the \"When Unanswered\" code for your carrier above'],\n].map(([s,a],i,arr) => {\n  const border = i < arr.length-1 ? 'border-bottom:1px solid rgba(255,255,255,0.12);' : '';\n  return `<tr><td style=\"padding:9px 6px;font-size:12px;color:#c4c0ff;font-weight:600;width:44%;font-family:Helvetica,Arial,sans-serif;${border}\">${s}</td><td style=\"padding:9px 6px;font-size:12px;color:#ffffff;font-family:Helvetica,Arial,sans-serif;${border}\">${a}</td></tr>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"color-scheme\" content=\"light only\"></head>\n<body style=\"margin:0;padding:0;background-color:#f3f4f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f3f4f6\"><tr><td align=\"center\" style=\"padding:40px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:540px\">\n\n<tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;height:4px;border-radius:8px 8px 0 0;font-size:4px;line-height:4px\">&nbsp;</td></tr>\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:36px 40px 28px\">\n  <p style=\"margin:0 0 6px;font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">Syntharra AI Receptionist</p>\n  <h1 style=\"margin:0 0 6px;font-size:24px;font-weight:700;color:#111827;line-height:1.2;font-family:Helvetica,Arial,sans-serif\">You're all set, ${companyName} \ud83c\udf89</h1>\n  <p style=\"margin:0;font-size:13px;color:#6b7280;line-height:1.65;font-family:Helvetica,Arial,sans-serif\">Your AI receptionist is live and answering calls 24/7. Follow the steps below to forward your business number \u2014 pick whichever method suits your setup.</p>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\">\n    <tr><td bgcolor=\"#f7f5ff\" style=\"background-color:#f7f5ff;border-radius:12px;padding:22px;text-align:center\">\n      <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 auto\">\n        <tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:10px;padding:12px 28px;text-align:center\">\n          <p style=\"margin:0 0 4px;font-size:9px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:#c4c0ff;font-family:Helvetica,Arial,sans-serif\">Your AI Receptionist Number</p>\n          <p style=\"margin:0;font-size:22px;font-weight:800;color:#ffffff;letter-spacing:1px;font-family:Helvetica,Arial,sans-serif\">${displayNum}</p>\n        </td></tr>\n      </table>\n      <p style=\"margin:12px 0 0;font-size:12px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">Forward your existing business number to this number using any of the methods below.</p>\n    </td></tr>\n  </table>\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83d\udcf1','iPhone \u2014 Settings App','Works on all iPhones running iOS 13 and above')}\n  ${steps([\n    'Open <strong style=\"color:#111827\">Settings \u2192 Phone \u2192 Call Forwarding</strong>',\n    'Toggle <strong style=\"color:#111827\">Call Forwarding</strong> on',\n    'Enter your number: <strong style=\"color:#111827\">' + displayNum + '</strong>',\n    'To stop forwarding, return here and toggle it <strong style=\"color:#111827\">off</strong>'\n  ])}\n  ${qrRow(qrIphone, 'Scan to open Call Forwarding settings', 'Scan with your iPhone camera \u2014 takes you directly to the Call Forwarding screen. No searching through menus.')}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83e\udd16','Android \u2014 Phone Settings','Samsung, Google Pixel, OnePlus and all Android devices')}\n  ${steps([\n    'Open the <strong style=\"color:#111827\">Phone app</strong> \u2192 tap <strong style=\"color:#111827\">\u22ee \u2192 Settings \u2192 Calls</strong>',\n    'Tap <strong style=\"color:#111827\">Call Forwarding \u2192 Always Forward</strong>',\n    'Enter <strong style=\"color:#111827\">' + displayNum + '</strong> and confirm',\n    '<em style=\"color:#9ca3af;font-size:12px\">Samsung: Phone \u2192 \u22ee \u2192 Settings \u2192 Supplementary services \u2192 Call forwarding</em>'\n  ])}\n  ${qrRow(qrAndroid, 'Scan to activate forwarding instantly', 'Dials the GSM forwarding code automatically. Works on AT&T, T-Mobile and most carriers.')}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83d\udce1','Carrier Dial Codes','Dial directly from any phone \u2014 no menus needed. Scan any QR to dial instantly.')}\n  ${carrierCard(\n    'AT&amp;T &nbsp;\u00b7&nbsp; T-Mobile &nbsp;\u00b7&nbsp; Cricket &nbsp;\u00b7&nbsp; Mint Mobile &nbsp;\u00b7&nbsp; Google Fi &nbsp;\u00b7&nbsp; Metro &nbsp;\u00b7&nbsp; Consumer Cellular',\n    'GSM Carriers \u2014 all use the same forwarding codes',\n    [\n      ['Forward All Calls',       '**21*'+digits+'#', 'tel:**21*'+digits+'#'],\n      ['Forward When Unanswered', '**61*'+digits+'#', 'tel:**61*'+digits+'#'],\n      ['Cancel All Forwarding',   '##21#',             'tel:##21#'],\n      ['Cancel Unanswered',       '##61#',             'tel:##61#'],\n    ]\n  )}\n  ${carrierCard(\n    'Verizon &nbsp;\u00b7&nbsp; Visible &nbsp;\u00b7&nbsp; Xfinity Mobile &nbsp;\u00b7&nbsp; Spectrum Mobile &nbsp;\u00b7&nbsp; US Cellular',\n    'Verizon Network Carriers \u2014 all use the same forwarding codes',\n    [\n      ['Forward All Calls',       '*72'+digits, 'tel:*72'+digits],\n      ['Forward When Unanswered', '*71'+digits, 'tel:*71'+digits],\n      ['Cancel All Forwarding',   '*73',         'tel:*73'],\n    ]\n  )}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\ud83c\udfe2','Business Lines, Landlines &amp; VoIP','Office phones, PBX systems and internet-based services')}\n  ${voipCard('\ud83c\udf10','VoIP \u2014 RingCentral, Grasshopper, Google Voice, Dialpad, 8x8', `Log in to your provider's web portal or app. Go to <strong>Settings \u2192 Calls \u2192 Call Forwarding</strong> and enter <strong>${displayNum}</strong>. Most providers also allow this from their mobile app under Settings \u2192 Calls.`)}\n  ${voipCard('\u260e\ufe0f','Traditional Landline', `Dial <strong>*72 followed by ${digits}</strong> from your handset and press Call. You'll hear a confirmation tone when active. To cancel, dial <strong>*73</strong>.`)}\n  ${voipCard('\ud83d\udda5\ufe0f','PBX / Enterprise System', `Contact your IT administrator to set call forwarding to <strong>${displayNum}</strong>. Most PBX systems support forwarding through the admin console \u2014 options include forwarding all calls, on no answer, or time-based routing.`)}\n</td></tr>\n\n${DIV.replace('<table ', '<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\"><table ')}\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:0 40px\">\n  ${sectionHeader('\u26a1','Quick Reference','Not sure which method to use? Find your situation below.')}\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n    <tr><td bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:10px;padding:18px\">\n      <p style=\"margin:0 0 12px;font-size:10px;font-weight:700;color:#c4c0ff;letter-spacing:2px;text-transform:uppercase;font-family:Helvetica,Arial,sans-serif\">Which method should I use?</p>\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">${qrTableRows}</table>\n    </td></tr>\n  </table>\n</td></tr>\n\n<tr><td bgcolor=\"#ffffff\" style=\"background-color:#ffffff;padding:22px 40px 28px\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\">\n    <tr>\n      <td width=\"3\" bgcolor=\"#6C63FF\" style=\"background-color:#6C63FF;border-radius:2px;vertical-align:top\">&nbsp;</td>\n      <td style=\"padding-left:14px;font-size:13px;color:#6b7280;line-height:1.7;font-family:Helvetica,Arial,sans-serif\">Need help? Reply to this email or reach us at <strong style=\"color:#111827\">support@syntharra.com</strong> \u2014 we'll get your forwarding set up in minutes.</td>\n    </tr>\n  </table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:22px\"><tr><td bgcolor=\"#f3f0ff\" style=\"background-color:#f3f0ff;height:1px;font-size:1px;line-height:1px\">&nbsp;</td></tr></table>\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-top:20px\"><tr><td style=\"text-align:center\">\n    <p style=\"margin:0 0 4px;font-size:11px;font-weight:800;letter-spacing:3px;color:#6C63FF;font-family:Helvetica,Arial,sans-serif\">SYNTHARRA</p>\n    <p style=\"margin:0;font-size:11px;color:#9ca3af;font-family:Helvetica,Arial,sans-serif\">syntharra.com &nbsp;\u00b7&nbsp; support@syntharra.com</p>\n  </td></tr></table>\n</td></tr>\n\n</table></td></tr></table>\n</body></html>`;\n\nreturn [{ json: { ...input, emailHtml: html, skipEmail: false, lead_email: leadEmail, company_name: companyName, agent_name: agentName } }];\n"
        },
        "id": "e64b840f-a8e1-4835-94d4-6bbde0dcc0be",
        "name": "Build Welcome Email HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          224
        ]
      },
      {
        "parameters": {
          "jsCode": "// Send welcome/setup email to client via SMTP2GO\nconst htmlData = $('Build Welcome Email HTML').first().json;\nconst mergeData = $('Merge LLM & Agent Data').first().json;\nconst clientEmail = mergeData.lead_email || '';\nconst emailHtml = htmlData.email_html || htmlData.html || '';\n\nif (!clientEmail || !emailHtml) {\n  console.log('[SETUP] No email or HTML \u2014 skipping');\n  return { ...mergeData, _setup_email_sent: false };\n}\n\nconst subject = 'Welcome to Syntharra \u2014 Your AI Receptionist is Live!';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.smtp2go.com/v3/email/send',\n    headers: { 'Content-Type': 'application/json' },\n    body: { api_key: 'api-0BE30DA64A074BC79F28BE6AEDC9DB9E', sender: 'Syntharra AI <noreply@syntharra.com>', to: [clientEmail], subject, html_body: emailHtml },\n    json: true\n  });\n  console.log('[SETUP] Sent to ' + clientEmail);\n  return { ...mergeData, _setup_email_sent: true };\n} catch (e) {\n  console.log('[SETUP] Failed:', e.message);\n  return { ...mergeData, _setup_email_sent: false };\n}"
        },
        "id": "fd741cbb-10af-477a-ae4b-4acca17fe697",
        "name": "Send Setup Instructions Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          224
        ],
        "webhookId": "d95d1778-0a14-49ca-9293-3b7af533e915",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/stripe_payment_data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "customer_email",
                "value": "=eq.{{  $('Merge LLM & Agent Data').first().json.client_email }} }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "agent_id",
                "value": "={{  $('Merge LLM & Agent Data').first().json.agent_id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          80
        ],
        "id": "a871e97f-9612-4e5f-815d-1edba01f5771",
        "name": "Link Agent ID to Stripe Payment Data"
      },
      {
        "id": "stripe-gate-if-node",
        "name": "Stripe Gate: Skip Phone if Test",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          124,
          24
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "stripe-check",
                "leftValue": "={{ $json.stripe_customer_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "JotForm Webhook Trigger": {
        "main": [
          [
            {
              "node": "Parse JotForm Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse JotForm Data": {
        "main": [
          [
            {
              "node": "Build Retell Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Retell Prompt": {
        "main": [
          [
            {
              "node": "Create Retell LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Retell LLM": {
        "main": [
          [
            {
              "node": "Create Retell Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF LLM Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Retell Agent": {
        "main": [
          [
            {
              "node": "Merge LLM & Agent Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Agent Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge LLM & Agent Data": {
        "main": [
          [
            {
              "node": "Write Client Data to Supabase",
              "type": "main",
              "index": 0
            },
            {
              "node": "Email Summary to Dan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Write Client Data to Supabase": {
        "main": [
          [
            {
              "node": "Link Agent ID to Stripe Payment Data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Stripe Gate: Skip Phone if Test",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twilio: Search Available Numbers": {
        "main": [
          [
            {
              "node": "Twilio: Purchase Phone Number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Twilio: Purchase Phone Number": {
        "main": [
          [
            {
              "node": "Retell: Assign Phone Number to Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retell: Assign Phone Number to Agent": {
        "main": [
          [
            {
              "node": "Build Welcome Email HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Welcome Email HTML": {
        "main": [
          [
            {
              "node": "Send Setup Instructions Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF LLM Error": {
        "main": [
          [],
          [
            {
              "node": "Log LLM Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Agent Error": {
        "main": [
          [],
          [
            {
              "node": "Log Agent Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log LLM Error": {
        "main": [
          [
            {
              "node": "Error Notification Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Agent Error": {
        "main": [
          [
            {
              "node": "Error Notification Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stripe Gate: Skip Phone if Test": {
        "main": [
          [
            {
              "node": "Twilio: Search Available Numbers",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Welcome Email HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniel Blackmore",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T23:37:43.363Z",
        "id": 706,
        "workflowId": "k0KeQxWb3j3BbQEk",
        "versionId": "5e0d96e3-a8b4-4989-8d27-ded97df3f876",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    ]
  }
}