hvac-standard/n8n-workflows/weekly-lead-report_mFuiB4pyXyWSIM5P.json
{
  "updatedAt": "2026-03-26T23:14:08.171Z",
  "createdAt": "2026-03-24T00:36:26.862Z",
  "id": "mFuiB4pyXyWSIM5P",
  "name": "HVAC Weekly Lead Report",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "2383e2f3-1295-42e9-a8bb-9114fdb0289f",
      "name": "Hourly Trigger (Sundays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Check if it's Sunday and determine which timezones are at 6pm\n// Runs every hour \u2014 only proceeds if it's Sunday AND a timezone\n// group is hitting 6pm right now.\n// ============================================================\n\nconst now = new Date();\nconst utcDay = now.getUTCDay(); // 0 = Sunday\nconst utcHour = now.getUTCHours();\n\n// Only run on Sundays\nif (utcDay !== 0) {\n  return []; // Empty = stops workflow\n}\n\n// Map: UTC hour \u2192 which IANA timezones are at 6pm (18:00)\n// We check both standard and daylight offsets\n// This handles DST automatically by checking the actual local time\nconst timezoneGroups = [\n  'America/New_York',\n  'America/Chicago', \n  'America/Denver',\n  'America/Los_Angeles',\n  'America/Anchorage',\n  'Pacific/Honolulu',\n  'America/Phoenix'\n];\n\n// Find which timezones are currently at 6pm\nconst targetTimezones = [];\nfor (const tz of timezoneGroups) {\n  try {\n    const localTime = new Date(now.toLocaleString('en-US', { timeZone: tz }));\n    if (localTime.getHours() === 18) {\n      targetTimezones.push(tz);\n    }\n  } catch (e) {\n    // Skip invalid timezone\n  }\n}\n\nif (targetTimezones.length === 0) {\n  return []; // No timezone is at 6pm right now\n}\n\n// Also build a list of common timezone aliases that map to the same offset\nconst timezoneAliases = {\n  'America/New_York': ['America/New_York', 'US/Eastern', 'Eastern', 'EST', 'EDT', 'ET', 'America/Detroit', 'America/Indiana/Indianapolis'],\n  'America/Chicago': ['America/Chicago', 'US/Central', 'Central', 'CST', 'CDT', 'CT', 'America/Indiana/Knox', 'America/Menominee'],\n  'America/Denver': ['America/Denver', 'US/Mountain', 'Mountain', 'MST', 'MDT', 'MT', 'America/Boise'],\n  'America/Los_Angeles': ['America/Los_Angeles', 'US/Pacific', 'Pacific', 'PST', 'PDT', 'PT'],\n  'America/Anchorage': ['America/Anchorage', 'US/Alaska', 'Alaska', 'AKST', 'AKDT', 'AKT'],\n  'Pacific/Honolulu': ['Pacific/Honolulu', 'US/Hawaii', 'Hawaii', 'HST', 'HT'],\n  'America/Phoenix': ['America/Phoenix', 'US/Arizona', 'Arizona', 'MST']\n};\n\n// Build the full list of timezone strings to match against\nlet allMatchingTimezones = [];\nfor (const tz of targetTimezones) {\n  if (timezoneAliases[tz]) {\n    allMatchingTimezones = allMatchingTimezones.concat(timezoneAliases[tz]);\n  } else {\n    allMatchingTimezones.push(tz);\n  }\n}\n\nreturn {\n  targetTimezones,\n  allMatchingTimezones,\n  utcHour,\n  runTime: now.toISOString()\n};"
      },
      "id": "4e972fde-a7ed-49b9-a242-390e837c2b69",
      "name": "Check Sunday 6pm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?select=agent_id,company_name,agent_name,lead_email,lead_phone,timezone,services_offered&lead_email=neq.",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "options": {}
      },
      "id": "5fa1a287-d444-4bc6-8855-0536a927f7bc",
      "name": "Supabase: Fetch All Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dSCVell30U6Yt1qA",
          "name": "Supabase Anon Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Filter clients whose timezone matches the current 6pm group\nconst clients = $input.first().json;\nconst checkData = $('Check Sunday 6pm').first().json;\nconst matchingTimezones = checkData.allMatchingTimezones || [];\n\nif (!Array.isArray(clients) || clients.length === 0) {\n  return [];\n}\n\n// Filter clients by timezone match (case-insensitive)\nconst filtered = clients.filter(c => {\n  const clientTz = (c.timezone || 'America/Chicago').trim();\n  return matchingTimezones.some(tz => \n    tz.toLowerCase() === clientTz.toLowerCase()\n  );\n});\n\nif (filtered.length === 0) {\n  return [];\n}\n\n// Return each client as a separate item for the loop\nreturn filtered.map(c => ({ json: c }));"
      },
      "id": "cb3a7766-dead-4392-a2d1-d0edb2b4ac07",
      "name": "Filter Clients by Timezone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eb58086e-457d-4ec8-bcdd-e0c0bc28f57b",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?agent_id=eq.{{ $json.agent_id }}&call_timestamp=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&select=*&order=call_timestamp.desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
            }
          ]
        },
        "options": {}
      },
      "id": "d91aa38c-931e-471b-89ca-9c2a4df84ea8",
      "name": "Supabase: Fetch Call Logs (7 Days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dSCVell30U6Yt1qA",
          "name": "Supabase Anon Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Calculate Weekly Lead Stats from Supabase call_log\n// ============================================================\n\nconst callLogs = $input.first().json;\nconst client = $('Split Into Batches').first().json;\n\nconst logs = Array.isArray(callLogs) ? callLogs : [];\n\n// Total calls\nconst totalCalls = logs.length;\n\n// Leads (is_lead = true OR lead_score >= 6)\nconst leads = logs.filter(l => l.is_lead === true || (l.lead_score && l.lead_score >= 6));\nconst totalLeads = leads.length;\n\n// Hot leads (lead_score >= 8)\nconst hotLeads = logs.filter(l => l.lead_score && l.lead_score >= 8);\nconst totalHotLeads = hotLeads.length;\n\n// Warm leads (score 6-7)\nconst warmLeads = logs.filter(l => l.lead_score && l.lead_score >= 6 && l.lead_score < 8);\nconst totalWarmLeads = warmLeads.length;\n\n// Non-leads / spam (is_lead = false AND score < 3, or no transcript)\nconst spam = logs.filter(l => !l.is_lead && l.lead_score !== null && l.lead_score < 3);\nconst totalSpam = spam.length;\n\n// General inquiries (not a lead, score 3-5)\nconst generalInquiries = logs.filter(l => !l.is_lead && l.lead_score >= 3 && l.lead_score < 6);\nconst totalGeneral = generalInquiries.length;\n\n// Average lead score\nconst avgScore = logs.length > 0\n  ? (logs.reduce((sum, l) => sum + (l.lead_score || 0), 0) / logs.length).toFixed(1)\n  : '0';\n\n// Total call duration\nconst totalDuration = logs.reduce((sum, l) => sum + (l.duration_seconds || 0), 0);\nconst avgDuration = logs.length > 0 ? Math.round(totalDuration / logs.length) : 0;\n\n// Service breakdown\nconst serviceBreakdown = {};\nlogs.forEach(l => {\n  const svc = l.service_requested || 'Other';\n  serviceBreakdown[svc] = (serviceBreakdown[svc] || 0) + 1;\n});\n\n// Urgency breakdown\nconst urgencyBreakdown = {};\nlogs.forEach(l => {\n  const urg = l.urgency || 'Unknown';\n  urgencyBreakdown[urg] = (urgencyBreakdown[urg] || 0) + 1;\n});\n\n// Week range\nconst weekEnd = new Date();\nconst weekStart = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nconst formatDate = (d) => d.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n\nreturn {\n  // Client info\n  company_name: client.company_name || 'Client',\n  agent_name: client.agent_name || 'AI Receptionist',\n  lead_email: client.lead_email || '',\n  agent_id: client.agent_id || '',\n  \n  // Stats\n  totalCalls,\n  totalLeads,\n  totalHotLeads,\n  totalWarmLeads,\n  totalSpam,\n  totalGeneral,\n  avgScore,\n  totalDuration,\n  avgDuration,\n  serviceBreakdown,\n  urgencyBreakdown,\n  \n  // Date range\n  weekStart: formatDate(weekStart),\n  weekEnd: formatDate(weekEnd),\n  \n  // Top leads for highlight section\n  topLeads: leads.slice(0, 5).map(l => ({\n    name: l.caller_name || 'Unknown',\n    phone: l.caller_phone || '',\n    service: l.service_requested || '',\n    score: l.lead_score || 0,\n    urgency: l.urgency || ''\n  }))\n};"
      },
      "id": "0045d0ba-e016-4602-abb2-b2c6fb84349b",
      "name": "Calculate Lead Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Build Weekly Report Email HTML \u2014 Syntharra Branded\n// ============================================================\n\nconst d = $input.first().json;\n\n// Format duration\nconst fmtDuration = (s) => {\n  if (s < 60) return `${s}s`;\n  const m = Math.floor(s / 60);\n  const sec = s % 60;\n  return sec > 0 ? `${m}m ${sec}s` : `${m}m`;\n};\n\n// Service breakdown rows\nlet serviceRows = '';\nif (d.serviceBreakdown && Object.keys(d.serviceBreakdown).length > 0) {\n  Object.entries(d.serviceBreakdown)\n    .sort((a, b) => b[1] - a[1])\n    .forEach(([svc, count]) => {\n      serviceRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${svc}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center;font-weight:bold'>${count}</td></tr>`;\n    });\n}\n\n// Top leads rows\nlet leadRows = '';\nif (d.topLeads && d.topLeads.length > 0) {\n  d.topLeads.forEach(l => {\n    const scoreColor = l.score >= 8 ? '#e53e3e' : l.score >= 6 ? '#dd6b20' : '#718096';\n    leadRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.name}</td><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.service || 'General'}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center'><span style='background:${scoreColor};color:white;padding:2px 8px;border-radius:12px;font-size:12px'>${l.score}/10</span></td></tr>`;\n  });\n}\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset='utf-8'><meta name='viewport' content='width=device-width,initial-scale=1'></head>\n<body style='margin:0;padding:0;background:#f4f4f7;font-family:Arial,Helvetica,sans-serif'>\n<table width='100%' cellpadding='0' cellspacing='0' style='background:#f4f4f7;padding:24px 0'>\n<tr><td align='center'>\n<table width='600' cellpadding='0' cellspacing='0' style='background:white;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)'>\n\n<!-- Header -->\n<tr><td style='background:linear-gradient(135deg,#6C63FF,#8B85FF);padding:32px 24px;text-align:center'>\n  <h1 style='color:white;margin:0;font-size:24px'>Weekly AI Receptionist Report</h1>\n  <p style='color:rgba(255,255,255,0.85);margin:8px 0 0;font-size:14px'>${d.weekStart} \u2014 ${d.weekEnd}</p>\n</td></tr>\n\n<!-- Company -->\n<tr><td style='padding:24px 24px 0'>\n  <p style='margin:0;color:#4a5568;font-size:16px'>Hi <strong>${d.company_name}</strong> team,</p>\n  <p style='margin:12px 0 0;color:#718096;font-size:14px'>Here's what <strong>${d.agent_name}</strong> accomplished this week:</p>\n</td></tr>\n\n<!-- Stats Grid -->\n<tr><td style='padding:24px'>\n  <table width='100%' cellpadding='0' cellspacing='0'>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f0fff4;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#2f855a'>${d.totalCalls}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Total Calls</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fffff0;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#d69e2e'>${d.totalLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Qualified Leads</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fff5f5;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Hot Leads</div>\n        </div>\n      </td>\n    </tr>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#ebf8ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#3182ce'>${fmtDuration(d.avgDuration)}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Call Time</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#faf5ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#805ad5'>${d.avgScore}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Lead Score</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#a0aec0'>${d.totalSpam}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Spam/Junk</div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</td></tr>\n\n<!-- Call Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Call Breakdown</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Hot Leads (score 8-10)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Warm Leads (score 6-7)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#dd6b20'>${d.totalWarmLeads}</td>\n    </tr>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>General Inquiries</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#3182ce'>${d.totalGeneral}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Spam / Junk Calls</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#a0aec0'>${d.totalSpam}</td>\n    </tr>\n  </table>\n</td></tr>\n\n${serviceRows ? `\n<!-- Service Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Services Requested</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Service Type</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Count</td>\n    </tr>\n    ${serviceRows}\n  </table>\n</td></tr>` : ''}\n\n${leadRows ? `\n<!-- Top Leads -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Top Leads This Week</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Name</td>\n      <td style='padding:8px 12px;font-size:13px'>Service</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Score</td>\n    </tr>\n    ${leadRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- Total Duration -->\n<tr><td style='padding:0 24px 24px'>\n  <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n    <p style='margin:0;color:#718096;font-size:13px'>Total time ${d.agent_name} spent on the phone this week</p>\n    <p style='margin:8px 0 0;font-size:24px;font-weight:bold;color:#2d3748'>${fmtDuration(d.totalDuration)}</p>\n  </div>\n</td></tr>\n\n<!-- Footer -->\n<tr><td style='background:#f7fafc;padding:24px;text-align:center;border-top:1px solid #e2e8f0'>\n  <p style='margin:0;color:#a0aec0;font-size:12px'>Powered by <strong style='color:#6C63FF'>Syntharra</strong> AI Receptionist</p>\n  <p style='margin:8px 0 0;color:#cbd5e0;font-size:11px'>This is an automated weekly report. Questions? Reply to this email or contact support@syntharra.com</p>\n</td></tr>\n\n</table>\n</td></tr></table>\n</body></html>`;\n\nreturn {\n  emailHtml,\n  lead_email: d.lead_email,\n  company_name: d.company_name,\n  agent_name: d.agent_name,\n  totalCalls: d.totalCalls,\n  totalLeads: d.totalLeads,\n  weekStart: d.weekStart,\n  weekEnd: d.weekEnd\n};"
      },
      "id": "400604df-badf-416b-b331-342abf9891ea",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.lead_email }}",
        "subject": "=Weekly Report: {{ $json.agent_name }} handled {{ $json.totalCalls }} calls & captured {{ $json.totalLeads }} leads | {{ $json.company_name }}",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "4bdb5887-6107-4b24-9318-34d4ec027b3c",
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ],
      "webhookId": "a9badcb3-c8ed-4390-8697-06dd440c2d6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "8sxMIlsjwpknHgNR",
          "name": "Gmail OAuth2 API"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Hourly Trigger (Sundays)": {
      "main": [
        [
          {
            "node": "Check Sunday 6pm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sunday 6pm": {
      "main": [
        [
          {
            "node": "Supabase: Fetch All Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch All Clients": {
      "main": [
        [
          {
            "node": "Filter Clients by Timezone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Clients by Timezone": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Call Logs (7 Days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch Call Logs (7 Days)": {
      "main": [
        [
          {
            "node": "Calculate Lead Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Stats": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly Report Email": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": {
    "node:Hourly Trigger (Sundays)": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b378b724-d4db-4484-a6a9-878d67dc2de0",
  "activeVersionId": "b378b724-d4db-4484-a6a9-878d67dc2de0",
  "versionCounter": 13,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T00:36:26.864Z",
      "createdAt": "2026-03-24T00:36:26.864Z",
      "role": "workflow:owner",
      "workflowId": "mFuiB4pyXyWSIM5P",
      "projectId": "fHNxQE9IeGCcfUfO",
      "project": {
        "updatedAt": "2026-03-17T23:00:52.768Z",
        "createdAt": "2026-03-17T23:00:46.569Z",
        "id": "fHNxQE9IeGCcfUfO",
        "name": "Daniel Blackmore <daniel@syntharra.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-24T01:05:38.000Z",
    "createdAt": "2026-03-24T01:03:11.884Z",
    "versionId": "b378b724-d4db-4484-a6a9-878d67dc2de0",
    "workflowId": "mFuiB4pyXyWSIM5P",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "id": "2383e2f3-1295-42e9-a8bb-9114fdb0289f",
        "name": "Hourly Trigger (Sundays)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// Check if it's Sunday and determine which timezones are at 6pm\n// Runs every hour \u2014 only proceeds if it's Sunday AND a timezone\n// group is hitting 6pm right now.\n// ============================================================\n\nconst now = new Date();\nconst utcDay = now.getUTCDay(); // 0 = Sunday\nconst utcHour = now.getUTCHours();\n\n// Only run on Sundays\nif (utcDay !== 0) {\n  return []; // Empty = stops workflow\n}\n\n// Map: UTC hour \u2192 which IANA timezones are at 6pm (18:00)\n// We check both standard and daylight offsets\n// This handles DST automatically by checking the actual local time\nconst timezoneGroups = [\n  'America/New_York',\n  'America/Chicago', \n  'America/Denver',\n  'America/Los_Angeles',\n  'America/Anchorage',\n  'Pacific/Honolulu',\n  'America/Phoenix'\n];\n\n// Find which timezones are currently at 6pm\nconst targetTimezones = [];\nfor (const tz of timezoneGroups) {\n  try {\n    const localTime = new Date(now.toLocaleString('en-US', { timeZone: tz }));\n    if (localTime.getHours() === 18) {\n      targetTimezones.push(tz);\n    }\n  } catch (e) {\n    // Skip invalid timezone\n  }\n}\n\nif (targetTimezones.length === 0) {\n  return []; // No timezone is at 6pm right now\n}\n\n// Also build a list of common timezone aliases that map to the same offset\nconst timezoneAliases = {\n  'America/New_York': ['America/New_York', 'US/Eastern', 'Eastern', 'EST', 'EDT', 'ET', 'America/Detroit', 'America/Indiana/Indianapolis'],\n  'America/Chicago': ['America/Chicago', 'US/Central', 'Central', 'CST', 'CDT', 'CT', 'America/Indiana/Knox', 'America/Menominee'],\n  'America/Denver': ['America/Denver', 'US/Mountain', 'Mountain', 'MST', 'MDT', 'MT', 'America/Boise'],\n  'America/Los_Angeles': ['America/Los_Angeles', 'US/Pacific', 'Pacific', 'PST', 'PDT', 'PT'],\n  'America/Anchorage': ['America/Anchorage', 'US/Alaska', 'Alaska', 'AKST', 'AKDT', 'AKT'],\n  'Pacific/Honolulu': ['Pacific/Honolulu', 'US/Hawaii', 'Hawaii', 'HST', 'HT'],\n  'America/Phoenix': ['America/Phoenix', 'US/Arizona', 'Arizona', 'MST']\n};\n\n// Build the full list of timezone strings to match against\nlet allMatchingTimezones = [];\nfor (const tz of targetTimezones) {\n  if (timezoneAliases[tz]) {\n    allMatchingTimezones = allMatchingTimezones.concat(timezoneAliases[tz]);\n  } else {\n    allMatchingTimezones.push(tz);\n  }\n}\n\nreturn {\n  targetTimezones,\n  allMatchingTimezones,\n  utcHour,\n  runTime: now.toISOString()\n};"
        },
        "id": "4e972fde-a7ed-49b9-a242-390e837c2b69",
        "name": "Check Sunday 6pm",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_standard_agent?select=agent_id,company_name,agent_name,lead_email,lead_phone,timezone,services_offered&lead_email=neq.",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              }
            ]
          },
          "options": {}
        },
        "id": "5fa1a287-d444-4bc6-8855-0536a927f7bc",
        "name": "Supabase: Fetch All Clients",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          480,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "dSCVell30U6Yt1qA",
            "name": "Supabase Anon Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// Filter clients whose timezone matches the current 6pm group\nconst clients = $input.first().json;\nconst checkData = $('Check Sunday 6pm').first().json;\nconst matchingTimezones = checkData.allMatchingTimezones || [];\n\nif (!Array.isArray(clients) || clients.length === 0) {\n  return [];\n}\n\n// Filter clients by timezone match (case-insensitive)\nconst filtered = clients.filter(c => {\n  const clientTz = (c.timezone || 'America/Chicago').trim();\n  return matchingTimezones.some(tz => \n    tz.toLowerCase() === clientTz.toLowerCase()\n  );\n});\n\nif (filtered.length === 0) {\n  return [];\n}\n\n// Return each client as a separate item for the loop\nreturn filtered.map(c => ({ json: c }));"
        },
        "id": "cb3a7766-dead-4392-a2d1-d0edb2b4ac07",
        "name": "Filter Clients by Timezone",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "eb58086e-457d-4ec8-bcdd-e0c0bc28f57b",
        "name": "Split Into Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "url": "=https://hgheyqwnrcvwtgngqdnq.supabase.co/rest/v1/hvac_call_log?agent_id=eq.{{ $json.agent_id }}&call_timestamp=gte.{{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString() }}&select=*&order=call_timestamp.desc",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaGV5cXducmN2d3RnbmdxZG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTUzNTIsImV4cCI6MjA4OTg3MTM1Mn0.dDzlIEgPvV2KVZOpCBYGbHJ2_LZnXoL6KKmQrAwfyL0"
              }
            ]
          },
          "options": {}
        },
        "id": "d91aa38c-931e-471b-89ca-9c2a4df84ea8",
        "name": "Supabase: Fetch Call Logs (7 Days)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1200,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "dSCVell30U6Yt1qA",
            "name": "Supabase Anon Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// Calculate Weekly Lead Stats from Supabase call_log\n// ============================================================\n\nconst callLogs = $input.first().json;\nconst client = $('Split Into Batches').first().json;\n\nconst logs = Array.isArray(callLogs) ? callLogs : [];\n\n// Total calls\nconst totalCalls = logs.length;\n\n// Leads (is_lead = true OR lead_score >= 6)\nconst leads = logs.filter(l => l.is_lead === true || (l.lead_score && l.lead_score >= 6));\nconst totalLeads = leads.length;\n\n// Hot leads (lead_score >= 8)\nconst hotLeads = logs.filter(l => l.lead_score && l.lead_score >= 8);\nconst totalHotLeads = hotLeads.length;\n\n// Warm leads (score 6-7)\nconst warmLeads = logs.filter(l => l.lead_score && l.lead_score >= 6 && l.lead_score < 8);\nconst totalWarmLeads = warmLeads.length;\n\n// Non-leads / spam (is_lead = false AND score < 3, or no transcript)\nconst spam = logs.filter(l => !l.is_lead && l.lead_score !== null && l.lead_score < 3);\nconst totalSpam = spam.length;\n\n// General inquiries (not a lead, score 3-5)\nconst generalInquiries = logs.filter(l => !l.is_lead && l.lead_score >= 3 && l.lead_score < 6);\nconst totalGeneral = generalInquiries.length;\n\n// Average lead score\nconst avgScore = logs.length > 0\n  ? (logs.reduce((sum, l) => sum + (l.lead_score || 0), 0) / logs.length).toFixed(1)\n  : '0';\n\n// Total call duration\nconst totalDuration = logs.reduce((sum, l) => sum + (l.duration_seconds || 0), 0);\nconst avgDuration = logs.length > 0 ? Math.round(totalDuration / logs.length) : 0;\n\n// Service breakdown\nconst serviceBreakdown = {};\nlogs.forEach(l => {\n  const svc = l.service_requested || 'Other';\n  serviceBreakdown[svc] = (serviceBreakdown[svc] || 0) + 1;\n});\n\n// Urgency breakdown\nconst urgencyBreakdown = {};\nlogs.forEach(l => {\n  const urg = l.urgency || 'Unknown';\n  urgencyBreakdown[urg] = (urgencyBreakdown[urg] || 0) + 1;\n});\n\n// Week range\nconst weekEnd = new Date();\nconst weekStart = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\nconst formatDate = (d) => d.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });\n\nreturn {\n  // Client info\n  company_name: client.company_name || 'Client',\n  agent_name: client.agent_name || 'AI Receptionist',\n  lead_email: client.lead_email || '',\n  agent_id: client.agent_id || '',\n  \n  // Stats\n  totalCalls,\n  totalLeads,\n  totalHotLeads,\n  totalWarmLeads,\n  totalSpam,\n  totalGeneral,\n  avgScore,\n  totalDuration,\n  avgDuration,\n  serviceBreakdown,\n  urgencyBreakdown,\n  \n  // Date range\n  weekStart: formatDate(weekStart),\n  weekEnd: formatDate(weekEnd),\n  \n  // Top leads for highlight section\n  topLeads: leads.slice(0, 5).map(l => ({\n    name: l.caller_name || 'Unknown',\n    phone: l.caller_phone || '',\n    service: l.service_requested || '',\n    score: l.lead_score || 0,\n    urgency: l.urgency || ''\n  }))\n};"
        },
        "id": "0045d0ba-e016-4602-abb2-b2c6fb84349b",
        "name": "Calculate Lead Stats",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// Build Weekly Report Email HTML \u2014 Syntharra Branded\n// ============================================================\n\nconst d = $input.first().json;\n\n// Format duration\nconst fmtDuration = (s) => {\n  if (s < 60) return `${s}s`;\n  const m = Math.floor(s / 60);\n  const sec = s % 60;\n  return sec > 0 ? `${m}m ${sec}s` : `${m}m`;\n};\n\n// Service breakdown rows\nlet serviceRows = '';\nif (d.serviceBreakdown && Object.keys(d.serviceBreakdown).length > 0) {\n  Object.entries(d.serviceBreakdown)\n    .sort((a, b) => b[1] - a[1])\n    .forEach(([svc, count]) => {\n      serviceRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${svc}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center;font-weight:bold'>${count}</td></tr>`;\n    });\n}\n\n// Top leads rows\nlet leadRows = '';\nif (d.topLeads && d.topLeads.length > 0) {\n  d.topLeads.forEach(l => {\n    const scoreColor = l.score >= 8 ? '#e53e3e' : l.score >= 6 ? '#dd6b20' : '#718096';\n    leadRows += `<tr><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.name}</td><td style='padding:8px 12px;border-bottom:1px solid #eee'>${l.service || 'General'}</td><td style='padding:8px 12px;border-bottom:1px solid #eee;text-align:center'><span style='background:${scoreColor};color:white;padding:2px 8px;border-radius:12px;font-size:12px'>${l.score}/10</span></td></tr>`;\n  });\n}\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset='utf-8'><meta name='viewport' content='width=device-width,initial-scale=1'></head>\n<body style='margin:0;padding:0;background:#f4f4f7;font-family:Arial,Helvetica,sans-serif'>\n<table width='100%' cellpadding='0' cellspacing='0' style='background:#f4f4f7;padding:24px 0'>\n<tr><td align='center'>\n<table width='600' cellpadding='0' cellspacing='0' style='background:white;border-radius:12px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.08)'>\n\n<!-- Header -->\n<tr><td style='background:linear-gradient(135deg,#6C63FF,#8B85FF);padding:32px 24px;text-align:center'>\n  <h1 style='color:white;margin:0;font-size:24px'>Weekly AI Receptionist Report</h1>\n  <p style='color:rgba(255,255,255,0.85);margin:8px 0 0;font-size:14px'>${d.weekStart} \u2014 ${d.weekEnd}</p>\n</td></tr>\n\n<!-- Company -->\n<tr><td style='padding:24px 24px 0'>\n  <p style='margin:0;color:#4a5568;font-size:16px'>Hi <strong>${d.company_name}</strong> team,</p>\n  <p style='margin:12px 0 0;color:#718096;font-size:14px'>Here's what <strong>${d.agent_name}</strong> accomplished this week:</p>\n</td></tr>\n\n<!-- Stats Grid -->\n<tr><td style='padding:24px'>\n  <table width='100%' cellpadding='0' cellspacing='0'>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f0fff4;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#2f855a'>${d.totalCalls}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Total Calls</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fffff0;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#d69e2e'>${d.totalLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Qualified Leads</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#fff5f5;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Hot Leads</div>\n        </div>\n      </td>\n    </tr>\n    <tr>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#ebf8ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#3182ce'>${fmtDuration(d.avgDuration)}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Call Time</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#faf5ff;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#805ad5'>${d.avgScore}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Avg Lead Score</div>\n        </div>\n      </td>\n      <td width='33%' style='padding:8px'>\n        <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n          <div style='font-size:32px;font-weight:bold;color:#a0aec0'>${d.totalSpam}</div>\n          <div style='font-size:12px;color:#718096;margin-top:4px'>Spam/Junk</div>\n        </div>\n      </td>\n    </tr>\n  </table>\n</td></tr>\n\n<!-- Call Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Call Breakdown</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Hot Leads (score 8-10)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#e53e3e'>${d.totalHotLeads}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Warm Leads (score 6-7)</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#dd6b20'>${d.totalWarmLeads}</td>\n    </tr>\n    <tr style='background:#f7fafc'>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>General Inquiries</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#3182ce'>${d.totalGeneral}</td>\n    </tr>\n    <tr>\n      <td style='padding:8px 12px;font-size:13px;color:#718096'>Spam / Junk Calls</td>\n      <td style='padding:8px 12px;text-align:right;font-weight:bold;color:#a0aec0'>${d.totalSpam}</td>\n    </tr>\n  </table>\n</td></tr>\n\n${serviceRows ? `\n<!-- Service Breakdown -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Services Requested</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Service Type</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Count</td>\n    </tr>\n    ${serviceRows}\n  </table>\n</td></tr>` : ''}\n\n${leadRows ? `\n<!-- Top Leads -->\n<tr><td style='padding:0 24px 24px'>\n  <h3 style='color:#2d3748;font-size:16px;margin:0 0 12px'>Top Leads This Week</h3>\n  <table width='100%' style='border-collapse:collapse'>\n    <tr style='background:#6C63FF;color:white'>\n      <td style='padding:8px 12px;font-size:13px;border-radius:6px 0 0 0'>Name</td>\n      <td style='padding:8px 12px;font-size:13px'>Service</td>\n      <td style='padding:8px 12px;text-align:center;font-size:13px;border-radius:0 6px 0 0'>Score</td>\n    </tr>\n    ${leadRows}\n  </table>\n</td></tr>` : ''}\n\n<!-- Total Duration -->\n<tr><td style='padding:0 24px 24px'>\n  <div style='background:#f7fafc;border-radius:8px;padding:16px;text-align:center'>\n    <p style='margin:0;color:#718096;font-size:13px'>Total time ${d.agent_name} spent on the phone this week</p>\n    <p style='margin:8px 0 0;font-size:24px;font-weight:bold;color:#2d3748'>${fmtDuration(d.totalDuration)}</p>\n  </div>\n</td></tr>\n\n<!-- Footer -->\n<tr><td style='background:#f7fafc;padding:24px;text-align:center;border-top:1px solid #e2e8f0'>\n  <p style='margin:0;color:#a0aec0;font-size:12px'>Powered by <strong style='color:#6C63FF'>Syntharra</strong> AI Receptionist</p>\n  <p style='margin:8px 0 0;color:#cbd5e0;font-size:11px'>This is an automated weekly report. Questions? Reply to this email or contact support@syntharra.com</p>\n</td></tr>\n\n</table>\n</td></tr></table>\n</body></html>`;\n\nreturn {\n  emailHtml,\n  lead_email: d.lead_email,\n  company_name: d.company_name,\n  agent_name: d.agent_name,\n  totalCalls: d.totalCalls,\n  totalLeads: d.totalLeads,\n  weekStart: d.weekStart,\n  weekEnd: d.weekEnd\n};"
        },
        "id": "400604df-badf-416b-b331-342abf9891ea",
        "name": "Build Email HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          0
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.lead_email }}",
          "subject": "=Weekly Report: {{ $json.agent_name }} handled {{ $json.totalCalls }} calls & captured {{ $json.totalLeads }} leads | {{ $json.company_name }}",
          "message": "={{ $json.emailHtml }}",
          "options": {}
        },
        "id": "4bdb5887-6107-4b24-9318-34d4ec027b3c",
        "name": "Send Weekly Report Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          1920,
          0
        ],
        "webhookId": "a9badcb3-c8ed-4390-8697-06dd440c2d6c",
        "credentials": {
          "gmailOAuth2": {
            "id": "8sxMIlsjwpknHgNR",
            "name": "Gmail OAuth2 API"
          }
        },
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "Hourly Trigger (Sundays)": {
        "main": [
          [
            {
              "node": "Check Sunday 6pm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Sunday 6pm": {
        "main": [
          [
            {
              "node": "Supabase: Fetch All Clients",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Fetch All Clients": {
        "main": [
          [
            {
              "node": "Filter Clients by Timezone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Clients by Timezone": {
        "main": [
          [
            {
              "node": "Split Into Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Into Batches": {
        "main": [
          [
            {
              "node": "Supabase: Fetch Call Logs (7 Days)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Fetch Call Logs (7 Days)": {
        "main": [
          [
            {
              "node": "Calculate Lead Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Lead Stats": {
        "main": [
          [
            {
              "node": "Build Email HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Email HTML": {
        "main": [
          [
            {
              "node": "Send Weekly Report Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Weekly Report Email": {
        "main": [
          [
            {
              "node": "Split Into Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Daniel Blackmore",
    "name": "Version b378b724",
    "description": "Supabase-powered weekly report with timezone-aware 6pm Sunday delivery",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-24T01:05:38.506Z",
        "id": 109,
        "workflowId": "mFuiB4pyXyWSIM5P",
        "versionId": "b378b724-d4db-4484-a6a9-878d67dc2de0",
        "event": "activated",
        "userId": "59bc3c32-fc3d-4e66-a2a8-5439f05606b7"
      }
    ]
  }
}