docs/email-digest-workflow.json
{
  "name": "Email Digest \u2014 Daily 6am GMT",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Every Day at 6am GMT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        },
        "timezone": "Europe/London"
      }
    },
    {
      "id": "node-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        540
      ],
      "parameters": {}
    },
    {
      "id": "node-date",
      "name": "Get Digest Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        460
      ],
      "parameters": {
        "jsCode": "\nconst now = new Date();\nconst digestDate = now.toLocaleDateString('en-CA', { timeZone: 'Europe/London' });\nreturn [{ json: { digestDate, runAt: now.toISOString() } }];\n"
      }
    },
    {
      "id": "node-gmail-0",
      "name": "Gmail \u2014 Support",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        100
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 support"
        }
      }
    },
    {
      "id": "node-gmail-1",
      "name": "Gmail \u2014 Sales",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        240
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 sales"
        }
      }
    },
    {
      "id": "node-gmail-2",
      "name": "Gmail \u2014 Solutions",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        380
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 solutions"
        }
      }
    },
    {
      "id": "node-gmail-3",
      "name": "Gmail \u2014 Alerts",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        520
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 alerts"
        }
      }
    },
    {
      "id": "node-gmail-4",
      "name": "Gmail \u2014 Info",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        660
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 info"
        }
      }
    },
    {
      "id": "node-gmail-5",
      "name": "Gmail \u2014 Admin",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        800
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 admin"
        }
      }
    },
    {
      "id": "node-gmail-6",
      "name": "Gmail \u2014 Careers",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        680,
        940
      ],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 40,
        "filters": {
          "q": "-category:promotions -category:social -category:updates -category:forums -from:noreply -from:no-reply newer_than:1d"
        },
        "options": {
          "format": "metadata",
          "metadataHeaders": [
            "From",
            "To",
            "Subject",
            "Date"
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2 \u2014 careers"
        }
      }
    },
    {
      "id": "node-classify-0",
      "name": "Classify \u2014 Support",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        100
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'support@syntharra.com', label: 'Support', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'support@syntharra.com', label: 'Support', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-1",
      "name": "Classify \u2014 Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        240
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'sales@syntharra.com', label: 'Sales', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'sales@syntharra.com', label: 'Sales', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-2",
      "name": "Classify \u2014 Solutions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        380
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-3",
      "name": "Classify \u2014 Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        520
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-4",
      "name": "Classify \u2014 Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        660
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'info@syntharra.com', label: 'Info', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'info@syntharra.com', label: 'Info', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-5",
      "name": "Classify \u2014 Admin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        800
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'admin@syntharra.com', label: 'Admin', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'admin@syntharra.com', label: 'Admin', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-classify-6",
      "name": "Classify \u2014 Careers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        940
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst msgs = $input.all();\n\nif (!msgs || msgs.length === 0) {\n  return [{ json: { skip: true, inbox: 'careers@syntharra.com', label: 'Careers', digestDate, count: 0 } }];\n}\n\nconst emails = msgs.map(item => {\n  const msg = item.json;\n  const headers = msg.payload?.headers || [];\n  const h = (name) => (headers.find(x => x.name.toLowerCase() === name.toLowerCase()) || {}).value || '';\n  return {\n    id: msg.id,\n    threadId: msg.threadId,\n    from: h('From'),\n    subject: h('Subject') || '(no subject)',\n    date: h('Date'),\n    snippet: (msg.snippet || '').substring(0, 600),\n    labels: (msg.labelIds || []).join(',')\n  };\n}).filter(e => e.id);\n\nreturn [{ json: { skip: false, inbox: 'careers@syntharra.com', label: 'Careers', digestDate, emails, count: emails.length } }];\n"
      }
    },
    {
      "id": "node-groq-0",
      "name": "Groq \u2014 Support",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Support (\" + support@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-1",
      "name": "Groq \u2014 Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Sales (\" + sales@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-2",
      "name": "Groq \u2014 Solutions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Solutions (\" + solutions@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-3",
      "name": "Groq \u2014 Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Alerts (\" + alerts@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-4",
      "name": "Groq \u2014 Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        660
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Info (\" + info@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-5",
      "name": "Groq \u2014 Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Admin (\" + admin@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-groq-6",
      "name": "Groq \u2014 Careers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        940
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.05,\n  \"max_tokens\": 3000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI email triage system for Syntharra, a B2B SaaS company selling AI Phone Receptionist subscriptions to trade businesses (HVAC, plumbing, electrical, etc.) in the USA and globally. You scan inboxes and identify emails that need the founder's attention. You ONLY return valid JSON, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Inbox: Careers (\" + careers@syntharra.com + \")\\n\\nEmails to classify:\\n\" + JSON.stringify($json.emails) + \"\\n\\nFor each email, decide if it needs attention. EXCLUDE entirely: newsletters, mass marketing, automated SaaS notifications, GitHub/Stripe/Jotform automated emails, social media digests, promotional offers, no-reply senders, Google Workspace notifications, or anything a robot sent.\\n\\nINCLUDE only emails where a real human wrote to us: potential clients, support questions, job applications, partnership proposals, complaints, billing questions, vendor outreach.\\n\\nReturn JSON with this exact structure:\\n{\\n  \\\"emails\\\": [\\n    {\\n      \\\"id\\\": \\\"<gmail id>\\\",\\n      \\\"threadId\\\": \\\"<thread id>\\\",\\n      \\\"from\\\": \\\"<from header>\\\",\\n      \\\"subject\\\": \\\"<subject>\\\",\\n      \\\"date\\\": \\\"<date header>\\\",\\n      \\\"snippet\\\": \\\"<snippet>\\\",\\n      \\\"summary\\\": \\\"<one sentence: who is writing and what they need>\\\",\\n      \\\"importance\\\": \\\"high|medium\\\",\\n      \\\"category\\\": \\\"client_enquiry|sales_lead|support_request|job_application|partnership|complaint|billing|vendor|general\\\",\\n      \\\"action_required\\\": true|false,\\n      \\\"flag\\\": \\\"urgent|opportunity|hire|null\\\"\\n    }\\n  ]\\n}\\n\\nImportance: high = potential client, existing client issue, urgent complaint. medium = job application, general enquiry, partnership. Only include high and medium \u2014 omit low. If all emails are automated/promotional, return { \\\"emails\\\": [] }.\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Groq API Key"
        }
      }
    },
    {
      "id": "node-save-0",
      "name": "Save \u2014 Support",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        100
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Support').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'support@syntharra.com', label: 'Support', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Support:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'support@syntharra.com', label: 'Support', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'support@syntharra.com', label: 'Support', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.support@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'support@syntharra.com',\n      inbox_label:     'Support',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'support@syntharra.com', label: 'Support', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Support:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'support@syntharra.com', label: 'Support', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'support@syntharra.com', label: 'Support', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-1",
      "name": "Save \u2014 Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        240
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Sales').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'sales@syntharra.com', label: 'Sales', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Sales:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'sales@syntharra.com', label: 'Sales', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'sales@syntharra.com', label: 'Sales', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.sales@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'sales@syntharra.com',\n      inbox_label:     'Sales',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'sales@syntharra.com', label: 'Sales', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Sales:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'sales@syntharra.com', label: 'Sales', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'sales@syntharra.com', label: 'Sales', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-2",
      "name": "Save \u2014 Solutions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        380
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Solutions').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Solutions:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.solutions@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'solutions@syntharra.com',\n      inbox_label:     'Solutions',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Solutions:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'solutions@syntharra.com', label: 'Solutions', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-3",
      "name": "Save \u2014 Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        520
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Alerts').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Alerts:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.alerts@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'alerts@syntharra.com',\n      inbox_label:     'Alerts',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Alerts:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'alerts@syntharra.com', label: 'Alerts', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-4",
      "name": "Save \u2014 Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        660
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Info').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'info@syntharra.com', label: 'Info', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Info:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'info@syntharra.com', label: 'Info', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'info@syntharra.com', label: 'Info', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.info@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'info@syntharra.com',\n      inbox_label:     'Info',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'info@syntharra.com', label: 'Info', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Info:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'info@syntharra.com', label: 'Info', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'info@syntharra.com', label: 'Info', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-5",
      "name": "Save \u2014 Admin",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        800
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Admin').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'admin@syntharra.com', label: 'Admin', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Admin:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'admin@syntharra.com', label: 'Admin', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'admin@syntharra.com', label: 'Admin', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.admin@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'admin@syntharra.com',\n      inbox_label:     'Admin',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'admin@syntharra.com', label: 'Admin', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Admin:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'admin@syntharra.com', label: 'Admin', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'admin@syntharra.com', label: 'Admin', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-save-6",
      "name": "Save \u2014 Careers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        940
      ],
      "parameters": {
        "jsCode": "\nconst digestDate = $('Get Digest Date').first().json.digestDate;\nconst classifyData = $('Classify \u2014 Careers').first().json;\n\n// If inbox was empty, nothing to do\nif (classifyData.skip) {\n  return [{ json: { saved: 0, inbox: 'careers@syntharra.com', label: 'Careers', digestDate } }];\n}\n\n// Parse Groq response\nlet classified = [];\ntry {\n  const body = $input.item.json.body || $input.item.json;\n  const content = body?.choices?.[0]?.message?.content || body?.message?.content || '';\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  classified = parsed?.emails || [];\n} catch(e) {\n  console.error('Groq parse error for Careers:', e.message);\n  return [{ json: { saved: 0, error: e.message, inbox: 'careers@syntharra.com', label: 'Careers', digestDate } }];\n}\n\nif (!classified.length) {\n  return [{ json: { saved: 0, inbox: 'careers@syntharra.com', label: 'Careers', digestDate } }];\n}\n\n// \u2500\u2500 Delete today's existing records for this inbox (idempotent re-runs) \u2500\u2500\nconst SUPABASE_URL = 'https://hgheyqwnrcvwtgngqdnq.supabase.co';\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY || '';\n\nawait fetch(`${SUPABASE_URL}/rest/v1/email_digest?digest_date=eq.${digestDate}&inbox_address=eq.careers@syntharra.com`, {\n  method: 'DELETE',\n  headers: { apikey: SUPABASE_KEY, Authorization: 'Bearer ' + SUPABASE_KEY }\n});\n\n// \u2500\u2500 Insert classified emails \u2500\u2500\nconst records = classified\n  .filter(e => e && e.id && ['high','medium'].includes(e.importance))\n  .map(e => {\n    let receivedAt = null;\n    try {\n      if (e.date) receivedAt = new Date(e.date).toISOString();\n    } catch(e) {}\n\n    return {\n      digest_date:     digestDate,\n      inbox_address:   'careers@syntharra.com',\n      inbox_label:     'Careers',\n      email_id:        e.id,\n      thread_id:       e.threadId || null,\n      from_address:    (e.from || '').substring(0, 500),\n      subject:         (e.subject || '(no subject)').substring(0, 500),\n      snippet:         (e.snippet || '').substring(0, 500),\n      ai_summary:      (e.summary || '').substring(0, 500),\n      importance:      e.importance,\n      category:        e.category || 'general',\n      action_required: !!e.action_required,\n      flag:            ['urgent','opportunity','hire'].includes(e.flag) ? e.flag : null,\n      received_at:     receivedAt\n    };\n  });\n\nif (!records.length) {\n  return [{ json: { saved: 0, inbox: 'careers@syntharra.com', label: 'Careers', digestDate } }];\n}\n\nconst insertResp = await fetch(`${SUPABASE_URL}/rest/v1/email_digest`, {\n  method: 'POST',\n  headers: {\n    apikey: SUPABASE_KEY,\n    Authorization: 'Bearer ' + SUPABASE_KEY,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nif (!insertResp.ok) {\n  const err = await insertResp.text();\n  console.error('Supabase insert error for Careers:', err);\n  return [{ json: { saved: 0, error: err, inbox: 'careers@syntharra.com', label: 'Careers', digestDate } }];\n}\n\nreturn [{ json: { saved: records.length, inbox: 'careers@syntharra.com', label: 'Careers', digestDate, records } }];\n"
      }
    },
    {
      "id": "node-final",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        500
      ],
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet totalSaved = 0;\nconst inboxResults = [];\n\nfor (const item of items) {\n  const d = item.json;\n  totalSaved += d.saved || 0;\n  inboxResults.push({ inbox: d.inbox, label: d.label, saved: d.saved || 0, error: d.error || null });\n}\n\nconst digestDate = items[0]?.json?.digestDate || new Date().toLocaleDateString('en-CA', { timeZone: 'Europe/London' });\nconst gmtTime = new Date().toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/London' });\n\nconsole.log(`[Email Digest] ${digestDate} complete \u2014 ${totalSaved} important emails saved across ${inboxResults.filter(r => r.saved > 0).length} inboxes`);\n\nreturn [{ json: {\n  status: 'complete',\n  digestDate,\n  completedAt: new Date().toISOString(),\n  totalEmailsSaved: totalSaved,\n  inboxResults\n} }];\n"
      }
    }
  ],
  "connections": {
    "Every Day at 6am GMT": {
      "main": [
        [
          {
            "node": "Get Digest Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Digest Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Digest Date": {
      "main": [
        [
          {
            "node": "Gmail \u2014 Support",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Sales",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Solutions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Alerts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail \u2014 Careers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Support": {
      "main": [
        [
          {
            "node": "Classify \u2014 Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Sales": {
      "main": [
        [
          {
            "node": "Classify \u2014 Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Solutions": {
      "main": [
        [
          {
            "node": "Classify \u2014 Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Alerts": {
      "main": [
        [
          {
            "node": "Classify \u2014 Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Info": {
      "main": [
        [
          {
            "node": "Classify \u2014 Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Admin": {
      "main": [
        [
          {
            "node": "Classify \u2014 Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail \u2014 Careers": {
      "main": [
        [
          {
            "node": "Classify \u2014 Careers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Support": {
      "main": [
        [
          {
            "node": "Groq \u2014 Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Sales": {
      "main": [
        [
          {
            "node": "Groq \u2014 Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Solutions": {
      "main": [
        [
          {
            "node": "Groq \u2014 Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Alerts": {
      "main": [
        [
          {
            "node": "Groq \u2014 Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Info": {
      "main": [
        [
          {
            "node": "Groq \u2014 Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Admin": {
      "main": [
        [
          {
            "node": "Groq \u2014 Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify \u2014 Careers": {
      "main": [
        [
          {
            "node": "Groq \u2014 Careers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Support": {
      "main": [
        [
          {
            "node": "Save \u2014 Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Sales": {
      "main": [
        [
          {
            "node": "Save \u2014 Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Solutions": {
      "main": [
        [
          {
            "node": "Save \u2014 Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Alerts": {
      "main": [
        [
          {
            "node": "Save \u2014 Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Info": {
      "main": [
        [
          {
            "node": "Save \u2014 Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Admin": {
      "main": [
        [
          {
            "node": "Save \u2014 Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq \u2014 Careers": {
      "main": [
        [
          {
            "node": "Save \u2014 Careers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Support": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Sales": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Solutions": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Alerts": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Info": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Admin": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save \u2014 Careers": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}